{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

{% block titulo %}
    Registrar Tribu
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Insignias</li>
    <li class="breadcrumb-item"><a href="{% url "insignias:listado_tribus" %}">Gestión Tribus</a></li>
    <li class="breadcrumb-item active">Registrar Tribu</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-badge icon-orange"></i> Registrar Tribu
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <form enctype="multipart/form-data" method="post">{% csrf_token %}
        <div class="row">
            <div class="col-12 mb-2">
                <p class="mb-1">
                    <i>El siguiente formulario permite el registro de una tribu.</i>
                </p>
            </div>
            <div class="col-12">
                <div class="row">
                    {% for field in form %}
                        {% if field.name == 'imagen'  %}
                            <div class="col-lg-6 mt-5 p-0">
                                <div class="custom-file col-md-12">                                
                                    <input type="file" accept="image/*" name="imagen" class="custom-file-input" id="id_imagen">
                                    <label style="height: calc(1.2em + 14px + 2px);" class="custom-file-label" for="id_imagen">{{form.imagen.value|default:' Seleccione un logo...'}}</label>
                                </div>
                                <div class="col-md-12 form-check checkbox checkbox-css pt-0 checkbox-inline">
                                    <div class="form-check pl-0">
                                        <input type="checkbox" class="form-check-input" name="imagen-clear" id="id_imagen-clear_id">
                                        <label class="form-check-label" for="id_imagen-clear_id">Limpiar selección</label>
                                    </div>
                                </div>
                            </div>                                
                        {% else %}
                            <div class="col-lg-6">
                                {% bootstrap_field field%}
                            </div>   
                        {% endif %}                      
                    {% endfor %}
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6" align="left">
                        <a class="btn btn-secondary" href="{% url "insignias:listado_tribus" %}"><i class="fa fa-angle-left"></i> Volver</a>
                    </div>
                    <div class="col-6" align="right">
                        <button class="btn btn-primary" type="submit">Registrar Tribu <i class="fa fa-angle-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock contenido_panel %}

{% block js %}
    <!--   <script src="{% static 'plugins/select2/dist/js/select2.full.min.js' %}"></script> -->
    <script>
        document.querySelector('.custom-file-input').addEventListener('change',function(e){
            var fileName = document.getElementById("id_imagen").files[0].name;
            var nextSibling = e.target.nextElementSibling;
            nextSibling.innerText = fileName;
        });
    </script>
{% endblock js %}
