<<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html></html>
<style type="text/css">
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
*,
.font-parir{font-family:Poppins, Arial, sans-serif;}
</style>
<!--[if mso]>
<style type="text/css">
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
*,
.font-parir{font-family:Poppins, Arial, sans-serif;}
</style>
<![endif]-->

<body style="background:white; margin:auto; padding:0; width:690px; box-sizing:border-box;">
    <table align="center" border="0" cellspacing="0" cellpadding="0" style="background:#ededed; max-width:690px;">
        <tr style="margin:0; padding:0;">
            <td colspan="2" style="margin:0; padding:0; line-height:0;">
                <img src="http://3.18.113.131/static/correos/encabezado.png" alt="Imagen" style="width:690px">
            </td>
        </tr>
        <tr style="background:#ededed; margin:0; padding:0;">
            <td colspan="2" style="margin:0; padding:20px 0; line-height:0;"></td>
        </tr>       
        <tr style="background:#ededed; margin:0; padding:0;">
            <td colspan="2" class="font-parir" style="font-family: 'Poppins', sans-serif; margin:0; padding:0 40px; font-size:20px; color:#777b6e; line-height:23px; text-align:center;">
                <h2>La organización <b style="color: black;">{{ usuario.first_name }}</b> ha solicitado crear un reto.</h2>
                <h4>Datos de contacto:</h4>
                <div style="line-height: 20px; margin: auto; display: inline-block;">               
                    <h6 style="text-align: left; margin: auto; "><b>Nombre responsable:</b> {{ solicitud.nombre_responsable }}</h6>    
                    <h6 style="text-align: left; margin: auto; "><b>Correo:</b> {{ solicitud.correo }}</h6>
                    <h6 style="text-align: left; margin: auto;"><b>Teléfono:</b> {{ solicitud.telefono }}</h6>                    
                </div>                
                <h5>Mensaje:</h5>
                <p style="margin-bottom: 15px; text-align: justify; line-height: normal;">{{ solicitud.mensaje }}</p>
            </td>
        </tr>                
        <tr style="background:#ededed; margin:0; padding:0; background:url(http://3.18.113.131/static/correos/Franja_2.png) no-repeat; background-size: 690px 60px;">        
            <td colspan="2" class="font-parir" style="padding-bottom: 5px; font-family: 'Poppins', sans-serif; margin:0; font-size:17px; color:white; text-align:center;">
                <p style="width: 75%; position: relative;">La solicitud puede consultarse en el menú de retos en la gestión de solicitudes organizaciones</p>
            </td>
        </tr>    
                    
    </table>

</body>
