{% extends 'base_tablas.html' %}

{% block titulo %}
    Gestión Metodologías
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Contenido</li>
    <li class="breadcrumb-item">Gestión Metodologías</li>
    <li class="breadcrumb-item active">Metodologías</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-paper-clip icon-orange"></i> Gestión Metodologías
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan las metodologías registradas en el sistema.</i>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for metodologia in metodologias %}
                        <tr>
                            <td>{{ metodologia.nombre }}</td>
                            <td align="center">
                                {% if metodologia.activo == True %}
                                    <span class="label label-lime">ACTIVA</span>
                                {% else %}
                                    <span class="label label-secondary">INACTIVA</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

