{% extends 'base_tablas.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Tableros Auditorias
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item">Módulo Auditorias</li>
    <li class="breadcrumb-item">Tableros</li>
    <li class="breadcrumb-item active">Tablero Guías MiEslabón</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-graph icon-orange"></i> Tablero Guías MiEslabón
{% endblock titulo_pagina %}

{% block contenido_panel %}            

<div class="row m-t-30 col-12">    
    <div class="col-6 text-center">
        <div class="m-b-30">
            <h2>Tabla de Guía</h2>
        </div>
    </div>
    <div class="row col-12">        
        <div class="col-6 m-t-5">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                        <tr>
                            <th>Nombre del recurso</th>
                            <th>Número de jóvenes que han puntuado</th>
                            <th>Puntaje promedio</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for recurso in datos_de_tabla_de_guia %}
                        <tr>
                            <td>{{recurso.recurso__nombre}}</td>
                            <td>{{recurso.numero_de_jovenes_puntuado}}</td>
                            <td>{{recurso.calificacion_promedio}}</td>                       
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>        
</div>

            
    
{% endblock contenido_panel %}