{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Tableros Auditorias
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item">Módulo Auditorias</li>
    <li class="breadcrumb-item">Tableros</li>
    <li class="breadcrumb-item active">Tablero Módulos</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-graph icon-orange"></i> Tablero Módulos
{% endblock titulo_pagina %}

{% block contenido_panel %}            
           
            
    <div class="row pl-3 pr-5 justify-content-md-center">              
        <div class="mt-3 col-12">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="pl-5">Número de jóvenes que ingresaron a equipos por día</h3>
                        </div>
                        <div class="col-6">
                            <h3 class="pl-5">Número de jóvenes que ingresaron a jovenes por día</h3>  
                        </div>
                    </div>
                </div>
                <div class="col-6 bg p-2">                    
                    <div class="col-12 bg p-2" id='grafica_equipos' style="height: 500px;">                                            
                    </div> 
                </div>                
                <div class="col-6">                                                                         
                    <div class="col-11 bg p-2" id='grafica_jovenes' style="height: 500px;"  align="right">
                    </div>                    
                </div>
            </div>
        </div>
        <div class="mt-3 col-12">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="pl-5">Número de jóvenes que ingresaron a rutas por día</h3>
                        </div>
                        <div class="col-6">
                            <h3 class="pl-5">Número de jóvenes que ingresaron a retos por día</h3>  
                        </div>
                    </div>
                </div>
                <div class="col-6 bg p-2">                    
                    <div class="col-12 bg p-2" id='grafica_rutas' style="height: 500px;">                                            
                    </div> 
                </div>                
                <div class="col-6">                                                                         
                    <div class="col-11 bg p-2" id='grafica_retos' style="height: 500px;"  align="right">
                    </div>                    
                </div>
            </div>
        </div>
        <div class="mt-3 col-12">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="pl-5">Número de jóvenes que ingresaron a oportunidades por día</h3>
                        </div>
                        <div class="col-6">
                            <h3 class="pl-5">Número de jóvenes que ingresaron a insignias por día</h3>  
                        </div>
                    </div>
                </div>
                <div class="col-6 bg p-2">                    
                    <div class="col-12 bg p-2" id='grafica_oportunidades' style="height: 500px;">                                            
                    </div> 
                </div>                
                <div class="col-6">                                                                         
                    <div class="col-11 bg p-2" id='grafica_insignias' style="height: 500px;"  align="right">
                    </div>                    
                </div>
            </div>
        </div>  
        <div class="mt-3 col-12">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="pl-5 text-center">Número de jóvenes que ingresaron a ranking por día</h3>
                        </div>                        
                    </div>
                </div>
                <div class="col-6 bg p-2">                    
                    <div class="col-12 bg p-2" id='grafica_ranking' style="height: 500px;">                                            
                    </div> 
                </div>   
            </div>
        </div>  
        
    </div>
   
   
    <!-- Resources -->
    

    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

    <script>      
        
        var grafica_equipos = {{grafica_equipos|safe}}
        var grafica_jovenes = {{grafica_jovenes|safe}}
        var grafica_rutas = {{grafica_rutas|safe}}
        var grafica_retos = {{grafica_retos|safe}}
        var grafica_oportunidades = {{grafica_oportunidades|safe}}
        var grafica_insignias = {{grafica_insignias|safe}}
        var grafica_ranking = {{grafica_ranking|safe}}
        //var informacion_desempenio_competencia = {{informacion_desempenio_competencia|safe}}
        //var informacion_desempenio_habilidades_sociales = {{informacion_desempenio_habilidades_sociales|safe}}
        //var jovenes_tipo_liderazgo = {{jovenes_tipo_liderazgo|safe}}
        //var nivel_aptitud_area_conocimiento = {{nivel_aptitud_area_conocimiento|safe}}        
        //var informacion_mapa_riesgo =  {{informacion_mapa_riesgo|safe}}
        var graficas = [['grafica_equipos',grafica_equipos], 
                        ['grafica_jovenes',grafica_jovenes],  
                        ['grafica_rutas', grafica_rutas], 
                        ['grafica_retos',grafica_retos], 
                        ['grafica_oportunidades',grafica_oportunidades],  
                        ['grafica_insignias', grafica_insignias],       
                        ['grafica_ranking', grafica_ranking],                    
                    ]
    </script> 
    s
    <!-- Chart code --> 
    <script src="{% static 'js/custom/graficas/auditorias/general/grafica_linea.js'%}"></script>
    <!-- HTML -->
{% endblock contenido_panel %}