{% extends 'base_tablas.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Tableros Auditorias
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item">Módulo Auditorias</li>
    <li class="breadcrumb-item">Tableros</li>
    <li class="breadcrumb-item active">Tablero Rutas y Oportunidades</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-graph icon-orange"></i> Tablero Rutas y Oportunidades
{% endblock titulo_pagina %}

{% block contenido_panel %}            

<div class="row m-t-30 col-12">
    
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="row justify-content-md-centerp">    
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl my-1">         
                    <div class="col-12 bg rounded-lg" style="background-color: rgb(46,53,61); height: 90px;">                                 
                        <p style="color: white; opacity: 0.3; font-size: 30px; font-weight: 900;" class="text-center my-auto">{{cantidad_rutas}}</p> 
                        <p class="h4 text-uppercase text-center" style="color: white;">Rutas totales</p> 
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl my-1 ">
                    <div class="col-12 bg rounded-lg" style="background-color: rgb(46,53,61); height: 90px;">                                 
                        <p style="color: white; opacity: 0.3; font-size: 30px; font-weight: 900;" class="text-center my-auto">{{cantidad_rutas_me_gusta}}</p> 
                        <p class="h4 text-uppercase text-center" style="color: white;">Rutas favoritas</p> 
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl my-1 ">
                    <div class="col-12 bg rounded-lg" style="background-color: rgb(46,53,61); height: 90px;">                                 
                        <p style="color: white; opacity: 0.3; font-size: 30px; font-weight: 900;" class="text-center my-auto">{{cantidad_rutas_no_me_gusta}}</p> 
                        <p class="h4 text-uppercase text-center" style="color: white;">Rutas que no gustan</p> 
                    </div>
                </div>             
            </div>

            <div class="text-center mt-3">
                <div class="m-b-30">
                    <h2>Tabla de Rutas</h2>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                        <tr>
                            <th>Nombre de Rutas</th>
                            <th>Número de jóvenes que han ingresado a la tarjeta al menos 1 vez</th>
                            <th>Número de jóvenes que le han dado me gusta</th>
                            <th>Número de jóvenes que le han dado no me gusta</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for contenidos in datos_de_tabla_de_rutas %}
                        <tr>
                            <td>{{contenidos.nombre}}</td>
                            <td>{{contenidos.ingresos}}</td>
                            <td>{{contenidos.me_gusta}}</td>
                            <td>{{contenidos.no_megusta}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
     
        <div class="col-12 mt-2 border-top pt-5">
            <div class="row justify-content-md-centerp">    
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl my-1">         
                    <div class="col-12 bg rounded-lg" style="background-color: rgb(46,53,61); height: 90px;">                                 
                        <p style="color: white; opacity: 0.3; font-size: 30px; font-weight: 900;" class="text-center my-auto">{{cantidad_oportunidades}}</p> 
                        <p class="h4 text-uppercase text-center" style="color: white;">Oportunidades totales</p> 
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl my-1 ">
                    <div class="col-12 bg rounded-lg" style="background-color: rgb(46,53,61); height: 90px;">                                 
                        <p style="color: white; opacity: 0.3; font-size: 30px; font-weight: 900;" class="text-center my-auto">{{cantidad_oportunidades_me_gusta}}</p> 
                        <p class="h4 text-uppercase text-center" style="color: white;">Oportunidades favoritas</p> 
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl my-1 ">
                    <div class="col-12 bg rounded-lg" style="background-color: rgb(46,53,61); height: 90px;">                                 
                        <p style="color: white; opacity: 0.3; font-size: 30px; font-weight: 900;" class="text-center my-auto">{{cantidad_oportunidades_no_me_gusta}}</p> 
                        <p class="h4 text-uppercase text-center" style="color: white;">Oportunidades que no gustan</p> 
                    </div>
                </div>             
            </div>
            <div class="text-center mt-3">
                <div class="m-b-30">
                    <h2>Tabla de Oportunidades</h2>
                </div>
            </div>             
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                        <tr>
                            <th>Nombre de Oportunidades</th>
                            <th>Número de jóvenes que han ingresado a la tarjeta al menos 1 vez</th>
                            <th>Número de jóvenes que le han dado me gusta</th>
                            <th>Número de jóvenes que le han dado no me gusta</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for contenidos in datos_de_tabla_de_oportunidades %}
                        <tr>
                            <td>{{contenidos.nombre}}</td>
                            <td>{{contenidos.ingresos}}</td>
                            <td>{{contenidos.me_gusta}}</td>
                            <td>{{contenidos.no_megusta}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>        
</div>

            
    
{% endblock contenido_panel %}