{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Tableros Auditorias
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item">Módulo Auditorias</li>
    <li class="breadcrumb-item">Tableros</li>
    <li class="breadcrumb-item active">Tablero General</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-graph icon-orange"></i> Tablero General
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row pl-3 pr-5">  
        <div class="mt-3 col-12">
            <div class="row justify-content-md-centerp">    
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl my-1">         
                    <div class="col-12 bg rounded-lg align-self-center" style="background-color: rgb(46,53,61); height: 115px;">                                 
                        <p style="color: white; opacity: 0.3; font-size: 30px; font-weight: 900;" class="text-center my-auto">{{cantidad_jovenes}}</p> 
                        <p class="h6 text-uppercase text-center" style="color: white;">Jóvenes totales</p> 
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl my-1">
                    <div class="col-12 bg rounded-lg" style="background-color: rgb(46,53,61); height: 115px;">                                 
                        <p style="color: white; opacity: 0.3; font-size: 30px; font-weight: 900;" class="text-center my-auto">{{jovenes_activos_ultima_semana}}</p> 
                        <p class="h6 text-uppercase text-center" style="color: white;">Jóvenes activos en la última semana</p> 
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl my-1 ">
                    <div class="col-12 bg rounded-lg" style="background-color: rgb(46,53,61); height: 115px;">                                 
                        <p style="color: white; opacity: 0.3; font-size: 30px; font-weight: 900;" class="text-center my-auto">{{ingresos_exitosos_promedio_joven_ultima_semana|floatformat:1}}</p> 
                        <p class="h6 text-uppercase text-center" style="color: white;">Ingresos exitosos promedio por joven última semana</p> 
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl my-1 ">
                    <div class="col-12 bg rounded-lg" style="background-color: rgb(46,53,61); height: 115px;">                                 
                        <p style="color: white; opacity: 0.3; font-size: 30px; font-weight: 900;" class="text-center my-auto">{{jovenes_sin_iniciar_cuestionarios.0}} ({{jovenes_sin_iniciar_cuestionarios.1|floatformat:1}}%)</p> 
                        <p class="h6 text-uppercase text-center" style="color: white;">Jóvenes que no han iniciado los cuestionarios</p> 
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl my-1 ">
                    <div class="col-12 bg rounded-lg" style="background-color: rgb(46,53,61); height: 115px;">                                 
                        <p style="color: white; opacity: 0.3; font-size: 30px; font-weight: 900;" class="text-center my-auto">{{jovenes_iniciaron_cuestionarios.0}} ({{jovenes_iniciaron_cuestionarios.1|floatformat:1}}%)</p> 
                        <p class="h6 text-uppercase text-center" style="color: white;">Jóvenes que han iniciado pero no han terminado los cuestionarios</p> 
                    </div>
                </div>
            </div>
        </div>      
        <div class="mt-5 col-12">
            <div class="row mb-5 pl-5">
                <div>
                    <h1>Competencias para procesar información</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row justify-content-center mt-5">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="pl-5 text-center">Total de jóvenes registrados en la plataforma</h3>
                                </div>                                
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="col-12">                                
                                <div class="col-12" id='jovenes_registrados_en_plataforma' style="height: 500px;">    
                                </div>                                                
                            </div>
                        </div>  
                    </div>  
                </div>
            </div>
        </div>
        <div class="mt-3 col-12 border-top">
            <div class="row justify-content-center">                
                <div class="col-12">
                    <div class="row justify-content-center mt-5">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="pl-5 text-center">Jóvenes nuevos registrados en la plataforma</h3>
                                </div>                                
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="col-12">                                
                                <div class="col-12" id='jovenes_nuevos_registrados_en_plataforma' style="height: 500px;">    
                                </div>                                                
                            </div>
                        </div>  
                    </div>                
                </div>                
            </div>
        </div>        
        <div class="mt-3 col-12 border-top">
            <div class="row justify-content-center">                
                <div class="col-12">
                    <div class="row justify-content-center mt-5">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="pl-5 text-center">Jóvenes activos en la plataforma</h3>
                                </div>                                
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="col-12">                                
                                <div class="col-12" id='jovenes_activos_en_plataforma' style="height: 500px;">    
                                </div>                                                
                            </div>
                        </div>  
                    </div>                
                </div>                
            </div>
        </div>
        <div class="mt-3 col-12 border-top">
            <div class="row justify-content-center">                
                <div class="col-12">
                    <div class="row justify-content-center mt-5">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="pl-5 text-center">Sesiones activas en la plataforma por día</h3>
                                </div>                                
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="col-12">                                
                                <div class="col-12" id='sesiones_activas_por_dia' style="height: 500px;">    
                                </div>                                                
                            </div>
                        </div>  
                    </div>                
                </div>                
            </div>
        </div>         
    </div>
   
   
    <!-- Resources -->
    

    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

    <script>      
        var jovenes_registrados_en_plataforma = {{jovenes_registrados_en_plataforma|safe}}
        var jovenes_nuevos_registrados_en_plataforma = {{jovenes_nuevos_registrados_en_plataforma|safe}}
        var jovenes_activos_en_plataforma = {{jovenes_activos_en_plataforma|safe}}
        var sesiones_activas_por_dia = {{sesiones_activas_por_dia|safe}}
        //var informacion_desempenio_competencia = {{informacion_desempenio_competencia|safe}}
        //var informacion_desempenio_habilidades_sociales = {{informacion_desempenio_habilidades_sociales|safe}}
        //var jovenes_tipo_liderazgo = {{jovenes_tipo_liderazgo|safe}}
        //var nivel_aptitud_area_conocimiento = {{nivel_aptitud_area_conocimiento|safe}}        
        //var informacion_mapa_riesgo =  {{informacion_mapa_riesgo|safe}}
        var graficas = [['jovenes_registrados_en_plataforma',jovenes_registrados_en_plataforma], 
                        ['jovenes_nuevos_registrados_en_plataforma',jovenes_nuevos_registrados_en_plataforma],  
                        ['jovenes_activos_en_plataforma', jovenes_activos_en_plataforma],   
                        ['sesiones_activas_por_dia', sesiones_activas_por_dia],                  
                    ]
    </script> 
    s
    <!-- Chart code --> 
    <script src="{% static 'js/custom/graficas/auditorias/general/grafica_linea.js'%}"></script>
    <!-- HTML -->
{% endblock contenido_panel %}