{% extends 'base_tablas.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    Retención de jóvenes
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item active">Módulo de auditorias</li>
    <li class="breadcrumb-item active">Tableros</li>
    <li class="breadcrumb-item active">Tabla de retención de jóvenes</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-user icon-orange"></i> Retención de jóvenes en colegios
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan los porcentajes de retención de jóvenes en los colegios registrados por grado y año.</i>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Organización</th>
                        <th>Grado</th>
                        <th>Fecha</th>
                        <th>Cantidad jóvenes</th>
                        <th>Mes 1</th>
                        <th>Mes 2</th>
                        <th>Mes 3</th>
                        <th>Mes 4</th>
                        <th>Mes 5</th>
                        <th>Mes 6</th>
                        <th>Mes 7</th>
                        <th>Mes 8</th>
                        <th>Mes 9</th>
                        <th>Mes 10</th>
                        <th>Mes 11</th>
                        <th>Mes 12</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for organizacion in jovenes_retencion_colegios%}
                        <tr>
                            <td>{{organizacion.organizacion.first_name}}</td>
                            {% if organizacion.grado == "0" %}
                                <td>No aplica</td>
                            {% else %}
                                <td>{{organizacion.grado}}</td>
                            {% endif %}
                            <td>{{organizacion.anio}}</td>
                            <td class="text-center">{{organizacion.jovenes}}</td>
                            {% for mes in organizacion.datos%}
                                <td>{{mes.mes_1}}%</td>
                                <td>{{mes.mes_2}}%</td>
                                <td>{{mes.mes_3}}%</td>
                                <td>{{mes.mes_4}}%</td>
                                <td>{{mes.mes_5}}%</td>
                                <td>{{mes.mes_6}}%</td>
                                <td>{{mes.mes_7}}%</td>
                                <td>{{mes.mes_8}}%</td>
                                <td>{{mes.mes_9}}%</td>
                                <td>{{mes.mes_10}}%</td>
                                <td>{{mes.mes_11}}%</td>
                                <td>{{mes.mes_12}}%</td> 
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock contenido_panel %}
