{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Hacia dónde va el mundo
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item">Proyectarme</li>
    <li class="breadcrumb-item active">Hacia donde va el mundo</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-graph icon-orange"></i> Hacia dónde va el mundo
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row pl-3 pr-5">       
        <div class="mt-5 col-12">
            <div class="row mb-5 pl-5">
                <div>
                    <h1>Hacia dónde va el mundo</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row">
                        <form method="GET" action="" class="row col-12 my-2 py-2 mx-2">{% csrf_token %}
                            <div class="col-12">
                                <h3>Filtrar por Área de conocimiento y núcleo básico</h3>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="area_conocimiento">Área de conocimiento</label>
                                    <select class="form-control" name="area_conocimiento" id="area_conocimiento">
                                        <option value="Todas">Seleccione el área de conocimiento</option>
                                        {% for area in areas_conocimiento%}
                                            <option value="{{area}}">{{area}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="form-group">
                                    <label for="nucleo_basico">Núcleo básico</label>
                                    <select class="form-control" name="nucleo_basico" id="nucleo_basico">
                                        <option value="Todas">Seleccione el núcleo básico</option>
                                        {% for nucleo in nucleos_basicos%}
                                            <option value="{{nucleo}}">{{nucleo}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-3" style="margin-top: 26px;">
                                <button class="btn btn-success">Filtrar</button>
                                {% if filtrado %}
                                    <a class="btn btn-danger" href="{% url 'tablero_auditorias:tablero_economico' %}">Quitar filtros</a>
                                {%endif%}
                            </div>
                            <div class="col-12 mt-2">
                                {% if nucleo %}
                                <h3 class="pl-5 text-center">{{nucleo}}</h3>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h3 class="pl-5">Matriculados por nivel de formación</h3>
                        </div>
                        <div class="col-6">
                            <h3 class="pl-5">Matriculados por departamento en {{ultimo_anio_matriculados}}</h3>  
                        </div>
                    </div>
                </div>
                <div class="col-6 bg p-2">                    
                    <div class="col-12 bg p-2" id='matriculados_por_anio' style="height: 500px;">                                            
                    </div> 
                </div>                
                <div class="col-6">                                                                         
                    <div class="col-11 bg p-2" id='matriculados_por_departamento' style="height: 500px;"  align="right">
                    </div>                    
                </div>
            </div>
        </div>
        <div class="mt-3 col-12">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="pl-5">Graduados por nivel de formación</h3>
                        </div>
                        <div class="col-6">
                            <h3 class="pl-5">Graduados por departamento en {{ultimo_anio_graduados}}</h3>  
                        </div>
                    </div>
                </div>
                <div class="col-6 bg p-2">                    
                    <div class="col-12 bg p-2" id='graduados_por_anio' style="height: 500px;">                                            
                    </div> 
                </div>                
                <div class="col-6">                                                                         
                    <div class="col-11 bg p-2" id='graduados_por_departamento' style="height: 500px;"  align="right">
                    </div>                    
                </div>
            </div>
        </div>            
        <div class="mt-3 col-12 border-top">
            <div class="row justify-content-center">                
                <div class="col-12">
                    <div class="row justify-content-center mt-5">
                        <div class="col-12">
                            <div class="row">
                                <form method="GET" action="" class="row col-12 my-2 py-2 mx-2">{% csrf_token %}
                                    <div class="col-12">
                                        <h3>Filtrar por Área de conocimiento</h3>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="area_conocimiento2">Área de conocimiento</label>
                                            <select class="form-control" name="area_conocimiento2" id="area_conocimiento2">
                                                <option value="Todas">Seleccione el área de conocimiento</option>
                                                {% for area in areas_conocimiento_salario%}
                                                    <option value="{{area}}">{{area}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-3" style="margin-top: 26px;">
                                        <button class="btn btn-success">Filtrar</button>
                                        {% if filtrado2 %}
                                            <a class="btn btn-danger" href="{% url 'tablero_auditorias:tablero_economico' %}">Quitar filtros</a>
                                        {%endif%}
                                    </div>
                                    <div class="col-12 mt-2">
                                        {% if area %}
                                        <h3 class="pl-5 text-center">{{area}}</h3>
                                        {% endif %}
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="pl-5 text-center">Vinculados por rango salarial y nivel de formación en {{ultimo_anio_vinculados}}</h3>
                                </div>                                
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="col-12">                                
                                <div class="col-12" id='vinculados_formacion_salario' style="height: 500px;">    
                                </div>                                                
                            </div>
                        </div>  
                    </div>                
                </div>                
            </div>
        </div>         
    </div>
   
   
    <!-- Resources -->
    <script type="text/javascript">
        $(document).ready(function(){
            var relacion_areas_nucleos = {{relacion_areas_nucleos|safe}} 
            $('#area_conocimiento').on('change', function (){
                var seleccion = $("#area_conocimiento option:selected").text()
                var nucleos = relacion_areas_nucleos[seleccion]
                $("#nucleo_basico").empty()
                nucleos.forEach(nucleo => {
                    var option = $('<option></option>').attr("value", nucleo).text(nucleo);
                    $("#nucleo_basico").append(option);  
                });
            });
        });
    </script>
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/maps.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/geodata/data/countries2.js"></script>

    <script>      
        var graduados_por_anio = {{graduados_por_anio|safe}}          
        var graduados_por_departamento = {{graduados_por_departamento|safe}}    
        var matriculados_por_anio = {{matriculados_por_anio|safe}}       
        var matriculados_por_departamento = {{matriculados_por_departamento|safe}}
        var vinculados_formacion_salario = {{vinculados_formacion_salario|safe}}
        
        var mapas = [['graduados_por_departamento', graduados_por_departamento], ['matriculados_por_departamento', matriculados_por_departamento]]
    </script> 
    <!-- Chart code --> 
    <script src="{% static 'js/custom/graficas/talbero_economico/grafica_barras_matriculados.js'%}"></script>
    <script src="{% static 'js/custom/graficas/talbero_economico/grafica_barras_graduados.js'%}"></script>
    <script src="{% static 'js/custom/graficas/talbero_economico/grafica_barras_salarios.js'%}"></script>
    <script src="{% static 'js/custom/graficas/talbero_economico/grafica_mapa.js'%}"></script>

    <!-- HTML -->
{% endblock contenido_panel %}