{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Mis resultados
{% endblock titulo %}

{% block miga_pan %}
{% endblock miga_pan %}

{% block contenido %}
    <div class="row border px-5 py-5">
        <div class="col-12">

            <div class="row justify-content-center">
                <div class="col-auto">
                    <img
                            class="img-fluid my-3"
                            src="{% static "img/resultados/inicio.png" %}"
                            alt="Conocerme"
                            style="width: 35rem;"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Cuatro mundos dentro de ti</h3>
                    <p>
                        Tus oportunidades dependen en mucho de que tanto te conoces, aquí están los <strong>CUATRO
                        ASPECTOS </strong>
                        que siempre van a evaluar en ti para darte una oportunidad. Conócelas e identifica donde están
                        tus
                        fortalezas
                        y donde tus zonas de desarrollo. Así evitarás que se apodere de ti el espíritu de Minus.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card pb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3 mb-2">
                                    <div class="card" style="border:0;">
                                        <img src="{% static 'img/puntajes/competencias_cong.jpg' %}"
                                                 class="card-img-top" alt="Nivel de cualificación">
                                        <div class="card-body" style="height: 4rem; padding-bottom: 0">
                                            <h5 align="center">NIVEL DE CUALIFICACIÓN</h5>
                                        </div>
                                        <div class="card-footer" style="border:0; padding: 0">
                                            <a href="{% url 'formularios:procesamiento_de_informacion' %}"
                                               class="btn btn-primary btn-block"
                                               style="background-color: #f26827;"
                                            >
                                                CONOCERME
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-2">
                                    <div class="card" style="border:0;">
                                        <img src="{% static 'img/puntajes/habilidades_soci.jpg' %}"
                                                 class="card-img-top" alt="Habilidades sociales">
                                        <div class="card-body" style="height: 4rem; padding-bottom: 0">
                                            <h5 align="center">HABILIDADES SOCIALES</h5>
                                        </div>
                                        <div class="card-footer" style="border:0; padding: 0">
                                            <a href="{% url 'habilidades_del_futuro:mis_habilidades' %}"
                                               class="btn btn-primary btn-block"
                                               style="background-color: #f6c72f;"
                                            >
                                                CONOCERME
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-2">
                                    <div class="card" style="border:0;">
                                        <img src="{% static 'img/puntajes/intereses_habilidades.jpg' %}"
                                                 class="card-img-top" alt="Área y nivel de conocimiento">
                                        <div class="card-body" style="height: 4rem; padding-bottom: 0">
                                            <h5 align="center">ÁREA Y NIVEL DE CONOCIMIENTO</h5>
                                        </div>
                                        <div class="card-footer" style="border:0; padding: 0">
                                            <a href="{% url 'formularios:aptitudes_e_intereses' %}"
                                               class="btn btn-primary btn-block"
                                               style="background-color: #55c6d4;"
                                            >
                                                CONOCERME
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-2">
                                    <div class="card" style="border:0;">
                                        <img src="{% static 'img/puntajes/experiencia.jpg' %}"
                                                 class="card-img-top" alt="Experiencia">
                                        <div class="card-body" style="height: 4rem; padding-bottom: 0">
                                            <h5 align="center">EXPERIENCIA</h5>
                                        </div>
                                        <div class="card-footer" style="border:0; padding: 0">
                                            <a href="{% url 'formularios:mi_experiencia' %}"
                                               class="btn btn-primary btn-block"
                                               style="background-color: #7954a2;"
                                            >
                                                CONOCERME
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}
