{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Mis Retos
{% endblock titulo %}

{% block css %}
    <link href="{% static 'css/cropping/cropper.min.css' %}" rel="stylesheet"/>
{% endblock css %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="">Retos</a></li>
    {% if modificar%}
        <li class="breadcrumb-item active">Modificar Solicitud</li>
    {% else %}
        <li class="breadcrumb-item active">Crear Solicitud</li>
    {%endif%}
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-user icon-orange"></i> Mis Retos
{% endblock titulo_pagina %}
{% block contenido %}
{% block contenido_panel %}    
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <ul class="nav nav-pills">
                <li class="nav-item">     
                    {% if modificar%}
                        <a href="" class="nav-link active formularios">
                            <span class="d-sm-none">Modificar Solicitud Reto</span>
                            <span class="d-sm-block d-none">Modificar Solicitud Reto</span>
                        </a>                       
                    {% else %}
                        <a href="" class="nav-link active formularios">
                            <span class="d-sm-none">Crear Solicitud Reto</span>
                            <span class="d-sm-block d-none">Crear Solicitud Reto</span>
                        </a>
                    {%endif%}
                </li>
                <li class="nav-item">
                    <a href="{% url 'organizaciones:organizacion_gestion_solicitudes_retos' %}" class="nav-link formularios">
                        <span class="d-sm-none">Gestionar Solicitudes</span>
                        <span class="d-sm-block d-none">Gestionar Solicitudes</span>
                    </a>
                </li>       
            </ul>
            <!-- end nav-pills -->
            <!-- begin tab-content -->
            <div class="tab-content p-0 rounded bg-white">
                <!-- begin tab-pane -->
                <div class="tab-pane fade active show">
                    <form id="form_perfil" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <div class="row col-12 pl-5 pr-5 pt-5 justify-content-center">       
                            {% for campo in form%}  
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-8">
                                    {% bootstrap_field campo %}
                                </div>                                
                            {%endfor%}

                            <div class="col-12 pb-2 mt-2" align="center">
                                <p><button class="btn btn-primary" type="submit">Enviar Solicitud</button></p>
                            </div>
                        </div>

                       
                    </form>
                </div>   
            </div>
            <!-- end tab-content -->
        </div>
    </div>
    <!-- MODAL TO CROP THE IMAGE -->   

{% endblock contenido_panel %}
{% endblock contenido %}
{% block js %}
   
   

{% endblock js %}
