{% extends 'base_tablas.html' %}

{% block titulo %}
    Gestión de Solicitudes de Retos
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="">Retos</a></li>
    <li class="breadcrumb-item active"><a href="">Gestión de Solicitudes</a></li>   
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-direction icon-orange"></i> Gestión de Solicitudes
{% endblock titulo_pagina %}

{% block contenido %}
{% block contenido_panel %}
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="{% url 'organizaciones:organizacion_gestion_retos'%}" class="nav-link formularios">
                        <span class="d-sm-none">Crear Solicitud Reto</span>
                        <span class="d-sm-block d-none">Crear Solicitud Reto</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link active formularios">
                        <span class="d-sm-none">Gestionar Solicitudes</span>
                        <span class="d-sm-block d-none">Gestionar Solicitudes</span>
                    </a>
                </li>       
            </ul>
            <div class="tab-content p-15 rounded bg-white">
                <div class="tab-pane fade active show">
                    <div class="row m-b-9">
                        <div class="col-md-12">
                            <p class="mb-1">
                                <i>A continuación se presentan los Solicitudes que la Organización ha enviado:</i>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 m-t-5">
                            <div class="table-fix">
                                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                                    <thead>
                                        <tr>
                                            <th>Nombre Responsable</th>
                                            <th>Email</th>
                                            <th>Fecha creación</th>
                                            <th>Grupos Permitidos</th>
                                            <th>Mensaje</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for solicitud in solicitudes_retos %}
                                        <tr>
                                            <td>{{solicitud.nombre_responsable}}</td>
                                            <th>{{solicitud.correo}}</th>
                                            <td>{{solicitud.fecha_creacion}}</td>
                                            <td>{% for grupo in solicitud.grupos_permitidos %}
                                                    {%if grupo == 'Equipos'%}
                                                        <span class="label label-aqua">{{grupo}}</span>
                                                    {%else%}
                                                        <span class="label label-lime">{{grupo}}</span>
                                                    {%endif%}
                                                {%endfor%}
                                            </td>                                            
                                            <td>                                               
                                                <span style="display: block; width: 100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                                    {{solicitud.mensaje}}
                                                </span>
                                            </td>
                                            <td align="center">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <a title="Modificar" target="_blank" href="{% url 'retos:organizacion_modificar_solicitudes_retos' solicitud.id%}">modificar<i class="fas fa-pen-alt"></i></a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock contenido_panel %}
{% endblock contenido %}

