{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    {{ ruta.nombre }}
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    {% if request.user.es_superusuario %}
        <li class="breadcrumb-item"><a href="{% url 'contenido:listado_rutas' %}">Gestión Rutas</a></li>
    {% elif request.user.tipo == "Joven" %}
        <li class="breadcrumb-item"><a href="{% url 'contenido:joven_consultar_rutas' %}">Mis Rutas</a></li>
    {% elif request.user.tipo == "Organización" %}
        <li class="breadcrumb-item"><a href="{% url 'contenido:listado_mis_rutas_creadas' %}">Mis Rutas</a></li>
    {% endif %}
    <li class="breadcrumb-item active">{{ ruta.nombre }}</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-direction icon-orange"></i>  {{ ruta.nombre }}
{% endblock titulo_pagina %}

{% block contenido %}
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 px-0">
            <div class="card border-0 mx-1 my-1">
                <div class="hovereffect">
                    <img src="{% static 'img/contenido/rutas.jpg' %}" class="card-img-top img img-fluid centerImage">
                </div>
                <div class="card-body tarjetas" style="padding-left: 5px">
                    <div class="row">
                        <div class="col-7">
                            <h6 class="pt-2">Fecha de creación: {{ ruta.creado|date:'M d, Y' }}</h6>
                        </div>
                        {% if request.user.tipo == "Joven" %}
                            <div class="col-5" align="right">
                                        <span class="calificacion like pr-1">
                                                <a title="Me gusta" id="like1-contenido-{{ ruta.pk }}" href="javascript:calificar_contenido(1,{{ ruta.pk }},{{ request.user.pk }})"><i class="fas fa-thumbs-up fa-lg"></i></a>
                                        </span>
                                <span class="calificacion dislike pr-1">
                                                <a title="No me gusta" id="like0-contenido-{{ ruta.pk }}" href="javascript:calificar_contenido(0,{{ ruta.pk }},{{ request.user.pk }})"><i class="fas fa-thumbs-up fa-rotate-180 fa-lg"></i></a>
                                        </span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row ml-1 mt-3" style="border-top: 1px solid #c4c4c4; border-bottom: 1px solid #c4c4c4">
                        <div class="col-12 py-3" align="center">
                            {{ ruta.organizacion }} | {{ ruta.tipo_modalidad }}
                        </div>
                    </div>
                    <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                        <div class="col-12 py-2" align="left">
                            <h6>TRIBUS</h6>
                            {% for tribu in ruta.tribus_relacionadas.all %}
                                <img style="width: 13%;" title="{{ tribu.nombre|title }}" alt="{{ tribu.nombre|title }}" class="mx-0" src="{{ tribu.imagen.url }}">
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                        <div class="col-12 py-2" align="left">
                            <h6>NIVELES DE CONOCIMIENTO</h6>
                            {% for nivel in ruta.niveles_conocimiento.all %}
                                <img style="width: 13%;" title="{{ nivel.nombre|title }}" alt="{{ nivel.nombre|title }}" class="mx-0" src="{{ nivel.imagen.url }}">
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row ml-1 mt-1">
                    <div class="col-12 py-2" align="center">                            
                        <a href="{{ ruta.link|corregir_url  }}" target="_blank" class="btn btn-primary px-4">Ver web</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 col-xs-12 px-0 card">
            <div class="row border-0 mx-1 my-1 px-3 py-3 info-contenido" style="background: #fff">
                <div class="col-12">
                    <h4>¿Dónde lo vas a hacer?</h4>
                    {% if ruta.paises or ruta.regiones or ruta.ciudades %}
                        {% if ruta.paises %}
                            <b>País: </b>{{ruta.paises }}<br>
                        {% endif %}
                        {% if ruta.regiones %}
                            <b>Región: </b>{{ruta.regiones }}<br>
                        {% endif %}
                        {% if ruta.ciudades %}
                            <b>Ciudad: </b>{{ruta.ciudades }}
                        {% endif %}
                    {% else %}
                        <span class="label label-orange">En línea</span>
                    {% endif %}
                </div>
                <div class="col-12 mt-3">
                    <h4>¿Qué tienes que tener en cuenta?</h4>
                    <p>{{ ruta.observaciones }}</p>
                </div>
                <div class="col-12">
                    <h4>¿Cuál es la duración?</h4>
                    <span>
                        {% if ruta.fecha_inicio %}
                            Desde <b>{{ ruta.fecha_inicio|date:"M d, Y" }}</b>
                        {% endif %}
                        {% if ruta.fecha_fin %}
                            Hasta <b>{{ ruta.fecha_fin|date:"M d, Y" }}</b>
                        {% endif %}
                        {% if ruta.duracion %}
                            {{ ruta.duracion }} días
                        {% endif %}
                    </span>
                    {% if ruta.es_periodico %}
                        <p><span class="label label-orange">PERIÓDICO</span></p>
                    {% endif %}
                    <p class="mt-2">{{ ruta.observaciones_plazo }}</p>
                </div>
                <div class="col-12">
                    <h4>¿Cuánto dinero debes invertir?</h4>
                    {% if ruta.precio %}
                        <p>$ {{ ruta.precio }} {{ ruta.moneda|default:'' }} {% if ruta.periodicidad_pago %}<span class="label label-orange">{{ ruta.get_periodicidad_pago_display }}</span>{% endif %}</p>
                    {% endif %}
                    <p>{{ ruta.observaciones_precio }}</p>
                </div>
                {% if ruta.contacto or ruta.email or ruta.telefono %}
                    <div class="col-12">
                        <h4>¿Dónde puedo conseguir más información?</h4>
                        {{ ruta.contacto|default:'' }}<br>
                        {% if ruta.email %}
                            <b>Correo electrónico: </b>{{ ruta.email }}<br>
                        {% endif %}
                        {% if ruta.telefono %}
                            <b>Teléfono: </b>{{ ruta.telefono }}<br>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock contenido %}

{% if request.user.tipo == "Joven" %}
    {% block js %}
        <script>
            var token = '{{csrf_token}}';
            var url_api_cargar_calificaciones_contenidos = "{% url 'contenido:api_cargar_calificaciones' %}";
            var url_api_calificar_contenido = "{% url 'contenido:api_calificar' %}"
        </script>
        <script src="{% static 'js/custom/calificacion.js' %}"></script>
        <script>
            initCalificacionesContenido({{ request.user.pk }},{{ ruta.pk }});
        </script>
    {% endblock js %}
{% endif %}
