{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    Rutas
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Rutas</li>
    {% if tag == 'Todas' %}
        <li class="breadcrumb-item active">Todas las Rutas</li>
    {% elif tag == 'Favoritas' %}
        <li class="breadcrumb-item active">Mis Rutas Favoritas</li>
    {% elif tag == 'Rutas para ti' %}
        <li class="breadcrumb-item active">Rutas para ti</li>
    {% endif %}

{% endblock miga_pan %}

{% block titulo_pagina %}
    {% if tag == 'Todas' %}
        <i class="icon-direction icon-orange"></i> Rutas
    {% elif tag == 'Favoritas' %}
        <i class="icon-direction icon-orange"></i> Mis Rutas Favoritas
    {% elif tag == 'Rutas para ti' %}
        <i class="icon-direction icon-orange"></i> Rutas para ti
    {% endif %}

    {% if request.user.tipo == 'Joven' %}
        <p style="color:gray; font-size: 14px; line-height: normal; font-weight: normal;">
            Aquí encontrarás rutas de formación, es decir estudios para ti ya sea cursos web, cursos gratuitos como
            carreras formales universitarias. Recuerda que <b>Rutas para Ti</b> son las
            que el sistema te sugiere por tener relación con tu <a
                href="{% url 'perfiles_deseados:mis_perfiles_deseados' %}"><b>Perfil Deseado</b> </a>
            y puedes cambiarlo cuando gustes y <b>Favoritas</b> son aquellas que le das Like y que quieres guardar para
            ti.</p>

    {% endif %}
{% endblock titulo_pagina %}

{% block contenido %}
    <div class="row">
        <div class="col-9">
            <form method="GET" class="row no-gutters">
                {% for tipo in tipos %}
                    <div class="px-1" style="position: relative;">
                        <input type="submit" name="tag" value="{{ tipo.nombre }}"
                               class="px-2 btn btn-sm {% if tipo.nombre == tag %}btn-orange{% else %}btn-outline-orange{% endif %} ml-1">
                        {% if tipo.nombre == 'Rutas para ti' %}
                            {% if cantidad %}
                                <strong class="px-1"
                                        style="background-color: #c42dcc; border-radius: 50px 50px; position: absolute; font-size: 10px; right: -3px; top: -3px; color:white;">{{ cantidad }}</strong>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </form>
        </div>
        <div class="col-3" align="right">
            <form method="GET">
                <div class="form-group" style="margin:0; position: relative; width:100%">
                    <input id="id_q" class="controls form-control "
                           style="border: solid 1px; border-color: rgb(248, 96, 12); background-color: white !important;"
                           type="text" name="q" placeholder="¡ANIMATE A BUSCAR!">
                    <button type="submit" id="btn_buscar" class="btn-buscar "
                            style="border: solid 1px; color: rgb(248, 96, 12); border-color: rgb(248, 96, 12); border-radius: 0px 100px 100px 0px;">
                        <i class="fa fa-arrow-down" style="color: orange;"></i></button>
                </div>
            </form>
        </div>
        <div class="col-12">
            <div class="row">
                {% for ruta in rutas %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 px-0 card">
                        <div class="card border-0 mx-1 my-1">
                            <div id="visitado-contenido-{{ ruta.pk }}"
                                 class="bg bg-orange text-white p-5 border text-center font-weight-bold"
                                 style="position: absolute; right: 0; border-radius: 0px 0px 0px 50px; width: 65px;">
                                Nuevo
                            </div>
                            <div class="hovereffect">
                                {% if ruta.modalidad.tipo.id == 2 %}
                                    <img src="{% static 'img/rutas/educacion_noformal.jpg' %}"
                                         class="card-img-top img img-fluid centerImage">
                                {% elif ruta.modalidad.tipo.id == 1 %}
                                    <img src="{% static 'img/rutas/educacion_formal.jpg' %}"
                                         class="card-img-top img img-fluid centerImage">
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <div class="row" style="height: 30px;">
                                    <a href="{% url 'contenido:detalle_ruta' ruta.id %}"
                                       onclick="visitar_contenido({{ ruta.pk }},{{ request.user.pk }})"
                                       style="width: 100%">
                                        <h6 class="card-title m-t-0 m-b-10"
                                            data-max-characters="80">{{ ruta.nombre }}</h6>
                                    </a>
                                </div>
                                {% if ruta.organizacion %}
                                    <div class="row mt-3 text-center" style="height: 30px;">
                                        <p class="card-title">
                                        <h6 class="m-l-5 m-t-2" data-max-characters="80">
                                            <span><b>{{ ruta.organizacion }}</b></span>
                                        </h6>
                                        </p>
                                    </div>
                                {% endif %}

                                <div class="row ml-1"
                                     style="border-top: 1px solid #c4c4c4; border-bottom: 1px solid #c4c4c4; height: 60px;">
                                    {% if ruta|total_tribus_roles_niveles > 0 %}
                                        <div class="col-12 py-2" align="center">
                                            <div class="justify-content-center" style="margin-left: -20px">
                                                {% for tribu in ruta.tribus_relacionadas.all %}
                                                    <img {% if ruta|total_tribus_roles_niveles < 8 %}style="width: 8%;"
                                                         {% elif ruta|total_tribus_roles_niveles < 11 %}style="width: 8%;"
                                                         {% else %}style="width: 6%;"{% endif %}
                                                         title="{{ tribu.nombre|title }}" alt="{{ tribu.nombre|title }}"
                                                         class="mx-0" src="{{ tribu.imagen.url }}">
                                                {% endfor %}
                                                {% for nivel in ruta.niveles_conocimiento.all %}
                                                    <img
                                                            {% if ruta|total_tribus_roles_niveles < 8 %}style="width: 14%;"
                                                            {% elif ruta|total_tribus_roles_niveles < 11 %}style="width: 14%;"
                                                            {% else %}style="width: 12%;"{% endif %}
                                                            title="{{ nivel.nombre|title }}"
                                                            alt="{{ nivel.nombre|title }}"
                                                            class="mx-0" src="{{ nivel.imagen.url }}">
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="col-12 py-2" align="center">
                                            <div class="row justify-content-center" style="margin-left: -20px">
                                                <p><b>No hay insiginas relacionadas</b></p>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row mt-2 px-3 py-2">
                                <div class="col-7 pr-0 centrar" align="left">
                                    <span class="calificacion like pr-1">
                                            <a title="Me gusta" id="like1-contenido-{{ ruta.pk }}"
                                               href="javascript:calificar_contenido(1,{{ ruta.pk }},{{ request.user.pk }})"><i
                                                    class="fas fa-thumbs-up fa-lg"></i></a>
                                    </span>
                                    <span class="calificacion dislike pr-2">
                                            <a title="No me gusta" id="like2-contenido-{{ ruta.pk }}"
                                               href="javascript:calificar_contenido(2,{{ ruta.pk }},{{ request.user.pk }})"><i
                                                    class="fas fa-thumbs-up fa-rotate-180 fa-lg"></i></a>
                                    </span>
                                    <span>
                                            <a title="Tomo esta decisión"
                                               href="javascript:contenido_decision({{ ruta.pk }});">
                                                <img src="{% static "img/realidades/estrella_0.png" %}"
                                                     alt="decision"
                                                     style="width: 30px"
                                                     id="decision-perfil-{{ ruta.pk }}"
                                                >
                                            </a>
                                    </span>
                                </div>
                                <div class="col-5 px-0 pt-1" align="right">
                                    <a href="{% url 'contenido:detalle_ruta' ruta.id %}" class="btn btn-primary px-3"
                                       onclick="visitar_contenido({{ ruta.pk }},{{ request.user.pk }})">Ver Más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-12 px-0" align="center">
                        {% if tag == 'Todas' %}
                            <h4 class="mt-5">No se encontraron rutas.</h4>
                        {% elif tag == 'Favoritas' %}
                            <h4 class="mt-5">No se encontraron rutas.</h4>
                        {% elif tag == 'Rutas para ti' %}
                            <h4 class="mt-5">Hey vas súper bien! Estamos en búsqueda de nuevas rutas para ti</h4>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="container mt-2 col-12">
                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a href="
                                {% if tag|cambiar_espacio_por_mas in request.get_full_path %}
                                ?{{ tag|cambiar_espacio_por_mas }}&page=1
                                {% elif 'q' in request.get_full_path %}?{{ tag|cambiar_espacio_por_mas }}&page=1
                                {% else %}?Todas&page=1{% endif %}"
                                   class="page-link">Primero</a>
                            </li>
                            <li class="page-item">
                                <a href="
                                {% if tag|cambiar_espacio_por_mas in request.get_full_path %}
                                ?{{ tag|cambiar_espacio_por_mas }}&page={{ page_obj.previous_page_number }}
                                {% elif 'q' in request.get_full_path %}?{{ tag|cambiar_espacio_por_mas }}&page={{ page_obj.next_page_number }}
                                {% else %}?Todas&page={{ page_obj.previous_page_number }}{% endif %}"
                                   class="page-link">Atrás</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled" style="background-color: lightgray;">
                                <a href="#" class="page-link" style="background-color: lightgray;">Atrás</a>
                            </li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-item {% if page_obj.number == i %}active{% endif %}"
                                    style="background-color: rgb(102, 45, 145); border: 1px solid rgb(102, 45, 145);">
                                    <a href="
                                    {% if tag|cambiar_espacio_por_mas in request.get_full_path %}?{{ tag|cambiar_espacio_por_mas }}&page={{ i }}
                                    {% elif 'q' in request.get_full_path %}?{{ tag|cambiar_espacio_por_mas }}&page={{ page_obj.next_page_number }}
                                    {% else %}?Todas&page={{ i }}{% endif %}"
                                       class="page-link"
                                       style="background-color: rgb(102, 45, 145); border: 1px solid rgb(102, 45, 145);">{{ i }}</a>
                                </li>
                            {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                                <a href="
                                    {% if tag|cambiar_espacio_por_mas in request.get_full_path %}?{{ tag|cambiar_espacio_por_mas }}&page={{ i }}
                                    {% elif 'q' in request.get_full_path %}?{{ tag|cambiar_espacio_por_mas }}&page={{ page_obj.next_page_number }}
                                    {% else %}?Todas&page={{ i }}{% endif %}"
                                   class="page-link">{{ i }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a href="
                                {% if tag|cambiar_espacio_por_mas in request.get_full_path %}
                                ?{{ tag|cambiar_espacio_por_mas }}&page={{ page_obj.next_page_number }}
                                {% elif 'q' in request.get_full_path %}?{{ tag|cambiar_espacio_por_mas }}&page={{ page_obj.next_page_number }}
                                {% else %}?Todas&page={{ page_obj.next_page_number }}{% endif %}"
                                   class="page-link">Siguiente</a>
                            </li>
                            <li class="page-item">
                                <a href="
                                {% if tag|cambiar_espacio_por_mas in request.get_full_path %}
                                ?{{ tag|cambiar_espacio_por_mas }}&page={{ paginator.page_range|length }}
                                {% elif 'q' in request.get_full_path %}?{{ tag|cambiar_espacio_por_mas }}&page={{ paginator.page_range|length }}
                                {% else %}?Todas&page={{ paginator.page_range|length }}{% endif %}"
                                   class="page-link">Último</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled" style="background-color: lightgray;">
                                <a href="#" class="page-link" style="background-color: lightgray;">Siguiente</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal fade"
         data-backdrop="static"
         data-keyboard="false"
         id="tres_decisiones"
         tabindex="-1"
         aria-labelledby="tres_decisiones"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="background-color: transparent; border: 0">
                <div class="modal-body" style="padding:0;">
                    <img src="{% static "img/realidades/advertencia_1.png" %}" alt="advertencia"
                         class="img-fluid">
                </div>
                <div class="modal-footer" style="border: 0; padding: 0; padding-right: .3rem; padding-top: .5rem;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i style="color: white;" class="fas fa-times fa-2x"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}

{% block js %}
    <script>
        var token = '{{csrf_token}}';
        var url_api_cargar_calificaciones_contenidos = "{% url 'contenido:api_cargar_calificaciones' %}";
        var url_api_calificar_contenido = "{% url 'contenido:api_calificar' %}"
        var url_api_decisiones_contenido = "{% url 'contenido:api_decision' %}"

        var url_api_cargar_visitados = "{% url 'contenido:api_cargar_visitados' %}";
        var url_api_visitar_contenido = "{% url 'contenido:api_visitar_contenido' %}";

        $('[id^="visitado-contenido-"]').each(function (index) {
            $(this).addClass("d-none")
        });
    </script>
    <script src="{% static 'js/custom/calificacion.js' %}"></script>
    <script>
        initContenidoVisitados({{ request.user.pk }});
        $("p").each(function () {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if (length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
        $("h6").each(function () {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if (length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
        $("span").each(function () {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if (length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
        initCalificacionesContenido({{ request.user.pk }});
    </script>
{% endblock js %}