{% extends 'base_tablas.html' %}

{% block titulo %}
    {% if request.user.es_superusuario %}
        Gestión Rutas
    {% elif request.user.tipo == "Organización" %}
        Mis Rutas
    {% endif %}
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item active">
        {% if request.user.es_superusuario %}
            Gestión Rutas
        {% elif request.user.tipo == "Organización" %}
            Mis Rutas
        {% endif %}
    </li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-direction icon-orange"></i>
    {% if request.user.es_superusuario %}
        Gestión Rutas
    {% elif request.user.tipo == "Organización" %}
        Mis Rutas
    {% endif %}
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan las rutas y diferentes herramientas para su gestión.</i>
            </p>
        </div>
        <div class="col-md-12" align="right">
            <a class="btn btn-primary" href="{% url "contenido:registrar_ruta" %}"><i class="fas fa-plus"></i> Registrar Ruta</a>
            {% if request.user.is_superuser %}
                <a class="btn btn-secondary" href="{% url 'contenido:registro_masivo_rutas' %}"><i class="fas fa-file-excel"></i> Registro Masivo</a>
            {%endif%}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table id='example' class="table table-bordered table-striped table-td-valign-middle mt-1">
                    <thead>
                        <tr>
                            <th>Modalidad</th>
                            <th>Nombre</th>
                            <th>Tribu</th>
                            <th>Familia</th>
                            <th>Campo</th>
                            <th>Organización</th>
                            <th>Observaciones</th>
                            <th>Precio</th>
                            <th>Link</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                   
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

{% block js %}
{{block.super}}
<script type="text/javascript">
    $(document).ready(function() {
        $('#example').dataTable({
            "serverSide": true,
            "ajax": function (data, callback, settings){
                var columna_filtro = data.columns[data.order[0].column].data.replace(/\./g,"__");
                var direccion = data.order[0].dir

                $.get("{% url 'contenido:api_rutas_listado' %}",{
                    draw: data.draw,
                    inicio: data.start,
                    limite: data.length,
                    filtro: data.search.value,
                    orden: columna_filtro,
                    direccion: direccion === 'desc'? '-':''
                }, function (res) {
                    callback({
                        recordsTotal: res.total,
                        recordsFiltered: res.total,
                        data:res.data
                    });
                });
            },
            "columns": [
                {"data": "modalidad"},
                {"data": "nombre"},
                {"data": "tribus_relacionadas"},
                {"data": "organizacion"},
                {"data": "observaciones"},
                {"data": "precio"},
                {"data": "link"},
                {"data": "activo"}
            ],
            "columnDefs": [
                {
                    className: "position",
                    targets: [3],
                    "render": function (data, type, row) {
                        let insignias_ponor = row.insignias_ponor
                        let insignias_cuisana = row.insignias_cuisana
                        let insignias_moterra = row.insignias_moterra
                        let insignias_vincularem = row.insignias_vincularem
                        let insignias_brianimus = row.insignias_brianimus
                        let insignias_gronor = row.insignias_gronor
                        let insignias_centeros = row.insignias_centeros
                        let insignias_sersas = row.insignias_sersas
                        let insignias = ''

                        listado_insignias = [
                            insignias_ponor.values(), 
                            insignias_cuisana.values(), 
                            insignias_moterra.values(),
                            insignias_vincularem.values(),
                            insignias_brianimus.values(),
                            insignias_gronor.values(),
                            insignias_centeros.values(),
                            insignias_sersas.values()
                        ]

                        for(let iterator_insignia of listado_insignias){
                            for(valor of iterator_insignia){
                                insignias += valor['familia'] + '<br><br>'
                            }
                        }
                        return insignias
                    }
                },
                {
                    className: "position",
                    targets: [4],
                    "render": function (data, type, row) {
                        let insignias_ponor = row.insignias_ponor
                        let insignias_cuisana = row.insignias_cuisana
                        let insignias_moterra = row.insignias_moterra
                        let insignias_vincularem = row.insignias_vincularem
                        let insignias_brianimus = row.insignias_brianimus
                        let insignias_gronor = row.insignias_gronor
                        let insignias_centeros = row.insignias_centeros
                        let insignias_sersas = row.insignias_sersas
                        let insignias = ''
                        listado_insignias = [
                            insignias_ponor.values(), 
                            insignias_cuisana.values(), 
                            insignias_moterra.values(),
                            insignias_vincularem.values(),
                            insignias_brianimus.values(),
                            insignias_gronor.values(),
                            insignias_centeros.values(),
                            insignias_sersas.values()
                        ]

                        for(let iterator_insignia of listado_insignias){
                            for(valor of iterator_insignia){
                                insignias += valor['nombre'] + '<br><br>'
                            }
                        }
                        return insignias
                    }
                },
                {
                    className: "position",
                    targets: [5],
                    "render": function (data, type, row) {
                        let organizacion = row.organizacion;
                        return organizacion
                    }
                },
                {
                    className: "position",
                    targets: [6],
                    "render": function (data, type, row) {
                        let observaciones = row.observaciones;
                        return observaciones
                    }
                },
                {
                    className: "position",
                    targets: [7],
                    "render": function (data, type, row) {
                        let precio = row.precio;
                        if(precio == null){
                            return "No definido";
                        }else{
                            return '$' + precio;
                        }
                    }
                },
                {
                    className: "position",
                    targets: [8],
                    "render": function (data, type, row) {
                        let link = row.link;
                        data = '<a href='+ link +'>Enlace</a>'
                        return data
                    }
                },
                {
                    className: "position",
                    targets: [9],
                    "render": function (data, type, row) {
                        let estado = row.activo;
                        if(estado == true){
                            return "<span class='label label-lime'>ACTIVA</span>";
                        }else{
                            return "<span class='label label-secondary'>INACTIVA</span>";
                        }
                    }
                },
                {
                    className: "position",
                    targets: [10],
                    "render": function (data, type, row) {
                        var urlDetalle = "{% url 'contenido:detalle_ruta' 0 %}";
                        var urlModificar = "{% url 'contenido:modificar_ruta' 0 %}";
                        var id_ruta = row.id;

                        urlDetalle = urlDetalle.replace(0, id_ruta);
                        urlModificar = urlModificar.replace(0, id_ruta);

                        data = '<div class="row">' + '<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">' + '<a href='+ urlDetalle +'><i class="fas fa-eye"></i></a>' + '</div>' +
                            '<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">' + '<a href='+ urlModificar +'><i class="fas fa-pen-alt"></i></a>' +'</div>'  +'</div>'

                        return data
                    }
                },
            ],
            "language": {
                "processing": "Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron resultados",
                "emptyTable": "Ningún dato disponible en esta tabla",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "search": "Buscar:",
                "decimal": "",
                "infoPostFix": "",
                "thousands": ",",
                "loadingRecords": "Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                buttons: {
                    copyTitle: 'Copiado a portapapeles',
                    copySuccess: {
                        _: '%d lineas copiadas',
                        1: '1 linea copiada'
                    }
                }
            },
            "iDisplayLength": 10,
            "aLengthMenu": [[10], [10]],
        });
    });
</script>
{% endblock js %}
