<li class="has-sub {% if '/contenido/rutas/' in request.path or '/contenido/oportunidades/' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="icon-people"></i>
        <span>Conectarme</span>
    </a>
    <ul class="sub-menu">
        <li class="{% if '/contenido/rutas/' in request.path %} active {% endif %}">
            <a href="{% url 'contenido:joven_consultar_rutas' %}">Rutas para aprender</a>
        </li>
        <li class="{% if '/contenido/oportunidades/' in request.path %} active {% endif %}">
            <a href="{% url 'contenido:joven_consultar_oportunidades' %}">Oportunidades para hacer</a>
        </li>
    </ul>
</li>