<li class="has-sub {% if '/tablero-jovenes/' in request.path or '/responder/' in request.path or '/competencias/' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="icon-user"></i>
        <span>Conocerme</span>
    </a>
    <ul class="sub-menu">
        <li class="{% if '/responder/' in request.path %} active {% endif %}">
            <a href="{% url 'formularios:responder' %}">Test de conocerme</a>
        </li>
        <li class="{% if '/tablero-jovenes/' in request.path or '/competencias/' in request.path %} active {% endif %}">
            <a href="{% url 'tablero_jovenes:tablero_joven' request.user.id %}">Mis resultados</a>
        </li>
    </ul>
</li>