<li class="has-sub {% if '/perfil' in request.path or 'cuestionarios/competencias' in request.path or '/tablero-jovenes/' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="icon-chart"></i>
        <span>Perfiles</span>
    </a>
    <ul class="sub-menu">
        <li class="{% if 'perfil-actual' in request.path %} active {% endif %}">
            <a href="{% url 'usuarios:mi_perfil_actual' %}">Perfil Actual</a>
        </li>        
        <li class="{% if 'perfiles-deseados/mis-perfiles' in request.path or 'perfiles-deseados/detalle' in request.path or 'perfiles-deseados/modificar' in request.path %} active {% endif %}">
            <a href="{% url 'perfiles_deseados:mis_perfiles_deseados' %}">Mis Perfiles</a>
        </li>
        <li class="{% if 'perfiles-deseados/crear' in request.path%} active {% endif %}">
            <a href="{% url 'perfiles_deseados:crear_perfil_deseado' %}">Crear Perfil Deseado</a>
        </li> 
        
        {% comment %}
        <li><a href="#">Ver Detalles Premium</a></li>
        {% endcomment %}
       
        <li class="has-sub {% if 'cuestionarios/competencias' in request.path or '/tablero-jovenes/' in request.path %} active {% endif %}">
            <a href="javascript:;">
                <b class="caret"></b>
                Mis Competencias
            </a>
            <ul class="sub-menu">
                <li class="{% if '/tablero-jovenes/' in request.path %} active {% endif %}"><a href="{% url 'tablero_jovenes:tablero_joven' request.user.id %}">Tablero General</a></li>
                <li class="{% if '/cuestionarios/competencias/procesamiento-de-informacion' in request.path %} active {% endif %}"><a href="{% url 'formularios:procesamiento_de_informacion' %}">Competencias Cognitivas</a></li>
                <li class="{% if '/cuestionarios/competencias/habilidades-sociales' in request.path %} active {% endif %}"><a href="{% url 'formularios:habilidades_sociales' %}">Habilidades sociales</a></li>
                <li class="{% if '/cuestionarios/competencias/aptitudes-e-intereses' in request.path %} active {% endif %}"><a href="{% url 'formularios:aptitudes_e_intereses' %}">Aptitudes e intereses</a></li>
                <li class="{% if '/cuestionarios/competencias/mis-experiencias' in request.path %} active {% endif %}"><a href="{% url 'formularios:mi_experiencia' %}">Mi experiencia</a></li>
            </ul>
        </li>
        
        
    </ul>
</li>