<li class="{% if 'ruta' in request.path %} active {% endif %}">
    <a href="{% url 'contenido:joven_consultar_rutas' %}">
        <i class="icon-direction"></i>
        <span>Rutas</span>
    </a>
</li>
