<li class="has-sub {% if '/usuarios/invitar-joven/' in request.path or '/usuarios/amigos/consultar-jovenes' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="icon-user-following"></i>
        <span>Jóvenes</span>
    </a>
    <ul class="sub-menu">
        <li class="{%if '/usuarios/amigos/consultar-jovenes' in request.path%} active {% endif %}">
            <a href="{% url 'usuarios:consultar_jovenes' %}">Consultar jóvenes</a>           
        </li> 
        <li class="{%if '/usuarios/invitar-joven/' in request.path%} active {% endif %}">            
            <a href="{% url 'usuarios:invitar_joven' %}">Invitar externos</a>           
        </li>      
    </ul>
</li>