<li class="{% if '/organizaciones/mis-organizaciones' in request.path %} active {% endif %}">
    <a href="{% url 'organizaciones:joven_consultar' %}">
        <i class="icon-briefcase"></i>
        <span>Organizaciones</span>
    </a>
</li>