<li class="{% if 'guia' in request.path %} active {% endif %}">
    <a href="{% url 'guia:consultar_guia_jovenes' %}">
        <i class="icon-social-youtube"></i>
        <span>Guía Eslabón</span>
    </a>
</li>