<li class="has-sub {% if 'insignias' in request.path %} active {% endif %}">   
    <a href="{% url 'insignias:consultar_insignias' %}">
        <i class="icon-badge"></i>
        <span>Insignias</span> 
    </a>
    {% comment %}
    <ul class="sub-menu">
       
        <li class="{% if '/insignias/joven/consultar/' in request.path %} active {% endif %}">
            <a href="{% url 'insignias:consultar_insignias' %}">Insignias Propias</a>
        </li>
       
        <li>
            <a href="#">Insignias Otorgadas</a>
        </li>
        <li>
            <a href="#">Puntajes</a>
        </li>
       
    </ul>
    {% endcomment %}
</li>