<li class=" {% if 'oportunidad' in request.path %} active {% endif %}">
    <a href="{% url 'contenido:joven_consultar_oportunidades' %}">
        <i class="icon-diamond"></i>
        <span>Oportunidades</span>
    </a>
</li>