<li class="has-sub {% if '/equipos/todos-los-equipos' in request.path or '/equipos/gestionar' in request.path  or '/equipos/gestion' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="icon-people"></i>
        <span>Equipos</span>
    </a>
    <ul class="sub-menu">
        <li class="{% if '/equipos/todos-los-equipos' in request.path %} active {% endif %}">
            <a href="{% url 'equipos:consultar_todos_los_equipos' %}">Todos los Equipos</a>
        </li>
        <li class="{% if '/equipos/gestionar' in request.path %} active {% endif %}">
            <a href="{% url 'equipos:gestionar_equipos' %}">Editar mis Equipos</a>
        </li>
        <li class="{% if '/equipos/gestion-solicitudes' in request.path %} active {% endif %}">
            <a href="{% url 'equipos:gestionar_solicitudes' %}">Gestionar Solicitudes</a>
        </li>
    </ul>
</li>