<li class="has-sub {% if '/guia-eslabon' in request.path or '/consultar-retos/' in request.path or '/equipos/todos-los-equipos' in request.path or '/usuarios/amigos/consultar-jovenes' in request.path or '/mis-organizaciones/' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="icon-chart"></i>
        <span>Misión Eslabón</span>
    </a>
    <ul class="sub-menu">
        <li class="{% if 'guia-eslabon' in request.path %} active {% endif %}">
            <a href="{% url 'guia:consultar_guia_jovenes' %}">Niveles de la misión</a>
        </li>   
        <li class="{% if '/consultar-retos/' in request.path %} active {% endif %}">
            <a href="{% url 'retos:consultar_retos' %}">Retos de entrenamiento</a>
        </li> 
        <li class="{% if '/equipos/todos-los-equipos' in request.path %} active {% endif %}">
            <a href="{% url 'equipos:consultar_todos_los_equipos' %}">Equipos para retos</a>
        </li>     
        <li class="{% if '/usuarios/amigos/consultar-jovenes' in request.path %} active {% endif %}">
            <a href="{% url 'usuarios:consultar_jovenes' %}">Jóvenes para equipos</a>
        </li>   
        <li class="{% if '/mis-organizaciones/' in request.path %} active {% endif %}">
            <a href="{% url 'organizaciones:joven_consultar' %}">Organizaciones retadoras</a>
        </li>   
    </ul>
</li>