<li
        class="has-sub
        {% if '/perfiles-deseados/crear' in request.path or '/perfiles-deseados/mis-perfiles' in request.path or '/tablero-auditorias/tablero-economico/' in request.path%}
            active
        {% endif %}"
>
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="icon-rocket"></i>
        <span>Proyectarme</span>
    </a>
    <ul class="sub-menu">
        <li class="{% if '/perfiles-deseados/crear' in request.path %} active {% endif %}">
            <a href="{% url 'perfiles_deseados:crear_perfil_deseado' %}">Crearme un perfil deseado</a>
        </li>
        <li class="{% if '/perfiles-deseados/mis-perfiles' in request.path %} active {% endif %}">
            <a href="{% url 'perfiles_deseados:mis_perfiles_deseados' %}">Mis perfiles deseados</a>
        </li>
        <li class="{% if '/tablero-auditorias/tablero-economico/' in request.path %} active {% endif %}">
            <a href="{% url 'tablero_auditorias:tablero_economico' %}">Hacia donde va el mundo</a>
        </li>
    </ul>
</li>