<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<style type="text/css">
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
*,
.font-parir{font-family:Poppins, Arial, sans-serif;}


</style>
<!--[if mso]>
<style type="text/css">
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
*,
.font-parir{font-family:Poppins, Arial, sans-serif;}
</style>
<![endif]-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body style="background:white; margin:0; padding:0; box-sizing:border-box; width:690px ; display: block; margin: auto;">
    <div style="display: block; margin: auto;">
        <table align="center" border="0" cellspacing="0" cellpadding="0" style="background:#ededed; max-width:690px;">
            <tr style="margin:0; padding:0;">
                <td colspan="2" style="margin:0; padding:0; line-height:0;">
                    <img src="http://3.18.113.131/static/correos/encabezado.png" style="width:690px" alt="Imagen">
                </td>
            </tr>
            <tr style="background:#ededed; margin:0; padding:0;">
                <td colspan="2" style="margin:0; padding:20px 0; line-height:0;"></td>
            </tr>
            <tr style="background:#ededed; margin:0; padding:0;">
                <td colspan="2" class="font-parir" style="font-family: 'Poppins', sans-serif; margin:0; padding:0 40px; font-size:20px; color:#777b6e; line-height:23px; text-align:center;">
                    <h2>¡Hola {{ name }}!</h2>
                </td>
            </tr>
            <tr style="background:#ededed; margin:0; padding:0;">
                <td colspan="2" class="font-parir" style="font-family: 'Poppins', sans-serif; margin:0; padding:0 40px; font-size:14px; color:#777b6e; line-height:17px; text-align:center;">Recibimos una solicitud para <b>restablecer tu contraseña</b> de <b>MiEslabón.com</b> Haz clic sobre el siguiente botón para cambiarla:</td>
            </tr>
            <tr style="background:#ededed; margin:0; padding:0;">
                <td colspan="2" class="font-parir" style="margin:0; padding:30px 0; text-align:center;">
                    <a href="{{ protocol }}://{{ domain }}{% url 'usuarios:cambiar_contrasena' uidb64=uid token=token %}" target="_blank"><img src="http://3.18.113.131/static/correos/Boton_actualizar_contraseña.png" alt="Actualizar contraseña" width="250px"/></a>
                </td>
            </tr>
            <tr style="background:#ededed; margin:0; padding:0; background:url(http://3.18.113.131/static/correos/Franja_2.png); background-repeat: no-repeat; height: 150px; width:500px;">        
                <td colspan="2" class="font-parir" style="padding-bottom: 35px; font-family: 'Poppins', sans-serif; margin:0; font-size:20px; color:white; text-align:center;">
                    <p class="text-center" style="width: 80%; position: relative; left: 10%; font-size: 15px; text-align: center;">Si ignoras este mensaje, tu contraseña no cambiará. Si no solicitaste el cambio de contraseña, infórmanos.</p>
                </td>
            </tr>    
            
            <tr style="background:#ededed; margin:0;">
                <td class="font-parir" style="font-family: 'Poppins', sans-serif; margin:0; font-size:20px; font-weight: bolder; color:#777b6e; padding: 20px; line-height: 13px;">
                    <h4 style="color: black;">Contáctanos</h4>
                    <p><i class="fa fa-map-marker"></i> Medellín, Colombia.</p>
                    <p><i class="fa fa-envelope"></i> contame@mieslabon.com</p>
                    <p><i class="fa fa-whatsapp"></i> (+0057) 301 219 6006</p>               
                </td>
                <td class="font-parir" style="font-family: 'Poppins', sans-serif; margin:0; font-size:20px; color:white; text-align:center;">              
                    <a href="https://www.facebook.com/MiEslabon" target="_blank" style="margin-right: 10px; text-decoration: none;">
                        <img src="http://3.18.113.131/static/correos/facebook.png" alt="Facebook" width="35px" />
                    </a>
                    <a href="https://www.instagram.com/misioneslabon/" target="_blank" style="margin-right: 10px; text-decoration: none;">
                        <img src="http://3.18.113.131/static/correos/instagram.png" alt="Instagram" width="35px" />
                    </a>
                    <a href="https://www.youtube.com/channel/UCcgwCERcAm7pdyiHIYUWj-A" target="_blank" style="margin-right: 10px; text-decoration: none;">
                        <img src="http://3.18.113.131/static/correos/youtube.png" alt="Web" width="35px" />
                    </a>               
                </td>
            </tr>
                        
        </table>

    </div>
</body>