<style type="text/css">
    @import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
    .font-parir{font-family: 'Poppins', sans-serif;}
</style>

<body style="background:white; margin:0; padding:0; box-sizing:border-box; width:690px ; display: block; margin: auto;">
    <div style="display: block; margin: auto;">
		<table align="center" border="0" cellspacing="0" cellpadding="0" style="max-width:690px;">
			<tr style="margin:0; padding:0;">
				<td colspan="2" style="margin:0; padding:0; line-height:0;"><img src="https://parir.co/mailing/img/topbar.jpg" alt="Imagen"></td>
			</tr>
			<tr style="background:#fff; margin:0; padding:0;">
				<td colspan="2" style="margin:0; padding:20px 0; line-height:0;"></td>
			</tr>
			<tr style="background:#fff; margin:0; padding:0;">
				<td colspan="2" class="font-parir" style="font-family: 'Poppins', sans-serif; margin:0; padding:0 40px; font-size:20px; color:#777b6e; line-height:23px; text-align:center;">
					<h2>Verificación de suscripción</h2>
				</td>
			</tr>
			<tr style="background:#fff; margin:0; padding:0;">
				<td colspan="2" class="font-parir" style="font-family: 'Poppins', sans-serif; margin:0; padding:0; font-size:14px; color:#777b6e; line-height:17px; text-align:center;">¡Hola {{ name }}!<br>Bienvenida a <b>PARIR.CO</b>, gracias por suscribirte a nuestro boletín.</td>
			</tr>
			<tr style="background:#fff; margin:0; padding:0;">
				<td colspan="2" class="font-parir" style="font-family: 'Poppins', sans-serif;margin:0; padding:30px 40px; font-size:14px; color:#777b6e; line-height:17px; text-align:center;">No olvides completar tu registro, así podrás acceder a nuestros artículos para acompañarte en cada etapa de tu maternidad, y mantenerte enterada de los eventos y actividades que tenemos para ti.</td>
			</tr>
			<tr style="background:#fff; margin:0; padding:0;">
				<td colspan="2" class="font-parir" style="font-family: 'Poppins', sans-serif; margin:0; padding:30px 40px; font-size:14px; color:#777b6e; line-height:17px; text-align:center;">Haz clic en el siguiente botón para confirmar tu suscripción y crear una contraseña de acceso a la plataforma.</td>
			</tr>
			<tr style="background:#fff; margin:0; padding:0;">
				<td colspan="2" class="font-parir" style="margin:0; padding:0; text-align:center;">
					<a href="{{ protocol }}://{{ domain }}{% url 'usuarios:verificar_correo' uidb64=uid token=token %}" target="_blank"><img src="https://parir.co/mailing/img/btn-confirmar.jpg" alt="Confirmar" /></a>
				</td>
			</tr>
			<tr style="background:url(https://parir.co/mailing/img/background-footer.jpg) #fff no-repeat center 0; margin:0; padding:0; height:272px;">
				<td style="margin:0; padding:110px 0 0 40px; line-height:0;">
					<a href="https://www.facebook.com/parir.co" target="_blank"><img src="https://parir.co/mailing/img/facebook-parir.jpg" alt="Facebook" style="margin:0 0 0 4px;" /></a><br />
					<a href="https://www.instagram.com/parir.co/" target="_blank"><img src="https://parir.co/mailing/img/instagram-parir.jpg" alt="Instagram" style="margin:7px 0;" /></a><br />
					<a href="https://parir.co/" target="_blank"><img src="https://parir.co/mailing/img/web-parir.jpg" alt="Web" /></a>
				</td>
				<td></td>
			</tr>
		</table>
	</div>
</body>