{% extends 'base_tablas.html' %}
{% load static %}
{% load bootstrap4 %}
{% load extra_tags %}

{% block titulo %}
    Expulsar Miembros 
{% endblock titulo %}

{% block css %}
    <style type="text/css">
        .panel{
            background: none;
        }
    </style>
{% endblock css %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="">Retos</a></li>
    <li class="breadcrumb-item active"><a href="">Gestión de Solicitudes</a></li>
    <li class="breadcrumb-item active"><a href="">Expulsar Miembros</a></li> 
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-open icon-orange"></i> Expulsar Miembros 
{% endblock titulo_pagina %}

{% block contenido_panel %}
<div class="row">
    <div class="mb-3 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">           
        <div class="tab-content p-15 rounded bg-white"> 
            <div class="row">
                {% if 'Equipos' in reto.grupos_permitidos%}
                    <div class="table-responsive col-lg-12 col-xl-12 border rounded my-2">
                        <h3 class="my-2 text-center">Equipos Miembros</h3>
                        <table class='table table-bordered table-striped table-td-valign-middle'>
                            <thead>                                                    
                                <th>Nombre Equipo</th>                            
                                <th>Acciones</th>
                            </thead>
                            <tbody>
                                {% for equipo in equipos %}                                                   
                                                            
                                    <tr>    
                                        <th>
                                            {%if equipo.logo %}
                                                <img src="{{equipo.logo.url}}" alt="Imagen perfil" class="img-circle my-auto" style="width: 35px; height: 35px;">
                                            {% else %}
                                            {% endif %}
                                            {{equipo}}
                                        </th> 
                                        {% tiene_calificaciones reto.id equipo.id as calificado %}
                                        {% if calificado %}
                                            <td align="center">                                                
                                                <strong>Ya no es válido expulsar a este participante porque el reto inició, está en curso, ya finalizó o el participante ya ha entrado en el primer cuarto.</strong> 
                                            </td>                                            
                                        {% else %}
                                            <td align="center">
                                                <a class="btn btn-xs btn-danger" href="{% url 'retos:retos_retirar_equipo' equipo.id reto.id%}">Expulsar del Reto</a>
                                            </td>
                                        {% endif%}
                                    </tr>
                                    
                                {% empty %}
                                    <tr>
                                        <td colspan="5" align="center">
                                            <b> Todavía no hay equipos inscritos al reto</b>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}                     
                    <div class="table-responsive col-lg-12 col-xl-12 border rounded my-2">
                        <h3 class="my-2 text-center">Jóvenes Miembros</h3>
                        <table class='table table-bordered table-striped table-td-valign-middle'>                        
                            <thead>    
                                <th>Nombre Joven</th>
                                <th>Acciones</th>
                            </thead>
                            <tbody>
                                {% for joven in jovenes %}   
                                    <tr> 
                                        <th>
                                            {%if joven.foto_perfil %}
                                                <img src="{{joven.logo.url}}" alt="Imagen perfil" class="img-circle my-auto" style="width: 35px; height: 35px;">
                                            {% else %}
                                                <img  src="{% static 'img/jovenens/predeterminada.jpg' %}" class="img-circle my-auto" style="width: 35px; height: 35px;">
                                            {% endif %}
                                            {{joven}}
                                        </th> 
                                        {% tiene_calificaciones reto.id joven.id as calificado %}
                                        <td align="center">
                                            <a class="btn btn-xs btn-danger" href="{% url 'retos:retos_finalizar_solicitud_joven' joven.id reto.id%}">Expulsar del Reto</a>
                                        </td>
                                    </tr>                                
                                {% empty %}
                                    <tr>
                                        <td colspan="5" align="center">
                                            <b> Todavía no hay jóvenes inscritos al reto</b>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>  
                {% endif %} 
                </div>   
            <form class="ml-5 my-2" method="post" enctype="multipart/form-data" action=''>{% csrf_token %} 
                <div class="row">
                    <div class="col-12" align="right">
                        <button class="btn btn-primary" name="finalizar">Finalizar</button>
                    </div>
                </div> 
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
</div>
        

{% endblock contenido_panel %}

