{% extends 'base_tablas.html' %}
{% load static %}
{% load bootstrap4 %}
{% load extra_tags %}

{% block titulo %}
    Invitar Equipos 
{% endblock titulo %}

{% block css %}
    <style type="text/css">
        .panel{
            background: none;
        }
    </style>
{% endblock css %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="">Retos</a></li>
    <li class="breadcrumb-item active"><a href="">Gestión de Solicitudes</a></li>
    <li class="breadcrumb-item active"><a href="">Invitar Equipos</a></li> 
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-open icon-orange"></i> Invitar Equipos 
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row">
        <div class="mb-3 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">           
            <div class="tab-content p-15 rounded bg-white">
                <div class="tab-pane fade active show">
                    <h3 class="m-t-10 m-b-10">Invitar Mis Equipos </h3>
                    <p class="mb-4 mr-5">
                        <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia iste numquam, a nam assumenda obcaecati facilis minima aut. Sit eos quia aut rerum accusantium dolorum, tempore veritatis ea minima optio.
                        </i>
                    </p>
                    <form class="ml-5 mt-5" method="post" enctype="multipart/form-data" action=''>{% csrf_token %}
                        <div class="row pl-5 pr-5">
                            <div class="col-12">
                                {{form_postulacion.media}}
                                {% bootstrap_form form_postulacion %}
                            </div>
                        </div> 
                    <div class="row">
                        <div class="col-12" align="right">
                            <button class="btn btn-primary" name="enviar_postulacion" type="submit">Enviar Postulación</button>
                        </div>
                    </div>
                    <hr>
                    
                    <div class="row">
                        <div class="col-12 justify-content-center">
                            <div class="row col-12 m-t-5 justify-content-center">      
                                {% if "Equipos" in reto.grupos_permitidos %}                         
                                    <div class="table-responsive col-lg-12 col-xl-12">
                                        <h3>Equipos Invitados</h3>
                                        <table class="table table-striped table-bordered" cellspacing="0">
                                            <thead> 
                                                <th>Logo</th>
                                                <th>Nombre</th>
                                                <th></th>
                                            </thead>
                                            <tbody>
                                                {% for equipo in equipos %}
                                                    <tr>
                                                        <td align="center">
                                                            {%if equipo.logo %}
                                                                <img src="{{equipo.logo.url}}" alt="Logo" class="img-circle my-auto" style="width: 35px; height: 35px;">
                                                            {% else %}
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {{equipo.nombre}}
                                                        </td>
                                                        <td align="center">
                                                            <a class="btn btn-xs btn-danger" href='{% url "retos:retos_rechazar_solicitud_equipo" equipo.id reto.id %}'>Cancelar Invitación</a>
                                                        </td>
                                                    </tr>                                           
                                                {% endfor %}
                                            </tbody>
                                        </table>                                       
                                    </div>
                                {% else %}
                                    <div class="table-responsive col-lg-12 col-xl-12">
                                        <h3>Jóvenes Invitados</h3>
                                        <table class="table table-bordered table-striped table-td-valign-middle">
                                            <thead> 
                                                <th>Foto de perfil</th>
                                                <th>Nombre</th>
                                                <th>Acciones</th>
                                            </thead>
                                            <tbody>
                                                {% for joven in jovenes %}
                                                    <tr>
                                                        <td align="center">
                                
                                                            {%if joven.foto_perfil %}
                                                                <img src="{{joven.foto_perfil.url}}" alt="Imagen perfil" class="img-circle my-auto" style="width: 35px; height: 35px;">
                                                            {% else %}
                                                                <img  src="{% static 'img/jovenens/predeterminada.jpg' %}" class="img-circle my-auto" style="width: 35px; height: 35px;">
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {{joven.first_name}}
                                                        </td>
                                                        <td align="center">
                                                            <a class="btn btn-xs btn-danger" href='{% url "retos:retos_rechazar_solicitud_joven" joven.id reto.id %}'>Cancelar Invitación</a>
                                                        </td>
                                                    </tr>                                           
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                                
                            </div>
                        </div>
                    </div> 
                    <div class="row">                                 
                        <div class="col-12 my-2" align="right">
                            <button class="btn btn-primary" name="finalizar">Finalizar</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $('.table').DataTable({
                    "language": {
                        "sProcessing":    "Procesando...",
                        "sLengthMenu":    "Mostrar _MENU_ registros",
                        "sZeroRecords":   "No se encontraron resultados",
                        "sEmptyTable":    "Ningún dato disponible en esta tabla",
                        "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix":   "",
                        "sSearch":        "Buscar:",
                        "sUrl":           "",
                        "sInfoThousands":  ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst":    "Primero",
                            "sLast":    "Último",
                            "sNext":    "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    }
                });
                $('.dataTables_length').addClass('bs-select');
            });
        </script>

    </div>
{% endblock contenido_panel %}

