.flip-clock {
  text-align: center;
  perspective: 400px;
  margin: 20px auto;
}
.flip-clock *, .flip-clock *:before, .flip-clock *:after {
  box-sizing: border-box;
}
.flip-clock__piece {
  display: inline-block;
  margin: 0 5px;  
}

.flip-clock__slot {
  color: #000;
  font-weight: bolder;
  font-size: 14px;  
}
.card {
  display: block;
  position: relative;
  padding-bottom: 0.72em;
  font-size: 32px;
  line-height: 0.95;
}
.flip-clock__piece:nth-of-type(1) .flip-clock__card .card__top{
  background: rgb(68, 139, 202);
}
.flip-clock__piece:nth-of-type(1) .flip-clock__card .card__bottom{
  background: rgb(68, 139, 202);
}

.flip-clock__piece:nth-of-type(2) .flip-clock__card .card__top{
  background: rgb(102, 45, 145);
}
.flip-clock__piece:nth-of-type(2) .flip-clock__card .card__bottom{
  background: rgb(102, 45, 145);
}

.flip-clock__piece:nth-of-type(3) .flip-clock__card .card__top{
  background: rgb(241, 88, 88);
}
.flip-clock__piece:nth-of-type(3) .flip-clock__card .card__bottom{
  background: rgb(241, 88, 88);
}

.flip-clock__piece:nth-of-type(4) .flip-clock__card .card__top{
  background: rgb(0, 148, 68);
}
.flip-clock__piece:nth-of-type(4) .flip-clock__card .card__bottom{
  background: rgb(0, 148, 68);
}



.card__top, .card__bottom, .card__back::before, .card__back::after {
  display: block;
  height: 0.72em;
  color: #ccc;
  background: #222;
  padding: 0.25em 0.25em;
  border-radius: 0.15em 0.15em 0 0;
  backface-visiblity: hidden;
  transform-style: preserve-3d;
  width: 1.8em;
  transform: translateZ(0);
}
.card__bottom {
  color: #FFF;
  position: absolute;
  top: 50%;
  left: 0;
  border-top: solid 1px #000;
  background: #393939;
  border-radius: 0 0 0.15em 0.15em;
  pointer-events: none;
  overflow: hidden;
}
.card__bottom::after {
  display: block;
  margin-top: -0.72em;
}
.card__back::before, .card__bottom::after {
  content: attr(data-value);
}
.card__back {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0%;
  pointer-events: none;
}
.card__back::before {
  position: relative;
  z-index: -1;
  overflow: hidden;
}
.flip .card__back::before {
  animation: flipTop 0.3s cubic-bezier(.37,.01,.94,.35);
  animation-fill-mode: both;
  transform-origin: center bottom;
}
.flip .card__back .card__bottom {
  transform-origin: center top;
  animation-fill-mode: both;
  animation: flipBottom 0.6s cubic-bezier(.15,.45,.28,1);
}
@keyframes flipTop {
  0% {
    transform: rotateX(0deg);
    z-index: 2;
 }
  0%, 99% {
    opacity: 0.99;
 }
  100% {
    transform: rotateX(-90deg);
    opacity: 0;
 }
}
@keyframes flipBottom {
  0%, 50% {
    z-index: -1;
    transform: rotateX(90deg);
    opacity: 0;
 }
  51% {
    opacity: 0.99;
 }
  100% {
    opacity: 0.99;
    transform: rotateX(0deg);
    z-index: 5;
 }
}

@media only screen and (max-width: 480px) {
  .flip-clock__slot {
    font-size: 12px;
  }
  .card {   
    font-size: 28px; 
  }
}

@media only screen and (max-width: 1336px) {
  .flip-clock__slot {
    font-size: 12px;
     
  }
  .card {   
    font-size: 28px;
  }
}