{% extends 'base_cambio_contrasenia.html' %}

{% load bootstrap4 %}

{% block titulo %}
    Crear Contraseña
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item active">Cambiar Contraseña</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-refresh"></i> Crear Contraseña
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <form method="post">{% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-12 mb-2">
                <p class="mb-1">
                    <i>El siguiente formulario le permite crear su contraseña. Una vez cambiada, deberá iniciar sesión de nuevo.</i>
                </p>
            </div>
            <div class="col-6" align="center">
                <div class="row">                    
                    {% for campo in form %}
                        <div class="col-12" align="left">
                            {% bootstrap_field campo placeholder="" %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-6" align="right">
                <button class="btn btn-primary" type="submit">Crear Contraseña <i class="icon-arrow-right"></i></button>
            </div>
        </div>
    </form>
{% endblock contenido_panel %}

