{% extends 'base_tablas.html' %}
{% load static %}

{% block titulo %}
    Gestión Opciones
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url "retos:listado" %}">Gestión Retos</a></li>
    <li class="breadcrumb-item"><a href="{% url "cuartos:listado" reto.id %}">Gestión Preguntas</a></li>
    <li class="breadcrumb-item active"> Gestión Opciones</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    Gestión Opciones
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan las opciones y sus diferentes herramientas para su gestión.</i>
            </p>
        </div>
        <div class="col-md-12" align="right">
            <a class="btn btn-primary" href="{% url "cuartos:opcion_registrar" reto.id cuarto.id pregunta.id %}"><i class="fas fa-plus"></i> Registrar Opción</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>                        
                        <th>Enunciado</th>                        
                        <th>Es correcta</th>    
                        <th>Acciones</th>                        
                    </tr>
                    </thead>
                    <tbody>
                    {% for opcion in opciones %}
                        <tr>
                            <td>{{opcion.enunciado}}</td>                                        
                            <td align="center">
                                {% if opcion.es_correcta == True %}
                                    <span class="label label-lime">OPCIÓN CORRECTA</span>
                                {% else %}
                                    <span class="label label-secondary">OPCIÓN INCORRECTA</span>
                                {% endif %}
                            </td>
                            <td align="center">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <a title="Modificar" href="{% url 'cuartos:opcion_modificar' reto.id cuarto.id pregunta.id opcion.id %}"><i class="fas fa-pen-alt"></i></a>                                        
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="col-md-12" align="left">
                    <a class="btn btn-primary" href="{% url "cuartos:preguntas_listado" reto.id cuarto.id %}"><i class="fas fa-arrow-left"></i> Atrás </a>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

