{% extends 'base.html' %}

{% load bootstrap4 %}

{% block titulo %}
    Registrar Opción
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url "retos:listado" %}">Gestión Retos</a></li>
    <li class="breadcrumb-item"><a href="{% url "cuartos:listado" reto.id %}">Gestión Cuartos</a></li>
    <li class="breadcrumb-item"><a href="{% url "cuartos:acto_listado" reto.id cuarto.id %}">Gestión Preguntas</a></li>
    <li class="breadcrumb-item active">Registrar Opción</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    Registrar Opción
{% endblock titulo_pagina %}

{% block contenido_panel %}
<div>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <div class="col-12 mb-2">
                <p class="mb-1">
                    <i>El siguiente formulario permite el registro de una opción en el sistema.</i>
                </p>
            </div>
            <div class="row">
                <div class="row col-10">
                    {% for campo in form %}
                        {% if campo.name == 'activo' or campo.name == 'es_correcta'%}
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                {% bootstrap_field campo field_class="form-check checkbox checkbox-css pt-0 checkbox-inline" placeholder="" %}
                            </div>
                        {% else %}
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                {% bootstrap_field campo placeholder="" %}
                            </div>
                        {% endif %}                            
                    {% endfor %}                        
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col-6" align="left">
                <a class="btn btn-secondary" href="{% url "cuartos:opciones_listado" reto.id cuarto.id pregunta.id %}"><i class="fa fa-angle-left"></i> Atrás</a>
            </div>
            <div class="col-6" align="right">
                <button class="btn btn-primary" type="submit">Registrar Opción <i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </form>
</div>
    
{% endblock contenido_panel %}


