{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    Perfil Actual
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Perfiles</li>
    <li class="breadcrumb-item">Perfil Actual</li>
    <li class="breadcrumb-item active">Detalle</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-chart icon-orange"></i> Perfil Actual    
{% endblock titulo_pagina %}

{% block contenido %}
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 px-0 card-group">
            <div class="card border-0 mx-1 my-1">
                {% if joven.foto_perfil %}
                    <a href="{{joven.foto_perfil.url}}" data-lightbox="gallery-group-joven-{{ joven.pk }}">
                        <div class="hovereffect">
                            <img src="{{joven.foto_perfil.url}}" class="card-img-top img img-fluid centerImage">
                        </div>
                    </a>
                {% else %}
                    <div class="hovereffect">
                        <img src="{% static 'img/extra/no-image.jpg' %}" class="card-img-top img img-fluid centerImage">
                    </div>
                {% endif %}
                <div class="card-body tarjetas" style="padding-left: 5px">
                    <div class="row">
                        <div class="col-7">
                            <h6 class="pt-2">Fecha de modificación: {{ joven.modificado|date:'M d, Y' }}</h6>
                        </div>
                    </div>
                    <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4; border-top: 1px solid #c4c4c4">
                        <div class="col-12 py-2" align="center">
                            <h6>FECHA DE NACIMIENTO</h6>
                            {{ joven.fecha_de_nacimiento|date:'M d, Y' }} - {{ joven.obtener_edad_joven }} años
                        </div>
                    </div>
                    <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                        <div class="col-12 py-2" align="center">
                            <h6>REDES SOCIALES</h6>
                            {% if joven.facebook %}
                                <a class="mr-1" title="Facebook" target="_blank" href="{{ joven.facebook }}"><i class="icon-social-facebook"></i></a>
                            {% endif %}
                            {% if joven.instagram %}
                                <a class="mr-1" title="Instagram" target="_blank" href="{{ joven.instagram }}"><i class="fab fa-instagram"></i></a>
                            {% endif %}
                            {% if joven.twitter %}
                                <a title="Twitter" target="_blank" href="{{ joven.twitter }}"><i class="icon-social-twitter"></i></a>
                            {% endif %}
                        </div>
                    </div>                    
                </div>
                <div class="row ml-1 mt-1">
                    <div class="col-12 py-2" align="center">
                        <a href="{% url 'usuarios:modificar_mi_perfil_actual' request.user.pk %}" class="btn btn-primary px-4">Modificar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-xl-8 col-lg-8 col-md-6 col-sm-12 col-xs-12 px-0">
            <div class="row border-0 mx-1 my-1 px-3 py-3 info-contenido" style="background: #fff">
                <div class="col-12">
                    <h4>¿De dónde soy?</h4>
                    <p>{{ joven.ciudad }}</p>
                </div>
                <div class="col-12">
                    <h4>¿Cómo se conforma mi hogar?</h4>
                    <p>Vivo
                        {% if joven.personas_en_hogar <= 1 %}
                            {% if joven.genero == 'F' %}Sola{% else %}Solo{% endif %}
                        {% else %}
                            {% if joven.vive_con_familia %}
                                con {{ joven.personas_en_hogar }} personas en mi hogar (incluyéndome).
                            {% else %}
                                con {{ joven.personas_en_hogar }} personas (incluyéndome).
                            {% endif %} 
                        {% endif %}                    
                    </p>
                </div>
                <div class="col-12 mt-3">
                    <h4>¿De cuánto son ingresos en mi grupo familiar?</h4>
                    <p>{{ joven.get_ingresos_grupo_familiar_display }}</p>
                </div>
                <div class="col-12 mt-3">
                    <h4>¿Cuál es mi formación académica?</h4>
                    <p>{{ joven.get_formacion_academica_display }}, {{ joven.ultimo_grado }} {% if joven.formacion_academica == 'P' or joven.formacion_academica == 'B' %}Grado{% elif joven.formacion_academica == 'T' %}Año{% elif joven.formacion_academica == 'PF' %}Semestre{% endif %}.</p>
                </div>
                <div class="col-12 mt-3">
                    <h4>¿Estoy recibiendo algún tipo de capacitación o educación formal?</h4>
                    <p>{% if joven.capacitaciones %}Sí, en la jornada {{ joven.jornadas|join:', ' }}.{% else %}No.{% endif %}</p>
                </div>
                <div class="col-12 mt-3">
                    <h4>¿En la actualidad siento que tengo un buen vivir?</h4>
                    <p>{{ joven.get_forma_vivir_display }}</p>
                </div>
                <div class="col-12 mt-3">
                    <h4>¿Cuáles son los 3 factores que más afectan tu sensación de tener bienestar?</h4>
                    <p>{{ joven.factores_de_sensacion_bienestar|join:', ' }}</p>
                </div>
                <div class="col-12 mt-3">
                    <h4>¿En general, cómo está mi salud?</h4>
                    <p>{{ joven.get_estado_salud_display }}</p>
                </div>
                <div class="col-12 mt-3">
                    <h4>¿En qué actividad ocupé la mayor parte del tiempo en el mes pasado?</h4>
                    <p>{{ joven.get_actividad_que_ocupo_tiempo_display }}</p>
                </div>
                <div class="col-12 mt-3">
                    <h4>¿Tengo hijos?</h4>
                    <p>{{ joven.get_hijos_display }}</p>
                </div>
            </div>
        </div>
    </div>    
{% endblock contenido %}

{% block js %}
    {{ block.super }}    
{% endblock js %}