{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    {{ perfil.nombre_perfil }}
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Perfiles</li>
    <li class="breadcrumb-item">Perfiles Deseados</li>
    <li class="breadcrumb-item"><a href="{% url 'perfiles_deseados:mis_perfiles_deseados' %}">Mis Perfiles Deseados</a></li>
    <li class="breadcrumb-item active">{{ perfil.nombre_perfil }}</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-diamond icon-orange"></i> {{ perfil.nombre_perfil }}
{% endblock titulo_pagina %}

{% block contenido %}
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 px-0">
            <div class="card border-0 mx-1 my-1">
                {% if perfil.foto_perfil %}
                    <a href="{{perfil.foto_perfil.url}}" data-lightbox="gallery-group-perfil-{{ perfil.pk }}">
                        <div class="hovereffect">
                            <img src="{{perfil.foto_perfil.url}}" class="card-img-top img img-fluid centerImage">
                        </div>
                    </a>
                {% else %}
                    <div class="hovereffect">
                        <img src="{% static 'img/extra/escenario_deseado.jpg' %}" class="card-img-top img img-fluid centerImage">
                    </div>
                {% endif %}
                <div class="card-body tarjetas" style="padding-left: 5px">
                    <div class="row">
                        <div class="col-7">
                            <h6 class="pt-2">Fecha de creación: {{ perfil.creado|date:'M d, Y' }}</h6>
                        </div>
                        <div class="col-5" align="right">
                            <span class="favoritos {% if perfil.favorito %}favorito{% endif %} pr-1">
                                    <a title="Mi Perfil Favorito" id="favorite-perfil-{{ perfil.pk }}" href="javascript:modal_favorito({{ perfil.pk }})"><i class="fas fa-heart fa-lg"></i></a>
                            </span>
                        </div>
                    </div>
                    <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                        <div class="col-12 py-2" align="center">
                            <h6>TRIBU DESEADA</h6>
                            <img style="width: 13%;" title="{{ perfil.tribu_deseada.nombre|title }}" alt="{{ perfil.tribu_deseada.nombre|title }}" class="mx-0" src="{{ perfil.tribu_deseada.imagen.url }}">
                        </div>
                    </div>
                    <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                        <div class="col-12 py-2" align="center">
                            <h6>NIVEL DE CONOCIMIENTO DESEADO</h6>
                            <img style="width: 13%;" title="{{ perfil.nivel_conocimiento_deseado.nombre|title }}" alt="{{ perfil.nivel_conocimiento_deseado.nombre|title }}" class="mx-0" src="{{ perfil.nivel_conocimiento_deseado.imagen.url }}">
                        </div>
                    </div>
                    {% if perfil.interes_trabajo or perfil.interes_emprendedor or perfil.interes_independiente or perfil.interes_voluntariado %}
                        <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                            <div class="col-12 py-2" align="center">
                                <h6>ROLES DESEADOS</h6>
                                {% if perfil.interes_trabajo %}
                                    <img style="width: 13%;" title="Colaborador" alt="Colaborador" class="mx-0" src="{% static 'img/roles/13_1.png' %}">
                                {% endif %}
                                {% if perfil.interes_emprendedor %}
                                    <img style="width: 13%;" title="Emprendedor" alt="Emprendedor" class="mx-0" src="{% static 'img/roles/14_1.png' %}">
                                {% endif %}
                                {% if perfil.interes_independiente %}
                                    <img style="width: 13%;" title="Independiente" alt="Independiente" class="mx-0" src="{% static 'img/roles/15_1.png' %}">
                                {% endif %}
                                {% if perfil.interes_voluntariado %}
                                    <img style="width: 13%;" title="Voluntario" alt="Voluntario" class="mx-0" src="{% static 'img/roles/16_1.png' %}">
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="row ml-1 mt-1">
                        <div class="col-12 py-2" align="center">
                            <a href="{% url 'perfiles_deseados:mi_perfil_deseado_modificar' perfil.pk %}" class="btn btn-primary px-4">Modificar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 col-xs-12 px-0">
            <div class="row border-0 mx-1 my-1 px-3 py-3 info-contenido" style="background: #fff">

                <div class="col-12">
                    <h4>¿Cuál es la ruta de conocimiento de mi interés?</h4>
                    <p>{{ perfil.rutas_conocimiento }}</p>
                </div>
                <div class="col-12">
                    <h4>¿Dónde quisiera adquirir experiencia?</h4>
                    <p>{{ perfil.interes_ciudad }}</p>
                </div>
                <div class="col-12">
                    <h4>¿Cuáles son mis necesidades económicas actuales?</h4>
                    <p>{{ perfil.get_necesidad_ingresos_display }}</p>
                </div>
                <div class="col-12 mt-3">
                    <h4>¿Cómo me gustaría aprender?</h4>
                    <p>{{ perfil.deseos_aprendizaje|join:', ' }}</p>
                </div>
                <div class="col-12 mt-3">
                    <h4>¿Cuánto podrías invertir en mi preparación académica semestralmente?</h4>
                    <p>{{ perfil.get_capacidad_inversion_formacion_display }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal draggable fade" id="favorito" data-backdrop="static">
        <div class="modal-dialog justify-content-center">
            <div class="modal-content">
                <div class="modal-header box">
                    <h4 class="modal-title"><i class="fas fa-heart fa-lg"></i> Seleccionar Perfil Deseado como Favorito</h4>
                    <button aria-label="Close" class="close" type="button" data-dismiss="modal">
                        <i class="fas fa-times"></i></button>
                </div>
                <div class="modal-body mb-2 mt-2 ml-2 mr-2 text-center">
                    <p>Si cambias de perfil deseado favorito cambiarán las recomendaciones.<br>¿Deseas continuar?</p>
                    <input type="hidden" id="pk_favorito" value="">
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <p><button onclick="perfil_favorito({{ request.user.pk }})" class="btn btn-primary px-3">Sí</button></p>
                    <p><a class="btn btn-secondary px-2" data-dismiss="modal">No</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block js %}
    <script>
        var token = '{{csrf_token}}';
        var url_api_marcar_perfil_favorito = "{% url 'perfiles_deseados:api_favorito_perfil_deseado' %}"
    </script>
    <script src="{% static 'js/custom/calificacion.js' %}"></script>
{% endblock js %}