{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    Mis Perfiles Deseados
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Perfiles</li>
    <li class="breadcrumb-item">Perfiles Deseados</li>
    <li class="breadcrumb-item active">Mis Perfiles Deseados</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-chart icon-orange"></i> Mis Perfiles Deseados
    <p style="color:gray; font-size: 14px; line-height: normal; font-weight: normal;" class="mt-2">
        Aquí podrás crear tantos futuros posibles para ti como quieras y guardarlos, es muy importante que veas muchas
        alternativas para tu futuro y no te conformes con la primera que creas o otros te hayan dicho.
        <b>IMPORTANTE:</b> el
        perfil deseado que marques con el <b>CORAZÓN</b> es el que definirá que búsquedas haremos para ti en <b>Mi
        Eslabón</b>, si cambias de
        perfil deseado, cambiamos todas las búsquedas que hacemos para ti ¡Sencillo y Fantástico! sin embargo las
        tarjetas que marques como
        favoritas no cambiarán así cambies de escenario deseado, si quieres guardar
        alguna de un perfil deseado anterior solo márcala como <b>favorita</b> y listo, podrás cambiar tus búsquedas
        cambiando o afinando lo que quieres de ti a futuro.
    </p>

{% endblock titulo_pagina %}

{% block contenido %}
    <div class="row">
        <div class="col-9">
            {#            <form method="GET">#}
            {#                <input type="submit" value="Ver Todo" class="btn btn-sm {% if not tag %}btn-orange{% else %}btn-outline-orange{% endif %} ml-1">#}
            {#                {% for tipo in tipos %}#}
            {#                    <input type="submit" name="tag" value="{{ tipo.tipo__nombre }}" class="btn btn-sm {% if tipo.tipo__nombre == tag %}btn-orange{% else %}btn-outline-orange{% endif %} ml-1">#}
            {#                {% endfor %}#}
            {#            </form>#}
        </div>
        <div class="col-3" align="right">
            <form method="GET">
                <div class="form-group" style="margin:0; position: relative; width:100%">
                    <input id="id_q" class="controls form-control"
                           style="border: solid 1px; border-color: rgb(248, 96, 12); background-color:white !important;"
                           type="text" name="q" placeholder="Buscar...">
                    <button type="submit" id="btn_buscar" class="btn-buscar"
                            style="border: solid 1px; color: rgb(248, 96, 12); border-color: rgb(248, 96, 12); border-radius: 0px 100px 100px 0px;">
                        <i class="fa fa-arrow-down"></i></button>
                </div>
            </form>

        </div>
        <div class="col-12">
            <div class="row card-group">
                {% for perfil in perfiles %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 px-0 card-group">
                        <div class="card border-0 mx-1 my-1">
                            {% if perfil.foto_perfil %}
                                <a href="{{ perfil.foto_perfil.url }}"
                                   data-lightbox="gallery-group-perfil-{{ perfil.pk }}">
                                    <div class="hovereffect embed-responsive embed-responsive-4by3">
                                        <img src="{{ perfil.foto_perfil.url }}"
                                             class="card-img-top img img-fluid embed-responsive-item">
                                    </div>
                                </a>
                            {% else %}
                                <div class="hovereffect embed-responsive embed-responsive-4by3">
                                    <img src="{% static 'img/extra/escenario_deseado.jpg' %}"
                                         class="card-img-top img img-fluid embed-responsive-item">
                                </div>
                            {% endif %}
                            <div class="card-body">
                                <a href="{% url 'perfiles_deseados:mi_perfil_deseado_detalle' perfil.pk %}"
                                   style="width: 100%">
                                    <h6 class="card-title m-t-0 m-b-10"
                                        data-max-characters="80">{{ perfil.nombre_perfil }}</h6>
                                </a>
                                <div class="row ml-1"
                                     style="border-top: 1px solid #c4c4c4; border-bottom: 1px solid #c4c4c4">
                                    <div class="col-12 py-2" align="center">
                                        <div class="justify-content-center" style="margin-left: -20px">
                                            <img style="width: 8%;" title="{{ perfil.tribu_deseada.nombre|title }}"
                                                 alt="{{ perfil.tribu_deseada.nombre|title }}" class="mx-0"
                                                 src="{{ perfil.tribu_deseada.imagen.url }}">
                                            {% if perfil.interes_trabajo %}
                                                <img style="width: 12%;" title="Colaborador" alt="Colaborador"
                                                     class="mx-0" src="{% static 'img/roles/1_1.png' %}">
                                            {% endif %}
                                            {% if perfil.interes_emprendedor %}
                                                <img style="width: 12%;" title="Emprendedor" alt="Emprendedor"
                                                     class="mx-0" src="{% static 'img/roles/2_1.png' %}">
                                            {% endif %}
                                            {% if perfil.interes_independiente %}
                                                <img style="width: 12%;" title="Independiente" alt="Independiente"
                                                     class="mx-0" src="{% static 'img/roles/3_1.png' %}">
                                            {% endif %}
                                            {% if perfil.interes_voluntariado %}
                                                <img style="width: 12%;" title="Voluntario" alt="Voluntario"
                                                     class="mx-0" src="{% static 'img/roles/4_1.png' %}">
                                            {% endif %}
                                            <img style="width: 14%;"
                                                 title="{{ perfil.nivel_conocimiento_deseado.nombre|title }}"
                                                 alt="{{ perfil.nivel_conocimiento_deseado.nombre|title }}" class="mx-0"
                                                 src="{{ perfil.nivel_conocimiento_deseado.imagen.url }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-7 pr-0 centrar" align="left">
                                        <span class="favoritos {% if perfil.favorito %}favorito{% endif %} pr-2">
                                                <a title="Mi Perfil Favorito" id="favorite-perfil-{{ perfil.pk }}"
                                                   href="javascript:modal_favorito({{ perfil.pk }})"><i
                                                        class="fas fa-heart fa-lg"></i></a>
                                        </span>

                                        <span>
                                            <a title="Tomo esta decisión"
                                               href="javascript:perfil_decision({{ perfil.pk }});">
                                                <img src="{% static "img/realidades/estrella_" %}{{ perfil.decision }}.png"
                                                     alt="decision"
                                                     style="width: 30px"
                                                     id="decision-perfil-{{ perfil.pk }}"
                                                >
                                            </a>
                                        </span>
                                    </div>
                                    <div class="col-5 px-0 pt-1" align="right">
                                        <a href="{% url 'perfiles_deseados:mi_perfil_deseado_detalle' perfil.pk %}"
                                           class="btn btn-primary px-3">Ver Más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-12 px-0" align="center">
                        <h4 class="mt-5">No se encontraron perfiles.</h4>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="container mt-2 col-12">
            {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a href="
                            {% if tag|cambiar_espacio_por_mas in request.get_full_path %}
                            ?{{ tag|cambiar_espacio_por_mas }}&page=1
                            {% elif 'q' in request.get_full_path %}?{{ tag|cambiar_espacio_por_mas }}&page=1
                            {% else %}?page=1{% endif %}"
                               class="page-link">Primero</a>
                        </li>
                        <li class="page-item">
                            <a href="
                            {% if tag|cambiar_espacio_por_mas in request.get_full_path %}
                            ?{{ tag|cambiar_espacio_por_mas }}&page={{ page_obj.previous_page_number }}
                            {% elif 'q' in request.get_full_path %}?{{ tag|cambiar_espacio_por_mas }}&page={{ page_obj.next_page_number }}
                            {% else %}?page={{ page_obj.previous_page_number }}{% endif %}"
                               class="page-link">Atrás</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled" style="background-color: lightgray;">
                            <a href="#" class="page-link" style="background-color: lightgray;">Atrás</a>
                        </li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="page-item {% if page_obj.number == i %}active{% endif %}"
                                style="background-color: rgb(102, 45, 145); border: 1px solid rgb(102, 45, 145);">
                                <a href="
                                {% if tag|cambiar_espacio_por_mas in request.get_full_path %}?{{ tag|cambiar_espacio_por_mas }}&page={{ i }}
                                {% elif 'q' in request.get_full_path %}?{{ tag|cambiar_espacio_por_mas }}&page={{ page_obj.next_page_number }}
                                {% else %}?page={{ i }}{% endif %}"
                                   class="page-link"
                                   style="background-color: rgb(102, 45, 145); border: 1px solid rgb(102, 45, 145);">{{ i }}</a>
                            </li>
                        {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                            <a href="
                                {% if tag|cambiar_espacio_por_mas in request.get_full_path %}?{{ tag|cambiar_espacio_por_mas }}&page={{ i }}
                                {% elif 'q' in request.get_full_path %}?{{ tag|cambiar_espacio_por_mas }}&page={{ page_obj.next_page_number }}
                                {% else %}?page={{ i }}{% endif %}"
                               class="page-link">{{ i }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a href="
                            {% if tag|cambiar_espacio_por_mas in request.get_full_path %}
                            ?{{ tag|cambiar_espacio_por_mas }}&page={{ page_obj.next_page_number }}
                            {% elif 'q' in request.get_full_path %}?{{ tag|cambiar_espacio_por_mas }}&page={{ page_obj.next_page_number }}
                            {% else %}?page={{ page_obj.next_page_number }}{% endif %}"
                               class="page-link">Siguiente</a>
                        </li>
                        <li class="page-item">
                            <a href="
                            {% if tag|cambiar_espacio_por_mas in request.get_full_path %}
                            ?{{ tag|cambiar_espacio_por_mas }}&page={{ paginator.page_range|length }}
                            {% elif 'q' in request.get_full_path %}?{{ tag|cambiar_espacio_por_mas }}&page={{ paginator.page_range|length }}
                            {% else %}?page={{ paginator.page_range|length }}{% endif %}"
                               class="page-link">Último</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled" style="background-color: lightgray;">
                            <a href="#" class="page-link" style="background-color: lightgray;">Siguiente</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>

    <div class="modal fade"
         data-backdrop="static"
         data-keyboard="false"
         id="tres_decisiones"
         tabindex="-1"
         aria-labelledby="tres_decisiones"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="background-color: transparent; border: 0">
                <div class="modal-body" style="padding:0;">
                    <img src="{% static "img/realidades/advertencia_2.png" %}" alt="advertencia"
                         class="img-fluid">
                </div>
                <div class="modal-footer" style="border: 0; padding: 0; padding-right: .3rem; padding-top: .5rem;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i style="color: white;" class="fas fa-times fa-2x"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal draggable fade" id="favorito" data-backdrop="static">
        <div class="modal-dialog justify-content-center">
            <div class="modal-content">
                <div class="modal-header box">
                    <h4 class="modal-title"><i class="fas fa-heart fa-lg"></i> Seleccionar Perfil Deseado como Favorito
                    </h4>
                    <button aria-label="Close" class="close" type="button" data-dismiss="modal">
                        <i class="fas fa-times"></i></button>
                </div>
                <div class="modal-body mb-2 mt-2 ml-2 mr-2 text-center">
                    <p>Si cambias de perfil deseado favorito cambiarán las recomendaciones.<br>¿Deseas continuar?</p>
                    <input type="hidden" id="pk_favorito" value="">
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <p>
                        <button onclick="perfil_favorito({{ request.user.pk }})" class="btn btn-primary px-3">Sí
                        </button>
                    </p>
                    <p><a class="btn btn-secondary px-2" data-dismiss="modal">No</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block js %}
    <script>
        const token = '{{csrf_token}}';
        const url_api_marcar_perfil_favorito = "{% url 'perfiles_deseados:api_favorito_perfil_deseado' %}";
        const url_api_decision_perfil_deseado = "{% url 'perfiles_deseados:api_decision_perfil_deseado' %}";
    </script>
    <script src="{% static 'js/custom/calificacion.js' %}"></script>
    <script>
        $("p").each(function () {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if (length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
        $("h6").each(function () {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if (length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
        $("span").each(function () {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if (length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
    </script>
{% endblock js %}