{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load extra_tags %}

{% block titulo %}
    Modificar Perfil Actual
{% endblock titulo %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/intl-tel-input-17.0.0/build/css/intlTelInput.css' %}">

    <style>
        .iti__flag {
            background-image: url("{% static 'plugins/intl-tel-input-17.0.0/build/img/flags.png' %}");
        }

        @media (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
            .iti__flag {
                background-image: url("{% static 'plugins/intl-tel-input-17.0.0/build/img/flags@2x.png' %}");
            }
        }

        .iti.iti--allow-dropdown {
            display: block;
        }
    </style>
{% endblock css %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Perfiles</li>
    <li class="breadcrumb-item"><a href="{% url 'usuarios:mi_perfil_actual' %}">Perfil Actual</a></li>
    <li class="breadcrumb-item active">Modificar Perfil Actual</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-chart icon-orange"></i> Modificar Perfil Actual
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row">
        <div class="mb-3 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <form class="mt-5" method="post">{% csrf_token %}
                <div class="row">
                    {% for campo in form %}
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 px-3" align="left">
                            {% bootstrap_field campo placeholder="" layout='horizontal' horizontal_label_class="col-md-6" horizontal_field_class="col-md-6"%}
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-12" align="center">
                        <button class="btn btn-primary" type="submit">Guardar Perfil Actual <i class="fa fa-save"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock contenido_panel %}

{% block js %}
    <script>
        $(document).ready(function() {
            confirmar_capacitaciones()
            let factores_bienestar = $('#id_factores_sensaciones_bienestar')
            factores_bienestar.attr("data-maximum-selection-length", 3);
        });
    </script>


    <script src="{% static 'js/custom/usuario_forms.js' %}"></script>
    <script src="{% static 'js/custom/datos_basicos.js' %}"></script>
    <script>
        let opciones_multiples = $("form-control django-select2 select2-hidden-accessible")

        let div_factores = $('select[name ="factores_sensaciones_bienestar"]').parent()
        div_factores.on( "click", function(){
            let ul_factores_bienestar = $(this).children("span").children("span").children("span").children("ul")
            let opciones = $(this).children("span").find("span:nth-child(2)")           

        }).mouseover(function(){
            let ul_factores_bienestar = $(this).children("span").children("span").children("span").children("ul")            
        })

        function confirmar_capacitaciones(){
            let capacitaciones = $('#id_capacitaciones').val()
            let jornadas = $('#id_jornadas_del_joven')

            if (capacitaciones === 'True'){
                jornadas.attr('disabled', false);
                jornadas.attr('required', true);
            }else{
                jornadas.attr('disabled', true);
                jornadas.attr('required', false);
            }
        }


        $('#id_capacitaciones')[0].onchange = function(){
            confirmar_capacitaciones()
        }


        let div_jornadas = $('select[name ="jornadas_del_joven"]').parent()
        let ul_factores_bienestar = div_jornadas.children("span").children("span").children("span").children("ul")
        let cantidad_opciones = ul_factores_bienestar.children("li").length
    </script>

    <script src="{% static 'plugins/intl-tel-input-17.0.0/build/js/intlTelInput.js' %}"></script>
    <script>
        modificar_indicativo_telefono();
    </script>
{% endblock js %}