{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load extra_tags %}

{% block titulo %}
    Modificar Perfil Deseado
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Perfiles</li>
    <li class="breadcrumb-item">Perfiles Deseados</li>
    <li class="breadcrumb-item"><a href="{% url 'perfiles_deseados:mis_perfiles_deseados' %}">Mis Perfiles Deseados</a></li>
    <li class="breadcrumb-item"><a href="{% url 'perfiles_deseados:mi_perfil_deseado_detalle' perfil.pk %}">{{ perfil.nombre_perfil }}</a></li>
    <li class="breadcrumb-item active">Modificar Perfil Deseado</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-chart icon-orange"></i> Modificar Perfil Deseado
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row">
        <div class="mb-3 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <p class="mb-4 mr-5">
                <i>¡Soñemos juntos! ¿Cómo te ves en el futuro? ¿Cuáles son los logros que deseas alcanzar en los
                    próximos tres a cinco años?. ¿Qué haremos con esta información? Te conectaremos con
                    diferentes rutas, retos y oportunidades que serán afines a tus sueños y te llevarán al
                    lugar donde quieres estar en un futuro. Puedes elegir varios perfiles de futuro
                    (elegir varias tribus e intereses) y al final elegir el perfil que más te gusta.
                    Recuerda contestar todas las preguntas.
                </i>
            </p>
            <form class="ml-5 mt-5" method="post" enctype="multipart/form-data">{% csrf_token %}
                {% for campo in form %}
                    {% if campo.name == 'tribu_deseada'%}
                    <div class="row justify-content-center">
                        <div class="col-8" >
                            {% bootstrap_field campo placeholder="" layout='horizontal' horizontal_label_class="col-md-6" horizontal_field_class="col-md-6" %}
                        </div>
                        <div class="col-1 mt-2">
                            <a href="{% static 'img/perfil_deseado/tribus.png' %}" data-lightbox="gallery-group-tribus"><i class="fa fa-lg fa-question"></i></a>
                        </div>
                    </div>
                    {% elif campo.name == 'nivel_conocimiento_deseado' %}
                    <div class="row justify-content-center">
                        <div class="col-8">
                                {% bootstrap_field campo placeholder="" layout='horizontal' horizontal_label_class="col-md-6" horizontal_field_class="col-md-6" %}
                            </div>
                            <div class="col-1 mt-2" >
                                <a href="{% static 'img/perfil_deseado/roles.png' %}" data-lightbox="gallery-group-roles"><i class="fa fa-lg fa-question"></i></a>
                            </div>
                        </div>
                    {% elif campo.name == 'interes_voluntariado' %}
                    <div class="row justify-content-center">
                        <div class="col-8">
                            {% bootstrap_field campo placeholder="" layout='horizontal' horizontal_label_class="col-md-6" horizontal_field_class="col-md-6" %}
                        </div>
                        <div class="col-1 mt-2" >
                            <a href="{% static 'img/perfil_deseado/roles_1.png' %}" data-lightbox="gallery-group-voluntario"><i class="fa fa-lg fa-question"></i></a>
                        </div>
                    </div>
                    {% elif campo.name == 'interes_trabajo' %}
                    <div class="row justify-content-center">
                        <div class="col-8">
                            {% bootstrap_field campo placeholder="" layout='horizontal' horizontal_label_class="col-md-6" horizontal_field_class="col-md-6" %}
                        </div>
                        <div class="col-1 mt-2">
                            <a href="{% static 'img/perfil_deseado/colaboradores.png' %}" data-lightbox="gallery-group-trabajo"><i class="fa fa-lg fa-question"></i></a>
                        </div>
                    </div>
                    {% elif campo.name == 'interes_independiente' %}
                    <div class="row justify-content-center">
                        <div class="col-8">
                            {% bootstrap_field campo placeholder="" layout='horizontal' horizontal_label_class="col-md-6" horizontal_field_class="col-md-6" %}
                        </div>
                        <div class="col-1 mt-2" >
                            <a href="{% static 'img/perfil_deseado/independientes.png' %}" data-lightbox="gallery-group-independiente"><i class="fa fa-lg fa-question"></i></a>
                        </div>
                    </div>
                    {% elif campo.name == 'interes_emprendedor' %}
                    <div class="row justify-content-center">
                        <div class="col-8">
                            {% bootstrap_field campo placeholder="" layout='horizontal' horizontal_label_class="col-md-6" horizontal_field_class="col-md-6" %}
                        </div>
                        <div class="col-1 mt-2">
                            <a href="{% static 'img/perfil_deseado/emprendedores.png' %}" data-lightbox="gallery-group-emprendedor"><i class="fa fa-lg fa-question"></i></a>
                        </div>
                    </div>
                    {% elif campo.name == 'foto_perfil'%}
                    <div class="row justify-content-center">
                        <div style="height: calc(1.2em + 14px + 2px); overflow:hidden;" class="row custom-file col-8 ">
                            <div>
                                <input type="file" name="{{campo.name}}" accept="image/*" class="custom-file-input" id="id_{{campo.name}}">
                                <label style="height: calc(1.2em + 14px + 2px);" class="custom-file-label" for="id_{{campo.name}}">{{form.foto_perfil.value|default:'Seleccione una imagen...'}}</label>
                            </div>
                        </div>
                        <div class="col-8 form-check checkbox checkbox-css pt-0 checkbox-inline my-1" align="left">
                            <div class="form-check pl-0">
                                <input type="checkbox" class="form-check-input" name="imagen-clear" id="imagen-clear_id">
                                <label class="form-check-label" for="imagen-clear_id">Limpiar Imagen de perfil</label>
                            </div>
                        </div>
                        <div class="col-1 mt-2">
                        </div>
                    </div>
                    {% elif campo.name == 'capacidad_inversion_formacion' %}
                    <div class="row justify-content-center">
                        <div class="col-8">
                            {% bootstrap_field campo placeholder="" layout='horizontal' horizontal_label_class="col-md-6" horizontal_field_class="col-md-6"%}
                        </div>
                        <div class="col-1 mt-2">
                            <a onclick="abrir_filtro()" href="#">
                                <i class="fa fa-lg fa-question"></i>
                            </a>
                        </div>
                    </div>
                    {% elif not campo.name == 'pais' and not campo.name == 'salario' and not campo.name == 'region' %}
                    <div class="row justify-content-center">
                        <div class="col-8">
                            {% bootstrap_field campo placeholder="" layout='horizontal' horizontal_label_class="col-md-6" horizontal_field_class="col-md-6"%}
                        </div>
                        <div class="col-1 mt-2">
                        </div>
                    </div>
                    {%endif%}
                {% endfor %}
                <div class="row">
                    <div class="col-12" align="center">
                        <button class="btn btn-primary" type="submit">Guardar Perfil Deseado <i class="fa fa-save"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal draggable fade" id="modal_filtro" data-backdrop="static" style="display: none;">
        <div class="modal-dialog justify-content-center">
            <div class="modal-content">
                <form method="POST">{% csrf_token %}
                    <div class="modal-body" align="center">
                        <div class="col-8" align="left"
                            style="color: #0C2C37; font-family: 'Avenir LT Pro 55 Roman'; font-size: small;">
                            {% bootstrap_field form.pais placeholder="" layout='horizontal' horizontal_label_class="col-md-12"%}
                            <span id="salario_pais"></span>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button onclick="cerrar_filtro()" class="btn btn-secondary btn-close px-3">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido_panel %}

{% block js %}
    <script src="{% static 'plugins/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'js/custom/usuario_forms.js' %}"></script>
    <script>
        var total_forms = {{ formularios_list|length }} + 3;
        $('.nav-item').css("width",String(100/total_forms)+'%');
        init_paises_intereses();
        var tribus = document.getElementById("id_tribu_deseada");
        tribus.onchange = function(){
            $('#id_rutas_conocimiento').empty();
            $('#id_rutas_conocimiento').attr('disabled', false)
        };
        $(document).ready(function() {
            $("#id_tribu_deseada").select2({
                templateResult: formatState,
                templateSelection: formatState,
            });
        });
        function formatState (state) {
            if (!state.id) {
                return state.text
            }
            nombre = state.text;
            url = '/static/img/tribus/'+String(state.id)+'_1.png';
            var $state = $(
                '<span><img style="height:30px; width:30px" src="'+ url +'" class="img-flag" /> ' + nombre + '</span>'
            );
            return $state;
        }

        document.querySelector('#id_foto_perfil').addEventListener('change',function(e){
            var fileName = document.getElementById("id_foto_perfil").files[0].name;
            var nextSibling = e.target.nextElementSibling;
            nextSibling.innerText = fileName;
        });
    </script>

    <script>
        function abrir_filtro() {
            $("#modal_filtro").modal('show');
        }
        function cerrar_filtro() {
            $("#modal_filtro").modal('hide');
        }
    </script>

    <script>

        //var pais_id = $("#id_pais option:selected").val(); //Id del pais
        //var pais_nombre = $("#id_pais option:selected").text(); //Nombre del pais
        var select_pais = document.getElementById('id_pais');

        function enviar() {
            $.ajax({
                type: "POST",
                data: { 'pais_id': $("#id_pais option:selected").val(), "csrfmiddlewaretoken": "{{csrf_token}}" },
                dataType: "json",
                url: '{% url "perfiles_deseados:consultar_salario" %}',
                success: function (response) {
                    $('#salario_pais').text(response.salario);
                },
            });
        }

        select_pais.onchange = function () {
            enviar();
        };

    </script>
{% endblock js %}