{% extends 'base_tablas.html' %}
{% load static %}

{% block titulo %}
    Jurados Asignados al Reto
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Retos</li>
    <li class="breadcrumb-item"><a>Jurados</a></li>    
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-chart icon-orange"></i> Jurados Asignados al Reto
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan los jurados actuales asignados al Reto.</i>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Joven</th>
                        <th>Tipo Identificacion</th>
                        <th>Identificación</th>
                        <th>Correo electrónico</th>  
                        <th>Acciones</th>                      
                        
                    </tr>
                    </thead>
                    <tbody>
                    {% for jurado in jurados %}
                        <tr>
                            <td>{{jurado.get_full_name}}</td>
                            <td>{{jurado.tipo_identificacion}}</td>
                            <td>{{jurado.identificacion }}</td> 
                            <td>{{jurado.email}}</td>
                            <td>
                                {%if mensaje %}
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                                   
                                        <h6> El Reto no ha finalizado</h6>                                    
                                    </div>
                                {%else%}
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                                   
                                        <a href="{% url 'retos:asignar_jurados_equipos' reto.id jurado.id%}"><i class="icon-people"></i></a>    
                                        <a href="{% url 'retos:asignar_jurados_jovenes' reto.id jurado.id%}"><i class="icon-user-following"></i></a>                                   
                                    </div>
                                {%endif%}
                            </td>                       
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}
