{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Asignación equipos a evaluar
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url "retos:listado" %}">Gestión Retos</a></li>
    <li class="breadcrumb-item"><a>Consultar Jurados</a></li>
    <li class="breadcrumb-item active">Asignación equipos a evaluar</li>    
{% endblock miga_pan %}

{% block titulo_pagina %}
<i class="icon-rocket icon-orange"></i> Asignación equipos a evaluar
    <p style="color:gray; font-size: 14px; line-height: normal; font-weight: normal;">
    </p>
{% endblock titulo_pagina %}

{% block contenido %}
    {% block contenido_panel %}
    <form method="post">{% csrf_token %}
        <div class="row">
            <div class="mb-3 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">           
                <div class="tab-content p-15 rounded bg-white">
                    <div class="tab-pane fade active show">
                            <div class="row col-12 mt-3">
                                <div class="col-12">
                                    {% bootstrap_form form %}
                                </div>
                            </div>
                            <div class="row col-12 mb-5" align="center">
                                <div class="col-12">
                                    <button class="btn btn-primary" type="submit" name="seleccionar">Seleccionar Equipo <i class="fa fa-angle-right"></i></button>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12 justify-content-center">
                                <div class="row col-12 m-t-5 justify-content-center">                               
                                    <div class="table-responsive col-lg-12 col-xl-6">
                                        <h3>Equipos Asignados</h3>
                                        <table class="table table-striped table-bordered" cellspacing="0">
                                            <thead> 
                                                <th>Nombre</th>
                                                
                                                <th></th>
                                            </thead>
                                            <tbody>
                                                {% for equipo in equipos %}
                                                    <tr>                                                       
                                                        <td>
                                                            {{equipo.nombre}}
                                                        </td>
                                                        <td align="center">
                                                            <a class="btn btn-xs btn-danger" href='{% url "retos:eliminar_jurado_participante" reto.pk jurado.pk equipo.pk %} '>Eliminar Equipo</a>
                                                        </td>
                                                    </tr>                                           
                                                {% endfor %}
                                            </tbody>
                                        </table>                                       
                                    </div>
                                </div>
                            </div>  
                        </div>
                        <div class="row">                                 
                            <div class="col-12 my-2" align="right">
                                <button type="submit" class="btn btn-primary" name="finalizar">Finalizar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {% endblock contenido_panel %}
{% endblock contenido %}
