{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Contactanos
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="breadcrumb-item">Solicitudes PQRS</li>    
{% endblock miga_pan %}

{% block titulo_pagina %}
    
{% endblock titulo_pagina %}
{% block contenido %}
<div>
    {% block contenido_panel %}
        <div class=" tab-content bg-white" style="position: relative;">            
            <div class="row  pt-5 pl-5 pr-5 pb-5">      
                <div class="col-lg-6 col-xl-5 col-sm-12">
                    <div class="row">
                        <h1 class="text-bolderfont-weight-bolder">¡CONTANOS!</h1>
                        <p class="font-weight-bold"> Si tienes una felicitación, queja o reclamo de algún aspecto técnico que necesite de nuestro soporte; déjanos tus datos, describe el problema o lo que te gusto de nuestra plataforma, y toma captura de pantalla para poder ayudarte a tener una mejor experiencia con nosotros.</p>
                    </div>
                    <form method="post" enctype="multipart/form-data" class="fo">{% csrf_token %}
                        {% bootstrap_field form.correo %}
                        {% bootstrap_field form.asunto %}
                        {% bootstrap_field form.descripcion %}
                        {% bootstrap_field form.tipo_solicitud %}
    
                        <div style="height: calc(1.2em + 14px + 2px); overflow:hidden;" class="custom-file">
                            <div>
                                <input type="file" name="archivo" accept="image/*, application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword" class="custom-file-input" id="id_archivo">
                                <label style="height: calc(1.2em + 14px + 2px);" class="custom-file-label" for="inputGroupFile01">{{user.archivo|default:'Seleccione un archivo...'}}</label>
                            </div>
                        </div>
                        <div class="col-12 pt-0">
                            <p style="color: lightgray; font-weight: bolder;"><b style="color: black;">Tamaño maximo:</b> 2MB</p>
                            <p style="color: lightgray; font-weight: bolder;">Formatos: .doc, .docx, .pfd, .jpg, .png</p>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12" align="right">
                            <p><button  class="btn btn-primary" type="submit" id="btn-datos-personales">Enviar</button></p>                           
                        </div>
    
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-xl-7 d-none d-lg-block"  style="position: absolute; right: 0;">
                <div class="container col-10" style="position: absolute ; bottom: 0; right: 0;">
                    <img width="85%" height="85%"  src="{% static 'img/pqrs/mano_pqr.jpg' %}"> 
                </div>
            </div>
                     
        </div>
    {% endblock contenido_panel %}
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content row">
                <div class="modal-header text-center bg bg-red">                
                    <h1 class="modal-title col-12" id="exampleModalLongTitle">
                        <i style="font-size: 6rem; color: white;" class="fa fa-exclamation-triangle"></i>
                    </h1>                    
                </div>
                <div class="modal-body text-center">
                    <h3 style="color: black; font-weight: bolder;"><strong>Tamaño de archivo</strong></h3>
                    <p class="h5">El tamaño del archivo excede el minimo permitido (2MB)</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <a class="btn btn-danger pl-5 pr-5" style="color: white;" data-dismiss="modal">Aceptar</a>                    
                </div>
            </div>
        </div>
    </div> 
</div>
{% endblock contenido %}


{% block js %}
    {{ block.super }}
    <script>
        document.querySelector('#id_archivo').addEventListener('change',function(e){
            var fileName = document.getElementById("id_archivo").files[0].name;
            var nextSibling = e.target.nextElementSibling;
            nextSibling.innerText = fileName;
        });

                
        const input = document.getElementById('id_archivo')

        input.addEventListener('change', (event) => {
            const target = event.target
                if (target.files && target.files[0]) {
                const maxAllowedSize = 2 * 1024 * 1024;
                if (target.files[0].size > maxAllowedSize) {
                    $('#exampleModalCenter').modal('show');
                    target.value = ''
                    event.target.nextElementSibling.innerText=''
                }
            }
        })
    </script>
    
{% endblock js %}