{% load bootstrap4 %}

{% for campo in form %}
    {% if campo.name == 'activo' %}
        <div class="col-12 col-sm-12 col-md-12 col-lg-12" align="left">
            {% bootstrap_field campo field_class="form-check checkbox checkbox-css pt-0 checkbox-inline" placeholder="" %}
        </div>
    {% else %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            {% bootstrap_field campo placeholder="" %}
        </div>
    {% endif %}
{% endfor %}