{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    Habilidades Sociales
{% endblock titulo %}

{% block miga_pan %}
{% endblock miga_pan %}

{% block css %}
    <style>
        @media (min-width: 992px) {
            .col-1-5 {
                width: 20%;
                float: left;
                position: relative;
                min-height: 1px;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
    </style>
{% endblock %}

{% block contenido %}
    <div class="row border px-md-5 py-md-5">
        <div class="col-md-12">
            <div class="row border">
                <div class="col-md-12 bg-white">
                    <div class="row">
                        <div class="col-4 col-md-2 py-2">
                            <div class="card" style="border:0;">
                                <img src="{% static 'img/puntajes/habilidades_soci.jpg' %}" class="card-img-top"
                                     alt="Habilidades cociales">
                                <div class="card-footer" style="border:0;">
                                    <h5 style="font-size: .7rem;" align="center">Habilidades Sociales</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-8 col-md-10 my-3">
                            <h5 style="font-size: 1rem;">Competencias blandas y personalidad</h5>
                            <p class="text-justify" style="font-size: 1rem;">
                                Si quieren hacer equipo contigo, contratarte, asociarse, becarte, así como tú al
                                enamorarte, siempre debes preguntarte ¿cómo es esa persona? ¿Cómo se comporta? Así que
                                acostúmbrate a diversas pruebas que te hacen para saberlo. Nosotros aplicamos pruebas
                                que nos permitieran saber como te relacionas contigo y con otros y medimos 13 aspectos
                                de tu personalidad y analizamos estas 10 habilidades de futuro.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 col-md-2 py-2">

                            <img src="{% static 'img/resultados/world_economic.png' %}" class="card-img-top"
                                 alt="World economic">

                        </div>
                        <div class="col-8 col-md-10 my-3">
                            <h5 style="font-size: 1rem;">¿Qué necesita el mundo de mí de aquí al 2025?</h5>
                            <p class="text-justify" style="font-size: 1rem;">
                                El Foro Económico Mundial es una organización muy importante que busca ayudar a
                                desarrollar la economía en el mundo. Estudian que habilidades serán las más requeridas
                                en unos años y publican cada tanto sus resultados. Mira tus resultados en el TOP 10 y
                                ubica tus fortalezas y tus zonas de desarrollo.
                            </p>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        {% for habilidad in habilidades %}
                            <div class="col-1-5">
                                <div class="row justify-content-center">
                                    <div class="col">
                                        <div class="card border-0">
                                            <img src="{{ habilidad.imagen.url }}"
                                                 alt="{{ habilidad.nombre }}"
                                                 class="card-img-top img-fluid"
                                                 style="width: 90%"
                                            >
                                            <div class="card-footer border-0">
                                                <div class="row">
                                                    <a class="btn btn-block btn-primary"
                                                       style="background-color:#f6c72f; width: 90%"
                                                       href="{% url "habilidades_del_futuro:detalle" habilidad.pk %}"
                                                    >
                                                        CONOCERME
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-12 mb-3">
                            <a class="btn btn-secondary"
                               href="{% url 'tablero_jovenes:tablero_joven' request.user.id %}">
                                <i class="fa fa-angle-left"></i> Volver
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block js %}

{% endblock js %}