{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    Detalle - {{ habilidad.nombre }}
{% endblock titulo %}

{% block miga_pan %}
{% endblock miga_pan %}

{% block contenido %}
    <div class="row border px-md-5 py-md-4">
        <div class="row border bg-white">
            <div class="col-6 col-md-2 col-sm-6 pt-3">
                <div class="card pb-0 border-0">
                    <img src="{% static 'img/puntajes/habilidades_soci.jpg' %}"
                         class="card-img-top overflow-hidden img-responsive"
                         alt="Habilidades cociales">
                    <div class="card-footer" style="border:0;">
                        <h5 style="font-size: .7rem;" align="center">Habilidades Sociales</h5>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-2 col-sm-6 pt-3">
                <div class="card pb-0 border-0">
                    <img src="{{ habilidad.imagen.url }}" class="card-img-top overflow-hidden img-responsive"
                         alt="{{ habilidad.nombre }}">
                </div>
            </div>
            <div class="col-12 col-md-8 col-sm-12 pt-3 pr-md-3 px-3">
                <h5 style="font-size: 1rem;">DEFINICIÓN COMPETENCIA</h5>
                <p class="text-justify" style="font-size: 1rem;">
                    {{ habilidad.descripcion }}
                </p>
            </div>
            <div class="col-12">
                <div class="row border mx-md-3 mb-md-3 px-md-2 py-md-2">
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 align-self-md-center">
                        <a href="javascript:modal('{{ habilidad.link_video }}','{{ habilidad.nombre }}')">
                            <img src="{% static "img/resultados/video.png" %}"
                                 alt="Icono video"
                                 class="img img-fluid"
                            >
                        </a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-9 col-lg-9 px-3 py-3">
                        <p class="text-justify" style="font-size: 1rem;">
                            {{ habilidad.descripcion_video }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border bg-white px-md-3 py-md-3 my-md-3 mt-3">
            <div class="col-12 pt-3">
                <div class="row px-3">
                    <h5 style="font-size: 1rem;">¿Cómo me miden?</h5>
                    <p class="text-justify" style="font-size: 1rem;">
                        {{ habilidad.como_se_mide }}
                    </p>
                </div>
                <div class="row justify-content-sm-center justify-content-md-start">
                    {% for competencia in habilidad.competencias_asociadas.all %}
                        <div class="col-md-6 col-lg-6 col-xl-3 col-sm-auto col-12" style="height: 100%;">
                            <div class="m-t-20 text-center">
                                <h5>{{ competencia.nombre }}</h5>
                            </div>
                            <div
                                    {% if competencia.codigo_calificacion == 'Números' %}
                                        id="chartdiv7"
                                    {% elif competencia.codigo_calificacion == 'Lectura' %}
                                        id="chartdiv8"
                                    {% elif competencia.codigo_calificacion == 'Negociación' %}
                                        id="chartdiv14"
                                    {% elif competencia.codigo_calificacion == 'Autoconciencia' %}
                                        id="chartdiv"
                                    {% elif competencia.codigo_calificacion == 'Empatía' %}
                                        id="chartdiv4"
                                    {% elif competencia.codigo_calificacion == 'Autocontrol' %}
                                        id="chartdiv3"
                                    {% elif competencia.codigo_calificacion == 'Autoconfianza' %}
                                        id="chartdiv2"
                                    {% elif competencia.codigo_calificacion == 'Dirección' %}
                                        id="chartdiv11"
                                    {% elif competencia.codigo_calificacion == 'Carisma' %}
                                        id="chartdiv9"
                                    {% elif competencia.codigo_calificacion == 'Innovación' %}
                                        id="chartdiv13"
                                    {% elif competencia.codigo_calificacion == 'Desarrollo' %}
                                        id="chartdiv12"
                                    {% elif competencia.codigo_calificacion == 'Motivación' %}
                                        id="chartdiv5"
                                    {% elif competencia.codigo_calificacion == 'Inspiración' %}
                                        id="chartdiv10"
                                    {% elif competencia.codigo_calificacion == 'Socializar' %}
                                        id="chartdiv6"
                                    {% elif competencia.codigo_calificacion == 'Liderazgo_laizzes_faire' %}
                                        id="lid-3"
                                    {% elif competencia.codigo_calificacion == 'Liderazgo_transaccional' %}
                                        id="lid-2"
                                    {% elif competencia.codigo_calificacion == 'Liderazgo_transformacional' %}
                                        id="lid-1"
                                    {% endif %} style="height: 75%;">
                            </div>
                            <a href="{% url "formularios:detalle_competencia" competencia.pk %}?back={{ request.path }}"
                               class="btn btn-primary btn-block"
                               style="background-color: #f26827;"
                            >
                                CONOCERME MÁS
                            </a>
                        </div>
                    {% endfor %}
                    <div class="col-12 my-3">
                        <a class="btn btn-secondary"
                           href="{% url 'habilidades_del_futuro:mis_habilidades' %}">
                            <i class="fa fa-angle-left"></i> Volver
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal draggable fade" id="detalle-habilidad" data-backdrop="static">
        <div class="modal-dialog modal-lg justify-content-center">
            <div class="modal-content" style="background-color: transparent!important; border: 0;">
                <button
                        aria-label="Close"
                        class="close btn-close">
                    <img src="/static/img/realidades/close.png">
                </button>
                <div class="modal-body" align="center">
                    <div id="iframe_video" class="embed-responsive embed-responsive-16by9" style="display: none;">
                        <iframe id="src_video" frameborder="0" allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <h4 id="titulo-habilidad" class="modal-title ml-3" style="color: white; text-align: left;"></h4>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block js %}
    <script src="{% static 'js/custom/graficas/librerias/core.js' %}"></script>
    <script src="{% static 'js/custom/graficas/librerias/charts.js' %}"></script>
    <script src="{% static 'js/custom/graficas/librerias/animated.js' %}"></script>
    <script>
        const url_api_habilidades_competencia = "{% url 'habilidades_del_futuro:api_habilidades_competencia' %}";
        const id_joven = '{{ request.user.pk }}';
        let id = '';
    </script>
    <script>
        const cargar_tacometros = (id) => {
            let datos = {};
            $.ajax({
                    type: "GET",
                    async: false,
                    contentType: "application/json",
                    url: url_api_habilidades_competencia,
                    data: {
                        'id_joven': id_joven,
                        'id_competencia': id
                    },
                    success: (data) => {
                        datos = data
                    }
                }
            );
            return datos;
        }

        {% for competencia in habilidad.competencias_asociadas.all %}
            id = '{{ competencia.pk }}';
            {% if competencia.codigo_calificacion == 'Números' %}
                const genero_del_joven = cargar_tacometros(id).genero_del_joven;
                const edad_del_joven = cargar_tacometros(id).edad_del_joven;
                const puntaje_razonamiento_cuantitativo = cargar_tacometros(id).puntaje_razonamiento_cuantitativo;
            {% elif competencia.codigo_calificacion == 'Lectura' %}
                const puntaje_analisis_en_lectura = cargar_tacometros(id).puntaje_analisis_en_lectura;
            {% elif competencia.codigo_calificacion == 'Negociación'%}
                const promedio_liderazgo_claridad_en_negociar = cargar_tacometros(id).promedio_liderazgo_claridad_en_negociar;
            {% elif competencia.codigo_calificacion == 'Autoconciencia'%}
                const puntaje_de_auto_conciencia = cargar_tacometros(id).puntaje_de_auto_conciencia;
            {% elif competencia.codigo_calificacion == 'Empatía'%}
                const puntaje_de_empatia = cargar_tacometros(id).puntaje_de_empatia;
            {% elif competencia.codigo_calificacion == 'Autocontrol'%}
                const puntaje_de_auto_control = cargar_tacometros(id).puntaje_de_auto_control;
            {% elif competencia.codigo_calificacion == 'Autoconfianza'%}
                const puntaje_de_auto_confianza = cargar_tacometros(id).puntaje_de_auto_confianza;
            {% elif competencia.codigo_calificacion == 'Dirección'%}
                const promedio_liderazgo_direccion_rutinaria = cargar_tacometros(id).promedio_liderazgo_direccion_rutinaria;
            {% elif competencia.codigo_calificacion == 'Carisma'%}
                const promedio_liderazgo_carisma = cargar_tacometros(id).promedio_liderazgo_carisma;
            {% elif competencia.codigo_calificacion == 'Innovación'%}
                const promedio_liderazgo_innovacion = cargar_tacometros(id).promedio_liderazgo_innovacion;
            {% elif competencia.codigo_calificacion == 'Desarrollo'%}
                const promedio_liderazgo_deseo_que_otros_crezcan = cargar_tacometros(id).promedio_liderazgo_deseo_que_otros_crezcan;
            {% elif competencia.codigo_calificacion == 'Motivación'%}
                const puntaje_de_motivacion = cargar_tacometros(id).puntaje_de_motivacion;
            {% elif competencia.codigo_calificacion == 'Inspiración'%}
                const promedio_liderazgo_inspiracion = cargar_tacometros(id).promedio_liderazgo_inspiracion;
            {% elif competencia.codigo_calificacion == 'Socializar'%}
                const puntaje_de_capacidad_para_socializar = cargar_tacometros(id).puntaje_de_capacidad_para_socializar;
            {% elif competencia.codigo_calificacion == 'Liderazgo_laizzes_faire'%}
                const puntaje_liderazgo_3 = cargar_tacometros(id).puntaje_liderazgo;
            {% elif competencia.codigo_calificacion == 'Liderazgo_transaccional' %}
                const puntaje_liderazgo_2 = cargar_tacometros(id).puntaje_liderazgo;
            {% elif competencia.codigo_calificacion == 'Liderazgo_transformacional' %}
                const puntaje_liderazgo_1 = cargar_tacometros(id).puntaje_liderazgo;
            {% endif %}
        {% endfor %}

    </script>
    {% for competencia in habilidad.competencias_asociadas.all %}
        {% if competencia.codigo_calificacion == 'Números' %}
            <script src="{% static 'js/custom/graficas/jovenes/grafica_razonamiento_cuantitativo.js' %}"></script>
        {% elif competencia.codigo_calificacion == 'Lectura' %}
            <script src="{% static 'js/custom/graficas/jovenes/grafica_analisis_en_lectura.js' %}"></script>
        {% elif competencia.codigo_calificacion == 'Negociación' %}
            <script src="{% static 'js/custom/graficas/jovenes/grafica_liderazgo_negociar.js' %}"></script>
        {% elif competencia.codigo_calificacion == 'Autoconciencia' %}
            <script src="{% static 'js/custom/graficas/jovenes/grafica_autoconciencia.js' %}"></script>
        {% elif competencia.codigo_calificacion == 'Empatía' %}
            <script src="{% static 'js/custom/graficas/jovenes/grafica_empatia.js' %}"></script>
        {% elif competencia.codigo_calificacion == 'Autocontrol' %}
            <script src="{% static 'js/custom/graficas/jovenes/grafica_autocontrol.js' %}"></script>
        {% elif competencia.codigo_calificacion == 'Autoconfianza' %}
            <script src="{% static 'js/custom/graficas/jovenes/grafica_autoconfianza.js' %}"></script>
        {% elif competencia.codigo_calificacion == 'Dirección' %}
            <script src="{% static 'js/custom/graficas/jovenes/grafica_liderazgo_direccion_rutinaria.js' %}"></script>
        {% elif competencia.codigo_calificacion == 'Carisma' %}
            <script src="{% static 'js/custom/graficas/jovenes/grafica_liderazgo_carisma.js' %}"></script>
        {% elif competencia.codigo_calificacion == 'Innovación' %}
            <script src="{% static 'js/custom/graficas/jovenes/grafica_liderazgo_innovacion.js' %}"></script>
        {% elif competencia.codigo_calificacion == 'Desarrollo' %}
            <script src="{% static 'js/custom/graficas/jovenes/grafica_liderazgo_deseo.js' %}"></script>
        {% elif competencia.codigo_calificacion == 'Motivación' %}
            <script src="{% static 'js/custom/graficas/jovenes/grafica_motivacion.js' %}"></script>
        {% elif competencia.codigo_calificacion == 'Inspiración' %}
            <script src="{% static 'js/custom/graficas/jovenes/grafica_liderazgo_inspiracion.js' %}"></script>
        {% elif competencia.codigo_calificacion == 'Socializar' %}
            <script src="{% static 'js/custom/graficas/jovenes/grafica_capacidad_socializar.js' %}"></script>
        {% elif competencia.codigo_calificacion == 'Liderazgo_laizzes_faire' or competencia.codigo_calificacion == 'Liderazgo_transaccional' or competencia.codigo_calificacion == 'Liderazgo_transformacional' %}
            <script src="{% static 'js/custom/graficas/jovenes/grafica_liderazgo_dimensiones.js' %}"></script>
            <script>
                am4core.ready(function () {
                    // Themes begin
                    am4core.useTheme(am4themes_animated);
                    // Themes end
                    let min = 0;
                    let max = 5;
                    {% if competencia.codigo_calificacion == 'Liderazgo_laizzes_faire'%}
                        dibujar_tacometro(
                            puntaje_liderazgo_3,
                            min,
                            max,
                            "lid-3",
                            {
                                bajo: {low: 0, high: 3.65},
                                medio: {low: 3.65, high: 4.2},
                                alto: {low: 4.2, high: 5}
                            }
                        );
                    {%elif competencia.codigo_calificacion == 'Liderazgo_transaccional'%}
                        dibujar_tacometro(
                            puntaje_liderazgo_2,
                            min,
                            max,
                            "lid-2",
                            {
                                bajo: {low: 0, high: 3},
                                medio: {low: 3, high: 3.72},
                                alto: {low: 3.72, high: 5}
                            }
                        );
                    {%elif competencia.codigo_calificacion == 'Liderazgo_transformacional' %}
                        dibujar_tacometro(
                            puntaje_liderazgo_1,
                            min,
                            max,
                            "lid-1",
                            {
                                bajo: {low: 0, high: 1.83},
                                medio: {low: 1.83, high: 2.83},
                                alto: {low: 2.83, high: 5}
                            }
                        );
                    {% endif %}
                });
            </script>
        {% endif %}
    {% endfor %}

    <script>
        function modal(src_file, nombre) {
            document.getElementById('titulo-habilidad').innerHTML = nombre;
            document.getElementById('iframe_video').style.display = 'none';
            document.getElementById('src_video').src = '';
            document.getElementById('iframe_video').style.display = '';
            document.getElementById('src_video').src = src_file;
            $("#detalle-habilidad").modal('show');
        }

        $(document).on("click", ".btn-close", function (event) {
            close_modal()
        });

        function close_modal() {
            $("#detalle-habilidad").modal('hide');
            document.getElementById('src_video').src = '';
        }
    </script>
{% endblock %}

