{% extends 'base_tablas.html' %}
{% load extra_tags %}

{% block titulo %}
    Gestión de Habilidad
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item active">Gestión de Habilidad</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-direction icon-orange"></i> Gestión de Habilidad
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan las habilidades registradas en el sistema y las diferentes herramientas
                    para su gestión:</i>
            </p>
        </div>
        <div class="col-md-12" align="right">
            <a class="btn btn-primary" href="{% url 'habilidades_del_futuro:registrar' %}">
                <i class="fas fa-plus"></i> Registrar habilidad</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Descripción del video</th>
                        <th>Orden</th>
                        <th>Link del video</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for habilidad in habilidades %}
                        <tr>
                            <td>{{ habilidad.nombre }}</td>
                            <td>{{ habilidad.descripcion }}</td>
                            <td>{{ habilidad.descripcion_video }}</td>
                            <td align="center">{{ habilidad.orden }}</td>
                            <td style="max-width: 80px" align="center">
                                <a href="javascript:modal('video','{{ habilidad.link_video }}','{{ habilidad.nombre }}')">
                                    <i class="icon-camrecorder"></i> Ver Video
                                </a>
                            </td>
                            <td align="center">
                                {% if habilidad.activo == True %}
                                    <span class="label label-lime">ACTIVO</span>
                                {% else %}
                                    <span class="label label-secondary">INACTIVO</span>
                                {% endif %}
                            </td>
                            <td align="center">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <a
                                                title="Modificar"
                                                href="{% url "habilidades_del_futuro:modificar" habilidad.id %}"
                                        >
                                            <i class="fas fa-pen-alt"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal draggable fade" id="detalle-recurso" data-backdrop="static">
        <div class="modal-dialog justify-content-center">
            <div class="modal-content">
                <div class="modal-header box">
                    <h4 id="titulo-recurso" class="modal-title"></h4>
                    <button aria-label="Close" class="close btn-close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body" align="center">
                    <div id="iframe_video" style="display: none;">
                        <iframe id="src_video" frameborder="0" style="width: 100%; height: 250px"
                                src=""
                                title="YouTube video player"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="close()" class="btn btn-secondary btn-close px-3">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}
{% block js %}
    {{ block.super }}
    <script>
        function modal(tipo, src_file, nombre) {
            document.getElementById('titulo-recurso').innerHTML = nombre;
            document.getElementById('iframe_video').style.display = 'none';
            document.getElementById('src_video').src = '';
            document.getElementById('iframe_video').style.display = '';
            document.getElementById('src_video').src = src_file;
            $("#detalle-recurso").modal('show');
        }

        $(document).on("click", ".btn-close", function (event) {
            close_modal()
        });

        function close_modal() {
            $("#detalle-recurso").modal('hide');
        }
    </script>
{% endblock js %}