{% extends 'base.html' %}

{% block titulo %}
    Modificar Habilidad
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Habilidades del futuro</li>
    <li class="breadcrumb-item"><a href="{% url "habilidades_del_futuro:listado" %}">Gestión Habilidad</a></li>
    <li class="breadcrumb-item active">Modificar Habilidad</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-paper-clip icon-orange"></i> Modificar Habilidad
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <div class="col-12 mb-2">
                <p class="mb-1">
                    <i>El siguiente formulario permite la modificación de una habilidad en el sistema.</i>
                </p>
            </div>
            {% include "habilidades_del_futuro/_form.html" %}
        </div>
        <div class="row">
            <div class="col-6" align="left">
                <a class="btn btn-secondary" href="{% url "habilidades_del_futuro:listado" %}"><i
                        class="fa fa-angle-left"></i> Atrás</a>
            </div>
            <div class="col-6" align="right">
                <button class="btn btn-primary" type="submit">Modificar Habilidad <i class="fa fa-angle-right"></i>
                </button>
            </div>
        </div>
    </form>
{% endblock contenido_panel %}
