{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Insignias Propias
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Insignias</li>
    <li class="breadcrumb-item"><a href="">Insignias Propias</a></li>
    
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-badge icon-orange"></i> Insignias
{% endblock titulo_pagina %}
{% block contenido %}
<div>
    {% block contenido_panel %}
        <div class="row">
            <div class="col-12">
                <div class="container col-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item active">
                        <a class="nav-link active" data-toggle="tab" href="#propias">Propias</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="propias" class="tab-pane fade In active show">
                            <div class="row container-fluid">
                                <div class="col-12">
                                    <p>Acá puedes ver esas insignias que nos permiten identificar lo que tienes y lo que buscas, conocelas e investiga como ganar más en MiEslabón</p>
                                </div>
                                <div class="col-12 border-top mt-2">
                                    <div class="row justify-content-start">
                                        <div class="col-12 mt-1" align="left">
                                            <strong class="h4 mx-2">Tribu</strong><a href="{% static 'img/insignias/tribus.png' %}" data-lightbox="gallery-group-tribus"><i class="fa fa-question"></i></a>
                                            <h4 class="col-12 mt-1"></h4> 
                                        </div>
                                        {% for insignia in insignias_tribus%}
                                            <div class="col-xl-1 col-sm-4 text-center">
                                                <div class="justify-content-center">
                                                    <img src="{{insignia.imagen.url}}" class="rounded-lg img-fluid" style="background-color: #EDEFEF;" alt="Imagen insignia tribu"/>
                                                    <b>{{insignia.nombre}}</b>
                                                </div>
                                            </div>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-12 border-top mt-2">
                                    <div class="row justify-content-start">
                                        <div class="col-12 mt-1" align="left">
                                            <strong class="h4 mx-2">Roles</strong><a href="{% static 'img/insignias/roles.png' %}" data-lightbox="gallery-group-tribus"><i class="fa fa-question"></i></a>
                                            <h4 class="col-12 mt-1"></h4> 
                                        </div>
                                        {% for insignia in insignias_rol%}
                                            <div class="col-xl-1 col-sm-4 mx-2 mt-2 text-center ">
                                                <div class="justify-content-center">
                                                    <img src="{{insignia.imagen.url}}" class="rounded-lg img-fluid" style="background-color: #EDEFEF;"  alt="Imagen insignia roles"/>
                                                    <b>{{insignia.nombre}}</b>
                                                </div>
                                            </div>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-12 border-top mt-2">
                                    <div class="row justify-content-start">
                                        <div class="col-12 mt-1" align="left">
                                            <strong class="h4 mx-2">Nivel de conocimiento</strong><a href="{% static 'img/insignias/niveles_conocimiento.png' %}" data-lightbox="gallery-group-tribus"><i class="fa fa-question"></i></a>
                                            <h4 class="col-12 mt-1"></h4> 
                                        </div>
                                        {% for insignia in insignias_nivel_conocimiento%}
                                            <div class="col-xl-1 col-sm-4 text-center">
                                                <div class="justify-content-center">
                                                    <img src="{{insignia.imagen.url}}"  class="rounded-lg img-fluid" style="background-color: #EDEFEF;" alt="Imagen insignia nivel de conocimiento"/>
                                                    <b>{{insignia.nombre}}</b>
                                                </div>
                                            </div>
                                        {%endfor%}
                                    </div>
                                </div>

                            </div>
                        </div>
                        
                    </div>
                </div> 
            </div>
        </div>
        
    {% endblock contenido_panel %}
</div>
{% endblock contenido %}


{% block js %}
    {{ block.super }}    
{% endblock js %}