{% extends 'base_tablas.html' %}

{% block titulo %}
    Gestión Cuartos
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url "retos:listado" %}">Gestión Retos</a></li>
    <li class="breadcrumb-item active"> Gestión Cuartos</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    Gestión Cuartos
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan los cuartos y sus diferentes herramientas para su gestión.</i>
            </p>
        </div>
        <div class="col-md-12" align="right">
            <a class="btn btn-primary" href="{% url "cuartos:registrar" reto.id %}"><i class="fas fa-plus"></i> Registrar Cuarto</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Título</th>
                        <th>Tipo</th>
                        <th>Indicación</th>
                        <th>Ojo a esto</th>
                        <th>Peso</th>
                        <th>Dificultad</th>
                        <th>Orden</th>                        
                        <th>Link</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cuarto in cuartos %}
                        <tr>
                            <td>{{cuarto.titulo}}</td>
                            <td>{{cuarto.tipo}}</td>
                            <td>
                                <div style="max-width: 600px; max-height:100px; overflow-y: auto">
                                    {{cuarto.indicacion}}
                                </div>
                            </td>
                            <td>
                                <div style="max-width: 600px; max-height:100px; overflow-y: auto">
                                    {{cuarto.ojo_a_esto}}
                                </div>
                            </td>
                            <td>{{cuarto.peso}}</td>
                            <td>{{cuarto.dificultad}}</td>
                            <td>                                
                                {{cuarto.cuarto_reto_cuarto.all.first.orden}}                                
                            </td>                            
                            <td><a href="{{cuarto.link_video}}">Enlace</a></td>
                            <td align="center">
                                {% if cuarto.activo == True %}
                                    <span class="label label-lime">ACTIVO</span>
                                {% else %}
                                    <span class="label label-secondary">INACTIVO</span>
                                {% endif %}
                            </td>
                            <td align="center">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        {% if cuarto.es_descanso == False %}
                                            <a title="Modificar" href="{% url "cuartos:modificar" reto.id cuarto.id %}"><i class="fas fa-pen-alt"></i></a>                                       
                                        
                                            {% if cuarto.tipo.nombre == "Preguntas" %}
                                                <a title="Preguntas" href="{% url "cuartos:preguntas_listado" reto.id cuarto.id %}"><i class="fas fa-cog"></i></a>
                                            {% else %}
                                                <a title="Actos" href="{% url "cuartos:acto_listado" reto.id cuarto.id %}"><i class="fas fa-cog"></i></a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>               
            </div>
            <div class="col-md-12 mt-3" align="left">
                <a class="btn btn-primary" href="{% url "retos:consultar" %}"><i class="fas fa-arrow-left"></i> Atrás </a>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

