{% extends 'base_tablas.html' %}

{% block titulo %}
    Gestión Tipos de Equipo
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Insignias</li>
    <li class="breadcrumb-item active">Gestión Tipos de Equipo</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-badge icon-orange"></i> Gestión Tipos de Equipo
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>Tipos de Equipo registrados: {{ tipos_de_equipo|length }}</i>
            </p>
        </div>
        <div class="col-md-12" align="right">
            <a class="btn btn-primary" href="{% url "insignias:registrar_tipo_equipo" %}"><i class="fas fa-plus"></i> Registrar Tipo de Equipo</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Imagen</th>
                        <th>Estado</th>
                        <th style="min-width: 50px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tipo_equipo in tipos_de_equipo %}
                        <tr>
                            <td>{{tipo_equipo.nombre}}</td>
                            <td>{{tipo_equipo.descripcion}}</td>
                            <td align="center">
                                {% if tipo_equipo.imagen  %}
                                    <a href="{{tipo_equipo.imagen.url}}" data-lightbox="gallery-group">
                                        <div>
                                            <img style="max-width: 50px" src="{{tipo_equipo.imagen.url}}" class="img img-fluid centerImage">
                                        </div>
                                    </a>
                                {% endif %}
                            </td>
                            <td align="center">
                                {% if tipo_equipo.activo == True %}
                                    <span class="label label-lime">ACTIVO</span>
                                {% else %}
                                    <span class="label label-secondary">INACTIVO</span>
                                {% endif %}
                            </td>
                            <td align="center">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <a title="Modificar" href="{% url "insignias:modificar_tipo_equipo" tipo_equipo.id %}"><i class="fas fa-pen-alt"></i></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

