{% extends 'base_tablas.html' %}

{% block titulo %}
    Competencias
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Formularios</li>
    <li class="breadcrumb-item">Gestión Formularios</li>
    <li class="breadcrumb-item active">Competencias</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-open icon-orange"></i> Competencias
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan las competencias registradas en el sistema y diferentes herramientas para su gestión.</i>
            </p>
        </div>
        <div class="col-md-12" align="right">
            <a class="btn btn-primary" href="{% url "formularios:registrar_competencias" %}"><i class="fas fa-plus"></i> Registrar Competencia</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Nombre de la competencia</th>
                        <th>Definición y explicación</th>
                        <th>Necesidad</th>
                        <th>Desarrollo</th>
                        <th>Activo</th>
                        <th style="max-width: 30px;">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for competencia in competencias %}
                        <tr>
                            <td>{{competencia.nombre}}</td>
                            <td>{{competencia.explicacion}}</td>
                            <td>{{competencia.necesidad}}</td>
                            <td>{{competencia.desarrollo}}</td>
                            <td align="center">
                                {% if competencia.activo == True %}
                                    <span class="label label-lime">ACTIVO</span>
                                {% else %}
                                    <span class="label label-secondary">INACTIVO</span>
                                {% endif %}
                            </td>
                            <td align="center">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <a title="Modificar" href="{% url "formularios:modificar_competencias" competencia.id %}"><i class="fas fa-pen-alt"></i></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

