{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    Área y nivel de conocimiento
{% endblock titulo %}

{% block miga_pan %}
{% endblock miga_pan %}

{% block contenido %}
    <div class="row border px-5 py-5">
        <div class="row">
            <div class="col-md-2" style="padding-left: 0">
                <div class="card">
                    <img src="{% static 'img/puntajes/intereses_habilidades.jpg' %}"
                         class="card-img-top"
                         alt="Área y nivel de conocimiento">
                    <div class="card-footer">
                        <h5 style="font-size: .7rem;" align="center">ÁREA Y NIVEL DE CONOCIMIENTO</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-10 my-3">
                <h5 style="font-size: 1rem;">¿De qué sabes y qué tanto sabes de los que sabes?</h5>
                <p style="font-size: 1rem;" class="text-justify">
                    Esta pregunta es muy importante para tener oportunidades, incluso en el colegio, ya lo habrás
                    notado. Así que debes elegir un camino pues no hay ser humano que pueda saber mucho de todo,
                    escogemos de qué queremos saber, según donde crecimos, lo que hemos vivido y las amistades que
                    tenemos.<br/>
                    En Misión Eslabón, Magnus te pedirá que indagues en todas las áreas para que no te quede nada
                    por pensar y puedas ir más allá de lo que te han enseñado hasta ahora, el espíritu de MAGNUS
                    puede cambiar y mejorar su propio destino.
                </p>
            </div>
        </div>
        <div class="row border bg-white my-2">
            <div class="col-md-2">
                <div class="text-center">
                    <img src="{% static "img/resultados/relacion-tribu-familia-rol.png" %}"
                         alt="Relación Tribu-Familia-Rol"
                         class="img img-fluid"
                    >
                </div>
            </div>
            <div class="col-md-10 py-2">
                <h5 style="font-size: 1rem;">
                    TRIBUS DE MISIÓN ESLABÓN
                </h5>
                <p class="text-justify" style="font-size: 1rem;">
                    Así como hay jóvenes como los skaters, los raperos, los pokemones o los piojos que comparten
                    unas creencias y una estética o modo de verse, así mismo son las tribus adultas, así que DEBES
                    CUIDAR de QUE TE GUSTA para saber a qué tribu perteneces.<br/>
                    Primero escoge una o dos tribus (mira como te fue en los puntajes). Luego elegirás las familias
                    que son grupos de conocimientos dentro de cada tribu y finalmente tu rol. Así podrás saber QUE
                    TE APASIONA y por tanto buscar trabajo o estudio en aquello que MÁS TE GUSTA.
                </p>
            </div>
        </div>
        <div class="row border bg-white">
            {% for dato in competencias %}
                <div class="col-lg-3" style="padding-left: 0; padding-right: 0">
                    <div class="card mx-0 mb-3">
                        {% if dato.competencia.imagen %}
                            <a href="{{ dato.competencia.imagen.url }}"
                               data-lightbox="gallery-group-organizacion-{{ dato.competencia.pk }}">
                                <div class="hovereffect">
                                    <img src="{{ dato.competencia.imagen.url }}"
                                         class="card-img-top img img-fluid centerImage" style="height: 240px;">
                                </div>
                            </a>
                        {% else %}
                            <div class="hovereffect">
                                <img src="{% static 'img/extra/no-image.jpg' %}"
                                     class="card-img-top img img-fluid centerImage" style="height: 240px;">
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <a href="" style="width: 100%">
                                <h6 class="card-title m-t-0 m-b-10"
                                    data-max-characters="80">{{ dato.competencia.nombre }}</h6>
                            </a>
                            <div class="row ml-1 mt-3">
                                {% if dato.resultado == 2 %}
                                    <span class="btn btn-primary btn-lg btn-block" style="background-color: #92d050;">
                                        Tienes ALTO interés
                                    </span>
                                {% elif dato.resultado == 1 %}
                                    <span class="btn btn-primary btn-lg btn-block" style="background-color: #ef9600;">
                                        Tienes MEDIO interés
                                    </span>
                                {% else %}
                                    <span class="btn btn-primary btn-lg btn-block" style="background-color: #e2462e;">
                                        Tienes BAJO interés
                                    </span>
                                {% endif %}
                            </div>
                            <div class="row ml-1 mt-3 overflow-auto" style="height: 110px">
                                <p data-max-characters="200"
                                   class="card-text">{{ dato.competencia.explicacion }}</p>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12 px-0 pt-1" align="right">
                                    <a href="{% url "formularios:detalle_aptitudes_e_intereses" dato.competencia.id dato.resultado %}"
                                       class="btn btn-primary btn-lg btn-block"
                                       style="background-color: #55c6d4">
                                        CONOCERME MÁS
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12 px-0" align="center">
                    <h4 class="mt-5">No se encontraron competencias.</h4>
                </div>
            {% endfor %}
            <div class="col-12 mb-3">
                <a class="btn btn-secondary"
                   href="{% url 'tablero_jovenes:tablero_joven' request.user.id %}">
                    <i class="fa fa-angle-left"></i> Volver
                </a>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block js %}
    <script>
        $("p").each(function () {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if (length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
        $("h6").each(function () {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if (length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
    </script>

{% endblock js %}