{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    Habilidades Sociales
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Habilidades Sociales</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-chart icon-orange"></i> Habilidades Sociales
{% endblock titulo_pagina %}
    
{% block contenido %}
    <div class="row">
        <div class="col-12 mb-3">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-9 col-xs-12 float-right">
                <form method="GET">
                    <div class="form-group" style="margin:0; position: relative; width:100%">
                        <input id="id_q" class="controls form-control" style="border: solid 1px; border-color: rgb(248, 96, 12); background-color: white !important;" type="text" name="q" placeholder="Buscar...">
                        <button type="submit" id="btn_buscar" style="border: solid 1px; color: rgb(248, 96, 12); border-color: rgb(248, 96, 12); border-radius: 0px 100px 100px 0px;" class="btn-buscar"><i class="fa fa-arrow-down" style="color: orange;"></i></button>
                    </div>
                </form>                
            </div>
        </div>
        <div class="col-12 contenido">
            <div class="row">
                {% for dato in competencias %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 px-0 card-contenido card">
                        <div class="card border-0 mx-1 my-1">
                            {% if dato.competencia.imagen %}
                                <a href="{{dato.competencia.imagen.url}}" data-lightbox="gallery-group-organizacion-{{ dato.competencia.pk }}">
                                    <div class="hovereffect">
                                        <img src="{{dato.competencia.imagen.url}}" class="card-img-top img img-fluid centerImage" style="height: 250px;">
                                    </div>
                                </a>
                            {% else %}
                                <div class="hovereffect">
                                    <img src="{% static 'img/extra/no-image.jpg' %}" class="card-img-top img img-fluid centerImage" style="height: 250px;">
                                </div>
                            {% endif %}
                            <div class="card-body">
                                <a href="" style="width: 100%">
                                    <h6 class="card-title m-t-0 m-b-10" data-max-characters="80">{{dato.competencia.nombre}}</h6>
                                </a>
                                <div class="row ml-1 mt-3" style="height: 105px" >
                                    <p data-max-characters="200" class="card-text">{{ dato.competencia.explicacion }}</p>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12 px-0 pt-1" align="right">
                                        <a href="{% url "formularios:detalle_competencia" dato.competencia.id %}" class="btn btn-primary px-3 my-2">Ver Más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-12 px-0" align="center">
                        <h4 class="mt-5">No se encontraron competencias.</h4>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block js %}
    <script>
        $("p").each(function() {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if(length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
        $("h6").each(function() {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if(length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
    </script>

{% endblock js %}