{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    Mis experiencias
{% endblock titulo %}

{% block miga_pan %}
{% endblock miga_pan %}

{% block contenido %}
    <div class="row border px-5 py-5">
        <div class="row">
            <div class="col-md-2" style="padding-left: 0">
                <div class="card">
                    <img src="{% static 'img/puntajes/experiencia.jpg' %}"
                         class="card-img-top"
                         alt="Experiencia">
                    <div class="card-footer">
                        <h5 style="font-size: .7rem;" align="center">EXPERIENCIA</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-10 my-3">
                <h5 style="font-size: 1rem;">La experiencia es la historia de nuestros aportes </h5>
                <p style="font-size: 1rem;" class="text-justify">
                    Sin duda uno de los factores que hacen diferencia entre los jóvenes está en quienes solo estudian y
                    quienes además de estudiar empiezan a tener clubes juveniles, un trabajo, hacen un voluntariado,
                    iniciar
                    un negocio propio, en fin ... Salen a probar el mundo.
                    Adquirir experiencia es MUY importante y no quedarte solo estudiando. Piensa que si quieres darle
                    una
                    oportunidad a alguien de jugar en tu equipo, seguro te gustaría que hubiera intentado hacerlo bien
                    antes
                    de jugar para ti.<strong> Así que no se trata de saber, se trata de intentar y vivir
                    experiencias.</strong>
                    Como en el mundo te van a comparar por tu experiencia con otros, la Misión Eslabón te muestra como
                    estas
                    tú frente a otros jóvenes en experiencia.<br/>
                    <strong>Recuerda al ver los resultados pensar en MAGNUS y no dejarte tocar por el espíritu de
                        MINUS.</strong>
                </p>
            </div>
        </div>
        <div class="row border bg-white mt-4">
            {% for competencia in competencias %}
                <div class="col-lg-3" style="padding-left: 0; padding-right: 0">
                    <div class="card mx-0 mb-3">
                        {% if competencia.imagen %}
                            <a href="{{ competencia.imagen.url }}"
                               data-lightbox="gallery-group-organizacion-{{ competencia.pk }}">
                                <div class="hovereffect">
                                    <img src="{{ competencia.imagen.url }}"
                                         class="card-img-top img img-fluid centerImage" style="height: 240px;">
                                </div>
                            </a>
                        {% else %}
                            <div class="hovereffect">
                                <img src="{% static 'img/extra/no-image.jpg' %}"
                                     class="card-img-top img img-fluid centerImage" style="height: 240px;">
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <a href="" style="width: 100%">
                                <h6 class="card-title m-t-0 m-b-10"
                                    data-max-characters="80">{{ competencia.nombre }}</h6>
                            </a>
                            <div class="row ml-1 mt-3 overflow-auto" style="height: 110px">
                                <p data-max-characters="200" class="card-text">{{ competencia.explicacion }}</p>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12 px-0 pt-1" align="right">
                                    <a href="{% url "formularios:detalle_mis_experiencias" competencia.id %}"
                                       class="btn btn-primary btn-lg btn-block"
                                       style="background-color: #7954a2">
                                        CONOCERME MÁS
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12 px-0" align="center">
                    <h4 class="mt-5">No se encontraron competencias.</h4>
                </div>
            {% endfor %}
            <div class="col-12 mb-3">
                <a class="btn btn-secondary"
                   href="{% url 'tablero_jovenes:tablero_joven' request.user.id %}">
                    <i class="fa fa-angle-left"></i> Volver
                </a>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block js %}
    <script>
        $("p").each(function () {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if (length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
        $("h6").each(function () {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if (length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
    </script>

{% endblock js %}