{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    Competencias Cognitivas
{% endblock titulo %}

{% block miga_pan %}
{% endblock miga_pan %}

{% block css %}
    <style>

        .table td, .table th {
            padding: 4px;
            border: 1px solid black;
            border-top: 1px solid black;
            width: 80px;
            height: 80px;
        }

        .tareas {
            width: 80px;
            height: auto;
            border: 1px black solid;
        }

        .table:not(.table-bordered) thead tr th {
            border-top: 1px solid black;
        }

        /* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

        .table::-webkit-scrollbar {
            -webkit-appearance: none;
        }

        .table::-webkit-scrollbar:vertical {
            width: 10px;
        }

        .table::-webkit-scrollbar-button:increment, .contenedor::-webkit-scrollbar-button {
            display: none;
        }

        .table::-webkit-scrollbar:horizontal {
            height: 10px;
        }

        .table::-webkit-scrollbar-thumb {
            background-color: #797979;
            border-radius: 20px;
            border: 2px solid #f1f2f3;
        }

        .table::-webkit-scrollbar-track {
            border-radius: 10px;
        }
    </style>
{% endblock %}

{% block contenido %}
    <div class="row border px-md-5 py-md-5">
        <div class="col-md-12">
            <div class="row border">
                <div class="col-md-12" style="background-color: white;">
                    <div class="row">
                        <div class="col-4 col-sm-4 col-md-2 py-2">
                            <div class="card" style="border:0;">
                                <img src="{% static 'img/puntajes/competencias_cong.jpg' %}" class="card-img-top"
                                     alt="Competencias cognitivas">
                                <div class="card-footer" style="border:0;">
                                    <h5 style="font-size: .7rem;" align="center">COMPETENCIAS COGNITIVAS</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-8 col-sm-8 col-md-10 my-3">
                            <h5 style="font-size: 1rem;">NIVELES DE CUALIFICACIÓN</h5>
                            <p style="font-size: 1rem;">
                                En modo sencillo, es responderse a la pregunta qué tan compleja o sencilla es una
                                función por desempeñar, y por tanto que tan preparada está la forma de pensar de una
                                persona para ejecutarla.<br/>
                                Regularmente tienes más posibilidades de mejores ingresos, en cuanto seas capaz de
                                resolver niveles de cualificación más altos.
                                (<a href="{% static "img/resultados/cualificacion.png" %}"
                                    data-lightbox="gallery-group-tribus">Ver Niveles</a>)
                            </p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <table id="niveles" class="table table-responsive"
                                   style="vertical-align: center; text-align: center;">
                                <thead>
                                <tr>
                                    <th scope="col" colspan="4" class="align-middle tareas"
                                        style="background-color: #ffc000; height: 5rem!important;">
                                        TAREAS MÁS SENCILLAS
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="col" class="align-middle titulo">
                                        Según los ciclos académicos
                                    </th>
                                    <th scope="col" class="align-middle titulo">
                                        Niveles
                                    </th>
                                    <th scope="col" class="align-middle titulo">
                                        Aquí calificas según las pruebas
                                    </th>
                                    <th scope="col" class="align-middle titulo">
                                        Aquí calificas según los estudios
                                    </th>
                                </tr>
                                {% for nivel in niveles_conocimiento %}
                                    <tr>
                                        <th class="align-middle titulo"
                                                {% if nivel.nombre == '1' %}
                                            style="background-color: #2e4db6; color: white;"
                                                {% elif nivel.nombre == '2' %}
                                            style="background-color: #548696; color: white;"
                                                {% elif nivel.nombre == '3' %}
                                            style="background-color: #d85f1d; color: white;"
                                                {% elif nivel.nombre == '4' %}
                                            style="background-color: #eed139; color: white;"
                                                {% elif nivel.nombre == '5' %}
                                            style="background-color: #d99523; color: white;"
                                                {% elif nivel.nombre == '6' %}
                                            style="background-color: #72c882; color: white;"
                                                {% elif nivel.nombre == '7' %}
                                            style="background-color: #73814c; color: white;"
                                                {% elif nivel.nombre == '8' %}
                                            style="background-color: #ac3d18; color: white;"
                                                {% endif %}
                                        >
                                            {{ nivel.descripcion }}
                                        </th>
                                        <td style="background-color: white;">
                                            <img src="{{ nivel.imagen.url }}" alt=""
                                                 style="width:80px">
                                        </td>
                                        <td>
                                            {% if nivel.nombre == '1' %}
                                                {% if D48 > 0 and D48 <= 21.12 %}
                                                    <img src="{% static "img/resultados/check.svg" %}" alt="check"
                                                         style="width:80px"
                                                    >
                                                {% endif %}
                                            {% elif nivel.nombre == '2' %}
                                                {% if D48 > 21.13 and D48 <= 24.54 %}
                                                    <img src="{% static "img/resultados/check.svg" %}" alt="check"
                                                         style="width:80px"
                                                    >
                                                {% endif %}
                                            {% elif nivel.nombre == '3' %}
                                                {% if D48 > 24.54 and D48 <= 26.22 %}
                                                    <img src="{% static "img/resultados/check.svg" %}" alt="check"
                                                         style="width:80px"
                                                    >
                                                {% endif %}
                                            {% elif nivel.nombre == '4' %}
                                                {% if D48 > 26.22 and D48 <= 26.63 %}
                                                    <img src="{% static "img/resultados/check.svg" %}" alt="check"
                                                         style="width:80px"
                                                    >
                                                {% endif %}
                                            {% elif nivel.nombre == '5' %}
                                                {% if D48 > 26.63 and D48 <= 28.69 %}
                                                    <img src="{% static "img/resultados/check.svg" %}" alt="check"
                                                         style="width:80px"
                                                    >
                                                {% endif %}
                                            {% elif nivel.nombre == '6' %}
                                                {% if D48 > 28.69 and D48 <= 30.52 %}
                                                    <img src="{% static "img/resultados/check.svg" %}" alt="check"
                                                         style="width:80px"
                                                    >
                                                {% endif %}
                                            {% elif nivel.nombre == '7' %}
                                                {% if D48 > 30.52 and D48 <= 33.32 %}
                                                    <img src="{% static "img/resultados/check.svg" %}" alt="check"
                                                         style="width:80px"
                                                    >
                                                {% endif %}
                                            {% elif nivel.nombre == '8' %}
                                                {% if D48 > 33.32 %}
                                                    <img src="{% static "img/resultados/check.svg" %}" alt="check"
                                                         style="width:80px"
                                                    >
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if nivel.nombre == '1' %}
                                                {% if joven.formacion_academica == "P" and joven.ultimo_grado in primaria %}
                                                    <img src="{% static "img/resultados/check.svg" %}" alt="check"
                                                         style="width:80px"
                                                    >
                                                {% endif %}
                                            {% elif nivel.nombre == '2' %}
                                                {% if joven.formacion_academica == "B" and joven.ultimo_grado in bachilerato1 %}
                                                    <img src="{% static "img/resultados/check.svg" %}" alt="check"
                                                         style="width:80px"
                                                    >
                                                {% endif %}
                                            {% elif nivel.nombre == '3' %}
                                                {% if joven.formacion_academica == "B" and joven.ultimo_grado in bachilerato2 %}
                                                    <img src="{% static "img/resultados/check.svg" %}" alt="check"
                                                         style="width:80px"
                                                    >
                                                {% endif %}
                                            {% elif nivel.nombre == '4' %}
                                            {% elif nivel.nombre == '5' %}
                                                {% if joven.formacion_academica == "T" %}
                                                    <img src="{% static "img/resultados/check.svg" %}" alt="check"
                                                         style="width:80px"
                                                    >
                                                {% endif %}
                                            {% elif nivel.nombre == '6' %}
                                                {% if joven.formacion_academica == "PF" %}
                                                    <img src="{% static "img/resultados/check.svg" %}" alt="check"
                                                         style="width:80px"
                                                    >
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <th scope="col" colspan="4" class="align-middle tareas"
                                        style="background-color: #92d050; height: 5rem!important;">
                                        TAREAS MÁS COMPLEJAS
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border my-3">
                <div class="col-md-12" style="background-color: white;">
                    <div class="row">
                        <div class="col my-3">
                            <h5 style="font-size: 1rem;">¿Cómo me miden?</h5>
                            <p style="font-size: 1rem;">
                                Regularmente enfrentarás estas pruebas cuando busques trabajo, apliques a becas o
                                programas especiales. Las pruebas lógicas o de razonamiento las evaluamos con el test
                                D-48 que es el de las fichas de dominó; sin embargo hay cientos de pruebas diseñadas por
                                psicólogos para medirlo. También enfrentarás pruebas de expresión verbal, escrita o de
                                comprensión lectora como la que te pondremos.
                            </p>
                        </div>
                    </div>
                    <div class="row mb-3 justify-content-center">
                        {% for id_competencia in ids_competencias %}
                            <div class="col-auto">
                                <div class="m-t-20 text-center">
                                    {% if forloop.counter == 1 %}
                                        <h5>Análisis con números</h5>
                                    {% elif forloop.counter == 2 %}
                                        <h5>Análisis en lectura</h5>
                                    {% endif %}
                                </div>
                                <div id="chartdiv{% if forloop.counter == 1 %}7{% elif forloop.counter == 2 %}8{% endif %}"
                                     style="width: 100%; height: 300px;">
                                </div>
                                <a href="{% url "formularios:detalle_competencia" id_competencia %}?back={{ request.path }}"
                                   class="btn btn-primary btn-block"
                                   style="background-color: #f26827;"
                                >
                                    CONOCERME MÁS
                                </a>
                            </div>
                        {% empty %}
                            <div class="col-12 px-0" align="center">
                                <h4 class="mt-5">No se encontraron competencias.</h4>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <a class="btn btn-secondary"
                               href="{% url 'tablero_jovenes:tablero_joven' request.user.id %}">
                                <i class="fa fa-angle-left"></i> Volver
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block js %}
    <script>
        const $tabla = $("#niveles");
        const tabla_movil = $("#niveles").html();
        let tabla_pc = "";

        function transformar(tabla) {
            let filas = [];
            let cont = 1;

            tabla.find("tbody tr, thead tr").each(function () {
                let i = 1;
                $(this).find("td, th").each(function () {
                    if (filas[i] === undefined) {
                        filas[i] = $("<tr></tr>");
                    }
                    filas[i].append($(this));
                    i++;
                });
            });

            filas[4].prepend($("<th></th>"));
            filas[4].append($("<th></th>"));


            tabla.find("tr").remove();
            for (let i = 4; i > 0; i--) {
                tabla.find("tbody").append(filas[i]);
            }
            const $nueva_tarea1 = $("tbody tr:first th:first");
            const $vieja_tarea1 = $("tbody tr:last th:first");
            const $nueva_tarea2 = $("tbody tr:first th:last");
            const $vieja_tarea2 = $("tbody tr:last th:last");

            $nueva_tarea1.html($vieja_tarea1.html());
            $nueva_tarea1.css("background-color", $vieja_tarea1.css("background-color"));
            $nueva_tarea1.css("vertical-align", "middle");
            $nueva_tarea1.attr("class", "tareas");
            $vieja_tarea1.remove()
            $nueva_tarea1.attr("colspan", 1);
            $nueva_tarea1.attr("rowspan", 5);

            $nueva_tarea2.html($vieja_tarea2.html());
            $nueva_tarea2.css("background-color", $vieja_tarea2.css("background-color"));
            $nueva_tarea2.css("vertical-align", "middle");
            $nueva_tarea2.attr("class", "tareas");
            $vieja_tarea2.remove()
            $nueva_tarea2.attr("colspan", 1);
            $nueva_tarea2.attr("rowspan", 5);
            tabla_pc = tabla.html();
        }


        $(window).resize(function () {
            if (window.matchMedia('(max-width: 999px)').matches) {
                $("#niveles").html(tabla_movil);
            }
            if (window.matchMedia('(min-width: 1000px)').matches) {
                if (tabla_pc === "") {
                    transformar($tabla);
                }
                $("#niveles").html(tabla_pc);

            }
        });
        if (window.matchMedia('(min-width: 1000px)').matches) {
            const $tabla = $('#niveles');
            transformar($tabla);
        }

    </script>
    <script src="{% static 'js/custom/graficas/librerias/core.js' %}"></script>
    <script src="{% static 'js/custom/graficas/librerias/charts.js' %}"></script>
    <script src="{% static 'js/custom/graficas/librerias/animated.js' %}"></script>
    <script>
        var genero_del_joven = {{genero_del_joven|safe}};
        var edad_del_joven = {{edad_del_joven|safe}};
        var puntaje_razonamiento_cuantitativo = {{puntaje_razonamiento_cuantitativo|safe}};
        var puntaje_analisis_en_lectura = {{puntaje_analisis_en_lectura|safe}};
    </script>
    {% if ids_competencias %}
        <script src="{% static 'js/custom/graficas/jovenes/grafica_razonamiento_cuantitativo.js' %}"></script>
        <script src="{% static 'js/custom/graficas/jovenes/grafica_analisis_en_lectura.js' %}"></script>
    {% endif %}
    <script>
        $("p").each(function () {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if (length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
        $("h6").each(function () {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if (length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
    </script>
{% endblock js %}