{% extends 'base_tablas.html' %}

{% block titulo %}
    Organizaciones
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Usuarios</li>
    <li class="breadcrumb-item active">Gestión Organizaciones</li>
    <li class="breadcrumb-item active">Organizaciones</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-briefcase icon-orange"></i> Consulta de Organizaciones
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan las organizaciones registradas en el sistema.</i>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Tipo Organización</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Correo electrónico</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for org in organizaciones %}
                        <tr>
                            <td>{{org.tipo_organización}}</td>
                            <td>{{org.first_name}}</td>
                            <td>{{org.last_name}}</td>
                            <td>{{org.email}}</td>
                            <td align="center">
                                {% if org.is_active == True %}
                                    <span class="label label-lime">ACTIVA</span>
                                {% else %}
                                    <span class="label label-secondary">INACTIVA</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

