{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    Organizaciones
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Mis Organizaciones</li>
    {% if tag == 'Todas' %}
        <li class="breadcrumb-item active">Todas las Organizaciones</li>
    {% elif tag == 'Favoritas' %}
        <li class="breadcrumb-item active">Mis Organizaciones Favoritas</li>
    {% elif tag == 'Sugeridas' %}
        <li class="breadcrumb-item active">Organizaciones para ti</li>
    {% elif tag == 'Org donde estoy' %}
        <li class="breadcrumb-item active">Organizaciones donde estoy</li>
    {% elif tag == 'Solicitudes Enviadas' %}
        <li class="breadcrumb-item active">Solicitudes enviadas</li>
    {% elif tag == 'Solicitudes Recibidas' %}
        <li class="breadcrumb-item active">Solicitudes recibidas</li>
    {% endif %}
{% endblock miga_pan %}

{% block titulo_pagina %}
    {% if tag == 'Todas' %}
        <i class="icon-briefcase icon-orange"></i> Organizaciones
    {% elif tag == 'Favoritas' %}
        <i class="icon-briefcase icon-orange"></i> Mis Organizaciones Favoritas
    {% elif tag == 'Sugeridas' %}
        <i class="icon-briefcase icon-orange"></i> Organizaciones para ti
    {% elif tag == 'Org donde estoy' %}
        <i class="icon-briefcase icon-orange"></i> Organizaciones donde estoy
    {% elif tag == 'Solicitudes Enviadas' %}
        <i class="icon-briefcase icon-orange"></i> Solicitudes enviadas
    {% elif tag == 'Solicitudes Recibidas' %}
        <i class="icon-briefcase icon-orange"></i> Solicitudes recibidas
    {% endif %}
    <p style="color:gray; font-size: 14px; line-height: normal; font-weight: normal;">
        ¡Ellos creen en nosotros! Éstas organizaciones apuestan por los jóvenes y están acá para que conozcas las oportunidades que ofrecen y por qué no?... aspires a ser parte de ellas. 
        Encontrarás organizaciones de todo tipo: Gobierno, Empresas, Colegio, Apoyo, IES.        
    </p>
{% endblock titulo_pagina %}

{% block contenido %}
    <div class="row">
        <div class="col-xs-12 col-xl-9">
            <form method="GET">
                {% for tipo in tipos %}
                    <input type="submit" name="tag" value="{{ tipo.nombre }}" class="btn btn-sm {% if tipo.nombre == tag %}btn-orange{% else %}btn-outline-orange{% endif %} ml-1 my-1">
                {% endfor %}
                {% if request.user.tipo == "Joven"%}
                    <a type="submit" href="{% url 'equipos:gestionar_solicitudes' %}" style="color: rgb(248, 96, 12);" class="btn btn-sm {% if tipo.nombre == tag %}btn-orange{% else %}btn-outline-orange{% endif %} ml-1 my-1">Ver solicitudes de mis equipos</a>
                {% endif %}
            </form>
        </div>
        <div class="col-xs-12 col-xl-3" align="right">
            <form method="GET">
                <div class="form-group" style="margin:0; position: relative; width:100%">
                    <input id="id_q" class="controls form-control" style="border: solid 1px; border-color: rgb(248, 96, 12); background-color:white !important;" type="text" name="q" placeholder="Buscar...">
                    <button type="submit" id="btn_buscar" style="border: solid 1px; color: rgb(248, 96, 12); border-color: rgb(248, 96, 12); border-radius: 0px 100px 100px 0px;" class="btn-buscar"><i class="fa fa-arrow-down"></i></button>
                </div>
            </form>
           
        </div>
        <div class="col-12 contenido">
            <div class="row card-group">
                {% for organizacion in organizaciones %}                
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 px-0 {{ organizacion.tipo.pk }} card-group ">
                        <div class=" card border-0 mx-1 my-1">                            
                            {% if organizacion.foto_perfil and organizacion.logo %}
                                <a href="{{equipo.equipo.foto_del_equipo.url}}" data-lightbox="gallery-group-equipos-{{ equipo.equipo.pk }}">                                    
                                    <a href="{{organizacion.foto_perfil.url}}" data-lightbox="gallery-group-organizacion-{{ organizacion.pk }}">
                                        <div class="hovereffect embed-responsive embed-responsive-4by3"> 
                                            <img src="{{organizacion.foto_perfil.url}}" class="card-img-top embed-responsive-item">
                                            <img src="{{organizacion.logo.url}}"style="position:absolute;top: 25px;left: 25px;z-index: 2;width:80px;height:80px">
                                        </div>
                                    </a>
                                </a>
                            {% else %}
                                <div class="hovereffect embed-responsive embed-responsive-4by3">
                                    {% if not organizacion.foto_perfil %}
                                        <img src="{% static 'img/organizaciones/perfil.png' %}" class="embed-responsive-item">
                                    {% else %}
                                        <img src="{{organizacion.foto_perfil.url}}" class="embed-responsive-item" style="position: absolute;">
                                    {% endif %}
                                    {% if not organizacion.logo %}
                                        <img src="{% static 'img/organizaciones/logo.jpg' %}" style="position:absolute;top: 25px;left: 25px;z-index: 2;width:80px;height:80px">
                                    {% else %}
                                        <img src="{{organizacion.logo.url}}"style="position:absolute;top: 25px;left: 25px;z-index: 2;width:80px;height:80px">
                                    {% endif %}
                                </div>
                            {% endif %}                            
                            <div class="card-body">                           
                                <a href="{% url 'organizaciones:joven_detalle' organizacion.id %}" style="width: 100%">
                                    <h4 class="card-title m-t-0 m-b-10" data-max-characters="80">{{ organizacion.first_name }}</h4>
                                </a>                                
                                <!--<div class="row ml-1 mt-3" {% if organizacion|total_tribus_roles_niveles == 0 %}style="height: 105px"{% elif organizacion|total_tribus_roles_niveles < 8 and organizacion.first_name|length > 45 %}style="height: 105px"{% elif organizacion|total_tribus_roles_niveles > 7 and organizacion.first_name|length < 49 %}style="height: 105px"{% elif organizacion.first_name|length < 45 %}style="height: 105px"{% else %}style="height: 105px"{% endif %}>
                                    <p data-max-characters="{% if organizacion|total_tribus_roles_niveles == 0 %}200{% elif organizacion|total_tribus_roles_niveles > 7 and organizacion.first_name|length < 49 %}200{% elif organizacion.first_name|length < 45 %}200{% else %}200{% endif %}" class="card-text">{{ organizacion.descripcion }}</p>
                                </div>-->
                                {% if organizacion|total_tribus_roles_niveles > 0 %}
                                    <div class="row ml-1" style="border-top: 1px solid #c4c4c4; border-bottom: 1px solid #c4c4c4;height: 65px;">
                                        <div class="col-12 py-2" align="center">
                                            <div class="justify-content-center" style="margin-left: -20px">
                                                {% for tribu in organizacion.tribus_relacionadas.all %}
                                                    <img {% if organizacion|total_tribus_roles_niveles < 8 %}style="width: 12%;"{% elif organizacion|total_tribus_roles_niveles < 11 %}style="width: 10%;"{% else %}style="width: 8%;"{% endif %} title="{{ tribu.nombre|title }}" alt="{{ tribu.nombre|title }}" class="mx-0" src="{{ tribu.imagen.url }}">
                                                {% endfor %}
                                                {% for rol in organizacion.roles.all %}
                                                    <img {% if organizacion|total_tribus_roles_niveles < 8 %}style="width: 12%;"{% elif organizacion|total_tribus_roles_niveles < 11 %}style="width: 10%;"{% else %}style="width: 8%;"{% endif %} title="{{ rol.nombre|title }}" alt="{{ rol.nombre|title }}" class="mx-0" src="{{ rol.imagen.url }}">
                                                {% endfor %}
                                                {% for nivel in organizacion.niveles_conocimiento.all %}
                                                    <img {% if organizacion|total_tribus_roles_niveles < 8 %}style="width: 12%;"{% elif organizacion|total_tribus_roles_niveles < 11 %}style="width: 10%;"{% else %}style="width: 8%;"{% endif %} title="{{ nivel.nombre|title }}" alt="{{ nivel.nombre|title }}" class="mx-0" src="{{ nivel.imagen.url }}">
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                <div class="row ml-1" style="border-top: 1px solid #c4c4c4; border-bottom: 1px solid #c4c4c4; height: 65px;">
                                    <div class="col-12 py-2" align="center">
                                        <div class="row justify-content-center" style="margin-left: -20px">
                                            <b>No hay tribus asignadas</b>
                                        </div>
                                    </div>
                                </div>
                               
                                {% endif %}
                                <div class="row mt-2">
                                    <div class="col-7 pr-0 centrar" align="left">
                                        <span class="calificacion like pr-1">
                                                <a title="Me gusta" id="like1-contenido-{{ organizacion.pk }}" href="javascript:calificar_contenido(1,{{ organizacion.pk }},{{ request.user.pk }})"><i class="fas fa-thumbs-up fa-lg"></i></a>
                                        </span>
                                        <span class="calificacion dislike pr-1">
                                                <a title="No me gusta" id="like0-contenido-{{ organizacion.pk }}" href="javascript:calificar_contenido(0,{{ organizacion.pk }},{{ request.user.pk }})"><i class="fas fa-thumbs-up fa-rotate-180 fa-lg"></i></a>
                                        </span>
                                    </div>
                                    <div class="col-5 px-0 pt-1" align="right">
                                        <a href="{% url 'organizaciones:joven_detalle_sugerida' organizacion.id %}" class="btn btn-primary px-3">Ver Más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-12 px-0" align="center">
                        <h4 class="mt-5">No se encontraron organizaciones.</h4>
                    </div>
                {% endfor %}
            </div>            
        </div>

        <ul class="pager">
            
            <li>
              <a class="page-link" href="?page=1" aria-label="Previous">
                <span aria-hidden="true">Inicio</span>
                <span class="sr-only">begin</span>
              </a>
            </li>  


            {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page= {{page_obj.previous_page_number}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">begin</span>
              </a>
            </li>   {% endif %}
            
            {% for n in page_obj.paginator.page_range %}
              {% if page_obj.number == n %}
                <li class="page-item active">
                  <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                </li>
              {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
                <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
              {% endif %}
            {% endfor %}
            
            {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">end</span>
                </a>
              </li>
              {% endif %}   
              <li >
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                  <span aria-hidden="true">Ultimo</span>
                  <span class="sr-only">end</span>
                </a>
              </li>
        </ul>

        
    </div>
{% endblock contenido %}

{% block js %}
    <script>
        var token = '{{csrf_token}}';
        var url_api_cargar_calificaciones_contenidos = "{% url 'organizaciones:api_cargar_calificaciones' %}";
        var url_api_calificar_contenido = "{% url 'organizaciones:api_calificar' %}"
    </script>
    <script src="{% static 'js/custom/calificacion.js' %}"></script>
    <script>
        $("p").each(function() {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if(length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
        $("h6").each(function() {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if(length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
        initCalificacionesContenido({{ request.user.pk }});
    </script>
{% endblock js %}