{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    {{ usuario.first_name }}
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'organizaciones:joven_consultar' %}">Mis Organizaciones</a></li>
    <li class="breadcrumb-item active">{{ usuario.first_name }}</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-briefcase icon-orange"></i>  {{ usuario.first_name }}
{% endblock titulo_pagina %}

{% block contenido %}
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 px-0">
            <div class="card border-0 mx-1 my-1">                
                {% if usuario.foto_perfil %}
                    <a href="{{usuario.foto_perfil.url}}" data-lightbox="gallery-group-organizacion-{{ usuario.pk }}">
                        <div class="hovereffect">
                            <img src="{{usuario.foto_perfil.url}}" class="card-img-top img img-fluid centerImage">
                        </div>
                    </a>
                {% else %}
                    <div class="hovereffect">
                        <img src="{% static 'img/extra/no-image.jpg' %}" class="card-img-top img img-fluid centerImage">
                    </div>
                {% endif %}
                <div class="card-body tarjetas" style="padding-left: 5px">
                    <div class="row">
                        <div class="col-7">
                            <h6 class="pt-2">Fecha de creación: {{ usuario.creado|date:'M d, Y' }}</h6>
                        </div>
                        <div class="col-5" align="right">
                                        <span class="calificacion like pr-1">
                                                <a title="Me gusta" id="like1-contenido-{{ usuario.pk }}" href="javascript:calificar_contenido(1,{{ usuario.pk }},{{ request.user.pk }})"><i class="fas fa-thumbs-up fa-lg"></i></a>
                                        </span>
                            <span class="calificacion dislike pr-1">
                                                <a title="No me gusta" id="like0-contenido-{{ usuario.pk }}" href="javascript:calificar_contenido(0,{{ usuario.pk }},{{ request.user.pk }})"><i class="fas fa-thumbs-up fa-rotate-180 fa-lg"></i></a>
                                        </span>
                        </div>
                    </div>
                    <div class="row ml-1 mt-3" style="border-top: 1px solid #c4c4c4; border-bottom: 1px solid #c4c4c4">
                        <div class="col-12 py-3" align="center">
                            {{ usuario.pais }} | {{ usuario.tipo_organizacion }}{% if usuario.puntaje %} | {{ usuario.puntaje }} {% endif %}
                        </div>
                    </div>
                    <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                        <div class="col-12 py-2" align="left">
                            <h6>TRIBUS</h6>
                            {% for tribu in usuario.tribus_relacionadas.all %}
                                <img width="35" title="{{ tribu.nombre|title }}" alt="{{ tribu.nombre|title }}" class="mx-0" src="{{ tribu.imagen.url }}">
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                        <div class="col-12 py-2" align="left">
                            <h6>NIVELES DE CONOCIMIENTO</h6>
                            {% for nivel in usuario.niveles_conocimiento.all %}
                                <img width="35" title="{{ nivel.nombre|title }}" alt="{{ nivel.nombre|title }}" class="mx-0" src="{{ nivel.imagen.url }}">
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                        <div class="col-12 py-2" align="left">
                            <h6>ROLES</h6>
                            {% for rol in usuario.roles.all %}
                                <img width="35" title="{{ rol.nombre|title }}" alt="{{ rol.nombre|title }}" class="mx-0" src="{{ rol.imagen.url }}">
                            {% endfor %}
                        </div>
                    </div>
                    <div class='row justify-content-center'>
                        {% if usuario.pagina_web %}
                            <div class="row ml-1 mt-1">
                                <div class="col-12 py-2" align="center">
                                    <a href="{{ usuario.pagina_web }}" target="_blank" class="btn btn-primary px-4">Página Web</a>
                                </div>
                            </div>
                        {% endif %}
                        {%if boton_mensaje%}
                            <div class="row ml-1 mt-1">
                                <div class="col-12 py-2" align="center">                                                                        
                                    <div class="btn-group pull-right mr-3">
                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100px; background-color: #A32CDF; color: white;">
                                            {{boton_mensaje}}                                                                                           
                                        </button>
                                        <div class="dropdown-menu"> 
                                            {%for mensaje in mensajes%}
                                                {% if mensaje.lider == True %}
                                                    <a class="dropdown-item" href="{% url mensaje.url organizacion.id request.user.id  %}">{{mensaje.accion}}</a> 
                                                {% else %}
                                                    <a class="dropdown-item" href="{% url mensaje.url usuario.id 2%}">{{mensaje.accion}}</a> 
                                                {% endif %}
                                            {%endfor%}                                                              
                                        </div>
                                    </div>                               
                                </div>
                            </div>    
                        {%endif%}                    
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 col-xs-12 px-0">
            <div class="row border-0 mx-1 my-1 px-3 py-3 info-contenido" style="background: #fff">
                {% if usuario.descripcion  %}
                    <div class="col-12">
                        <p>{{ usuario.descripcion }}</p>
                    </div>
                {% endif %}  
                {% if usuario.objetivos  %}
                    <div class="col-12 mt-3">                
                        <h4>Nuestro objetivo</h4>
                        <p>{{ usuario.objetivos }}</p>
                    </div>
                {% endif %}   
                {% if usuario.intereses.all %}
                    <div class="col-12 mt-3">
                        <h4>Lo que nos interesa</h4>
                        <p>{{ usuario.intereses|join:', ' }}</p>
                    </div>
                {% endif %}             
                {% if usuario.ciudad %}   
                    <div class="col-12 mt-3">
                        <h4>¿De dónde soy?</h4>
                        <p>{{ usuario.ciudad }}</p>
                    </div>  
                {% endif %} 
                {% if usuario.para_que_existimos %}   
                    <div class="col-12 mt-3">
                        <h4>¿Para qué existimos?</h4>
                        <p>{{ usuario.para_que_existimos }}</p>
                    </div>
                {% endif %} 
                {% if usuario.que_ofrecemos %}   
                    <div class="col-12 mt-3">
                        <h4>¿Qué te ofrecemos?</h4>
                        <p>{{ usuario.que_ofrecemos }}</p>
                    </div> 
                {% endif %} 
                {% if usuario.que_jovenens_buscamos %}   
                    <div class="col-12 mt-3">
                        <h4>¿Qué jóvenes buscamos?</h4>
                        <p>{{ usuario.que_jovenens_buscamos }}</p>
                    </div>   
                {% endif %}              
                    
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block js %}
    <script>
        var token = '{{csrf_token}}';
        var url_api_cargar_calificaciones_contenidos = "{% url 'organizaciones:api_cargar_calificaciones' %}";
        var url_api_calificar_contenido = "{% url 'organizaciones:api_calificar' %}"
    </script>
    <script src="{% static 'js/custom/calificacion.js' %}"></script>
    <script>
        initCalificacionesContenido({{ request.user.pk }},{{ usuario.pk }});
    </script>
{% endblock js %}