{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Mis Organizaciones Favoritas
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Organizaciones</li>
    <li class="breadcrumb-item active">Mis Organizaciones Favoritas</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-briefcase icon-orange"></i> Mis Organizaciones Favoritas
{% endblock titulo_pagina %}

{% block contenido %}
    <div class="row">
        <div class="col-xs-12 col-xl-9">
            <a data-target="all" href="javascript:;" class="filtro btn btn-orange active ml-1">Ver Todo</a>
            {% for tipo in tipos %}
                <a data-target="{{ tipo.pk }}" href="javascript:;" class="filtro btn btn-sm btn-outline-orange ml-1">{{ tipo.nombre }}</a>
            {% endfor %}
        </div>
        <div class="col-xs-12 col-xl-3" align="right">
            <form method="GET">
                <div class="form-group" style="margin:0; position: relative; width:100%">
                    <input id="id_q" class="controls form-control" type="text" name="q" placeholder="Buscar...">
                    <button type="submit" id="btn_buscar" class="btn btn-search btn-buscar"><i class="fa fa-arrow-down"></i></button>
                </div>
            </form>
        </div>
        <div class="col-12 contenido">
            <div class="row">
                {% for organizacion in organizaciones %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 px-0 {{ organizacion.tipo.pk }} card-contenido">
                        <div class="card border-0 mx-1 my-1">
                            {% if organizacion.imagen %}
                                <a href="{{organizacion.imagen.url}}" data-lightbox="gallery-group-organizacion-{{ organizacion.pk }}">
                                    <div class="hovereffect">
                                        <img src="{{organizacion.imagen.url}}" class="card-img-top img img-fluid centerImage">
                                    </div>
                                </a>
                            {% else %}
                                <div class="hovereffect">
                                    <img src="{% static 'img/extra/no-image.jpg' %}" class="card-img-top img img-fluid centerImage">
                                </div>
                            {% endif %}
                            <div class="card-body">
                                <a href="{% url 'organizaciones:joven_detalle_favorita' organizacion.id %}"><h5 class="card-title m-t-0 m-b-10">{{ organizacion.first_name }}</h5></a>
                                <div class="row ml-1 mt-3" style="height: 60px">
                                    <p data-max-characters="130" class="card-text">
                                        {{ organizacion.descripcion }}
                                    </p>
                                </div>
                                <div class="row ml-1" style="border-top: 1px solid #c4c4c4; border-bottom: 1px solid #c4c4c4">
                                    <div class="col-12 py-2" align="center">
                                        {% for tribu in organizacion.tribus_relacionadas.all %}
                                            <img width="30" title="{{ tribu.nombre|title }}" alt="{{ tribu.nombre|title }}" class="mx-0" src="{{ tribu.imagen.url }}">
                                        {% endfor %}
                                        {% for rol in organizacion.roles.all %}
                                            <img width="30" title="{{ rol.nombre|title }}" alt="{{ rol.nombre|title }}" class="mx-0" src="{{ rol.imagen.url }}">
                                        {% endfor %}
                                        {% for nivel in organizacion.niveles_conocimiento.all %}
                                            <img width="30" title="{{ nivel.nombre|title }}" alt="{{ nivel.nombre|title }}" class="mx-0" src="{{ nivel.imagen.url }}">
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-7 pr-0 centrar" align="left">
                                        <span class="calificacion like pr-1">
                                                <a title="Me gusta" id="like1-contenido-{{ organizacion.pk }}" href="javascript:calificar_contenido(1,{{ organizacion.pk }},{{ request.user.pk }})"><i class="fas fa-thumbs-up fa-lg"></i></a>
                                        </span>
                                        <span class="calificacion dislike pr-1">
                                                <a title="No me gusta" id="like0-contenido-{{ organizacion.pk }}" href="javascript:calificar_contenido(0,{{ organizacion.pk }},{{ request.user.pk }})"><i class="fas fa-thumbs-up fa-rotate-180 fa-lg"></i></a>
                                        </span>
                                    </div>
                                    <div class="col-5 px-0 pt-1" align="right">
                                        <a href="{% url 'organizaciones:joven_detalle_favorita' organizacion.id %}" class="btn btn-primary px-3">Ver Más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-12 px-0" align="center">
                        <h4 class="mt-5">No se encontraron organizaciones favoritas.</h4>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block js %}
    <script>
        var token = '{{csrf_token}}';
        var url_api_cargar_calificaciones_contenidos = "{% url 'organizaciones:api_cargar_calificaciones' %}";
        var url_api_calificar_contenido = "{% url 'organizaciones:api_calificar' %}"
    </script>
    <script src="{% static 'js/custom/calificacion.js' %}"></script>
    <script src="{% static 'js/custom/filters.js' %}"></script>
    <script>
        $("p").each(function() {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if(length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
        $("h5").each(function() {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if(length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
        initCalificacionesContenido({{ request.user.pk }});
    </script>

{% endblock js %}