{% extends 'base_tablas.html' %}
{% load static %}

{% block titulo %}
    Organizaciones
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Usuarios</li>
    <li class="breadcrumb-item active">Gestión Organizaciones</li>
    <li class="breadcrumb-item active">Organizaciones</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-briefcase icon-orange"></i> Organizaciones
{% endblock titulo_pagina %}
{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan las organizaciones registradas en el sistema y diferentes herramientas para su gestión.</i>
            </p>
        </div>
        <div class="col-md-12" align="right">
            <a class="btn btn-primary" href="{% url 'organizaciones:registrar' %}"><i class="fas fa-user-plus"></i> Registrar Organización</a>
            <a class="btn btn-secondary" href="#"><i class="fas fa-file-excel"></i> Registro Masivo</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Tipo Organización</th>
                        <th>Nombre Organización</th>
                        <th>Correo electrónico</th>
                        <th>Contacto</th>
                        <th>Página Web</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for org in organizaciones %}
                        <tr>
                            <td>{{org.tipo_organizacion}}</td>
                            <td>{{org.first_name}}</td>
                            <td>{{org.email}}</td>
                            <td>{{org.contacto|default:'Ninguno'}}</td>
                            <td>{{org.pagina_web|default:'No definida'}}</td>
                            <td align="center">
                                {% if org.is_active == True %}
                                    <span class="label label-lime">ACTIVA</span>
                                {% else %}
                                    <span class="label label-secondary">INACTIVA</span>
                                {% endif %}
                            </td>
                            <td align="center">
                                <div class="row">
                                    {#                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">#}
                                    {#                                        <a title="Ver" href="#"><i class="fas fa-eye"></i></a>#}
                                    {#                                    </div>#}
                                    <div class="col-lg col-md-4 col-sm-4 col-xs-12">
                                        <a title="Modificar" href="{% url 'organizaciones:modificar' org.id %}"><i class="fas fa-pen-alt"></i></a>
                                    </div>
                                    <div class="col-lg col-md-4 col-sm-4 col-xs-12">
                                        <a title="Restablecer Contraseña" href="{% url 'usuarios:restablecer_password' org.id %}"><i class="fas fa-sync-alt"></i></a>
                                    </div>
                                    <div class="col-lg col-md-4 col-sm-4 col-xs-12">
                                        <a title="Asignar Rutas" href="{% url 'contenido:asignar_rutas_organizacion' org.id %}"><i class="icon-direction" style="color: #A32CDF;"></i></a>
                                    </div>
                                    <div class="col-lg col-md-4 col-sm-4 col-xs-12">
                                        <a title="Asignar Oportunidades" href="{% url 'contenido:asignar_oportunidades_organizacion' org.id %}"><i class="icon-diamond" style="color: #A32CDF;"></i></a>
                                    </div>
                                    <div class="col-lg col-md-4 col-sm-4 col-xs-12">
                                        <a title="Asignar Jóvenes" href="{% url 'organizaciones:asignar_jovenes_organizacion' org.id %}"><i class="icon-user" style="color: #A32CDF;"></i></a>
                                    </div>
                                    {#                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">#}
                                    {#                                        <a title="Activar/Inactivar" href="#"><i class="fas fa-trash-alt"></i></a>#}
                                    {#                                    </div>#}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock contenido_panel %}



{% block js %}
    {{ block.super }}
{% endblock js %}

