{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Registrar Organización
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Usuarios</li>
    <li class="breadcrumb-item active">Gestión Organizaciones</li>
    <li class="breadcrumb-item"><a href="{% url "organizaciones:listado" %}">Organizaciones</a></li>
    <li class="breadcrumb-item active">Registrar Organización</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-briefcase icon-orange"></i> Registrar Organización
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <form method="post">{% csrf_token %}
        <div class="row">
            <div class="col-12 mb-2">
                <p class="mb-1">
                    <i>El siguiente formulario le permite registrar en el sistema una organización.</i>
                </p>
            </div>
            {% for campo in form %}
                {% if not campo.name == 'insignias_cuisana_familia' and not campo.name == 'insignias_sersas_familia' and not campo.name == 'insignias_centeros_familia' and not campo.name == 'insignias_gronor_familia' and not campo.name == 'insignias_brianimus_familia' and not campo.name == 'insignias_vincularem_familia' and not campo.name == 'insignias_moterra_familia' and not campo.name == 'insignias_ponor_familia' and not campo.name == 'cuisana' and not campo.name == 'moterra' and not campo.name == 'vincularem' and not campo.name == 'gronor' and not campo.name == 'brianimus' and not campo.name == 'ponor' and not campo.name == 'centeros' and not campo.name == 'sersas' and not campo.name == 'insignias_cuisana' and not campo.name == 'insignias_moterra' and not campo.name == 'insignias_vincularem' and not campo.name == 'insignias_gronor' and not campo.name == 'insignias_brianimus' and not campo.name == 'insignias_ponor' and not campo.name == 'insignias_centeros' and not campo.name == 'insignias_sersas' and not campo.name == 'is_active' %}
                    {% if campo.name == 'niveles_conocimiento' or campo.name == 'roles' %}
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                            {% bootstrap_field campo placeholder="" %}
                        </div>
                    {% else %}
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            {% bootstrap_field campo placeholder="" %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
            
            <div class="col-12 mb-4">
                <div class="row mx-2 mt-4 justify-content-center" style="margin-bottom: -16px">
                    <div class="col-4">
                        {% bootstrap_field form.cuisana field_class="form-check checkbox checkbox-css pt-0 checkbox-inline" placeholder="" %}
                        <img class="img-tribu-form-small" src='/media/insignias/Cuisana.png'>
                    </div>
                    <div class="col-4">
                        {% bootstrap_field form.moterra field_class="form-check checkbox checkbox-css pt-0 checkbox-inline" placeholder="" %}
                        <img class="img-tribu-form-small" src='/media/insignias/Moterra.png'>
                    </div>
                    <div class="col-4">
                        {% bootstrap_field form.ponor field_class="form-check checkbox checkbox-css pt-0 checkbox-inline" placeholder="" %}
                        <img class="img-tribu-form-small" src='/media/insignias/Ponor.png'>
                    </div>
                </div>
                <div class="row mx-2 justify-content-center">
                    <div class="col-4" align="left">
                        {% bootstrap_field form.insignias_cuisana_familia placeholder="" %}
                    </div>
                    <div class="col-4" align="left">
                        {% bootstrap_field form.insignias_moterra_familia placeholder="" %}
                    </div>
                    <div class="col-4" align="left">
                        {% bootstrap_field form.insignias_ponor_familia placeholder="" %}
                    </div>

                    <div class="col-4" align="left">
                        {% bootstrap_field form.insignias_cuisana placeholder="" %}
                    </div>
                    <div class="col-4" align="left">
                        {% bootstrap_field form.insignias_moterra placeholder="" %}
                    </div>
                    <div class="col-4" align="left">
                        {% bootstrap_field form.insignias_ponor placeholder="" %}
                    </div>                    
                </div>
                <div class="row mx-2 mt-4 justify-content-center" style="margin-bottom: -16px">
                    <div class="col-4">
                        {% bootstrap_field form.vincularem field_class="form-check checkbox checkbox-css pt-0 checkbox-inline" placeholder="" %}
                        <img class="img-tribu-form-small" src='/media/insignias/Vincularem.png'>
                    </div>
                    <div class="col-4">
                        {% bootstrap_field form.brianimus field_class="form-check checkbox checkbox-css pt-0 checkbox-inline" placeholder="" %}
                        <img class="img-tribu-form-small" src='/media/insignias/Brianimus.png'>
                    </div>
                    <div class="col-4">
                        {% bootstrap_field form.gronor field_class="form-check checkbox checkbox-css pt-0 checkbox-inline" placeholder="" %}
                        <img class="img-tribu-form-small" src='/media/insignias/Gronor.png'>
                    </div>
                </div>
                <div class="row mx-2 justify-content-center">
                    <div class="col-4" align="left">
                        {% bootstrap_field form.insignias_vincularem_familia placeholder="" %}
                    </div>
                    <div class="col-4" align="left">
                        {% bootstrap_field form.insignias_brianimus_familia placeholder="" %}
                    </div>
                    <div class="col-4" align="left">
                        {% bootstrap_field form.insignias_gronor_familia placeholder="" %}
                    </div>                   

                    <div class="col-4" align="left">
                        {% bootstrap_field form.insignias_vincularem placeholder="" %}
                    </div>
                    <div class="col-4" align="left">
                        {% bootstrap_field form.insignias_brianimus placeholder="" %}
                    </div>
                    <div class="col-4" align="left">
                        {% bootstrap_field form.insignias_gronor placeholder="" %}
                    </div>
                </div>
                <div class="row mx-2 mt-4 justify-content-center" style="margin-bottom: -16px">
                    <div class="col-4">
                        {% bootstrap_field form.centeros field_class="form-check checkbox checkbox-css pt-0 checkbox-inline" placeholder="" %}
                        <img class="img-tribu-form-small" src='/media/insignias/Centeros.png'>
                    </div>                   
                    <div class="col-4">
                        {% bootstrap_field form.sersas field_class="form-check checkbox checkbox-css pt-0 checkbox-inline" placeholder="" %}
                        <img class="img-tribu-form-small" src='/media/insignias/Sersas.png'>
                    </div> 
                </div>
                <div class="row mx-2 justify-content-center">
                    <div class="col-4" align="left">
                        {% bootstrap_field form.insignias_centeros_familia placeholder="" %}
                    </div>
                    <div class="col-4" align="left">
                        {% bootstrap_field form.insignias_sersas_familia placeholder="" %}
                    </div>
                </div>

                <div class="row mx-2 justify-content-center">
                    <div class="col-4" align="left">
                        {% bootstrap_field form.insignias_centeros placeholder="" %}
                    </div>
                    <div class="col-4" align="left">
                        {% bootstrap_field form.insignias_sersas placeholder="" %}
                    </div>
                </div>
            </div>           
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-4" align="left">
                {% bootstrap_field form.is_active field_class="form-check checkbox checkbox-css pt-0 checkbox-inline" placeholder="" %}
            </div>
        </div>
        <div class="row">
            <div class="col-6" align="left">
                <a class="btn btn-secondary" href="{% url 'organizaciones:listado' %}"><i class="fa fa-angle-left"></i> Atrás</a>
            </div>
            <div class="col-6" align="right">
                <button class="btn btn-primary" type="submit">Registrar Organización <i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </form>
{% endblock contenido_panel %}

{% block js %}
    <script src="{% static 'plugins/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'js/custom/organizaciones.js' %}"></script>
    <script>
        init_tribus()
    </script>

{% endblock js %}