{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load extra_tags %}

{% block titulo %}
    Amigos
{% endblock titulo %}

{% block css %}
    <style type="text/css">
        .panel{
            background: none;
        }
    </style>
{% endblock css %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Jóvenes</li>
    <li class="breadcrumb-item"><a href="">Amigos</a></li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-user-following icon-orange"></i> Jóvenes
    <p style="color:gray; font-size: 14px; line-height: normal; font-weight: normal;">¿Y si nos conocemos? Te vamos a sugerir personas que tienen gustos parecidos a los
         tuyos y con quienes puedes <b>TUS RELACIONES DE VALOR</b>, puedes visitar sus redes sociales y entrar en contacto con ellos.
          Selecciónalos de amigos si los conoces o quieres tener en cuenta para armar equipos con ellos ahora o más adelante.
         <b>RECUERDA</b> no es Facebook lo que busca <b>Mi Eslabón</b>, es que busques con quienes puedes <b>CREAR</b> cosas para tu vida y hacer proyectos <b>JUNTOS</b>.         
    </p>
{% endblock titulo_pagina %}
{% block contenido %}
    <div>
        {% block contenido_panel %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                    <form method="GET">
                        {% for tipo in tipos %}
                            <input type="submit" name="tag" value="{{ tipo.nombre }}" class="btn btn-sm {% if tipo.nombre == tag %}btn-orange{% else %}btn-outline-orange{% endif %} ml-1">
                        {% endfor %}                        
                    </form>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" align="right">
                    <form method="GET">
                        <div class="form-group" style="margin:0; position: relative; width:100%">
                            <input id="id_q" class="controls form-control" type="text" name="q" style="border: solid 1px; border-color: rgb(248, 96, 12); background-color:white !important;" placeholder="Buscar...">
                            <button type="submit" id="btn_buscar" class="btn-buscar" style="border: solid 1px; color: rgb(248, 96, 12); border-color: rgb(248, 96, 12); border-radius: 0px 100px 100px 0px;"><i class="fa fa-arrow-down"></i></button>
                        </div> 
                    </form>                    
                </div>               
                <div class="col-12 contenido">
                    <div class="row">                        
                        {%for joven in jovenes %}
                            <div class="container-fluid rounded my-1 py-1 align-items-center border bg bg-white">
                                <div class="row my-auto">
                                    <div class="col-1 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-2 my-auto hovereffect">   
                                        {%if joven.usuario.foto_perfil%}                               
                                            <img src="{{joven.usuario.foto_perfil.url}}" alt="Imagen perfil" class="img img-circle img-fluid my-auto" style="width: 50px; height: 50px;">
                                        {% else %}
                                            <img  src="{% static 'img/jovenens/predeterminada.jpg' %}" class="img img-circle img-fluid my-auto" style="width: 50px; height: 50px;">
                                        {% endif %}
                                    </div>
                                    <div class="col-2 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-2 my-auto ml-3">
                                        <strong>{{joven.usuario}}</strong>                                        
                                    </div>
                                    <div class="row justify-content-xl-end justify-content-xs-center col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-6 my-auto no-gutters">                                                                                                          
                                        <div class="bg-green text-center my-1 mx-1"  style="border-radius: 50px; width: 110px;">
                                            <strong>{{joven.usuario.obtener_insignias.tribu}}</strong>
                                        </div>                                                        
                                        {%for rol in joven.usuario.obtener_insignias.roles%}
                                            <div class="bg-orange text-center my-1 mx-1"  style="border-radius: 50px; width: 110px;">
                                                <strong>{{rol}}</strong> 
                                            </div>
                                        {%endfor%}
                                        <div class="bg-yellow text-center my-1 mx-1" style="border-radius: 50px; width: 110px;">
                                            <strong>{{joven.usuario.obtener_insignias.nivel}}</strong>                                                     
                                        </div>                     
                                    </div>                  
                                   
                                    <div class="row col-xs-12 col-sm-12 col-lg-2 col-xl-2 justify-content-lg-end justify-content-xs-center align-items-center my-2" >                                        
                                        <div class="btn-group pull-right mr-3">
                                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100px; background-color: #A32CDF; color: white;">
                                                Ver más                                                                                                                                           
                                            </button>
                                            <div class="dropdown-menu">            
                                                <a class="dropdown-item" href="{% url 'usuarios:tarjeta_presentacion' joven.usuario.id %}">Visitar perfil</a>   
                                                {%for mensaje in joven.mensajes%}      
                                                    <a class="dropdown-item" href="{% url mensaje.url joven.usuario.id 0%}">{{mensaje.accion}}</a>                                                       
                                                {%endfor%}                                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>                                                                        
                            </div>
                        {% empty %}
                            <div class="col-12 px-0" align="center">
                                <h4 class="mt-5">No se encontraron Jóvenes.</h4>
                            </div>                       
                        {%endfor%}                                
                    </div>
                </div>                
                <div class="container mt-2 col-12">
                    {% if is_paginated %}
                        <ul class="pagination">                                 
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a href="
                                    {%if tag|cambiar_espacio_por_mas in request.get_full_path %}
                                    ?{{tag|cambiar_espacio_por_mas}}&page=1
                                    {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page=1
                                    {%else%}?Todos&page=1{%endif%}"
                                    class="page-link">Primero</a>
                                </li>
                                <li class="page-item">
                                    <a href="
                                    {%if tag|cambiar_espacio_por_mas in request.get_full_path %}
                                    ?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.previous_page_number }}
                                    {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.next_page_number }}
                                    {%else%}?Todos&page={{ page_obj.previous_page_number }}{%endif%}"
                                    class="page-link">Atrás</a>
                                </li>
                            {%else%}
                                <li class="page-item disabled" style="background-color: lightgray;">
                                    <a href="#" class="page-link" style="background-color: lightgray;">Atrás</a>
                                </li>
                            {% endif %}
                            {% for i in paginator.page_range %}     
                                {% if page_obj.number == i %}                             
                                    <li class="page-item {%if page_obj.number == i%}active{%endif%}" style="background-color: rgb(102, 45, 145); border: 1px solid rgb(102, 45, 145);">
                                        <a href="
                                        {%if tag|cambiar_espacio_por_mas in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{i}}
                                        {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.next_page_number }}
                                        {%else%}?Todos&page={{i}}{%endif%}"
                                        class="page-link" style="background-color: rgb(102, 45, 145); border: 1px solid rgb(102, 45, 145);">{{i}}</a>
                                    </li>       
                                {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}         
                                    <a href="
                                        {%if tag|cambiar_espacio_por_mas in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{i}}
                                        {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.next_page_number }}
                                        {%else%}?Todos&page={{i}}{%endif%}"
                                        class="page-link" >{{i}}</a>
                                {% endif %}                         
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a href="
                                    {%if tag|cambiar_espacio_por_mas in request.get_full_path %}
                                    ?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.next_page_number }}
                                    {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.next_page_number }}
                                    {%else%}?Todos&page={{ page_obj.next_page_number }}{%endif%}"
                                    class="page-link">Siguiente</a>
                                </li>   
                                <li class="page-item">
                                    <a href="
                                    {%if tag|cambiar_espacio_por_mas in request.get_full_path %}
                                    ?{{tag|cambiar_espacio_por_mas}}&page={{paginator.page_range|length}}
                                    {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{paginator.page_range|length}}
                                    {%else%}?Todos&page={{paginator.page_range|length}}{%endif%}"
                                    class="page-link">Último</a>
                                </li>                             
                            {%else%}
                                <li class="page-item disabled" style="background-color: lightgray;">
                                    <a href="#" class="page-link" style="background-color: lightgray;">Siguiente</a>
                                </li>
                            {% endif %}
                        </ul>
                    {%endif%}
                </div>
            </div>
        {% endblock contenido_panel %}
    </div>
    
{% endblock contenido %}
