{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load extra_tags %}

{% block titulo %}
    Invitar Jóvenes  
{% endblock titulo %}

{% block css %}
    <style type="text/css">
        .panel{
            background: none;
        }
    </style>
{% endblock css %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Jóvenes</li>
    <li class="breadcrumb-item active">Invitar</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-user-following icon-orange"></i> Invitar Jóvenes
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row bg-white p-5">
        <div class="col-12 p-5">        
            <form method="post" enctype="multipart/form-data" action=''>{% csrf_token %}
                <div class="row">
                    <div class="col-12 mb-2">
                        <p class="mb-1">
                            <i>El siguiente formulario le permite invitar jóvenes forma masiva.</i>
                        </p>
                    </div>
                    <div class="col-12 mb-2">
                        <div class="row">
                            <div class="col-12">
                                <p>
                                    Aquí puedes <b>invitar</b> personas que están fuera de <b>MiEslabon.com</b>, puedes hacerlo usando su correo electrónico en 
                                    <b>INVITAR POR CORREO</b> o en caso de que sea un grupo o colectivo de muchos jóvenes puedes ayudarte con la 
                                    herramienta de <b>CARGUE MASIVO</b>, descarga el modelo de <b>EXCEL</b>, llena con los datos que deseas invitar y súbelo, 
                                    así nosotros les enviamos los correos a todos, anímate a invitar a quienes crees que merecen estar!
                                </p>
                                <p>
                                    El archivo a cargar debe estar en formato Excel y debe contener las columnas del <b>EXCEL EJEMPLO</b>
                                    (en el mismo orden especificado):
                                </p>
                                <p>
                                    A continuación puede descargar el <b>EXCEL DE EJEMPLO</b> para subir los usuarios al sistema:
                                    <a href="{% static '/excel/cargue_masivo_correos.xlsx' %}"
                                    class="btn btn-xs btn-secondary" target="_blank">
                                        <b>Descargar aquí <i class="fa fa-download"></i></b>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
                {% for campo in form %}          
                    {% if campo.name == 'cargue_masivo' %}
                        <div class="row pl-5 pr-5">
                            <div class="col-sm-3 col-md-3 col-lg-1">
                                {% bootstrap_label campo.label %}
                            </div>
                            <div class="input mb-3 col-12 col-sm-9 col-md-9 col-lg-11">
                                <div style="height: calc(1.2em + 14px + 2px); overflow:hidden; text-align: left;" class="custom-file">
                                    <div>
                                        <input type="file"
                                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                            name="archivo_excel" class="custom-file-input" id="archivo_excel">
                                        <label style="height: calc(1.2em + 14px + 2px);" class="custom-file-label" for="inputGroupFile01">Seleccione el archivo...</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {%else%}
                        <div class="row pl-5 pr-5">
                            <div class="col-sm-3 col-md-3 col-lg-1">
                                {% bootstrap_label campo.label %}
                            </div>
                            <div class="col-sm-9 col-md-9 col-lg-11">
                                {% bootstrap_field campo placeholder="Separe cada correo con una coma(,).... ejemplo@corre.com,ejemplo2@correo.com" layout='inline'%}
                            </div>
                        </div>                    
                    {%endif%}
                    
                {%endfor%}
                
                

                
                <div class="row justify-content-center mx-2 my-2">           
                    <div class="" >
                        <button class="btn btn-primary" type="submit">Enviar Invitaciones</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock contenido_panel %}

{% block js %}
    {{ block.super }}
    <script>
        $(".js-example-tags").select2({
                                tags: true
                                });
    </script>

    <script>
        document.querySelector('.custom-file-input').addEventListener('change',function(e){
            var fileName = document.getElementById("archivo_excel").files[0].name;
            var nextSibling = e.target.nextElementSibling;
            nextSibling.innerText = fileName;
        });
    </script>
{% endblock js %}