{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Asignar Tanda de Formularios
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Formularios</li>
    <li class="breadcrumb-item"><a href="{% url 'tandas:asignaciones' %}">Tandas Asignadas</a></li>
    <li class="breadcrumb-item active">Asignar Tanda de Formularios</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-open icon-orange"></i> Asignar Tanda de Formularios
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <div class="col-12 mb-2">
                <p class="mb-1">
                    <i>El siguiente formulario permite asignar una tanda de formularios a un joven.</i>
                </p>
            </div>
            {% for campo in form %}
                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                    {% bootstrap_field campo placeholder="" %}
                </div>
            {% endfor %}
            {% if form.non_field_errors %}
                <div class="col-12">
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-6" align="left">
                <a class="btn btn-secondary" href="{% url "tandas:asignaciones" %}"><i class="icon-arrow-left"></i> Atrás</a>
            </div>
            <div class="col-6" align="right">
                <button class="btn btn-primary" type="submit">Asignar Tanda <i class="icon-arrow-right"></i></button>
            </div>
        </div>
    </form>
{% endblock contenido_panel %}


