{% extends 'base_tablas.html' %}

{% block titulo %}
    Tandas de Formularios
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Formularios</li>
    <li class="breadcrumb-item"><a href="{% url "tandas:listado" %}">Gestión Tandas Formularios</a></li>
    <li class="breadcrumb-item active">Modificar Tanda de Formularios</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-open icon-orange"></i> Tandas de Formularios
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan las tandas de formularios registradas en el sistema.</i>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Nombre de la tanda</th>
                        <th>Formularios asociados</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tanda in tandas %}
                        <tr>
                            <td>{{tanda.nombre}}</td>
                            <td>{{ tanda.formularios.all|join:", " }}</td>
                            <td align="center">
                                {% if tanda.activo == True %}
                                    <span class="label label-lime">ACTIVA</span>
                                {% else %}
                                    <span class="label label-secondary">INACTIVA</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

