{% extends 'base_tablas.html' %}
{% load static %}

{% block titulo %}
    Consultar Tandas Asignadas
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Formularios</li>
    <li class="breadcrumb-item active">Tandas Asignadas</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-open icon-orange"></i> Consultar Tandas Asignadas
{% endblock titulo_pagina %}

{% block contenido_panel %}
     <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan los jovenes con tandas de formularios asignadas.</i>
            </p>
        </div>
        <div class="col-md-12" align="right">
            <a class="btn btn-primary" href="{% url "tandas:asignar" %}"><i class="fas fa-plus"></i> Asignar Tanda</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable" style="width:100%; overflow-x: auto">
                    <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Correo electrónico</th>
                        <th>Tanda</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for joven in jovenes %}
                        <tr>
                            <td>{{joven.first_name}}</td>
                            <td>{{joven.last_name}}</td>
                            <td>{{joven.email}}</td>
                            <td>{{joven.tanda_formularios}}</td>
                            <td align="center">
                                <div class="row acciones">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <a title="Deshabilitar para el joven" href="{% url 'tandas:deshabilitar' joven.pk %}"><i class="fas fa-power-off"></i></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}