{% extends 'base.html' %}

{% load bootstrap4 %}

{% block titulo %}
    Registrar Tanda de Formularios
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Formularios</li>
    <li class="breadcrumb-item"><a href="{% url "tandas:listado" %}">Gestión Tandas Formularios</a></li>
    <li class="breadcrumb-item active">Registrar Tanda de Formularios</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
   <i class="icon-book-open icon-orange"></i> Registrar Tanda de Formularios
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <form method="post">{% csrf_token %}
        <div class="row">
            <div class="col-12 mb-2">
                <p class="mb-1">
                    <i>El siguiente formulario permite el registro de una tanda de formularios en el sistema.</i>
                </p>
            </div>
            {% for campo in form %}
                {% if campo.name == 'activo'%}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4" align="left">
                        {% bootstrap_field campo field_class="form-check checkbox checkbox-css pt-0 checkbox-inline" placeholder="" %}
                    </div>
                {% else %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                        {% bootstrap_field campo placeholder="" %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-6" align="left">
                <a class="btn btn-secondary" href="{% url "tandas:listado" %}"><i class="fa fa-angle-left"></i> Atrás</a>
            </div>
            <div class="col-6" align="right">
                <button class="btn btn-primary" type="submit">Registrar Tanda de Formularios <i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </form>
{% endblock contenido_panel %}

{% block js %}
    <script>
        document.getElementById('id_escala_max').parentElement.parentElement.style.display = "none";
        var tipo_pregunta = document.getElementById("id_tipo_preguntas");
        tipo_pregunta.onchange = function(){
            if(tipo_pregunta.value == "E" || tipo_pregunta.value == "M")
                document.getElementById('id_escala_max').parentElement.parentElement.style.display = "";
            else
                document.getElementById('id_escala_max').parentElement.parentElement.style.display = "none";
        };
    </script>
{% endblock js %}
