{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load extra_tags %}

{% block titulo %}
    Postular Mis Equipos 
{% endblock titulo %}

{% block css %}
    <style type="text/css">
        .panel{
            background: none;
        }
    </style>
{% endblock css %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Retos</li>
    <li class="breadcrumb-item active">Postular Mis Equipos </li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-open icon-orange"></i> Postular Mis Equipos 
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row">
        <div class="mb-3 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="tab-content p-15 rounded bg-white">
                <div class="tab-pane fade active show">
                    <h3 class="m-t-10 m-b-10">Postular Mis Equipos </h3>
                    <p class="mb-4 mr-5">
                        <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia iste numquam, a nam assumenda obcaecati facilis minima aut. Sit eos quia aut rerum accusantium dolorum, tempore veritatis ea minima optio.
                        </i>
                    </p>
                    <form class="ml-5 mt-5" method="post" enctype="multipart/form-data" action=''>{% csrf_token %}
                        <div class="row pl-5 pr-5">
                            <div class="col-12">
                                {{form_postulacion.media}}
                                {% bootstrap_form form_postulacion %}
                            </div>
                        </div> 
                    <div class="row">
                        <div class="col-12" align="right">
                            <button class="btn btn-primary" name="enviar_postulacion" type="submit">Enviar Postulación</button>
                        </div>
                    </div>
                    <hr>
                    <h3>Mis Solicitudes y Postulaciones</h3>
                    <div class="row">
                        <div class="col-12 justify-content-center">
                            <div class="row col-12 m-t-5 justify-content-center">
                                <div class="col-6" id="div_invitados">
                                    
                                    {% if relacion_equipo_reto%}
                                        <div class="table-responsive">
                                            <table class='table table-bordered table-striped table-td-valign-middle'>
                                                <thead>                                                    
                                                    <th>Nombre Reto</th>
                                                    <th>Nombre Equipo</th>
                                                    <th></th>
                                                </thead>
                                                <tbody>
                                                    {% for relacion in relacion_equipo_reto %}      
                                                        <tr>                                                                                                                               
                                                            <td>
                                                                {{relacion.reto.nombre}}
                                                            </td>
                                                            <th>
                                                                {%if relacion.equipo.logo %}
                                                                    <img src="{{relacion.equipo.logo.url}}" alt="Imagen perfil" class="img-circle my-auto" style="width: 35px; height: 35px;">
                                                                {% else %}
                                                                {% endif %}
                                                                {{relacion.equipo}}
                                                            </th> 
                                                            <td align="center">         
                                                                                                                     
                                                                {% if 'Postulado' in relacion.relacion%}                                                                
                                                                    <a class="btn btn-xs btn-blue" href='{% url "retos:retos_rechazar_solicitud_equipo" relacion.equipo.id relacion.reto.id %}'>Cancelar Postulación</a>                                                                    
                                                                {% elif  'Invitado' in relacion.relacion%}
                                                                    <a class="btn btn-xs btn-primary my-1" href="{% url 'retos:retos_aceptar_solicitud_equipo' relacion.equipo.id relacion.reto.id%}">Aceptar Reto</a>
                                                                    <a class="btn btn-xs btn-danger" href="{% url 'retos:retos_rechazar_solicitud_equipo' relacion.equipo.id relacion.reto.id%}">Rechazar Reto</a>
                                                                {% elif  'Aceptado' in relacion.relacion%}
                                                                    <a class="btn btn-xs btn-danger" href="{% url 'retos:retos_retirar_equipo' relacion.equipo.id relacion.reto.id%}">Abandonar Reto</a>
                                                                {% endif %}                                                                                                             
                                                            </td>
                                                        </tr>                                                       
                                                    {% empty %}
                                                        <tr>
                                                            <td colspan="5" align="center">
                                                                <b> Todavía no hay equipos inscritos a un reto</b>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-12" align="right">
                            <button class="btn btn-primary" name="finalizar">Finalizar</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}
