{% extends "base_tablas_server.html" %}
{% load extra_tags %}

{% block titulo %}
    Auditor Navegación
{% endblock %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="breadcrumb-item">Auditoría</li>
    <li class="breadcrumb-item active">Auditor Navegación</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    Auditor de Navegación
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable" style="width:100%; overflow-x: auto">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>URL Solicitada</th>
                        <th>Método HTTP</th>
                        <th>IP Remota</th>
                        <th>Usuario</th>
                        <th align="center">Tipo</th>
                        <th>Fecha en que se realizó</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

{% block js %}
    {{ block.super }}
    <script language="javascript">
        $(document).ready(function () {
            /* Here begins the DataTable configuration. */
            $('.datatable').DataTable({
                order: [[ 6, "desc" ]],
                serverSide: true,
                ajax: {
                    url: '{% url "auditorias:auditor_navegacion_data" %}',
                },
                dom: 'Bfrtip',
                columns: [
                    {name: "id", data: "id"},
                    {name: "url", data: "url"},
                    {name: "method", data: "method"},
                    {name: "remote_ip", data: "remote_ip"},
                    {name: "user", data: "user"},
                    {name: "user__tipo", data: "user__tipo"},
                    {name: "datetime", data: "datetime"},
                ],
                buttons: [
                    {
                        extend: 'csv',
                        className: 'btn-sm',
                        exportOptions: {
                            modifier: {
                                selected: null
                            }
                        }
                    },
                    {
                        extend: 'excel',
                        className: 'btn-sm',
                        exportOptions: {
                            modifier: {
                                selected: null
                            }
                        }
                    },
                    {
                        extend: 'pdf',
                        className: 'btn-sm',
                        exportOptions: {
                            modifier: {
                                selected: null
                            }
                        }
                    },
                    {
                        extend: 'print',
                        className: 'btn-sm',
                        text: 'Imprimir',
                        exportOptions: {
                            columns: [
                                {name: "id", data: "id"},
                                {name: "url", data: "url"},
                                {name: "method", data: "method"},
                                {name: "remote_ip", data: "remote_ip"},
                                {name: "user", data: "user"},
                                {name: "user__tipo", data: "user__tipo"},
                                {name: "datetime", data: "datetime"},
                            ]
                        }
                    },
                    {
                        extend: 'colvis',
                        className: 'btn-sm',
                        text: 'Mostrar/Ocultar columnas'
                    }
                ],
                language: {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                }
            });
        });
    </script>
{% endblock js %}