{% extends "base_tablas.html" %}
{% load extra_tags %}

{% block titulo %}
    Auditor Sesiones
{% endblock %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="breadcrumb-item">Auditoría</li>
    <li class="breadcrumb-item active">Auditor Sesiones</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    Auditor de Sesiones
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mt-1">
                <b>Sesiones registradas: {{ logs_sesiones|length }}</b>
            </p>
        </div>

    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable" style="width:100%; overflow-x: auto">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tipo de logueo</th>
                        <th>Usuario</th>
                        <th>Tipo</th>
                        <th>IP</th>
                        <th>Fecha</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for log_sesion in logs_sesiones %}
                        <tr>
                            <td>{{ log_sesion.id }}</td>
                            <td>{{ log_sesion.login_type | tipo_logueo | safe}}</td>
                            <td>{{ log_sesion.user.email }}</td>
                            <td align="center"><span class="label label-aqua">{{ log_sesion.user.tipo|default:'Anónimo' }}</span></td>
                            <td>{{ log_sesion.remote_ip }}</td>
                            <td>{{ log_sesion.datetime }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}