{% extends "base_tablas.html" %}
{% load extra_tags %}

{% block titulo %}
    Cambio Instancia
{% endblock %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="breadcrumb-item">Auditoría</li>
    <li class="breadcrumb-item"><a href="{% url 'auditorias:consultar_cambios' %}">Auditor Datos</a></li>
    <li class="breadcrumb-item"><a href="{% url 'auditorias:consultar_cambios_aplicacion' nombre_app %}">Cambios Aplicación</a></li>
    <li class="breadcrumb-item"><a href="{% url 'auditorias:consultar_cambios_instancia' nombre_app nombre_modelo pk_objeto%}">Consultar Cambios Instancia</a></li>
    <li class="breadcrumb-item active">Cambio Instancia</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    Cambio de la Instancia [ {{objeto}} ]
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mt-1">
                <b>Cambios registrados: {{ objeto_cambio_dict.items|length }}</b>
            </p>
        </div>
        <div class="col-md-12">
            <div class="col text-left">
                {% if objeto_cambio.prev_record %}
                    <a href="{% url 'auditorias:consultar_cambio_instancia' nombre_app nombre_modelo pk_objeto objeto_cambio.prev_record.pk %}">
                        <i class="fas fa-arrow-left"></i> Cambio Anterior
                    </a>
                {% endif %}
            </div>
            <div class="col text-right">
                {% if objeto_cambio.next_record %}
                    <a href="{% url 'auditorias:consultar_cambio_instancia' nombre_app nombre_modelo pk_objeto objeto_cambio.next_record.pk %}">
                        Siguiente Cambio <i class="fas fa-arrow-right"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable" style="width:100%; overflow-x: auto">
                    <thead>
                    <tr>
                        <th>Campo</th>
                        <th>Valor</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for campo, valor  in objeto_cambio_dict.items  %}
                        {% with forloop.counter0  as i%}
                            <tr>
                                <td>{{ campo }} </td>
                                <td>{{ valor }}</td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}