{% extends "base_tablas.html" %}
{% load extra_tags %}

{% block titulo %}
    Auditor Datos
{% endblock %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="breadcrumb-item">Auditoría</li>
    <li class="breadcrumb-item active">Auditor Datos</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    Auditor de Datos
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mt-1">
                <b>Aplicaciones registradas: {{ aplicaciones|length }}</b>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable" style="width:100%; overflow-x: auto">
                    <thead>
                    <tr>
                        <th>Aplicación</th>
                        <th>Modelos</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for aplicacion in aplicaciones %}
                        <tr>
                            <td>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item list-group-item-lime">
                                        <div class="row inline">
                                            <div class="col-5">{{aplicacion.nombre_aplicacion}}</div>
                                            <div class="col-7 text-right">
                                                <a class="btn btn-secondary" href="{% url 'auditorias:consultar_cambios_aplicacion' aplicacion.nombre_aplicacion %}">
                                                    <i class="fas fa-eye"></i>
                                                    Ver cambios
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-group list-group-flush">
                                    {% for nombre_modelo in aplicacion.nombres_modelos %}
                                        <li class="list-group-item list-group-item-cream">
                                            <div class="row inline">
                                                <div class="col-5">{{nombre_modelo}}</div>
                                                <div class="col-7 text-right">
                                                    <a class="btn btn-secondary" href="{% url 'auditorias:consultar_cambios_modelo' aplicacion.nombre_aplicacion nombre_modelo %}">
                                                        <i class="fas fa-eye"></i>
                                                        Ver cambios
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}