{% extends "base_tablas.html" %}
{% load extra_tags %}

{% block titulo %}
    Cambios Instancia
{% endblock %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="breadcrumb-item">Auditoría</li>
    <li class="breadcrumb-item"><a href="{% url 'auditorias:consultar_cambios' %}">Auditor Datos</a></li>
    <li class="breadcrumb-item"><a href="{% url 'auditorias:consultar_cambios_aplicacion' nombre_app %}">Cambios Aplicación</a></li>
    <li class="breadcrumb-item active">Consultar Cambios Instancia</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    Consultar Cambios en la Instancia [ {{objeto}} ]
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mt-1">
                <b>Cambios registrados: {{ cambios|length }}</b>
            </p>
        </div>

    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable" style="width:100%; overflow-x: auto">
                    <thead>
                    <tr>
                        <th>Id cambio</th>
                        <th>Usuario Actor</th>
                        <th>Tipo Acción</th>
                        <th>Fecha</th>
                        <th>cambio</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cambio in cambios %}
                        <tr>
                            <td>{{ cambio.history_id }}</td>
                            <td>{{ cambio.history_user }}</td>
                            <td align="center">
                                {% if cambio.history_type == '+' %}
                                    <span class="label label-pink">Creación</span>
                                {% elif cambio.history_type == '~' %}
                                    <span class="label label-orange">Modificación</span>
                                {% elif cambio.history_type == '-' %}
                                    <span class="label label-danger">Eliminación</span>
                                {% endif %}
                            </td>
                            <td>{{ cambio.history_date }}</td>
                            <td>
                                <a class="btn btn-xs btn-secondary" href="{% url 'auditorias:consultar_cambio_instancia' nombre_app nombre_modelo cambio.instance.pk cambio.pk%}">
                                    <i class="fas fa-eye"></i>
                                    Ver cambio
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}