{% extends 'base_tablas.html' %}

{% block titulo %}
    Ámbitos
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Formularios</li>
    <li class="breadcrumb-item">Gestión Formularios</li>
    <li class="breadcrumb-item active">Ámbitos</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-open icon-orange"></i> Ámbitos
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan los ambitos registrados en el sistema y diferentes herramientas para su gestión.</i>
            </p>
        </div>
        <div class="col-md-12" align="right">
            <a class="btn btn-primary" href="{% url "formularios:registrar_ambito" %}"><i class="fas fa-plus"></i> Registrar Ámbito</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Nombre del ámbito</th>
                        <th>Descripción</th>
                        <th>Competencias</th>
                        <th>Estado</th>
                        <th style="max-width: 30px;">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ambito in ambitos %}
                        <tr>
                            <td>{{ambito.nombre}}</td>
                            <td>{{ambito.descripcion}}</td>
                            <td>{{ ambito.competencias.all|join:", " }}</td>
                            <td align="center">
                                {% if ambito.activo == True %}
                                    <span class="label label-lime">ACTIVO</span>
                                {% else %}
                                    <span class="label label-secondary">INACTIVO</span>
                                {% endif %}
                            </td>
                            <td align="center">
                                <div class="row">
{#                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">#}
{#                                        <a title="Ver" href="#"><i class="fas fa-eye"></i></a>#}
{#                                    </div>#}
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <a title="Modificar" href="{% url "formularios:modificar_ambito" ambito.id %}"><i class="fas fa-pen-alt"></i></a>
                                    </div>
{#                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">#}
{#                                        <a title="Activar/Inactivar" href="#"><i class="fas fa-trash-alt"></i></a>#}
{#                                    </div>#}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

