{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block titulo %}
    Registrar Ámbito
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Formularios</li>
    <li class="breadcrumb-item">Gestión Formularios</li>
    <li class="breadcrumb-item"><a href="{% url "formularios:listado_ambitos" %}">Ámbitos</a></li>
    <li class="breadcrumb-item active">Registrar Ámbito</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-open icon-orange"></i> Registrar Ámbito
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <form method="post">{% csrf_token %}
        <div class="row">
            <div class="col-12 mb-2">
                <p class="mb-1">
                    <i>El siguiente formulario permite el registro de un ámbito en el sistema.</i>
                </p>
            </div>
            <div class="col-12">
                <div class="row">
                    {% crispy form %}
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6" align="left">
                        <a class="btn btn-secondary" href="{% url "formularios:listado_ambitos" %}"><i class="fa fa-angle-left"></i> Atrás</a>
                    </div>
                    <div class="col-6" align="right">
                        <button class="btn btn-primary" type="submit">Registrar Ámbito <i class="fa fa-angle-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock contenido_panel %}

{% block js %}

{% endblock js %}