{% load static %}
{% load bootstrap4 %}
{% load fpc_tags %}

<!DOCTYPE html>
<html lang="es">
<head>
    {% fpc %}
    <meta charset="utf-8" />
    <title>
        {% block titulo %}

        {% endblock titulo %}
    </title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NC2M3KB');
    </script>
    <!-- End Google Tag Manager -->
    <link href="{% static 'css/default/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet" />
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="{% static 'css/default/css_googleapis.css' %}" rel="stylesheet" />
    <link href="{% static 'css/default/app.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/lightbox2/dist/css/lightbox.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/default/style-responsive.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <link href="{% static 'plugins/toastr/build/toastr.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom/fonts/AvenirLT-Pro-55-Roman.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom/fonts/AvenirLT-Std-95-Black.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom/app.css' %}" rel="stylesheet" />
    <link rel='icon' href="{% static 'img/logo/logo_vertical.png' %}" type='image/x-icon' sizes="16x20"/>
    <script src="{% static 'plugins/jquery/jquery-3.2.1.min.js' %}"></script>
    {{form.media}}

    {% block css %}
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
        .texto_inicio{
            font-family: 'Love Ya Like A Sister' !important;
            line-height : 18px;
        }

        @media (max-width: 768px){
            .contenedor-imagenes{
                display: none;
            }
            .texto_final{
                margin-top: 20px;
            }
        }

        @media (max-width: 1650px){
            .mano{
                display: none
            }
        }

        #usernameInput, #passwordInput{
            background-color:white;
            border: 1px solid black;
        }
    </style>
    {% endblock css %}
    <style>

    </style>
</head>
<body class="pace-top">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NC2M3KB"
        height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- begin #page-loader -->
<div id="page-loader" class="fade show"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade">
    <!-- begin login -->
    <div class="login login-with-news-feed row">
        <!-- begin news-feed -->
        <div class="col-lg-8 col-md-12" style="background-image: url({% static 'img/background/portada.png' %}); background-position:left; background-size: cover;">
            <div class="news-image"  ></div>
            <div class="row justify-content-center no-gutters">
                <div class="col-12" style="height: 400px;">
                    <div class="row col-12 text-center mt-3 justify-content-center" style="height: 400px; color: white; line-height: 12px; font-size: 20px; position: relative;">
                        <div class="col-12 texto_inicio">
                            <div class="brand" style="max-width: 150px; margin: auto;">
                                <img  style="width: 100%" src="{% static 'img/logo/Logo-mieslabon-blanco.png' %}">
                            </div>
                            <p class="">Mira el video para que entiendas</p>
                            <p>el proceso a seguir</p>
                        </div>

                        <div class="text-center mb-4" style="height: 300px; width: 600px;">
                            <video src="{% static 'videos/video_inicio.mp4' %}" style="height: 300px; width: 600px; object-fit: cover;" preload="auto" controls>
                                Tu navegador no implementa el elemento <code>video</code>.
                            </video>
                        </div>
                        <img src="{% static 'img/background/mano.png' %}" class="mano" style="height: auto; width: 250px; position: absolute; left: 0;">
                    </div>
                </div>
                <div class="row col-12 justify-content-center no-gutters mx-5 col-sm-12 mt-5 contenedor-imagenes">
                    <div class="col-xl-2 col-lg-3 col-md-3 p-0">
                        <img src="{% static 'img/background/imagen_1.png' %}" style="height: auto; width: 175px; position:relative;">
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 p-0 m-0">
                        <img src="{% static 'img/background/imagen_2.png' %}" style="height: auto; width: 175px; position:relative;">
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 p-0 m-0">
                        <img src="{% static 'img/background/imagen_3.png' %}" style="height: auto; width: 175px; position:relative;">
                    </div>
                </div>
                <div class="col-12 text-center mt-5" style="color: white; line-height: 20px; font-size: 20px;">
                    <p class="texto_final texto_inicio">¡Es muy sencillo!</p>
                    <p>Solo debes <b>Registrarte</b> y <b>Completar los Formularios</b> </p>
                    <p>para que juntos podamos encontrar puntos en común entre</p>
                    <p><b>TU PERFIL ACTUAL Y EL PERFIL QUE DESEAS TENER A FUTURO</b></p>
                </div>
            </div>
        </div>
        <!-- end news-feed -->
        <!-- begin right-content -->
        <div class="col-lg-4 col-md-12 row no-gutters px-5 py-0 mt-5" style="align-items: center; align-content:center">
            <!-- begin login-header -->

            <!-- end login-header -->
            <!-- begin login-content -->
            {% block contenido %}
            {% endblock contenido %}

            <!-- end login-content -->
            <div class="row col-12 justify-content-center">
                <div class="col-12 mt-2">
                    <a href="https://mieslabon.com/web" target="blank" class="btn btn-block btn-lg" style="border:0px solid #A57AB7; color:#874FA0; box-shadow: inset 0 0 0 1px #874FA0;">Visita nuestra Web</a>
                </div>
            </div>
            <div class="row col-12 justify-content-center mt-3" align="center">
                <div class="brand" style="max-width: 150px">
                    <img  style="width: 100%" src="{% static 'img/logo/Logo-mieslabon-gris.png' %}">
                </div>
            </div>
            <div class="col-12 mt-3 text-center" align="center" style="font-size: 14px;">
                <p><i class="far fa-envelope"></i> contame@mieslabon.com | <i class="fab fa-whatsapp"></i> (+57) 301 219 6006</p>
            </div>
        </div>
        <!-- end right-container -->
    </div>
    <!-- end login -->
</div>
<!-- end page container -->
{% block modal %}

{% endblock modal %}

<!-- ================== BEGIN BASE JS ================== -->
<script src="{% static 'js/app.min.js' %}"></script>
<script src="{% static 'plugins/lightbox2/dist/js/lightbox.min.js' %}"></script>
<script src="{% static 'js/theme/default.min.js' %}"></script>
<!-- ================== END BASE JS ================== -->
<script src="{% static 'plugins/toastr/build/toastr.min.js' %}"></script>
<script src="{% static 'plugins/moment/min/moment-with-locales.min.js' %}"></script>
<script src="{% static 'plugins/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>


<script>
    $('.fecha').datetimepicker({"format": "YYYY-MM-DD", "icons": {"time": "fa fa-clock-o"}, "locale": "es"});

    $(".readonly").keydown(function(e){
        e.preventDefault();
    });
</script>

<script>
    $(document).ready(function() {
        {% for msg in messages %}
            $(document).ready(function(){
                setTimeout(function() {
                    toastr.options = {
                        "allowHtml": true,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": true,
                        "newestOnTop": true,
                        "closeButton": true,
                        "progressBar": true,
                        "showEasing": "swing",
                        "extendedTimeOut": 8000,
                        "timeOut": 8000,
                        "body-output-type": "trustedHtml"
                    };
                    toastr["{{ msg.tags }}"]("{{msg|safe}}")
                },500);
            });
        {% endfor %}
    });
    $('form').attr('autocomplete','off');
</script>

{% block js %}
{% endblock js %}
</body>
</html>
