
{% load static %}
{% load fpc_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% fpc %}
    <meta charset="utf-8" />
    <title>
        {% block titulo %}
            Home
        {% endblock titulo %}
    </title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NC2M3KB');</script>
    <!-- End Google Tag Manager -->

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="{% static 'css/default/app.min.css' %}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->

</head>

<body>
    <div class="error">
        <div class="error-code" style="background-color:#F3F5F6; color:#808080;">
            {% block error_code %} {% endblock error_code %}
        </div>
        <div class="error-content" style="background-color:#874FA0;">
            <div class="error-message">No pudimos encontrarlo...</div>
            <div class="error-desc mb-3 mb-sm-4 mb-md-5">
                {% block error_mensaje %}
                {% endblock error_mensaje %}
            </div>
            <div>
                <a href="{% url 'usuarios:iniciar_sesion' %}" class="btn  p-l-20 p-r-20"
                style="border:2px solid #A57AB7; background-color:#ffffff; color:#874FA0;" >
                Ir a Inicio
                </a>
            </div>
        </div>
    </div>

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{% static 'js/app.min.js' %}"></script>
    <script src="{% static 'js/theme/default.min.js' %}"></script>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="769f73c8a55d09308b5bf07f-|49" defer=""></script>
    <!-- ================== END JS ================== -->

</body>
</html>


