{% load static %}
{% load bootstrap4 %}
{% load fpc_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% fpc %}
    <meta charset="utf-8" />
    <title>
        {% block titulo %}
            Home
        {% endblock titulo %}
    </title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="{% static 'plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet" />
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="{% static 'css/default/css_googleapis.css' %}" rel="stylesheet" />
    <link href="{% static 'css/default/app.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/lightbox2/dist/css/lightbox.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/default/style-responsive.min.css' %}" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <link href="{% static 'plugins/toastr/build/toastr.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/gritter/css/jquery.gritter.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom/fonts/AvenirLT-Pro-55-Roman.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom/fonts/AvenirLT-Std-95-Black.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/ionicons/css/ionicons.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom/app.css' %}" rel="stylesheet" />
    <link rel='icon' href='{% static 'img/logo/logo_vertical.png' %}' type='image/x-icon' sizes="16x20"/>
    <script src="{% static 'plugins/jquery/jquery-3.2.1.min.js' %}"></script>
    {{ form.media }}
    <style>
        .select2{
            width: 100% !important;
        }
    </style>
    {% block css %}
    {% endblock css %}



</head>
<body>
<!-- begin #page-loader -->
<div id="page-loader" class="fade show"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed show">
    <!-- begin #header -->
    <div id="header" class="header navbar-default" style="box-shadow: -1px 1px 20px 0 #797575;">
        <!-- begin navbar-header -->
        <div class="navbar-header">
            <a class="navbar-custom" href="{% url "inicio" %}">
                <span class="navbar-logo">
                    <img src="{% static 'img/logo/logo_horizontal.png' %}" alt="logo_kairos">
                </span>
            </a>
            <button type="button" class="navbar-toggle navbar-right" data-click="sidebar-toggled">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
    <!-- end #header -->
   
    <div class="sidebar-bg"></div>
    <!-- end #sidebar -->

    <!-- begin #content -->
    <div id="content" class="content">
        <ol class="breadcrumb float-xl-right">
            {% block miga_pan %}
            {% endblock miga_pan %}
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <!-- begin page-header -->
        <h1 class="page-header mb-3">{% block titulo_pagina %}{% endblock titulo_pagina %}</h1>
        <!-- end page-header -->
        <!-- end page-header -->
        <!-- begin daterange-filter -->

        {% block contenido %}
            <div class="panel panel-inverse">
                <div class="panel-body">
                    {% block contenido_panel %}{% endblock contenido_panel %}
                </div>
            </div>
        {% endblock contenido %}

    </div>
    <!-- end #content -->

    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top" style="background-color: rgb(102, 45, 145); border: 1px solid rgb(102, 45, 145);"><i class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
</div>
<!-- end page container -->
<script src="{% static 'js/app.min.js' %}"></script>
<script src="{% static 'js/theme/default.min.js' %}"></script>
<script src="{% static 'plugins/lightbox2/dist/js/lightbox.min.js' %}"></script>
<!-- ================== END BASE JS ================== -->
<script src="{% static 'plugins/toastr/build/toastr.min.js' %}"></script>
<script src="{% static 'plugins/gritter/js/jquery.gritter.js' %}"></script>
<script src="{% static 'plugins/moment/min/moment-with-locales.min.js' %}"></script>
<script src="{% static 'plugins/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>

<script>
    $('.fecha').datetimepicker({"format": "YYYY-MM-DD", "icons": {"time": "fa fa-clock-o"}, "locale": "es"});
    $('.hora').datetimepicker({format: 'HH:mm:ss'});

    $(".readonly").keydown(function(e){
        e.preventDefault();
    });
</script>
<script>
    $(document).ready(function() {
        {% for msg in messages %}
            $(document).ready(function(){
                setTimeout(function() {
                    toastr.options = {
                        "allowHtml": true,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": true,
                        "newestOnTop": true,
                        "closeButton": true,
                        "progressBar": true,
                        "showEasing": "swing",
                        "extendedTimeOut": 5000,
                        "timeOut": 5000,
                        "body-output-type": "trustedHtml"
                    };
                    toastr["{{ msg.tags }}"]("{{msg|safe}}")
                },500);
            });
        {% endfor %}
    });
    $('form').attr('autocomplete','off');
</script>

{% block js %}
{% endblock js %}
</body>
</html>
