﻿{% load static %}
{% load bootstrap4 %}
{% load fpc_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% fpc %}
    <meta charset="utf-8"/>
    <title>
        {% block titulo %}
            Home
        {% endblock titulo %}
    </title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NC2M3KB');</script>
    <!-- End Google Tag Manager -->

    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"/>
    <link href="{% static 'plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet"/>
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="{% static 'css/default/css_googleapis.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/default/app.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'plugins/lightbox2/dist/css/lightbox.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/default/style-responsive.min.css' %}" rel="stylesheet"/>
    <!-- ================== END BASE CSS STYLE ================== -->
    <link href="{% static 'plugins/toastr/build/toastr.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/gritter/css/jquery.gritter.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/custom/fonts/AvenirLT-Pro-55-Roman.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/custom/fonts/AvenirLT-Std-95-Black.css' %}" rel="stylesheet"/>
    <link href="{% static 'plugins/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/custom/whatsapp.css' %}" rel="stylesheet"/>
    <link href="{% static 'plugins/ionicons/css/ionicons.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/custom/app.css' %}" rel="stylesheet"/>
    <link rel='icon' href="{% static 'img/logo/logo_vertical.png' %}" type='image/x-icon' sizes="16x20"/>
    <script src="{% static 'plugins/jquery/jquery-3.2.1.min.js' %}"></script>

    {{ form.media }}
    <style>
        .select2 {
            width: 100% !important;
        }
    </style>
    {% block css %}
    {% endblock css %}


</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NC2M3KB"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- begin #page-loader -->
<div id="page-loader" class="fade show"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed show">
    <!-- begin #header -->
    <div id="header" class="header navbar-default" style="box-shadow: -1px 1px 20px 0 #797575;">
        <!-- begin navbar-header -->
        <div class="navbar-header">
            <a class="navbar-custom" href="{% url "inicio" %}">
                <span class="navbar-logo">
                    <img src="{% static 'img/logo/logo_horizontal.png' %}" alt="logo_kairos">
                </span>
            </a>
            <button type="button" class="navbar-toggle navbar-right" data-click="sidebar-toggled">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- end navbar-header -->

        <!-- begin header-nav -->
        <ul class="navbar-nav navbar-right">

            <li class="dropdown">
                {% if user.tipo == "Organización" and "organizaciones/consultar-jovenes/" in request.path %}
                    <a href="?tag=Solicitudes">
                        <i class="icon-bell" style="font-size:1.3rem"></i>
                        {% if solicitudes > 0 %}
                            <span class="badge badge-light position-absolute top-right"
                                  style="color:white; background-color: red">
                                {{ solicitudes }}
                            </span>
                        {% endif %}
                    </a>
                {% endif %}
            </li>
            <li class="dropdown navbar-user">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <div class="image">
                        {% if user.foto_perfil %}
                            <img src="{{ user.foto_perfil.url }}">
                        {% else %}
                            <img src="{% static 'img/jovenens/predeterminada.jpg' %}" class="img-fluid" width="100px">
                        {% endif %}
                    </div>
                    <b class="caret"></b>
                </a>
                {% if user.is_authenticated %}
                    <div class="dropdown-menu dropdown-menu-right" style="width: 220px">
                        <div class="text-center row">
                            <div class="col-12" align="center">
                                {% if user.foto_perfil %}
                                    <a href="{{ user.foto_perfil.url }}"
                                       style="border-radius: 50%; width: 75px; height: 75px; float: none"
                                       class="image image-icon text-grey-lighter my-1 mx-0"
                                       data-lightbox="gallery-group-1">
                                        <img style="border-radius: 50%; width: 100%; height: 100%"
                                             src="{{ user.foto_perfil.url }}">
                                    </a>
                                {% else %}
                                    <a href="" style="border-radius: 50%; width: 75px; height: 75px; float: none"
                                       class="image image-icon text-grey-lighter my-1" data-lightbox="gallery-group-1">
                                        <img style="border-radius: 50%; width: 100%; height: 100%"
                                             src="{% static 'img/jovenens/predeterminada.jpg' %}">
                                    </a>
                                {% endif %}
                                <h4 class="m-b-0 m-t-2">{{ user.first_name }}</h4>
                                <p class="text-muted m-b-0">{{ user.email }}</p>
                                <a class="btn btn-primary btn-sm px-2" href="{% url 'usuarios:perfil' %}">Editar
                                    Perfil</a>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'inicio' %}" class="dropdown-item" style="font-size: 13px">
                            <i class="fa fa-home"></i> Inicio
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'usuarios:cerrar_sesion' %}" class="dropdown-item" style="font-size: 13px">
                            <i class="fa fa-power-off"></i> Salir
                        </a>
                    </div>
                {% endif %}
            </li>
        </ul>
        <!-- end header-nav -->
    </div>
    <!-- end #header -->

    <!-- begin #sidebar -->
    <div id="sidebar" class="sidebar">
        <!-- begin sidebar scrollbar -->
        <div data-scrollbar="true" data-height="100%">
            <!-- begin sidebar user -->
            <ul class="nav">
                <li class="nav-profile">
                    <a href="javascript;" data-toggle="nav-profile"></a>
                    <div class="cover"></div>
                    <div class="image image-icon bg-black text-grey-darker">
                        {% if user.foto_perfil %}
                            <img src="{{ user.foto_perfil.url }}">
                        {% else %}
                            <img src="{% static 'img/jovenens/predeterminada.jpg' %}" class="img-fluid" width="100px">
                        {% endif %}
                    </div>
                    <div class="info">
                        <b>{{ user.first_name }}</b><br>
                        {{ user.last_name }}
                    </div>
                </li>
            </ul>
            <!-- end sidebar user -->
            <!-- begin sidebar nav -->
            {% if user.is_authenticated %}
                <ul class="nav">
                    {% include 'menus/base.html' %}
                    <!-- begin sidebar minify button -->
                    <li><a href="javascript;" class="sidebar-minify-btn" data-click="sidebar-minify"><i
                            class="fa fa-angle-double-left"></i></a></li>
                    <!-- end sidebar minify button -->
                </ul>
            {% endif %}
            <!-- end sidebar nav -->
        </div>
        <!-- end sidebar scrollbar -->
    </div>
    <div class="sidebar-bg"></div>
    <!-- end #sidebar -->

    <!-- begin #content -->
    <div id="content" class="content">
        {% if user.completar_campos %}
            <div class="alert alert-warning fade show">
                <span class="close" data-dismiss="alert">×</span>
                <p class="mb-0" align="center">
                    <a style="color: #714505" href="{% url 'usuarios:perfil' %}#nav-datos-basicos">
                        <i class="icon-info"></i>
                        Tu perfil está <b>incompleto</b>. Por favor completa los siguientes datos:
                        <b>{{ user.completar_campos|join:", " }}</b>
                    </a>
                </p>
            </div>

        {% endif %}
        {% if user.tipo == 'Organización' %}
            {% if user.organizacion.completar_campos_organizacion %}
                <div class="alert alert-danger fade show">
                    <span class="close" data-dismiss="alert">×</span>
                    <p class="mb-0" align="center">
                        <a style="color: #714505" href="{% url 'usuarios:perfil' %}#nav-caracteristicas">
                            <i class="icon-info"></i>
                            Tu perfil está <b>incompleto</b>. Por favor completa los siguientes datos:
                            <b>{{ user.organizacion.completar_campos_organizacion|join:", " }}</b>
                            En la sección <b>Características</b>
                        </a>
                    </p>
                </div>
            {% endif %}
        {% endif %}
        {% if not user.terminos %}
            <div class="alert alert-danger fade show">
                <span class="close" data-dismiss="alert">×</span>
                <p class="mb-0" align="center">
                    <a style="color: #BD0500" href="{% url 'usuarios:perfil' %}#nav-privacidad">
                        <i class="icon-close"></i>
                        No has aceptado los <b>Términos y Condiciones y el Tratamiento de Datos.</b>
                    </a>
                </p>
            </div>
        {% endif %}
        {% if 'cuestionarios/responder' in request.path %}
            <div class="alert alert-info fade show">
                <span class="close" data-dismiss="alert">×</span>
                <p class="mb-0" align="center">
                    <i class="icon-info"></i>
                    <b>Para continuar a los siguientes cuestionarios debes completar el cuestionario actual.</b>
                </p>
            </div>
        {% endif %}
        <!-- begin breadcrumb -->
        <ol class="breadcrumb float-xl-right">
            {% block miga_pan %}
                <li class="breadcrumb-item"><a href="javascript:;">Page Options</a></li>
                <li class="breadcrumb-item active">Blank Page</li>
            {% endblock miga_pan %}
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <!-- begin page-header -->
        <h1 class="page-header mb-3">{% block titulo_pagina %}{% endblock titulo_pagina %}</h1>
        <!-- end page-header -->
        <!-- end page-header -->
        <!-- begin daterange-filter -->

        {% block contenido %}
            <div class="panel panel-inverse">
                <div class="panel-body">
                    {% block contenido_panel %}{% endblock contenido_panel %}
                </div>
            </div>
        {% endblock contenido %}
        <a href="https://api.whatsapp.com/send?phone=+573012196006" class="float" target="_blank">
            <i class="fab fa-whatsapp my-float"></i>
        </a>
    </div>
    <!-- end #content -->
    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"
       style="background-color: rgb(102, 45, 145); border: 1px solid rgb(102, 45, 145);"><i class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
</div>
<!-- end page container -->
<script src="{% static 'js/app.min.js' %}"></script>
<script src="{% static 'js/theme/default.min.js' %}"></script>
<script src="{% static 'plugins/lightbox2/dist/js/lightbox.min.js' %}"></script>
<!-- ================== END BASE JS ================== -->
<script src="{% static 'plugins/toastr/build/toastr.min.js' %}"></script>
<script src="{% static 'plugins/gritter/js/jquery.gritter.js' %}"></script>
<script src="{% static 'plugins/moment/min/moment-with-locales.min.js' %}"></script>
<script src="{% static 'plugins/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>


<script>
    $('.fecha').datetimepicker({"format": "YYYY-MM-DD", "icons": {"time": "fa fa-clock-o"}, "locale": "es"});
    $('.hora').datetimepicker({format: 'HH:mm:ss'});

    $(".readonly").keydown(function (e) {
        e.preventDefault();
    });
</script>
<script>
    $(document).ready(function () {
        {% for msg in messages %}
            $(document).ready(function () {
                setTimeout(function () {
                    toastr.options = {
                        "allowHtml": true,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": true,
                        "newestOnTop": true,
                        "closeButton": true,
                        "progressBar": true,
                        "showEasing": "swing",
                        "extendedTimeOut": 5000,
                        "timeOut": 5000,
                        "body-output-type": "trustedHtml"
                    };
                    toastr["{{ msg.tags }}"]("{{msg|safe}}")
                }, 500);
            });
        {% endfor %}
    });
    $('form').attr('autocomplete', 'off');
</script>

{% block js %}
{% endblock js %}
</body>
</html>
