{% extends 'base_tablas.html' %}
{% load static %}
{% load bootstrap4 %}
{% load extra_tags %}

{% block titulo %}
    Registrar Reto
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'retos:listado' %}">Gestión Retos</a></li>
    <li class="breadcrumb-item"><a href="">Consultar Resultados</a></li>
    
    
{% endblock miga_pan %}

{% block titulo_pagina %}
    Consultar Resultados
{% endblock titulo_pagina %}


    {% block contenido_panel %}
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="col-12 mb-2">
                <p class="mb-3">
                    En la siguiente tabla se encuentran los puntajes de los equipos.
                </p>
            </div>
            <table class="table table-bordered table-striped table-td-valign-middle datatable">
                <thead>
                    <tr>
                        {% if 'Equipos' in reto.grupos_permitidos %}
                            <th>Nombre equipo</th> 
                        {% else %}
                            <th>Nombre participante</th>
                        {% endif %}                   
                        <th>Puntaje</th>
                        <th>Revisado por jurado</th>
                        
                        {% for competencia in reto.competencias.all%}
                            <th class="text-center"><i class="{{competencia.icono}} fa-lg mr-3">     </i>     {{competencia.nombre}}</th>
                        {% endfor %}
                        
                    </tr>
                </thead>
                <tbody>
                    {% for detalle in detalles %}
                        <tr>
                            {% if 'Equipos' in reto.grupos_permitidos %}
                                <td>{{detalle.equipo}}</td>
                            {% else %}
                                <th>{{detalle.joven}}</th>
                            {% endif %} 
                            <td>{{detalle.calificacion_final}}</td>
                            <td align="center">
                                {% if detalle.calificado == True %}
                                    <span class="label label-lime">SI</span>
                                {% else %}
                                    <span class="label label-secondary">NO</span>
                                {% endif %}
                            </td>
                            {% obtener_calificaciones_joven request.user.pk detalle as calificaciones %}
                            
                            {% for competencia in reto.competencias.all%}                                
                                <td class="text-center">                                    
                                    {% if calificaciones|obtener_valor_diccionario:competencia.pk != 0 %}
                                        <span class="label label-primary">{{calificaciones|obtener_valor_diccionario:competencia.pk}}</span>
                                    {% else %}
                                        <span class="label label-secondary">0</span>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-primary" href="{% url 'retos:consultar_reto' reto.id %}">Atrás</a>
        </div>
    </div>


    {% endblock contenido_panel %}


