{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    Retos
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="breadcrumb-item">Retos</li>
    {% if tag == 'Todos los Retos' %}
        <li class="breadcrumb-item active">Todos las Retos</li>
    {% elif tag == 'Favoritos' %}
        <li class="breadcrumb-item active">Mis Retos Favoritos</li>
    {% elif tag == 'Mis Retos' %}
        <li class="breadcrumb-item active">Retos para ti</li>
    {% elif tag == 'Solicitudes Enviadas' %}
        <li class="breadcrumb-item active">Solicitudes Enviadas</li>
    {% elif tag == 'Solicitudes Recibidas' %}
        <li class="breadcrumb-item active">Solicitudes Recibidas</li>
    {% endif %}

{% endblock miga_pan %}

{% block titulo_pagina %}
    {% if tag == 'Todos los Retos' %}
        <i class="icon-diamond icon-orange"></i> Retos
    {% elif tag == 'Favoritos' %}
        <i class="icon-diamond icon-orange"></i> Mis Retos Favoritos
    {% elif tag == 'Mis Retos' %}
        <i class="icon-diamond icon-orange"></i> Retos para ti
    {% elif tag == 'Solicitudes Enviadas' %}
        <i class="icon-diamond icon-orange"></i> Solicitudes Enviadas
    {% elif tag == 'Solicitudes Recibidas' %}
        <i class="icon-diamond icon-orange"></i> Solicitudes Recibidas
    {% endif %}
    {% if not request.user.is_superuser%}
        <p style="color:gray; font-size: 14px; line-height: normal; font-weight: normal;">
            Los retos son desafíos para ti o para tu equipo en los que te podrás inscribir, por ahora si quieres acceder a sus 
            incentivos debes estar atento a la publicación de los primeros retos. prepara tu equipo y disfruta mostrando lo que puedes hacer y 
            entrenándote de una forma única y divertida!            
        </p>
    {% endif %}

{% endblock titulo_pagina %}

{% block contenido %}
    <div class="row">
        <div class="col-9">
            <form method="GET">                
                {% for tipo in tipos %}
                    <input type="submit" name="tag" value="{{ tipo.nombre }}" class="btn btn-sm {% if tipo.nombre == tag %}btn-orange{% else %}btn-outline-orange{% endif %} ml-1 my-1">
                {% endfor %}
                <a type="submit" href="{% url 'equipos:gestionar_solicitudes' %}" style="color: rgb(248, 96, 12);" class="btn btn-sm {% if tipo.nombre == tag %}btn-orange{% else %}btn-outline-orange{% endif %} ml-1 my-1">Ver solicitudes de mis equipos</a>
            </form>
        </div>
        <div class="col-3" align="right">
            <form method="GET">
                <div class="form-group " style="margin:0; position: relative; width:100%">
                    <input id="id_q" class="controls form-control " style="border: solid 1px; border-color: rgb(248, 96, 12); background-color:white !important;" type="text" name="q" placeholder="¡ANIMATE A BUSCAR!">
                    <button type="submit" id="btn_buscar" class="btn-buscar " style="border: solid 1px; color: rgb(248, 96, 12); border-color: rgb(248, 96, 12); border-radius: 0px 100px 100px 0px;"><i class="fa fa-arrow-down" style="color: orange;"></i></button>
                </div>
            </form>
        </div>
        <div class="col-12">
            <div class="row card-group">
                {% for reto in retos %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 px-0 card-group">
                        <div class="card border-0 mx-1 my-1">
                            {% if reto.imagen %}
                                <a href="{{reto.imagen.url}}" data-lightbox="gallery-group-oportunidad-{{ reto.pk }}">
                                    <div class="hovereffect embed-responsive embed-responsive-4by3">
                                        <img src="{{reto.imagen.url}}" class="card-img-top embed-responsive-item" style="max-height:516px;max-width:780px;">
                                    </div>
                                </a>
                            {% else %}
                                <div class="hovereffect embed-responsive embed-responsive-4by3">
                                    <img src="{% static 'img/extra/no-image.jpg' %}" class="card-img-top embed-responsive-item">
                                </div>
                            {% endif %}
                            <div class="card-body">                              
                                <div class="row ml-1" style="height: 35px">
                                    <p data-max-characters="200" class="card-text">{{ reto.nombre }}</p>
                                </div>
                                <div class="row ml-1" style="height: 125px">
                                    <p data-max-characters="200" class="card-text">{{ reto.caracteristicas|safe }}</p>
                                </div>
                            
                                <div class="row ml-1" style="border-top: 1px solid #c4c4c4; border-bottom: 1px solid #c4c4c4; height:85px ;">
                                    <div class="col-12 py-auto" align="center">
                                        <div class="row justify-content-center" style="margin-left: -20px">
                                            {% for tribu in reto.areas_conocimiento.all %}
                                                <img {% if ruta|total_tribus_roles_niveles < 8 %}style="width: 12%;"{% elif ruta|total_tribus_roles_niveles < 11 %}style="width: 10%;"{% else %}style="width: 8%;"{% endif %} title="{{ tribu.nombre|title }}" alt="{{ tribu.nombre|title }}" class="mx-0" src="{{ tribu.imagen.url }}">
                                            {% endfor %}
                                            {% for rol in reto.roles.all %}
                                                <img {% if ruta|total_tribus_roles_niveles < 8 %}style="width: 12%;"{% elif ruta|total_tribus_roles_niveles < 11 %}style="width: 10%;"{% else %}style="width: 8%;"{% endif %} title="{{ rol.nombre|title }}" alt="{{ rol.nombre|title }}" class="mx-0" src="{{ rol.imagen.url }}">
                                            {% endfor %}
                                            {% for nivel in reto.niveles_conocimiento_deseado.all %}
                                                <img {% if ruta|total_tribus_roles_niveles < 8 %}style="width: 12%;"{% elif ruta|total_tribus_roles_niveles < 11 %}style="width: 10%;"{% else %}style="width: 8%;"{% endif %} title="{{ nivel.nombre|title }}" alt="{{ nivel.nombre|title }}" class="mx-0" src="{{ nivel.imagen.url }}">
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2 px-4 py-3">
                                <div class="col-7 pr-0 centrar" align="left">
                                    <span class="calificacion like pr-1">
                                            <a title="Me gusta" id="like1-contenido-{{ reto.pk }}" href="javascript:calificar_contenido(1,{{ reto.pk }},{{ request.user.pk }})"><i class="fas fa-thumbs-up fa-lg"></i></a>
                                    </span>
                                    <span class="calificacion dislike pr-1">
                                            <a title="No me gusta" id="like0-contenido-{{ reto.pk }}" href="javascript:calificar_contenido(0,{{ reto.pk }},{{ request.user.pk }})"><i class="fas fa-thumbs-up fa-rotate-180 fa-lg"></i></a>
                                    </span>
                                </div>
                                <div class="col-5 px-0 pt-1" align="right">
                                    <a href="{% url 'retos:consultar_reto' reto.id %}" class="btn btn-primary px-3">Ver Más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-12 px-0" align="center">
                        <h4 class="mt-5">No se encontraron retos.</h4>
                    </div>
                {% endfor %}
            </div>
            <div class="container mt-2 col-12">
                {% if is_paginated %}
                    <ul class="pagination">                                 
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a href="
                                {%if tag|cambiar_espacio_por_mas in request.get_full_path %}
                                ?{{tag|cambiar_espacio_por_mas}}&page=1
                                {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page=1
                                {%else%}?Todos los Retos&page=1{%endif%}"
                                class="page-link">Primero</a>
                            </li>
                            <li class="page-item">
                                <a href="
                                {%if tag|cambiar_espacio_por_mas in request.get_full_path %}
                                ?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.previous_page_number }}
                                {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.next_page_number }}
                                {%else%}?Todos los Retos&page={{ page_obj.previous_page_number }}{%endif%}"
                                class="page-link">Atrás</a>
                            </li>
                        {%else%}
                            <li class="page-item disabled" style="background-color: lightgray;">
                                <a href="#" class="page-link" style="background-color: lightgray;">Atrás</a>
                            </li>
                        {% endif %}
                        {% for i in paginator.page_range %}    
                            {% if page_obj.number == i %}                                 
                                <li class="page-item {%if page_obj.number == i%}active{%endif%}" style="background-color: rgb(102, 45, 145); border: 1px solid rgb(102, 45, 145);">
                                    <a href="
                                    {%if tag|cambiar_espacio_por_mas in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{i}}
                                    {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.next_page_number }}
                                    {%else%}?Todos los Retos&page={{i}}{%endif%}"
                                    class="page-link" style="background-color: rgb(102, 45, 145); border: 1px solid rgb(102, 45, 145);">{{i}}</a>
                                </li>  
                            {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}         
                                <a href="
                                    {%if tag|cambiar_espacio_por_mas in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{i}}
                                    {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.next_page_number }}
                                    {%else%}?Todos los Retos&page={{i}}{%endif%}"
                                    class="page-link" >{{i}}</a>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a href="
                                {%if tag|cambiar_espacio_por_mas in request.get_full_path %}
                                ?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.next_page_number }}
                                {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.next_page_number }}
                                {%else%}?Todos los Retos&page={{ page_obj.next_page_number }}{%endif%}"
                                class="page-link">Siguiente</a>
                            </li>    
                            <li class="page-item">
                                <a href="
                                {%if tag|cambiar_espacio_por_mas in request.get_full_path %}
                                ?{{tag|cambiar_espacio_por_mas}}&page={{paginator.page_range|length}}
                                {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{paginator.page_range|length}}
                                {%else%}?Todos los Retos&page={{paginator.page_range|length}}{%endif%}"
                                class="page-link">Último</a>
                            </li>  
                        {%else%}
                            <li class="page-item disabled" style="background-color: lightgray;">
                                <a href="#" class="page-link" style="background-color: lightgray;">Siguiente</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
   
{% endblock contenido %}

{% block js %}
    <script>
        var token = '{{csrf_token}}';
        var url_api_cargar_calificaciones_contenidos = "{% url 'retos:retos_api_cargar_calificaciones' %}";
        var url_api_calificar_contenido = "{% url 'retos:retos_api_calificar' %}"
    </script>
    <script src="{% static 'js/custom/calificacion.js' %}"></script>
    <script>
        $("p").each(function() {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if(length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
        $("h6").each(function() {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if(length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
        $("span").each(function() {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if(length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
        initCalificacionesContenido({{ request.user.pk }});
    </script>
    
{% endblock js %}