{% extends 'base_tablas.html' %}

{% block titulo %}
    Gestión Retos
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item active">Gestión Retos</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    Gestión Retos
{% endblock titulo_pagina %}

{% block contenido %}
{% block contenido_panel %}
<div class="row">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <ul class="nav nav-pills">
            {% if request.user.is_superuser %}
                <li class="nav-item">
                    <a href="{% url 'retos:registrar'%}" class="nav-link formularios">
                        <span class="d-sm-none">Crear Reto</span>
                        <span class="d-sm-block d-none">Crear Reto</span>
                    </a>
                </li>
            {%endif%}
            <li class="nav-item">
                <a href="" class="nav-link active formularios">
                    <span class="d-sm-none">Gestionar Retos</span>
                    <span class="d-sm-block d-none">Gestionar Retos</span>
                </a>
            </li>
            {% if request.user.is_superuser %}
                <li class="nav-item">
                    <a href="{% url 'retos:solicitudes_retos_organizaciones' %}" class="nav-link formularios">
                        <span class="d-sm-none">Gestionar Solicitudes</span>
                        <span class="d-sm-block d-none">Gestionar Solicitudes</span>
                    </a>
                </li>    
            {%endif%}   
        </ul>
        <div class="tab-content p-15 rounded bg-white">
            <div class="tab-pane fade active show">

                <div class="row m-b-9">
                    <div class="col-md-12">
                        <p class="mb-1">
                            <i>A continuación se presentan los retos registrados en el sistema.</i>
                        </p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 m-t-5">
                        <div class="table-fix">                            
                            <table class="table table-bordered table-striped table-td-valign-middle datatable">
                                <thead>
                                <tr>
                                    <th>Organización</th>
                                    <th>Nombre del reto</th>
                                    <th>Ciudad</th>                                    
                                    <th>Precio</th>
                                    <th>Contacto</th>
                                    <th>Correo</th>
                                    <th>Teléfono</th>
                                    <th>Grupos Permitidos</th>
                                    <th>Link</th>                       
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for reto in retos %}
                                    <tr>
                                        <td>{{reto.organizacion}}</td>
                                        <td>{{reto.nombre}}</td>
                                        <td style="word-wrap: break-all">{{reto.donde_hacerlo}}</td>                                        
                                        <td>${{reto.precio}}</td>
                                        <td>{{reto.contacto}}</td>
                                        <td>{{reto.email}}</td>
                                        <td>{{reto.telefono}}</td>
                                        <td class="text-center">{%if reto.grupos_permitidos == 'Equipos'%}
                                                <span class="label label-aqua">{{reto.grupos_permitidos}}</span>
                                            {%else%}
                                                <span class="label label-lime">{{reto.grupos_permitidos}}</span>
                                            {%endif%}                                            
                                        </td>
                                        <td><a href="{{reto.link}}">Enlace</a></td>
                                        <td align="center">
                                            {% if reto.activo == True %}
                                                <span class="label label-lime">ACTIVO</span>
                                            {% else %}
                                                <span class="label label-secondary">INACTIVO</span>
                                            {% endif %}
                                        </td>
                                        <th>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                {% if request.user.is_superuser %}
                                                    <a href="{% url 'retos:modificar' reto.id %}"><i class="fas fa-pen-alt"></i> Modificar</a>                                                
                                                    <a href="{% url 'retos:seleccion_jurados' reto.id %}"><i class="fas fa-pen-alt"></i> Asignar Jurados</a>
                                                    <a href="{% url 'retos:consultar_jurados_reto' reto.id %}"><i class="fas fa-pen-alt"></i> Consultar Jurados</a>
                                                    <a href="{% url 'cuartos:listado' reto.id %}"><i class="fas fa-cog"></i>Cuartos</a>
                                                    <a href="{% url 'retos:resultados_participantes' reto.id %}"><i class="fas fa-cog"></i>Resultados</a>
                                                {%endif%}
                                                <a href="{% url 'retos:retos_invitar_equipos_jovenes' reto.id %}"><i class="fas fa-pen-alt"></i> Invitar</a>
                                                <a href="{% url 'retos:retos_expulsar_miembros' reto.id %}"><i class="fas fa-pen-alt"></i> Expulsar miembros</a>
                                            </div>
                                        </th>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido_panel %}
{% endblock contenido %}

