{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}
{% load bootstrap4 %}

{% block titulo %}
    {{ reto.nombre }}
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Consultar Reto</li>
    <li class="breadcrumb-item active">{{ reto.nombre }}</li>
{% endblock miga_pan %}


{% block titulo_pagina %}
    <i class="icon-diamond icon-orange"></i> {{ reto.nombre }}
    
{% endblock titulo_pagina %}

{% block contenido %}
    <div class="row  card-group">        
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 px-0 card">
            <div class="card border-0 mx-1 my-1">
                {% if reto.imagen %}
                    <a href="{{reto.imagen.url}}" data-lightbox="gallery-group-oportunidad-{{ reto.pk }}">
                        <div class="hovereffect">
                            <img src="{{reto.imagen.url}}" class="card-img-top img img-fluid centerImage">
                        </div>
                    </a>
                {% else %}
                    <div class="hovereffect">
                        <img src="{% static 'img/extra/no-image.jpg' %}" class="card-img-top img img-fluid centerImage">
                    </div>
                {% endif %}
                <div class="card-body tarjetas" style="padding-left: 5px">
                    <div class="row">                       
                        {% if request.user.tipo == "Joven" %}
                            <div class="col-12" align="right">
                                <span class="calificacion like pr-1">
                                    <a title="Me gusta" id="like1-contenido-{{ reto.pk }}" href="javascript:calificar_contenido(1,{{ reto.pk }},{{ request.user.pk }})"><i class="fas fa-thumbs-up fa-lg"></i></a>
                                </span>
                                <span class="calificacion dislike pr-1">
                                    <a title="No me gusta" id="like0-contenido-{{ reto.pk }}" href="javascript:calificar_contenido(0,{{ reto.pk }},{{ request.user.pk }})"><i class="fas fa-thumbs-up fa-rotate-180 fa-lg"></i></a>
                                </span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row ml-1 mt-3" style="border-bottom: 1px solid #c4c4c4">
                        <div class="col-12 py-3" align="center">
                            {{ reto.nombre }}
                        </div>
                    </div>
                    <div class="row ml-1 mt-3" style="border-bottom: 1px solid #c4c4c4">
                        <div class="col-12 py-3" align="center">
                            {{ reto.organizacion }}
                        </div>
                    </div>
                    
                    <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                        <div class="col-12 py-2" align="left">
                            <h6>TRIBUS</h6>
                            {% for tribu in reto.niveles_conocimiento_deseado.all %}
                                <img style="width: 13%;" title="{{ tribu.nombre|title }}" alt="{{ tribu.nombre|title }}" class="mx-0" src="{{ tribu.imagen.url }}">
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                        <div class="col-12 py-2" align="left">
                            <h6>NIVELES DE CONOCIMIENTO</h6>
                            {% for nivel in reto.areas_conocimiento.all %}
                                <img style="width: 13%;" title="{{ nivel.nombre|title }}" alt="{{ nivel.nombre|title }}" class="mx-0" src="{{ nivel.imagen.url }}">
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                        <div class="col-12 py-2" align="left">
                            <h6>ROLES</h6>
                            {% for rol in reto.roles.all %}
                                <img style="width: 13%;" title="{{ rol.nombre|title }}" alt="{{ rol.nombre|title }}" class="mx-0" src="{{ rol.imagen.url }}">
                            {% endfor %}
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 col-xs-12 px-0 card" >
            {% if reto.id|reto_finalizado == True%}
                <div style="background-color: #A32CDF; color: white; font-weight: bolder;" class="col card text-center" >
                    RETO FINALIZADO
                </div>
            {% endif %}
            <div class="row border-0 mx-1 px-3 py-3 info-contenido" style="background: #fff">                 
                {% if reto.descripcion %}                   
                    <div class="col-12">
                        <h4>¿Cuál es el Reto?</h4>
                        <p>{{ reto.descripcion|safe }}</p>
                    </div>     
                {% endif %}

                {% if reto.caracteristicas %}                   
                    <div class="col-12">
                        <h4>¿Qué tienes que tener en cuenta?</h4>
                        <p>{{ reto.caracteristicas }}</p>
                    </div>     
                {% endif %}    
                <div class="col-12 mt-3">
                    <h4>¿Quiénes pueden participar?:</h4>
                    {% if reto.grupos_permitidos == "Jóvenes"%}
                        <span class="label label-lime">{{reto.grupos_permitidos}}</span>
                    {% else %}
                        <span class="label label-aqua">{{reto.grupos_permitidos}}</span>
                    {% endif %}                    
                </div>
                {% if reto.observaciones %}       
                    <div class="col-12 mt-3">
                        <h4>¿Qué lograremos?</h4>
                        <p>{{ reto.observaciones }}</p>
                    </div>
                {% endif %}
                {% comment %}
                    {% if reto.link_video %}
                    <div class="col-12 mt-3">
                        <h4>¿Cómo funciona el reto?</h4> <a href="{{ reto.link_video }}">Ver video</a>                    
                    </div>
                    {% endif %}
                {% endcomment %}
                {% if reto.premios %}
                    <div class="col-12 mt-3">
                        <h4>Premios o incentivos</h4>
                        <p>{{ reto.premios }}</p>
                    </div>
                {% endif %}
                <div class="col-12 mt-3">
                    <h4>¿Cuándo se realizará?</h4>
                    <span>
                    {% if reto.fecha_inicio %}
                        Desde <b>{{ reto.fecha_inicio|date:"M d, Y" }} {{ reto.fecha_inicio|time:"h:i a" }}</b>
                    {% endif %}
                    {% if reto.fecha_fin %}
                        Hasta <b>{{ reto.fecha_fin|date:"M d, Y" }} {{ reto.fecha_fin|time:"h:i a" }}</b>
                    {% endif %}
                    </span>
                </div>
                <div class="col-12 mt-3">                    
                    <h4>¿Cuánto dinero debes invertir?</h4>  
                    {% if reto.precio != 0 %}                            
                        <h5>$ {{ reto.precio }} {{ reto.moneda|default:'' }} </h5>
                    {% else %}
                        <h5>Reto gratuito </h5>                            
                    {% endif %}                                   
                </div>
                {% if reto.contacto or reto.email or reto.telefono %}
                    <div class="col-12 mt-3">
                        <h4>¿Dónde puedo conseguir más información?</h4>
                        {{ reto.contacto|default:'' }}<br>
                        {% if reto.email %}
                            <b>Correo electrónico: </b>{{ reto.email }}<br>
                        {% endif %}
                        {% if reto.telefono %}
                            <b>Teléfono: </b>{{ reto.telefono }}<br>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="col-12 mt-3">
                    <h4>¿Dónde lo vas a hacer?</h4>
                    {% if reto.donde_hacerlo %}
                        {{reto.donde_hacerlo}}
                    {% else %}
                        <span class="label label-orange">En línea</span>
                    {% endif %}
                </div>
                
            </div>
            <div class="row border-0 mx-1 px-3 py-3 info-contenido" align="center" style="background: #fff">    
                     
                <div class="col-12 ml-1 mt-1 ">  

                    {% if reto.id|reto_finalizado == True%}                        
                        {% esta_participante_en_reto reto.id request.user.id as pertenece %}
                        {% if pertenece == True %}
                            <a class="btn btn-primary" href="{% url 'retos:resultados_participante' reto.id %}" >Ver resultados</a>    
                        {% endif %}
                    {%elif reto.id|reto_en_curso == False%}                      
                        {% reto_abierto reto.id request.user.id as abierto %}        
                        {% if abierto == True %}
                            {% if boton_mensaje %}                               
                                <div class="btn-group">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #A32CDF; color: white;">
                                        {{boton_mensaje}}                                                                                   
                                    </button>
                                    <div class="dropdown-menu">               
                                        {%for mensaje in mensajes%}                                                                   
                                            <a class="dropdown-item" href="{% url mensaje.url request.user.id reto.id %}">{{mensaje.accion}}</a>
                                        {%endfor%}                                                                                                    
                                    </div>
                                </div>
                            {%endif%}  
                        {% else %}
                            <button class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #A32CDF; color: white;">
                                Debes ser parte de la organización anfitriona                                                              
                            </button>
                        {% endif%}
                    {%else%}       
                        <!--<a class="dropdown-item" href="{% url 'retos:cuestionario_reto' reto.id %}" style="color: white;">Ingresar al reto</a>-->
                        {%  if 'Equipos' in reto.grupos_permitidos %}
                            <a class="btn btn-primary" href="{% url 'retos:seleccion_equipo' reto.id %}" >Ingresar al reto</a>
                        {% else %}
                            <a class="btn btn-primary" href="{% url 'retos:inicio_reto' reto.id %}">Ingresar al reto</a>
                        {% endif%}
                        
                        
                                                                                                                           
                    {%endif%}
                </div>                   
                <div class="col-12  my-2 ">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-sm-12 my-1 mr-1 ml-1 bg rounded-lg" style="background-color:#1DB1B2; height: 130px;">                                 
                            <p style="color: white; opacity: 0.3; font-size: 100px; font-weight: 900; position: relative; top: -10px;" class="text-left my-auto">{{cantidad_equipos}}</p> 
                            <p class="h2 text-center text-uppercase" style="color: white; top: -100px; left:auto; right: auto; position: relative;">Equipos Inscritos</p> 
                        </div>
                        <div class="col-lg-5 col-sm-12 my-1 mr-1 ml-1 bg rounded-lg" style="background-color: #4990CE; height: 130px;">                                 
                            <p style="color: white; opacity: 0.3; font-size: 100px; font-weight: 900; position: relative; top: -10px;" class="text-left my-auto">{{cantidad_jovenes}}</p> 
                            <p class="h2 text-center text-uppercase" style="color: white; top: -100px; left:auto; right: auto; position: relative;">Jóvenes inscritos</p> 
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center my-3">
                    <p class="h2 text-center text-uppercase">Equipos inscritos</p>
                    <div class="col-12 justify-content-center my-3">
                        <div class="row">                            
                            {%for equipo in equipos%}          
                                <div class="col-12 my-1 border">      
                                    <div class="row justify-content-center">      
                                        <div class="col-xl-1 col-md-6 my-auto">    
                                            {%if equipo.equipo.foto_del_equipo%}                               
                                                <img src="{{equipo.equipo.foto_del_equipo.url}}" alt="Imagen equipo" class="img-circle my-auto" style="width: 50px; height: 50px;">
                                            {% else %}
                                                <img  src="{% static 'img/jovenens/predeterminada.jpg' %}" class="img-circle my-auto" style="width: 50px; height: 50px;">
                                            {% endif %}
                                        </div>
                                        <div class="col-xl-2  col-md-6 my-auto">  
                                            {{equipo.equipo.nombre}}
                                        </div>


                                        <div class="col-xl my-auto">  
                                            {%for insignia_equipo in equipo.equipo.tribus.all%}                                                   
                                                <img style="width: 50px;" title="{{ insignia_equipo.nombre|title }}" alt="{{ insignia_equipo.nombre|title }}" class="mx-0" src="{{ insignia_equipo.imagen.url }}">
                                            {%endfor%}
                                        </div>
                                        
                                        {% if equipo.boton_mensaje %}                                         
                                            <div class="col-xl-2 my-auto" >                                            
                                                <div class="btn-group pull-right mr-3">
                                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100px; background-color: #A32CDF; color: white;">
                                                        {{equipo.boton_mensaje}}                                                                                   
                                                    </button>
                                                    <div class="dropdown-menu">            
                                                        <a class="dropdown-item" href="{% url 'equipos:detalle_equipo' equipo.equipo.id %}">Visitar perfil</a>                                                        
                                                        {%for mensaje in equipo.mensajes%}                                                                   
                                                            <a class="dropdown-item" href="{% url mensaje.url request.user.id 1%}">{{mensaje.accion}}</a>   
                                                        {%endfor%}                                                                                                    
                                                    </div>
                                                </div>
                                            </div>
                                        {%endif%}       
                                    </div>     
                                </div>                  
                            {%endfor%}
                        </div>   
                    </div>   
                </div>
            </div>
        </div>
        

    </div>
{% endblock contenido %}

{% if request.user.tipo == "Joven" %}
    {% block js %}
        <script>
            var token = '{{csrf_token}}';
            var url_api_cargar_calificaciones_contenidos = "{% url 'retos:retos_api_cargar_calificaciones' %}";
            var url_api_calificar_contenido = "{% url 'retos:retos_api_calificar' %}"
            var reto_id = '{{reto.pk}}'
            var inicio;
            var inicio_reto = '{{inicio_reto}}'
            var intervalo;
        </script>
        <script src="{% static 'js/custom/calificacion.js' %}"></script>

        <script src="{% static 'js/custom/retos/cronometro.js' %}"></script>
        
        <script>
            
            initCalificacionesContenido({{ request.user.pk }},{{ reto.pk }});
            
            var url_cargar_pgina_finalizacion="{% url 'retos:api_actualizar_boton_inicio_reto' %}"

            function cargar_pagina_finalizar_reto() {
                if (inicio_reto == 'False'){ 
                    $.ajax({
                        type: "POST",
                        headers: {
                            "X-CSRFToken": token,
                            contentType: "application/json"
                        },
                        url: url_cargar_pgina_finalizacion,
                        data: {
                            'json_text': JSON.stringify({
                                'id_reto': reto_id,                           
                            })
                        },
                        dataType: "json",
                        success: function (data) {                            
                            inicio = data['Inicio']
                            if(inicio != false){
                                location.reload()
                                inicio = true        
                            }                                  
                        }
                    });
                }else{
                    
                    clearInterval(intervalo)
                }
            }

            function intervalo_tiempo_estados_miembro(){
                if(!intervalo){
                    intervalo = setInterval(function(){          
                        cargar_pagina_finalizar_reto()         
                    }           
                    , 2000);
                }
            }

            
        </script>
        <script>
            intervalo_tiempo_estados_miembro()
        </script>
    {% endblock js %}
{% endif %}