{% extends 'base_tablas.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Registrar Reto
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'retos:listado' %}">Gestión Retos</a></li>
    <li class="breadcrumb-item"><a href="">Consultar Resultados</a></li>
    
    
{% endblock miga_pan %}

{% block titulo_pagina %}
    Consultar Resultados
{% endblock titulo_pagina %}


    {% block contenido_panel %}
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="col-12 mb-2">
                <p class="mb-3">
                    En la siguiente tabla se encuentran los puntajes de los equipos.
                </p>
            </div>
            <table class="table table-bordered table-striped table-td-valign-middle datatable">
                <thead>
                    <tr>
                        <th>Nombre participante</th>                    
                        <th>Puntaje</th>
                        <th>Revisado por jurado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detalle in detalles %}
                        <tr>
                            <td>{{detalle.equipo}}</td>
                            <td>{{detalle.calificacion_final}}</td>
                            <td align="center">
                                {% if detalle.calificado == True %}
                                    <span class="label label-lime">SI</span>
                                {% else %}
                                    <span class="label label-secondary">NO</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    {% endblock contenido_panel %}


