{% extends 'retos/base/base_cuartos.html' %}

{% load static %}
{% load bootstrap4 %}
{% load extra_tags %}

{% block titulo %}
    Retos
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item active">Retos</li>    
{% endblock miga_pan %}

{% block titulo_pagina %}
<i class="icon-rocket icon-orange"></i> Retos
    <p style="color:gray; font-size: 14px; line-height: normal; font-weight: normal;">
        Ponerte a prueba mientras te diviertes es una gran forma de entrenar tus capacidades. En MiEslabón le apostamos a espacios donde podamos aprender haciendo.
    </p>
{% endblock titulo_pagina %}

{% block contenido_cuarto %}
<div class="info-contenido p-0 m-0 col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 bg bg-white">
    <div class="border-0 mx-1 px-3 info-contenido bg bg-white">      
        <h2>Asistencia del Equipo</h2>
        <div class="row">
            {%for miembro in miembros %}
                {% if equipo.lider.username != miembro.username %}
                    <div class="rounded col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 my-1 border bg bg-white">
                        <div class="row my-auto">
                            <div class="col-1 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-2 my-auto hovereffect">
                                {%if miembro.foto_perfil%}
                                    <img src="{{miembro.foto_perfil.url}}" alt="Imagen perfil" class="img-circle my-auto" style="width: 50px; height: 50px;">
                                {% else %}
                                    <img  src="{% static 'img/jovenens/predeterminada.jpg' %}" class="img-circle my-auto" style="width: 50px; height: 50px;">
                                {% endif %}
                            </div>
                            <div class="col-2 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-2 my-auto ml-3">
                                <strong>{{miembro}}</strong>
                            </div>
                            <div class="row justify-content-center col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 my-auto no-gutters"> 
                                <div class="bg-green text-center mt-2 ml-1"  style="border-radius: 50px; width: 110px;">
                                    <strong>{{miembro.obtener_insignias.tribu}}</strong>
                                </div>
                                {% for rol in miembro.obtener_insignias.roles %}
                                    <div class="bg-orange text-center mt-2 ml-1"  style="border-radius: 50px; width: 110px;">
                                        <strong>{{rol}}</strong> 
                                    </div>
                                {% endfor %}
                                <div class="bg-yellow text-center mt-2 ml-1" style="border-radius: 50px; width: 110px;">
                                    <strong>{{miembro.obtener_insignias.nivel}}</strong> 
                                </div>
                            </div>
                            <div class="row col-xs-12 col-sm-12 col-lg-12 col-xl-2 justify-content-center align-items-center my-2" > 
                                <div class="btn-group">
                                    {% if request.user.username == miembro.username %}
                                        <button type="button" id="presentarse_{{miembro.id}}" class="btn" onclick="presentar_miembro_equipo({{ equipo.id }}, {{ reto.id }}, {{miembro.id }}, true)" aria-haspopup="true" aria-expanded="false" style="background-color: #A32CDF; color: white;">
                                            Presentarse
                                        </button>
                                        <button type="button" id="ausentarse_{{miembro.id}}"  onclick="presentar_miembro_equipo({{ equipo.id }}, {{ reto.id }}, {{miembro.id }}, false)" class="btn" aria-haspopup="true" aria-expanded="false" style="background-color: #A32CDF; color: white;display: none;">
                                            Ausentarse
                                        </button>
                                    {% else %}
                                    <div class="presencia_miembro" id="presencia_miembro_{{miembro.id}}" style="background: grey; border-radius: 20px;color: white;height: 30px;font-weight: bold;width: 80px;">
                                        <p id="miembro_estado_{{miembro.id}}" style="vertical-align: middle; text-align: center;margin-top: 5px;">Ausente</p>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {%endfor%}
        </div>
        <hr>
        <div class="row justify-content-center">
            <div class="col-12 justify-content-center" align="center">
                <div class="text-center">
                    <h2>Porcentaje de participación actual: <span id="porcentaje_miembros"></span>%</h2>                    
                </div>
                <div class="rounded col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-8 my-1 border bg bg-grey" align="center">
                    <div class="row justify-content-center">
                        <div class="rounded col-xs-12 col-sm-6 col-md-10 col-lg-10 col-xl-10 my-1 border bg bg-white">
                            <div class="row my-auto">
                                <div class="col-1 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-2 my-auto hovereffect">   
                                    {%if equipo.lider.foto_perfil %}
                                        <img src="{{equipo.lider.foto_perfil.url}}" alt="Imagen perfil" class="img-circle my-auto" style="width: 50px; height: 50px;">
                                    {% else %}
                                        <img  src="{% static 'img/jovenens/predeterminada.jpg' %}" class="img-circle my-auto" style="width: 50px; height: 50px;">
                                    {% endif %}
                                </div>
                                <div class="col-2 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-2 my-auto ml-3">
                                    <strong>{{equipo.lider}}</strong>
                                    <strong>Líder del Equipo</strong>
                                </div>
                                <div class="row justify-content-center col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 my-auto no-gutters"> 
                                    <div class="bg-green text-center mt-2 ml-1"  style="border-radius: 50px; width: 110px;">
                                        <strong>{{equipo.lider.obtener_insignias.tribu}}</strong>
                                    </div>
                                    {%for rol in equipo.lider.obtener_insignias.roles%}
                                        <div class="bg-orange text-center mt-2 ml-1"  style="border-radius: 50px; width: 110px;">
                                            <strong>{{rol}}</strong> 
                                        </div>
                                    {%endfor%}
                                    <div class="bg-yellow text-center mt-2 ml-1" style="border-radius: 50px; width: 110px;">
                                        <strong>{{equipo.lider.obtener_insignias.nivel}}</strong> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <h4> Solo las respuestas del líder del Equipo son las válidas para el Reto, a partir de aquí pueden jugar todos solo con el Usuario del Líder.</h4>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>      
    </div>

{% endblock contenido_cuarto %}

{% block js %}
    {{block.super}}
    <script>
        var token = '{{csrf_token}}';
        var url_api_asistencia_equipos = "{% url 'retos:api_asistencia' %}"
        var url_api_cargar_asistencia = "{% url 'retos:api_verificar_asistencia' %}"
        var url_cargar_pgina_finalizacion="{% url 'retos:api_cargar_pagina_finaizacion_miembros' %}"
        var pk_equipo = {{equipo.id}}
        var pk_reto = {{reto.id}}
        var pk_detalle = {{detalle.id}}
    </script>
    <script>
        var url_reto_inicio="{% url 'retos:inicio_reto' reto.id%}"


        
    </script>
    <script src="{% static 'js/custom/retos/cronometro_inicio_reto.js' %}"></script>
    <script src="{% static 'js/custom/retos/miembros_equipo.js' %}"></script>
    <script>        
        iniciar_cronometro_tiempo_faltante()        
        presentar_miembro_equipo()
        intervalo_tiempo_estados_miembro(pk_equipo, pk_reto)
    </script>
{% endblock js %}