{% extends 'retos/base/base_cuartos.html' %}

{% load static %}
{% load bootstrap4 %}
{% load extra_tags %}

{% block titulo %}
    Retos
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item active">Retos</li>    
{% endblock miga_pan %}

{% block titulo_pagina %}
<i class="icon-rocket icon-orange"></i> Retos
    <p style="color:gray; font-size: 14px; line-height: normal; font-weight: normal;">
        Ponerte a prueba mientras te diviertes es una gran forma de entrenar tus capacidades. En MiEslabón le apostamos a espacios donde podamos aprender haciendo.
    </p>
{% endblock titulo_pagina %}

{% block contenido_cuarto %}
    <div class="info-contenido p-0 m-0 col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 bg bg-white">
        <div class="border-0 mx-1 px-3 info-contenido bg bg-white">      
            <h2>Asigna una calificación a los miembros del equipo</h2>
            <div class="row">
                <div class="table-fix">
                    <table class="table table-bordered table-td-valign-middle">
                        <thead>
                            <tr style="text-align:center">
                                {% for competencia in reto.competencias.all %}                  
                                    <th></th>
                                    <th style="background-color: rgb(119, 76, 158); color: white;">
                                        <div>
                                            <i class="{{competencia.icono}} fa-lg"></i>        
                                        </div>
                                        <div>
                                            {{competencia.nombre}}                                  
                                        </div>
                                    </th>
                                {% endfor %}                            
                            </tr>
                        </thead>
                        <tbody>
                            
                        {% for miembro in miembros %}
                            {% if miembro.username != request.user.username%}
                                <tr style="text-align:center">
                                    <td style="text-align:left">
                                        <div class="col-12">
                                            {%if miembro.foto_perfil%}
                                                <img src="{{miembro.foto_perfil.url}}" alt="Imagen perfil" class="img-circle my-auto" style="width: 50px; height: 50px;">
                                            {% else %}
                                                <img  src="{% static 'img/jovenens/predeterminada.jpg' %}" class="img-circle my-auto" style="width: 50px; height: 50px;">
                                            {% endif %}
                                            <strong>{{miembro}}</strong>
                                        </div>
                                    </td>
                                    {% for competencia in reto.competencias.all %}                                        
                                        <td>
                                            <span class="calificacion pr-1 joven-{{ miembro.pk }}" >
                                                <a title="{{competencia.pk}} Estrella" id="star{{competencia.pk}}-miembro-{{ miembro.pk }}" href="javascript:calificar_miembro({{competencia.pk}},{{ miembro.pk }})"><i class="fas fa-star fa-lg"></i></a>
                                            </span>
                                        </td>
                                        {% if forloop.counter != reto.competencias.all|length %}
                                            <td></td>
                                        {% endif %}                                                              
                                    {% endfor %}                                    
                                </tr>
                            {% else %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>                            
            </div>
            <div class="row justify-content-center" align="center">
                <a class="btn btn-primary" href="{% url 'retos:consultar_reto' reto.id %}">Finalizar</a>
            </div>
        </div>
    </div>
{% endblock contenido_cuarto %}

{% block js %}
    {{block.super}}
    <script>
        var token = '{{csrf_token}}';
        var pk_equipo = {{equipo.id}}
        var pk_reto = {{reto.id}}
        cuarto_finalizacion = true
    </script>
    <script src="{% static 'js/custom/retos/cronometro_inicio_reto.js' %}"></script>
    <script>
        var url_enviar_calificacion_competencias = "{% url 'retos:api_calificar_competencias' %}"
        function calificar_miembro(id_competencia, id_joven){
            elemento = $(`#star${id_competencia}-miembro-${id_joven}`);
            
            $(`.joven-${id_joven}`).each(function(){
                $(this).removeClass("activo");                
            })
            elemento.parent().addClass("activo");         

            $.ajax({
                    type: "POST",
                    headers: {
                        "X-CSRFToken": token,
                        contentType: "application/json"
                    },
                    url: url_enviar_calificacion_competencias,
                    data: {
                            'json_text': JSON.stringify({ 
                            'id_competencia': id_competencia,
                            'id_joven':id_joven,
                            'id_reto': '{{reto.pk}}',
                            'id_equipo': '{{equipo.pk}}',
                            'id_joven_califica': '{{request.user.pk}}'                            
                        })
                    },
                    dataType: "json",
                    success: function (data) {   
                        toastr.success('Joven calificado', '', {
                            "closeButton": true,
                            "progressBar": true,
                            "showEasing": "swing",
                            "extendedTimeOut": 1500,
                            "timeOut": 1500,

                        });
                    },
                    error: function (data) {  
                       
                    }
                });
            }
    </script>
{% endblock js %}