{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Retos
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'retos:listado' %}">Gestión Retos</a></li>
    <li class="breadcrumb-item active">Retos</li>    
{% endblock miga_pan %}

{% block titulo_pagina %}
<i class="icon-rocket icon-orange"></i> Retos
    <p style="color:gray; font-size: 14px; line-height: normal; font-weight: normal;">
        Ponerte a prueba mientras te diviertes es una gran forma de entrenar tus capacidades. En MiEslabón le apostamos a espacios donde podamos aprender haciendo.
    </p>
{% endblock titulo_pagina %}

{% block css %}
    <link href="{% static 'css/css_retos_cron.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom/retos/cronometro.css' %}" rel="stylesheet"/>

{% endblock css %}

{% block contenido %}
    {% block contenido_panel %}
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-white">
            <div class="row card-group mt-3">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 mx-auto my-auto" style="">
                    <div class="embed-responsive embed-responsive-21by9">                        
                        <iframe class="embed-responsive-item" frameborder="0" src="{{ reto.link_video }}" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 justify-content-center">
                    <div class="row justify-content-center">
                        <div class="text-center">
                            <h1>BIENVENIDOS AL RETO</h1>
                            <h1>{{reto.nombre}}</h1>    
                        </div>
                    </div>
                    <div class="row mt-5 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="background-color: rgb(230, 230, 230);">
                        <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6 col-xl-6 mt-1"  align="center">
                            <img src="{% static 'img/logo/logo_vertical.png' %}" alt="logo_mi_eslabon" style="width:150px;height:150px">
                        </div>
                        {% if reto.organizacion.logo %}
                            <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6 col-xl-6 mt-1" align="center">
                                <img src="{{reto.organizacion.logo.url}}" style="width:150px;height:150px">
                            </div>
                        {% else %}
                            <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6 col-xl-6 mt-1" align="center">
                                <img src="{% static 'img/organizaciones/logo.jpg' %}" style="width:150px;height:150px">
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>        
        </div>        
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-white">
            <div class="tab-content p-15 rounded bg-white mt-5">       
                <div class="row justify-content-center">
                    <h1><b>FALTAN</b></h1>                 
                </div>                        
                <div class="row justify-content-center">     
                    <div id="fecha_fin" class="row justify-content-center"></div>                         
                </div>      
                <div class="row justify-content-center mt-1" align="center">
                   <h1><b>PARA FINALIZAR ESTE RETO</b></h1> 
                </div> 
                <hr>    
                <div class="row m-2">
                    <h1>REGLAS DEL RETO</h1>                 
                </div>      
                <div class="row m-2" style="word-wrap: break-word;">
                    <p class="col-12">{{reto.reglas}}</p>
                </div>
                <div class="row justify-content-center mt-2">
                    {% if 'Equipos' in reto.grupos_permitidos %}
                        <a class="btn btn-primary btn-lg" href="{% url 'retos:cuarto_espera_equipos' reto.id equipo.id %}">Iniciar Reto</a>      
                    {% else %}  
                        <a class="btn btn-primary btn-lg" href="{% url 'retos:retos_responder_cuartos' reto.id %}">Iniciar Reto</a>      
                    {% endif %}              
                </div>
            </div>                       
        </div>
    </div>
    {% endblock contenido_panel %}
{% endblock contenido %}

{% block js %}
    {{block.super}}
    <script>
        var url_reto_inicio = ""
        {% if 'Equipos' in reto.grupos_permitidos %}            
            var url_reto_inicio="{% url 'retos:inicio_reto' reto.id equipo.id %}"            
        {% else %}            
            var url_reto_inicio="{% url 'retos:inicio_reto' reto.id%}"
        {% endif %}        
    </script>
    <script src="{% static 'js/custom/retos/cronometro.js' %}"></script>
    <script src="{% static 'js/custom/retos/cronometro_inicio_reto.js' %}"></script>
    <script>        
        iniciar_cronometro_tiempo_faltante()        
    </script>
{% endblock js %}