{% extends 'base_tablas.html' %}

{% block titulo %}
    Gestión Retos
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item active">Gestión Retos</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    Gestión Retos
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan los retos registrados en el sistema y diferentes herramientas para su gestión.</i>
            </p>
        </div>
        <div class="col-md-12" align="right">
            <a class="btn btn-primary" href="{% url "retos:registrar" %}"><i class="fas fa-plus"></i> Registrar Reto</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Tipo de reto</th>
                        <th>Nombre del reto</th>
                        <th>Ciudad</th>
                        <th>Características</th>
                        <th>Precio</th>
                        <th>Contacto</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Link</th>
                        <th>Observaciones</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reto in retos %}
                        <tr>
                            <td>{{reto.tipo}}</td>
                            <td>{{reto.nombre}}</td>
                            <td>{{reto.ciudad}}</td>
                            <td>{{reto.caracteristicas|safe}}</td>
                            <td>${{reto.precio}}</td>
                            <td>{{reto.contacto}}</td>
                            <td>{{reto.correo}}</td>
                            <td>{{reto.telefono}}</td>
                            <td><a href="{{reto.link}}">Enlace</a></td>
                            <td>{{reto.observaciones}}</td>
                            <td align="center">
                                {% if reto.activo == True %}
                                    <span class="label label-lime">ACTIVO</span>
                                {% else %}
                                    <span class="label label-secondary">INACTIVO</span>
                                {% endif %}
                            </td>
                            <td align="center">
                                <div class="row">
{#                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">#}
{#                                        <a title="Ver" href="#"><i class="fas fa-eye"></i></a>#}
{#                                    </div>#}
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <a title="Modificar" href="{% url "retos:modificar" reto.id %}"><i class="fas fa-pen-alt"></i></a>
                                    </div>
{#                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">#}
{#                                        <a title="Activar/Inactivar" href="#"><i class="fas fa-trash-alt"></i></a>#}
{#                                    </div>#}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

