{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Modificar Reto
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url "retos:listado" %}">Gestión Retos</a></li>
    <li class="breadcrumb-item active">Modificar Reto</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    Modificar Reto
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <form id="form_perfil" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">            
            <div class="mb-3 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                    <div class="col-12 mb-2">
                        <p class="mb-1">
                            <i>El siguiente formulario permite modificar las diferentes características de un reto.</i>
                        </p>
                    </div>
                    {% for campo in form %}               
                        {% if campo.name == 'activo'%}
                            <div class="col-12 col-sm-6 col-md-4 col-lg-4" align="left">
                                {% bootstrap_field campo field_class="form-check checkbox checkbox-css pt-0 checkbox-inline" placeholder="" %}
                            </div>
                            
                        {% elif campo.name == 'imagen'%}
                       
                           
                            {% bootstrap_field campo %}
                                    
                        {% elif campo.name == 'logo'%}
                            <div style="height: calc(1.2em + 14px + 2px); overflow:hidden;" class="custom-file">
                                {% bootstrap_field campo %}
                                <label style="height: calc(1.2em + 14px + 2px);" class="custom-file-label" for="id_logo">{{form.logo.value|default:'Seleccione un logo...'}}</label>
                            </div>
                        {% else %}
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                            {% bootstrap_field campo placeholder="" %}
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>           
            <div class="row">
                <div class="col-6" align="left">
                    <a class="btn btn-secondary" href="{% url "retos:consultar" %}"><i class="fa fa-angle-left"></i> Atrás</a>
                </div>
                <div class="col-6" align="right">
                    <button class="btn btn-primary" type="submit">Modificar Reto <i class="fa fa-angle-right"></i></button>
                </div>
            </div>
        </div>
       
    </form>
 <!-- MODAL TO CROP THE IMAGE -->
 <div class="modal fade" id="modalCrop">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Imagen de Reto</h4>
            </div>
            <div class="modal-body">
                <p>Arrastre el recuadro para redimensionar su foto de perfil.</p>
                <img src="" id="image" style="max-width: 100%;">
            </div>
            <div class="modal-footer">
                <div class="btn-group pull-left" role="group">
                    <button type="button" class="btn btn-default js-zoom-in">
                        <i class="fas fa-search-plus"></i>
                    </button>
                    <button type="button" class="btn btn-default js-zoom-out">
                        <i class="fas fa-search-minus"></i>
                    </button>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary js-crop-and-upload">Cortar y Subir</button>
            </div>
        </div>
    </div>
</div>

{% endblock contenido_panel %}

{% block js %}
    <script>
        precio = document.getElementById('id_precio');
        precio.setAttribute('min',0.0);
        var fecha_inicial = document.getElementById("id_fecha_inicio");
        $('#id_fecha_inicio').on("dp.change",function (e){
            let fecha_minima = new Date(fecha_inicial.value);
            fecha_minima =  new Date( fecha_minima.getTime() - fecha_minima.getTimezoneOffset() * -60000 ); //normalizar hora
            set_fecha_limite(fecha_minima)
        });
        function set_fecha_limite(fecha_i) {
            $('#id_fecha_fin').data("DateTimePicker").minDate(fecha_i);
            $('#id_fecha_fin').data("DateTimePicker").date(fecha_i);
        }
        fecha = document.querySelector("label[for='id_fecha_inicio']");
        fecha.innerHTML = "Fecha inicial*";
        fecha = document.querySelector("label[for='id_fecha_fin']");
        fecha.innerHTML = "Fecha final*";
    </script>   
    
    <script>
        

        document.querySelector('#id_logo').addEventListener('change',function(e){
            var fileName = document.getElementById("id_logo").files[0].name;
            var nextSibling = e.target.nextElementSibling;
            nextSibling.innerText = fileName;
        });

        document.querySelector('#id_imagen').addEventListener('change',function(e){
            var fileName = document.getElementById("id_imagen").files[0].name;                     
            var nextSibling = e.target.nextElementSibling;
            nextSibling.innerText = fileName;
        });

    </script>
    
    
    
    <script>
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-item a[href="#' + url.split('#')[1] + '"]').tab('show');
        }
        // Change hash for page-reload
        $('.nav-item a').on('shown.bs.tab', function (e) {
            window.location.hash = e.target.hash;
        })
        function mostrar_organizaciones_permitidas(){
            if(("#id_permitir_todos").prop('checked')){                                        
                $("#id_organizaciones_permitidas").parent().parent().hide();
            }else{
                $("#id_organizaciones_permitidas").parent().parent().show();
            }
        }
        window.onload = function() {
        mostrar_organizaciones_permitidas()
        $("#id_permitir_todos").change( function() {
                if($(this).prop('checked')){                                        
                    $("#id_organizaciones_permitidas").parent().parent().hide();
                }else{
                    $("#id_organizaciones_permitidas").parent().parent().show();
                }
            })
        }
    </script>
    

{% endblock js %}