{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    Retos
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Retos</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-list icon-orange"></i> Retos

{% endblock titulo_pagina %}

{% block contenido %}
    <div class="row">
        <div class="col-3" align="right">
        </div>
        <div class="col-12 contenido">
            <img src="{% static 'img/retos/pagina_retos_espera.png' %}" class="img-fluid">
        </div>
    </div>
{% endblock contenido %}

