{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Registrar Reto
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'retos:listado' %}">Gestión Retos</a></li>
    {% if modificar %}
        <li class="breadcrumb-item active">Modificar Reto</li>
    {% else %}
        <li class="breadcrumb-item active">Registrar Reto</li>
    {%endif%}
    
{% endblock miga_pan %}

{% block titulo_pagina %}
    {% if modificar %}
        Modificar Reto
    {% else %}
        Registrar Reto
    {%endif%}
{% endblock titulo_pagina %}

{% block contenido %}
{% block contenido_panel %}
<div class="row">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="" class="nav-link active formularios">
                    {% if modificar %}
                        <span class="d-sm-none">Modificar Reto</span>
                        <span class="d-sm-block d-none">Modificar Reto</span> 
                    {% else %}
                        <span class="d-sm-none">Crear Reto</span>
                        <span class="d-sm-block d-none">Crear Reto</span>
                    {%endif%}
                    
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'retos:consultar'%}" class="nav-link formularios">
                    <span class="d-sm-none">Gestionar Retos</span>
                    <span class="d-sm-block d-none">Gestionar Retos</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'retos:solicitudes_retos_organizaciones' %}" class="nav-link formularios">
                    <span class="d-sm-none">Gestionar Solicitudes</span>
                    <span class="d-sm-block d-none">Gestionar Solicitudes</span>
                </a>
            </li>       
        </ul>

        <div class="tab-content p-15 rounded bg-white">
            <form id="form_perfil" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="row">       
                    <div class="mb-3 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">    
                        <div class="col-12 mb-2">
                            <p class="mb-1">
                                <i>El siguiente formulario permite el registro de un reto en el sistema.</i>
                            </p>
                        </div>
                        <div class="row">
                            
                            {% for campo in form %}
                                {% if campo.name == 'activo'%}
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-4" align="left">
                                        {% bootstrap_field campo field_class="form-check checkbox checkbox-css pt-0 checkbox-inline" placeholder="" %}
                                    </div>
                                {% elif campo.name == 'imagen'%}
                                    <div style="height: calc(1.2em + 14px + 2px); overflow:hidden;" class="custom-file">
                                        <div>
                                            <input type="file" name="imagen" accept="image/*" class="custom-file-input" id="id_foto_perfil">
                                            <label style="height: calc(1.2em + 14px + 2px);" class="custom-file-label" for="inputGroupFile01">{{form.imagen.value|default:'Seleccione una imagen...'}}</label>
                                        </div>
                                    </div>
                                    <div class="col-12 form-check checkbox checkbox-css pt-0 checkbox-inline my-1">
                                        <div class="form-check pl-0">
                                            <input type="checkbox" class="form-check-input" name="imagen-clear" id="imagen-clear_id">
                                            <label class="form-check-label" for="imagen-clear_id">Limpiar Imagen de perfil</label>
                                        </div>
                                    </div> 
                                {% elif campo.name == 'logo'%}
                                    <div style="height: calc(1.2em + 14px + 2px); overflow:hidden;" class="custom-file col-md-12">
                                        <div>
                                            <input type="file" accept="image/*" name="logo" class="custom-file-input" id="id_logo">
                                            <label style="height: calc(1.2em + 14px + 2px);" class="custom-file-label" for="id_logo">{{form.logo.value|default:' Seleccione un logo...'}}</label>
                                        </div>
                                    </div>
                                    <div class="col-12 form-check checkbox checkbox-css pt-0 checkbox-inline my-1">
                                        <div class="form-check pl-0">
                                            <input type="checkbox" class="form-check-input" name="logo-clear" id="logo-clear_id">
                                            <label class="form-check-label" for="logo-clear_id">Limpiar logo de perfil</label>
                                        </div>
                                    </div>
                                {% elif campo.name == 'premios' or campo.name == 'descripcion' or campo.name == 'caracteristicas'%}
                                        {% if campo.name == 'premios' %}
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">                                            
                                                {% bootstrap_field campo placeholder="" %}
                                            </div>
                                        {% endif %}                                                                                                                              
                                        {% if campo.name == 'caracteristicas'%}                                            
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                                {% bootstrap_field campo field_class="" %}                    
                                            </div> 
                                        {% endif %} 
                                        {% if campo.name == 'descripcion' %}
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
                                                {% bootstrap_field campo placeholder="" %}
                                            </div>
                                        {% endif %}  
                                                    
                                {%else%}
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                        {% bootstrap_field campo placeholder="" %}
                                    </div>
                                
                                {% endif %}
                            {% endfor %}
                            
                        </div>
                        <div class="row">
                            <div class="col-6" align="left">
                                <a class="btn btn-secondary" href="{% url 'retos:consultar' %}"><i class="fa fa-angle-left"></i> Atrás</a>
                            </div>
                            <div class="col-6" align="right">
                            {% if modificar %}
                                <button class="btn btn-primary" type="submit">Modificar Reto <i class="fa fa-angle-right"></i></button>
                            {% else %}
                                <button class="btn btn-primary" type="submit">Registrar Reto <i class="fa fa-angle-right"></i></button>
                            {%endif%}
                                
                            </div>
                        </div>
                    </div>       
                </div>
            </form>
        </div>

        <!-- MODAL TO CROP THE IMAGE -->
        <div class="modal fade" id="modalCrop">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Imagen de Perfil</h4>
                    </div>
                    <div class="modal-body">
                        <p>Arrastre el recuadro para redimensionar su foto de perfil.</p>
                        <img src="" id="image" style="max-width: 100%;">
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group pull-left" role="group">
                            <button type="button" class="btn btn-default js-zoom-in">
                                <i class="fas fa-search-plus"></i>
                            </button>
                            <button type="button" class="btn btn-default js-zoom-out">
                                <i class="fas fa-search-minus"></i>
                            </button>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary js-crop-and-upload">Cortar y Subir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock contenido_panel %}
{% endblock contenido %}

{% block js %}
    <script>
        precio = document.getElementById('id_precio');
        precio.setAttribute('min',0.0);
        var fecha_inicial = document.getElementById("id_fecha_inicio");
        $('#id_fecha_inicio').on("change",function (e){
            let fecha_minima = new Date(fecha_inicial.value);
            fecha_minima =  new Date( fecha_minima.getTime() - fecha_minima.getTimezoneOffset() * -60000 ); //normalizar hora
            set_fecha_limite(fecha_minima)
        });
        function set_fecha_limite(fecha_i) {
            $('#id_fecha_fin').attr('data-min', fecha_i)
            $('#id_fecha_fin').data("DatePicker").date(fecha_i);
        }
        fecha = document.querySelector("label[for='id_fecha_inicio']");
        fecha.innerHTML = "Fecha inicial*";
        fecha = document.querySelector("label[for='id_fecha_fin']");
        fecha.innerHTML = "Fecha final*";
    </script>
    <script>
        function mostrar_organizaciones_permitidas(){
            if($("#id_permitir_todos").prop('checked')){                                        
                $("#id_organizaciones_permitidas").parent().parent().hide();
            }else{
                $("#id_organizaciones_permitidas").parent().parent().show();
            }
        }
        window.onload = function() {
            mostrar_organizaciones_permitidas()
            $(document).ready(function(){
                $('.datetimepicker').datetimepicker({
                    format: 'YYYY-MM-DD HH:mm'
                });
            });           
            if(document.querySelector('#id_fecha_de_nacimiento') !== null){
                set_fecha_nacimiento_maxima();
                fecha = document.querySelector("label[for='id_fecha_de_nacimiento']");
                fecha.innerHTML = "Fecha de nacimiento*";
            }

            $("#id_permitir_todos").change( function() {
                if($(this).prop('checked')){                                        
                    $("#id_organizaciones_permitidas").parent().parent().hide();
                }else{
                    $("#id_organizaciones_permitidas").parent().parent().show();
                }
            })
        };
    </script>
   
    <script>
        
        document.querySelector('#id_logo').addEventListener('change',function(e){
            var fileName = document.getElementById("id_logo").files[0].name;
            var nextSibling = e.target.nextElementSibling;
            nextSibling.innerText = fileName;
        });
        document.querySelector('#id_foto_perfil').addEventListener('change',function(e){
            var fileName = document.getElementById("id_foto_perfil").files[0].name;
            var nextSibling = e.target.nextElementSibling;
            nextSibling.innerText = fileName;
        });
    </script>
    <script>
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-item a[href="#' + url.split('#')[1] + '"]').tab('show');
        }
        // Change hash for page-reload
        $('.nav-item a').on('shown.bs.tab', function (e) {
            window.location.hash = e.target.hash;
        })
    </script>
    
    
  

{% endblock js %}