{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Selección Equipo
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url "retos:listado" %}">Gestión Retos</a></li>
    <li class="breadcrumb-item active">Selección Equipo</li>    
{% endblock miga_pan %}

{% block titulo_pagina %}
<i class="icon-rocket icon-orange"></i> Selección Equipo
    <p style="color:gray; font-size: 14px; line-height: normal; font-weight: normal;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis consequatur fugit corrupti eveniet quasi ratione, laborum veritatis, itaque ex, sint deserunt! Iure sequi ab soluta vero distinctio fugiat minima at?
    </p>
{% endblock titulo_pagina %}

{% block contenido %}
    {% block contenido_panel %}
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-white">
            <form method="post">{% csrf_token %}
                <div class="row col-12 mt-3">
                    <div class="col-12">
                        {% bootstrap_form form %}
                    </div>
                 </div>
                <div class="row col-12 mb-5" align="center">
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Seleccionar Equipo <i class="fa fa-angle-right"></i></button>
                    </div>
                </div>
             </div>
            </form>
        </div>        
    </div>
    {% endblock contenido_panel %}
{% endblock contenido %}
