{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load extra_tags %}

{% block titulo %}
    Información Básica
{% endblock titulo %}

{% block css %}
    <style type="text/css">
        .panel{
            background: none;
        }
    </style>
{% endblock css %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Organización</li>
    <li class="breadcrumb-item">Jóvenes</li>
    <li class="breadcrumb-item"><a href="">Consultar</a></li>    
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-open icon-orange"></i> Jóvenes
    <p style="color:gray; font-size: 14px; line-height: normal; font-weight: normal;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. In magnam molestias non excepturi? Quidem fuga quibusdam eum libero officia atque deserunt esse perspiciatis magni optio saepe, error sapiente placeat pariatur.</p>
{% endblock titulo_pagina %}
{% block contenido %}
    <div>
        {% block contenido_panel %}
            <div class="row">
                <div class="col-9">
                    <form method="GET">                        
                        {% for tipo in tipos %}
                            <input type="submit" name="tag" value="{{ tipo.nombre }}" class="btn btn-sm {% if tipo.nombre == tag %}btn-orange{% else %}btn-outline-orange{% endif %} ml-1">
                        {% endfor %}                    
                    </form>
                </div>
                <div class="col-3" align="right">
                    <form method="GET">
                        <div class="form-group" style="margin:0; position: relative; width:100%">
                            <input id="id_q" class="controls form-control" type="text" name="q" placeholder="Buscar...">
                            <button type="submit" id="btn_buscar" class="btn btn-search btn-buscar"><i class="fa fa-arrow-down"></i></button>
                        </div>
                    </form>
                </div>

                <div class="col-12 contenido">
                    <div class="row">
                                    
                        {%for joven in jovenes%}
                            <div class="col-12 rounded bg mt-3 p-3 bg bg-white">
                                <div class="row my-auto">
                                    <div class="col-1 my-auto">    
                                        {%if joven.usuario.foto_perfil%}                               
                                            <img src="{{joven.usuario.foto_perfil.url}}" alt="Imagen perfil" class="img-circle my-auto" style="width: 50px; height: 50px;">
                                        {% else %}
                                            <img  src="{% static 'img/jovenens/predeterminada.jpg' %}" class="img-circle my-auto" style="width: 50px; height: 50px;">
                                        {% endif %}
                                    </div>
                                    <div class="col-2 my-auto">
                                        <strong>{{joven.usuario}}</strong>
                                    </div>
                                    <div class="col-7 my-auto">
                                        <div class="row">
                                            <div class="col-12 my-auto">
                                                <div class="row pull-right">            
                                                    <div class="bg-green mr-3 text-center my-auto"  style="border-radius: 50px; width: 110px;">
                                                        <strong>{{joven.usuario.obtener_insignias.tribu}}</strong>
                                                    </div>                                                        
                                                    {%for rol in joven.usuario.obtener_insignias.roles%}
                                                        <div class="bg-orange mr-3 text-center my-auto"  style="border-radius: 50px; width: 110px;">
                                                            <strong>{{rol}}</strong> 
                                                        </div>
                                                    {%endfor%}
                                                    <div class="bg-yellow mr-3 text-center my-auto" style="border-radius: 50px; width: 110px;">
                                                        <strong>{{joven.usuario.obtener_insignias.nivel}}</strong> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                                  
                                    </div>                 
                                                             
                                    <div class="col-2 my-auto" >                                            
                                        <div class="btn-group pull-right mr-3">
                                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100px; background-color: #A32CDF; color: white;">
                                                Ver más                                                                                    
                                            </button>
                                            <div class="dropdown-menu">            
                                                <a class="dropdown-item" href="">Visitar perfil</a>    
                                                {%for mensaje in joven.mensajes%}                                                    
                                                    {% if mensaje.preguntar %}
                                                        <a class="dropdown-item">{{mensaje.accion}}</a>                                                                                                            
                                                    {%else%}
                                                        <a class="dropdown-item">{{mensaje.accion}}</a> 
                                                    {% endif %}
                                                {%endfor%}                                                             
                                            </div>
                                        </div>
                                    </div>
                                </div>                                                                        
                            </div>
                        {% empty %}
                            <div class="col-12 px-0" align="center">
                                {% if tag == 'Solicitudes'%}
                                <h4 class="mt-5">No se encontraron solicitudes.</h4>
                                {%else%}
                                    <h4 class="mt-5">No se encontraron Jóvenes.</h4>
                                {%endif%}
                            </div>                       
                        {%endfor%}                                 
                    </div>
                </div>
            </div>
        {% endblock contenido_panel %}
        
        
    </div>
{% endblock contenido %}

{% block js %}
 
 

{% endblock js %}
