{% extends 'base_tablas.html' %}
{% load static %}

{% block titulo %}
    Gestión Actos
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url "retos:listado" %}">Gestión Retos</a></li>
    <li class="breadcrumb-item"><a href="{% url "cuartos:listado" reto.id %}">Gestión Cuartos</a></li>
    <li class="breadcrumb-item active"> Gestión Actos</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    Gestión Actos
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan los actos y sus diferentes herramientas para su gestión.</i>
            </p>
        </div>
        <div class="col-md-12" align="right">
            <a class="btn btn-primary" href="{% url "cuartos:acto_registrar" reto.id cuarto.id %}"><i class="fas fa-plus"></i> Registrar Acto</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Indicaciones</th>
                        <th>Calificación máxima</th>
                        <th>Archivo de apoyo</th>
                        <th>Orden</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for acto in actos %}
                        <tr>
                            <td>{{acto.indicaciones}}</td>
                            <td>{{acto.calificacion_maxima}}</td>
                            <td>               
                                {% if acto.archivo_apoyo%}             
                                    <a href="{% get_media_prefix %}{{acto.archivo_apoyo}}" target="_blank">
                                        <i class="fas fa-download fa-fw "></i>Descargar
                                    </a>
                                {% else %}
                                    <b>No hay archivo para mostrar</b> 
                                {% endif %}
                            </td>
                            <td>
                               {{acto.cuarto_acto_acto.all.first.orden}}                              
                            </td>
                            
                            <td align="center">
                                {% if acto.activo == True %}
                                    <span class="label label-lime">ACTIVO</span>
                                {% else %}
                                    <span class="label label-secondary">INACTIVO</span>
                                {% endif %}
                            </td>
                            <td align="center">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <a title="Modificar" href="{% url "cuartos:acto_modificar" reto.id acto.id cuarto.id %}"><i class="fas fa-pen-alt"></i></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>                
            </div>
            <div class="col-md-12 mt-3" align="left">
                <a class="btn btn-primary" href="{% url 'cuartos:listado' reto.id %}"><i class="fas fa-arrow-left"></i> Atrás </a>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

