{% extends 'base.html' %}

{% load bootstrap4 %}

{% block titulo %}
    Modificar Acto
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url "retos:listado" %}">Gestión Retos</a></li>
    <li class="breadcrumb-item"><a href="{% url "cuartos:listado" reto.id %}">Gestión Cuartos</a></li>
    <li class="breadcrumb-item"><a href="{% url "cuartos:acto_listado" reto.id cuarto.id %}">Gestión Actos</a></li>
    <li class="breadcrumb-item active">Modificar Acto</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    Modificar Acto
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <div class="col-12 mb-2">
                <p class="mb-1">
                    <i>El siguiente formulario permite modificar las diferentes características de un acto.</i>
                </p>
            </div>
            {% for campo in form %}
                {% if campo.name == 'activo'%}
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12" align="left">
                        {% bootstrap_field campo field_class="form-check checkbox checkbox-css pt-0 checkbox-inline" placeholder="" %}
                    </div>
                {% else %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        {% bootstrap_field campo placeholder="" %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-6" align="left">
                <a class="btn btn-secondary" href="{% url "cuartos:acto_listado" reto.id cuarto.id %}"><i class="fa fa-angle-left"></i> Atrás</a>
            </div>
            <div class="col-6" align="right">
                <button class="btn btn-primary" type="submit">Modificar Acto <i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </form>
{% endblock contenido_panel %}

