{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load extra_tags %}

{% block titulo %}
    Todos los equipos
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Todos los equipos</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    {% if tag == 'Todos' %}
    <i class="icon-people icon-orange"></i> Todos los equipos
    {% elif tag == 'Favoritos' %}
    <i class="icon-people icon-orange"></i> Favoritos
    {% elif tag == 'Mis equipos' %}
    <i class="icon-people icon-orange"></i> Mis Equipos
    {% elif tag == 'Sugeridos para ti' %}
    <i class="icon-people icon-orange"></i> Sugeridos para ti
    {% endif %}
    <p style="color:gray; font-size: 14px; line-height: normal; font-weight: normal;">Somos un equipo. Acá podrás crear tus equipos, ya sea grupos con los que vienes trabajando hace tiempo o uno nuevo que quieras conformar.  También tendrás la posibilidad de conocer los equipos que ya hacen parte de MiEslabón, te recomendaremos equipos que comparten tus gustos e intereses.
        ¿Y si me quiero unir a algún equipo que ya esté conformado? Postúlate, y date la oportunidad ser parte.        
    </p>
{% endblock titulo_pagina %}

{% block css %}
    {{ block.super }}
        <style type="text/css">
            .card{
                width: 95%;
            }
            .caret {
                margin-left: 5px;
                padding-bottom: 1px;
            }
        </style>
{% endblock css %}

{% block contenido %}
    <div class="row">
        <div class="col-9">
            <form method="GET">
                <a href="{% url 'equipos:registrar' %}" class="btn btn-sm btn-outline-orange ml-1"><i class="fas fa-plus-circle"></i> Crear Equipo</a>
                <a href="{% url 'equipos:gestionar_equipos' %}" class="btn btn-sm btn-outline-orange ml-1"><i class="fas fa-pen-alt"></i> Editar Equipos</a>
                <a href="{% url 'equipos:gestionar_solicitudes' %}" class="btn btn-sm btn-outline-orange ml-1"><i class="fas fa-envelope"></i> Gestionar Solicitudes</a><br>
                <br>
                {% for tipo in tipos %}
                    <input id="tag-{{forloop.counter}}" type="submit" name="tag" value="{{ tipo.nombre }}" class="btn btn-sm {% if tipo.nombre == tag %}btn-orange{% else %}btn-outline-orange{% endif %} ml-1">
                {% endfor %}
            </form>
        </div>
        <div class="col-3" align="right">
            <form method="GET">
                <div class="form-group" style="margin:0; position: relative; width:100%">
                    <input id="id_q" class="controls form-control" type="text" name="q" style="border: solid 1px; border-color: rgb(248, 96, 12); background-color:white !important;" placeholder="Buscar...">
                    <button type="submit" id="btn_buscar" class="btn-buscar" style="border: solid 1px; color: rgb(248, 96, 12); border-color: rgb(248, 96, 12); border-radius: 0px 100px 100px 0px;"><i class="fa fa-arrow-down" style="color: orange;"></i></button>
                </div>
            </form>
        </div>
        <p style="color: transparent;">' '</p>
        <div class="col-12 contenido">
            <div class="row">
                {% for equipo in equipos %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 px-0 card-contenido card">
                        <div class="card border-0 mx-1 my-1">
                            {% if equipo.equipo.foto_del_equipo and equipo.equipo.logo %}
                                <a href="{{equipo.equipo.foto_del_equipo.url}}" data-lightbox="gallery-group-equipos-{{ equipo.equipo.pk }}">
                                    <div class="hovereffect embed-responsive embed-responsive-4by3">
                                        <img src="{{equipo.equipo.foto_del_equipo.url}}" class="embed-responsive-item" style="position: absolute;">
                                        <img src="{{equipo.equipo.logo.url}}"style="position:absolute;top: 25px;left: 25px;z-index: 2;width:80px;height:80px">
                                    </div>
                                </a>
                            {% else %}
                                <div class="hovereffect embed-responsive embed-responsive-4by3">
                                    {% if not equipo.equipo.foto_del_equipo %}
                                        <img src="{% static 'img/equipos/equipos.png' %}" class="embed-responsive-item">
                                    {% else %}
                                        <img src="{{equipo.equipo.foto_del_equipo.url}}" class="embed-responsive-item" style="position: absolute;">
                                    {% endif %}
                                    {% if not equipo.equipo.logo %}
                                        <img src="{% static 'img/extra/no-image.jpg' %}" style="position:absolute;top: 25px;left: 25px;z-index: 2;width:80px;height:80px">
                                    {% else %}
                                        <img src="{{equipo.equipo.logo.url}}"style="position:absolute;top: 25px;left: 25px;z-index: 2;width:80px;height:80px">
                                    {% endif %}
                                </div>
                            {% endif %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12" align="right">
                                        <span class="calificacion like pr-1">
                                            <a title="Me gusta" id="like1-contenido-{{ equipo.equipo.pk }}" href="javascript:calificar_contenido(1,{{ equipo.equipo.pk }},{{ request.user.pk }})"><i class="fas fa-thumbs-up fa-lg"></i></a>
                                        </span>
                                        <span class="calificacion dislike pr-1">
                                                <a title="No me gusta" id="like0-contenido-{{ equipo.equipo.pk }}" href="javascript:calificar_contenido(0,{{ equipo.equipo.pk }},{{ request.user.pk }})"><i class="fas fa-thumbs-up fa-rotate-180 fa-lg"></i></a>
                                        </span>
                                    </div>
                                </div>
                                <a href="" style="width: 100%">
                                    <h6 class="card-title m-t-0 m-b-10" data-max-characters="80">{{equipo.equipo.nombre}}</h6>
                                </a>
                                <div class="row ml-1 mt-3" style="height: 105px" >
                                    <p data-max-characters="200" class="card-text">{{ equipo.equipo.descripcion }}</p>
                                </div>
                                <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4;border-top: 1px solid #c4c4c4">
                                    <div class="col-12 py-2" align="center">
                                        {% for tribu in equipo.equipo.tribus.all %}
                                            <img width="15%" title="{{ tribu.nombre|title }}" alt="{{ tribu.nombre|title }}" class="mx-0" src="{{ tribu.imagen.url }}">
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12 px-0 pt-1 mt-2" align="center">
                                        <div class="btn-group">
                                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 150px; background-color: #A32CDF; color: white;">
                                                {{equipo.boton_mensaje}}
                                                <span class="caret"></span></button>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="{% url "equipos:detalle_equipo" equipo.equipo.id %}" target="_blank">Ver Equipo</a>
                                                {% for mensaje in equipo.mensajes %}
                                                    <a class="dropdown-item" href="{% url mensaje.url request.user.id equipo.equipo.id %}">{{mensaje.accion}}</a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-12 px-0" align="center">
                        <h4 class="mt-5">No se encontraron equipos.</h4>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="container mt-2 col-12">
            {% if is_paginated %}
                <ul class="pagination">                                 
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a href="
                            {%if tag|cambiar_espacio_por_mas in request.get_full_path %}
                            ?{{tag|cambiar_espacio_por_mas}}&page=1
                            {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page=1
                            {%else%}?Todos&page=1{%endif%}"
                            class="page-link">Primero</a>
                        </li>
                        <li class="page-item">
                            <a href="
                            {%if tag|cambiar_espacio_por_mas in request.get_full_path %}
                            ?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.previous_page_number }}
                            {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.next_page_number }}
                            {%else%}?Todos&page={{ page_obj.previous_page_number }}{%endif%}"
                            class="page-link">Atrás</a>
                        </li>
                    {%else%}
                        <li class="page-item disabled" style="background-color: lightgray;">
                            <a href="#" class="page-link" style="background-color: lightgray;">Atrás</a>
                        </li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}                                     
                            <li class="page-item {%if page_obj.number == i%}active{%endif%}" style="background-color: rgb(102, 45, 145); border: 1px solid rgb(102, 45, 145);">
                                <a href="
                                {%if tag|cambiar_espacio_por_mas in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{i}}
                                {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.next_page_number }}
                                {%else%}?Todos&page={{i}}{%endif%}"
                                class="page-link" style="background-color: rgb(102, 45, 145); border: 1px solid rgb(102, 45, 145);">{{i}}</a>
                            </li>   
                        {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}         
                            <a href="
                                {%if tag|cambiar_espacio_por_mas in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{i}}
                                {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.next_page_number }}
                                {%else%}?Todos&page={{i}}{%endif%}"
                                class="page-link" >{{i}}</a>
                        {% endif %}                            
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a href="
                            {%if tag|cambiar_espacio_por_mas in request.get_full_path %}
                            ?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.next_page_number }}
                            {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.next_page_number }}
                            {%else%}?Todos&page={{ page_obj.next_page_number }}{%endif%}"
                            class="page-link">Siguiente</a>
                        </li>    
                        <li class="page-item">
                            <a href="
                            {%if tag|cambiar_espacio_por_mas in request.get_full_path %}
                            ?{{tag|cambiar_espacio_por_mas}}&page={{paginator.page_range|length}}
                            {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{paginator.page_range|length}}
                            {%else%}?Todos&page={{paginator.page_range|length}}{%endif%}"
                            class="page-link">Último</a>
                        </li>                         
                    {%else%}
                        <li class="page-item disabled" style="background-color: lightgray;">
                            <a href="#" class="page-link" style="background-color: lightgray;">Siguiente</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock contenido %}

{% block js %}
    <script>
        var token = '{{csrf_token}}';
        var url_api_cargar_calificaciones_contenidos = "{% url 'equipos:api_cargar_calificaciones' %}";
        var url_api_calificar_contenido = "{% url 'equipos:api_calificar' %}"
    </script>
    <script src="{% static 'js/custom/calificacion.js' %}"></script>
    <script>
        initCalificacionesContenido({{ request.user.pk }},{{ equipo.pk }});
    </script>
    <script>
        $("p").each(function() {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if(length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
        $("h6").each(function() {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if(length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
    </script>    
{% endblock js %}