{% extends 'base_tablas.html' %}

{% block titulo %}
    Gestión de Equipos
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item active">Gestión de Equipos</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-people icon-orange"></i> Gestión de Equipos
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan los equipos en los cuales eres el líder y las diferentes herramientas para su gestión:</i>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for equipo in equipos %}
                        <tr>
                            <td>{{equipo.nombre}}</td>
                            <td>{{equipo.descripcion}}</td>
                            <td align="center">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <a title="Modificar" href="{% url "equipos:modificar_equipo" equipo.id %}"><i class="fas fa-pen-alt"></i></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $('.table').DataTable({
                    "language": {
                        "sProcessing":    "Procesando...",
                        "sLengthMenu":    "Mostrar _MENU_ registros",
                        "sZeroRecords":   "No se encontraron resultados",
                        "sEmptyTable":    "Ningún dato disponible en esta tabla",
                        "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix":   "",
                        "sSearch":        "Buscar:",
                        "sUrl":           "",
                        "sInfoThousands":  ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst":    "Primero",
                            "sLast":    "Último",
                            "sNext":    "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    }
                });
                $('.dataTables_length').addClass('bs-select');
            });
        </script>
    </div>
{% endblock contenido_panel %}

