{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load extra_tags %}

{% block titulo %}
    Modificar Equipo 
{% endblock titulo %}

{% block css %}
    <style type="text/css">
        .panel{
            background: none;
        }
    </style>
{% endblock css %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item active">Modificar Equipo</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-open icon-orange"></i> Modificar Equipo
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row">
        <div class="mb-3 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="" class="nav-link formularios active ">
                        <span class="d-sm-none">Equipo</span>
                        <span class="d-sm-block d-none">Equipo</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url "equipos:registrar_proyecto" equipo.id %}" class="nav-link formularios ">
                        <span class="d-sm-none">Proyectos</span>
                        <span class="d-sm-block d-none">Proyectos</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url "equipos:enviar_invitaciones" equipo.id %}" class="nav-link formularios ">
                        <span class="d-sm-none">Invitaciones</span>
                        <span class="d-sm-block d-none">Invitaciones</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content p-15 rounded bg-white">
                <div class="tab-pane fade active show">
                    <h3 class="m-t-10 m-b-10">Modificar Equipo</h3>
                    <p class="mb-4 mr-5">
                        <i>Somos un equipo. Acá podrás crear tus equipos, ya sea grupos con los que vienes trabajando hace tiempo o uno nuevo que quieras conformar.  También tendrás la posibilidad de conocer los equipos que ya hacen parte de MiEslabón, te recomendaremos equipos que comparten tus gustos e intereses.
                            ¿Y si me quiero unir a algún equipo que ya esté conformado? Postúlate, y date la oportunidad ser parte.</i>
                    </p>
                    <form class="ml-5 mt-5" method="post" enctype="multipart/form-data">{% csrf_token %}
                        {% for campo in form %}
                        {% if campo.name != 'logo' and campo.name != 'foto_del_equipo' and campo.name != 'url_instagram' and campo.name != 'url_facebook' and campo.name != 'url_twitter' and campo.name != 'url_mail' and campo.name != 'url_pagina_web' and campo.name != 'tipo' and campo.name != 'tribus' %}
                        <div class="row ml-5">
                            <div class="col-6" align="left">
                                {% bootstrap_field campo placeholder="" layout='horizontal' horizontal_label_class="col-md-6" horizontal_field_class="col-md-6"%}
                            </div>
                        </div>
                        {% elif campo.name == 'logo' or campo.name == 'foto_del_equipo' %}
                            <div class="row ml-5">
                                <div class="col-6" align="left">
                                    <div class="form-group row">
                                        <div class="col-md-6" id="div_{{campo.name}}">
                                            {% bootstrap_label campo.label %}
                                        </div>
                                        <div style="height: calc(1.2em + 14px + 2px); overflow:hidden;" class="custom-file col-md-6">
                                            <div>
                                                <input type="file" accept="image/*" name="{{ campo.name }}" class="custom-file-input" id="id_{{campo.name}}">
                                                <label style="height: calc(1.2em + 14px + 2px);" class="custom-file-label" for="id_{{campo.name}}">Seleccione una imagen...</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif campo.name == 'tribus' %}
                            <div class="row ml-5">
                                <div class="col-6" align="left">
                                        {% bootstrap_field campo placeholder="" layout='horizontal' horizontal_label_class="col-md-6" horizontal_field_class="col-md-6" %}
                                </div>
                                <div class="col-6 mt-2" align="left">
                                    <a href="{% static 'img/perfil_deseado/tribus.png' %}" data-lightbox="gallery-group-tribus"><i class="fa fa-lg fa-question"></i></a>
                                </div>
                            </div>
                        {% elif campo.name == 'tipo' %}
                            <div class="row ml-5">
                                <div class="col-6" align="left">
                                        {% bootstrap_field campo placeholder="" layout='horizontal' horizontal_label_class="col-md-6" horizontal_field_class="col-md-6" %}
                                </div>
                                <div class="col-6 mt-2" align="left">
                                    <a href="{% static 'img/equipos/tipo_equipo.png' %}" data-lightbox="gallery-group-tipo"><i class="fa fa-lg fa-question"></i></a>
                                </div>
                            </div>
                        {% else %}
                            <div class="row ml-5">
                                <div class="col-6" align="left">
                                    {% if campo.name == 'url_instagram' %}
                                        {% bootstrap_field campo placeholder="" layout='horizontal' horizontal_label_class="col-md-6" horizontal_field_class="col-md-6" addon_before='<span class="fab fa-instagram fa-1x ml-1 mr-1 "></span>' %}
                                    {% endif %}
                                    {% if campo.name == 'url_twitter' %}
                                        {% bootstrap_field campo placeholder="" layout='horizontal' horizontal_label_class="col-md-6" horizontal_field_class="col-md-6" addon_before='<span class="fab fa-twitter fa-1x ml-1 mr-1 "></span>' %}
                                    {% endif %}
                                    {% if campo.name == 'url_facebook' %}
                                        {% bootstrap_field campo placeholder="" layout='horizontal' horizontal_label_class="col-md-6" horizontal_field_class="col-md-6" addon_before='<span class="fab fa-facebook fa-1x ml-1 mr-1 "></span>' %}
                                    {% endif %}
                                    {% if campo.name == 'url_mail' %}
                                        {% bootstrap_field campo placeholder="" layout='horizontal' horizontal_label_class="col-md-6" horizontal_field_class="col-md-6" addon_before='<span class="fa fa-envelope fa-1x ml-1 mr-1 "></span>' %}
                                    {% endif %}
                                    {% if campo.name == 'url_pagina_web' %}
                                        {% bootstrap_field campo placeholder="" layout='horizontal' horizontal_label_class="col-md-6" horizontal_field_class="col-md-6" addon_before='<span class="icon-globe fa-1x ml-1 mr-1 "></span>' %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                        <div class="row">
                            <div class="col-12" align="right">
                                <button class="btn btn-primary" type="submit">Guardar y Continuar <i class="fa fa-save"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

{% block js %}
    <script>
        document.querySelector('#id_logo').addEventListener('change',function(e){
            var fileName = document.getElementById("id_logo").files[0].name;
            var nextSibling = e.target.nextElementSibling;
            nextSibling.innerText = fileName;
        });
    </script>
    <script>
        document.querySelector('#id_foto_del_equipo').addEventListener('change',function(e){
            var fileName = document.getElementById("id_foto_del_equipo").files[0].name;
            var nextSibling = e.target.nextElementSibling;
            nextSibling.innerText = fileName;
        });
    </script>
{% endblock js %}
