<li class="has-sub {% if '/retos/registrar' in request.path or '/retos/consultar-retos/' in request.path or '/retos/consultar/' in request.path or '/retos/solicitudes-organizaciones/' == request.path or '/retos/solicitudes-jovenes-equipos/' in request.path or '/cuartos/listado-tipos' in request.path or '/retos/solicitudes-organizaciones/' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="icon-rocket"></i>
        Módulo Retos
    </a>
    <ul class="sub-menu">
        <li class="{% if '/retos/registrar' in request.path %} active {% endif %}">
            <a href="{% url 'retos:registrar' %}">Crear Reto</a>
        </li>
        <li class="{% if '/retos/consultar-retos/' in request.path %} active {% endif %}">
            <a href="{% url 'retos:consultar_retos' %}">Consultar Retos</a>
        </li>
        <li class="{% if '/cuartos/listado-tipos' in request.path %} active {% endif %}">
            <a href="{%url 'cuartos:tipo_listado'%}">Gestionar Tipo Cuartos</a>
        </li>
        <li class="{% if '/retos/consultar/' in request.path %} active {% endif %}">
            <a href="{%url 'retos:consultar'%}">Gestionar Retos</a>
        </li>
        <li class="has-sub {% if '/retos/solicitudes-organizaciones/' in request.path or '/retos/solicitudes-jovenes-equipos/' in request.path %} active {% endif %}">
            <a href="javascript:;">
                <b class="caret"></b>
                Gestión Solicitudes
            </a>
            <ul class="sub-menu">
                <li class="{% if '/retos/solicitudes-organizaciones/' in request.path %} active {% endif %}">
                    <a href="{% url 'retos:solicitudes_retos_organizaciones' %}">Organizaciones</a>
                </li>
                <li class=" {%if '/retos/solicitudes-jovenes-equipos/' in request.path %} active {% endif %}">
                    <a href="{% url 'retos:solicitudes_solicitudes_jovenes_equipos' %}">Jóvenes y Equipos</a>
                </li>
            </ul>
        </li>
        <li class="has-sub {% if '/retos/competencias/listado-competencias/' in request.path or '/retos/competencias/registrar-competencias/' in request.path or '/retos/competencias/modificar-competencias/' in request.path %} active {% endif %}">
            <a href="javascript:;">
                <b class="caret"></b>
                Gestion Competencias 
            </a>
            <ul class="sub-menu">
                <li class="{% if '/retos/listado-competencias/' in request.path %} active {% endif %}">
                    <a href="{% url 'retos:listado_competencias' %}">Consultar</a>
                </li> 
                <li class=" {%if '/retos/registrar-competencia/' in request.path %} active {% endif %}">
                    <a href="{% url 'retos:registrar_competencia' %}">Registrar</a>
                </li>
            </ul>
        </li>
    </ul>
</li>
