<li class="has-sub {% if 'ubicacion' in request.path or 'indicador' in request.path or 'tablero-auditorias' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="icon-key"></i>
        <span>Módulo Auditorias</span>
    </a>
    <ul class="sub-menu">
        <li class="{% if 'auditorias/sesiones' in request.path %} active {% endif %}">
                <a href="{% url 'auditorias:auditor_sesiones' %}">Auditor Sesiones</a>
            </li>
        <li class="{% if 'auditorias/navegacion' in request.path %} active {% endif %}">
                <a href="{% url 'auditorias:auditor_navegacion' %}">Auditor Navegación</a>
            </li>
        {% if perms.auditorias.auditar_datos %}
            <li class="{% if 'auditorias/instancias' in request.path %} active {% endif %}">
                <a href="{% url 'auditorias:consultar_cambios' %}">Auditor Datos</a>
            </li>
        {% endif %}
        <li class="{% if 'tablero-auditorias' in request.path %} active {% endif %} has-sub">
            <a href="javascript:;">
                <b class="caret"></b>
                Tableros
            </a>
            <ul class="sub-menu">                
                <li class="{% if '/tablero-auditorias/tablero-general/' in request.path %} active {% endif %}">
                    <a href="{% url 'tablero_auditorias:tablero_general_auditoria'%}">Tablero General</a>
                </li> 
                <li class="{% if '/tablero-auditorias/tablero-modulo/' in request.path %} active {% endif %}">
                    <a href="{% url 'tablero_auditorias:tablero_modulo_auditoria'%}">Tablero por Módulo</a>                    
                </li> 
                <li class="{% if '/tablero-rutas-oportunidades/' in request.path %} active {% endif %}">
                    <a href="{% url 'tablero_auditorias:tablero_rutas_oportunidades'%}">Tablero de Rutas y Oportunidades</a>
                </li> 
                <li class="{% if '/tablero-auditorias/tablero-guias/' in request.path %} active {% endif %}">                   
                    <a href="{% url 'tablero_auditorias:tablero_guias'%}">Tablero de Guia MiEslabon</a>
                </li> 
                <li class="{% if '/tablero-auditorias/tabla-retencion-jovenes/' in request.path %} active {% endif %}">
                    <a href="{% url 'tablero_auditorias:tabla_retencion_jovenes'%}">Tabla retención de jóvenes</a>
                </li>               
            </ul>
            
            
        </li>
    </ul>
</li>