<li class="has-sub {% if 'cuestionarios' in request.path or 'interes' in request.path or 'tandas' in request.path or 'calificaciones' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="icon-book-open"></i>
        <span>Módulo Formularios</span>
    </a>
    <ul class="sub-menu">
        <li class="{% if 'interes' in request.path %} active {% endif %}">
            <a href="{% url "intereses:listado" %}">Intereses</a>
        </li>
        <li class="has-sub {% if 'cuestionarios' in request.path and not 'respuestas' in request.path %} active {% endif %}">
            <a href="javascript:;">
                <b class="caret"></b>
                Gestión Formularios
            </a>
            <ul class="sub-menu">
                <li class="{% if 'cuestionarios/ambito' in request.path%} active {% endif %}">
                    <a href="{% url 'formularios:listado_ambitos' %}">Ámbitos</a>
                </li>
                <li class="{% if 'cuestionarios' in request.path and not 'cuestionarios/ambito' in request.path and not 'respuestas' in request.path and not 'cuestionarios/competencias' in request.path %} active {% endif %}">
                    <a href="{% url "formularios:listado" %}">Formularios</a>
                </li>
                <li class="{% if 'cuestionarios/competencias' in request.path %} active {% endif %}">
                    <a href="{% url "formularios:listado_competencias" %}">Gestión Competencias</a>
                </li>
            </ul>
        </li>
        <li class="has-sub {% if 'tandas' in request.path %} active {% endif %}">
            <a href="javascript:;">
                <b class="caret"></b>
                Gestión Tandas
            </a>
            <ul class="sub-menu">
                <li class="{% if 'tandas' in request.path and not 'asigna' in request.path %} active {% endif %}">
                    <a href="{% url 'tandas:listado' %}">Gestión Tandas</a>
                </li>
                <li class="{% if 'tandas' in request.path and 'asigna' in request.path %} active {% endif %}">
                    <a href="{% url "tandas:asignaciones" %}">Asignar Tandas</a>
                </li>
            </ul>
        </li>
        <li class="has-sub {% if 'calificaciones' in request.path %} active {% endif %}">
            <a href="javascript:;">
                <b class="caret"></b>
                Consulta Respuestas
            </a>
            <ul class="sub-menu">
                <li class="{% if 'D48' in request.path %} active {% endif %}">
                    <a href="{% url 'calificaciones:consultar_D48' %}">Dominó D48</a>
                </li>
                <li class="{% if 'CHASIDE' in request.path %} active {% endif %}">
                    <a href="{% url 'calificaciones:consultar_CHASIDE' %}">CHASIDE</a>
                </li>
                <li class="{% if 'Sterrett' in request.path %} active {% endif %}">
                    <a href="{% url 'calificaciones:consultar_Sterrett' %}">Emily Sterrett</a>
                </li>
                <li class="{% if 'Liderazgo' in request.path %} active {% endif %}">
                    <a href="{% url 'calificaciones:consultar_Liderazgo' %}">Liderazgo</a>
                </li>
                <li class="{% if 'seleccion-multiple' in request.path %} active {% endif %}">
                    <a href="{% url 'calificaciones:consultar_SM' %}">Selección Múltiple</a>
                </li>
            </ul>
        </li>

        <li class="{% if '/usuarios/gestionar/salarios' in request.path %} active {% endif %}">
            <a href="{% url 'usuarios:listado_salarios' %}">Gestión Salarios</a>
        </li>



    </ul>
</li>