<li class="has-sub {% if 'contenido' in request.path%} active {% endif %}">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="icon-directions"></i>
        <span>Módulo Contenido</span>
    </a>
    <ul class="sub-menu">
        <li class="has-sub {% if 'modalidades' in request.path%} active {% endif %}">
            <a href="javascript:;">
                <b class="caret"></b>
                Gestión Modalidades
            </a>
            <ul class="sub-menu">
                <li class="{% if 'modalidades/tipos' in request.path %} active {% endif %}">
                    <a href="{% url "contenido:listado_tipos_modalidades" %}">Tipos Modalidades</a>
                </li>
                <li class="{% if 'modalidades/metodologias' in request.path %} active {% endif %}">
                    <a href="{% url "contenido:listado_metodologias" %}">Metodologías</a>
                </li>
                <li class="{% if 'modalidades' in request.path and not 'tipos' in request.path and not 'metodologias' in request.path %} active {% endif %}">
                    <a href="{% url "contenido:listado_modalidades" %}">Modalidades</a>
                </li>
            </ul>
        </li>
        <li class="{% if 'rutas' in request.path%} active {% endif %}">
            <a href="{% url "contenido:listado_rutas" %}">Gestión Rutas</a>
        </li>        
        <li class="{% if 'rutas/asignar-rutas/' in request.path%} active {% endif %}">
            <a href="{% url "contenido:listado_oportunidades" %}">Gestión Oportunidades</a>
        </li>
        <li class="{% if 'palabras-excluidas-listado' in request.path%} active {% endif %}">
            <a href="{% url "contenido:listado_palabras_excluidas" %}">Gestión Palabras Clave</a>
        </li>
        
        {% comment %}
        <li class="has-sub {% if 'retos' in request.path%} active {% endif %}">
            <a href="javascript:;">
                <b class="caret"></b>
                Gestión Retos
            </a>
            <ul class="sub-menu">
                <li class="{% if 'retos/tipos' in request.path %} active {% endif %}">
                   
                </li>
                <li class="{% if 'retos' in request.path and not 'retos/tipos' in request.path %} active {% endif %}">
                    <a href="{% url "retos:listado" %}">Retos</a>
                </li>
            </ul>
        </li>
        {% endcomment %}
    </ul>
</li>