{% url "guia:listado_tipo" as listado_tipo %}

<li class="has-sub {% if '/guia/listado' in request.path or 'guia/tipos/gestionar/' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="ion-md-videocam"></i>
        <span>Módulo Guía Mi Eslabón</span>
    </a>
    <ul class="sub-menu">
        <li class="{% if '/guia/listado' in request.path %} active {% endif %}">            
            <a href="{% url "guia:listado" %}">Gestión Guía Mi Eslabón</a>
        </li>
        <li class="{% if 'guia/tipos/gestionar/' in request.path %} active {% endif %}">            
            <a href={{listado_tipo}}>Tipos de Recursos</a>
        </li>
    </ul>
</li>
