

<li class="has-sub {% if '/habilidades-del-futuro/' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="icon-layers"></i>
        <span>Módulo Habilidades del Futuro</span>
    </a>
    <ul class="sub-menu">
        <li class="{% if '/habilidades-del-futuro/' in request.path %} active {% endif %}">
            <a href="{% url "habilidades_del_futuro:listado" %}">Gestión Hablidades</a>
        </li>
    </ul>
</li>
