<li class="has-sub {% if 'ubicacion' in request.path or 'indicador' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="icon-globe-alt"></i>
        <span>Módulo Ubicaciones</span>
    </a>
    <ul class="sub-menu">
        <li class="has-sub">
            <a href="javascript:;">
                <b class="caret"></b>
                Gestión Ubicaciones
            </a>
            <ul class="sub-menu">
                <li><a href="#">Países</a></li>
                <li><a href="#">Departamentos</a></li>
                <li><a href="#">Ciudades</a></li>
            </ul>
        </li>
        <li><a href="#">Indicadores Económicos</a></li>
    </ul>
</li>