<li class="has-sub {% if 'insignias' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="icon-badge"></i>
        <span>Módulo Insignias</span>
    </a>
    <ul class="sub-menu">
        <li class="{% if 'insignias/tribus' in request.path%} active {% endif %}">
            <a href="{% url 'insignias:listado_tribus' %}">Gestión Tribus</a>
        </li>
        <li class="{% if 'insignias/familias' in request.path%} active {% endif %}">
            <a href="{% url 'insignias:listado_familias' %}">Gestión Familias</a>
        </li> 
        <li class="{% if 'insignias/campos' in request.path%} active {% endif %}">
            <a href="{% url 'insignias:listado_campos' %}">Gestión Campo</a>
        </li>        
        <li class="{% if 'insignias/niveles-conocimiento' in request.path %} active {% endif %}">
            <a href="{% url 'insignias:listado_niveles' %}">Gestión Niveles de Conocimiento</a>
        </li>
        <li class="{% if 'insignias/roles' in request.path %} active {% endif %}">
            <a href="{% url 'insignias:listado_roles' %}">Gestión Roles</a>
        </li>
        <li class="{% if 'insignias/tipo-equipo' in request.path %} active {% endif %}">
            <a href="{% url 'insignias:listado_tipo_equipo' %}">Gestión Tipo de Equipo</a>
        </li>
    </ul>
</li>