<li class="has-sub {% if '/perfiles-deseados/consultar/' in request.path or '/usuarios/gestionar/' in request.path or '/organizaciones/gestionar/' in request.path or '/organizaciones/tipos/gestionar/' in request.path and not 'retos' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="icon-user"></i>
        <span>Módulo Usuarios</span>
    </a>
    <ul class="sub-menu">
        <li class="{% if '/perfiles-deseados/consultar/' in request.path %} active {% endif %}">
            <a href="{% url 'perfiles_deseados:consultar_perfiles_jovenes' %}">Perfiles Usuarios</a>
        </li>
        <li class="{% if '/usuarios/gestionar/' in request.path %} active {% endif %}">
            <a href="{% url "usuarios:listado_usuarios" %}">Usuarios</a>
        </li>
        <li><a href="#">Equipos</a></li>
        <li class="has-sub {% if '/organizaciones/gestionar/' in request.path or '/organizaciones/tipos/gestionar/' in request.path %} active {% endif %}">
            <a href="javascript:;">
                <b class="caret"></b>
                Gestión Organizaciones
            </a>
            <ul class="sub-menu">
                <li class="{% if '/organizaciones/tipos/gestionar/' in request.path %} active {% endif %}">
                    <a href="{% url 'organizaciones:listado_tipos' %}">Tipos Organizaciones</a>
                </li>
                <li class="{% if '/organizaciones/gestionar/' in request.path %} active {% endif %}">
                    <a href="{% url 'organizaciones:listado' %}">Organizaciones</a>
                </li>
            </ul>
        </li>
        <li class="{% if '/organizaciones/asignar-joven-grado/' in request.path %} active {% endif %}">
            <a href="{% url "organizaciones:asignar_organizacion_jovenes_grado" %}">Asignar jovenes colegio</a>
        </li>
    </ul>
</li>