{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load extra_tags %}

{% block titulo %}
Lo que quiero a futuro
{% endblock titulo %}

{% block css %}
<style type="text/css">
    .panel {
        background: none;
    }
</style>
{% endblock css %}

{% block miga_pan %}
<li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
<li class="breadcrumb-item active">Cuestionarios</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
<i class="icon-book-open icon-orange"></i> Lo que quiero a futuro
{% endblock titulo_pagina %}

{% block contenido_panel %}
<div class="row">
    <div class="mb-3 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <ul class="nav nav-pills row no-gutters">
            <li class="nav-item col-xs-6 col-sm-4 col-md-4 col-lg-auto col-xl-auto">
                <a href="{% url 'formularios:responder_datos_basicos' %}"
                    class="nav-link formularios justify-content-center">
                    <span class="d-sm-none">Cuéntanos sobre ti</span>
                    <span class="d-sm-block d-none">Cuéntanos sobre ti</span>
                </a>
            </li>
            <li class="nav-item col-xs-6 col-sm-4 col-md-4 col-lg-auto col-xl-auto">
                <a href="{% url 'formularios:responder_experiencia_actual' %}"
                    class="nav-link formularios justify-content-center">
                    <span class="d-sm-none">Tu Experiencia</span>
                    <span class="d-sm-block d-none">Tu Experiencia</span>
                </a>
            </li>
            {% for p in formularios_list %}
            <li class="nav-item col-xs-6 col-sm-4 col-md-4 col-lg-auto col-xl-auto">
                <a {% if p|formulario_contestado:request.user.id == False %}href="{% url 'formularios:responder' %}"
                    {% else %}href="{% url 'formularios:responder_formulario' p.pk %}" {% endif %}
                    class="nav-link formularios justify-content-center">
                    <span class="d-sm-none">
                        {% if forloop.counter == 1 %}
                        Reto de lógica
                        {% elif forloop.counter == 2 %}
                        Reto de lectura
                        {% elif forloop.counter == 3 %}
                        Reto de emociones
                        {% elif forloop.counter == 4 %}
                        Reto social
                        {% elif forloop.counter == 5 %}
                        Reto de intereses
                        {% endif %}
                    </span>
                    <span class="d-sm-block d-none">
                        {% if forloop.counter == 1 %}
                        Reto de lógica
                        {% elif forloop.counter == 2 %}
                        Reto de lectura
                        {% elif forloop.counter == 3 %}
                        Reto de emociones
                        {% elif forloop.counter == 4 %}
                        Reto social
                        {% elif forloop.counter == 5 %}
                        Reto de intereses
                        {% endif %}
                    </span>
                </a>
            </li>
            {% endfor %}
        </ul>
        <div class="tab-content p-15 rounded bg-white">
            <div class="tab-pane fade active show">
                <h3 class="m-t-10 m-b-10">Lo que quiero a futuro</h3>
                <p class="mb-4 mr-5">
                    <i>¡Soñemos juntos! ¿Cómo te ves en el futuro? ¿Cuáles son los logros que deseas alcanzar en los
                        próximos tres a cinco años?. ¿Qué haremos con esta información? Te conectaremos con
                        diferentes rutas, retos y oportunidades que serán afines a tus sueños y te llevarán al
                        lugar donde quieres estar en un futuro. Puedes elegir varios perfiles de futuro
                        (elegir varias tribus e intereses) y al final elegir el perfil que más te gusta.
                        Recuerda contestar todas las preguntas.
                    </i>
                </p>
                <form class="ml-2 mt-5" method="post">{% csrf_token %}
                    {% for campo in form %}
                    {% if campo.name == 'tribu_deseada'%}
                    <div class="row ml-5">
                        <div class="col-8" align="left">
                            {% bootstrap_field campo placeholder="" layout='horizontal' horizontal_label_class="col-md-6" horizontal_field_class="col-md-6" %}
                        </div>
                        <div class="col-4 mt-2" align="left">
                            <a href="{% static 'img/perfil_deseado/tribus.png' %}"
                                data-lightbox="gallery-group-tribus"><i class="fa fa-lg fa-question"></i></a>
                        </div>
                    </div>
                    {% elif campo.name == 'nivel_conocimiento_deseado' %}
                    <div class="row ml-5">
                        <div class="col-8" align="left">
                            {% bootstrap_field campo placeholder="" layout='horizontal' horizontal_label_class="col-md-6" horizontal_field_class="col-md-6" %}
                        </div>
                        <div class="col-4 mt-2" align="left">
                            <a href="{% static 'img/perfil_deseado/roles.png' %}" data-lightbox="gallery-group-roles"><i
                                    class="fa fa-lg fa-question"></i></a>
                        </div>
                    </div>
                    {% elif campo.name == 'interes_voluntariado' %}
                    <div class="row ml-5">
                        <div class="col-8" align="left">
                            {% bootstrap_field campo placeholder="" layout='horizontal' horizontal_label_class="col-md-6" horizontal_field_class="col-md-6" %}
                        </div>
                        <div class="col-4 mt-2" align="left">
                            <a href="{% static 'img/perfil_deseado/roles_1.png' %}"
                                data-lightbox="gallery-group-voluntario"><i class="fa fa-lg fa-question"></i></a>
                        </div>
                    </div>
                    {% elif campo.name == 'interes_trabajo' %}
                    <div class="row ml-5">
                        <div class="col-8" align="left">
                            {% bootstrap_field campo placeholder="" layout='horizontal' horizontal_label_class="col-md-6" horizontal_field_class="col-md-6" %}
                        </div>
                        <div class="col-4 mt-2" align="left">
                            <a href="{% static 'img/perfil_deseado/colaboradores.png' %}"
                                data-lightbox="gallery-group-trabajo"><i class="fa fa-lg fa-question"></i></a>
                        </div>
                    </div>
                    {% elif campo.name == 'interes_independiente' %}
                    <div class="row ml-5">
                        <div class="col-8" align="left">
                            {% bootstrap_field campo placeholder="" layout='horizontal' horizontal_label_class="col-md-6" horizontal_field_class="col-md-6" %}
                        </div>
                        <div class="col-4 mt-2" align="left">
                            <a href="{% static 'img/perfil_deseado/independientes.png' %}"
                                data-lightbox="gallery-group-independiente"><i class="fa fa-lg fa-question"></i></a>
                        </div>
                    </div>
                    {% elif campo.name == 'interes_emprendedor' %}
                    <div class="row ml-5">
                        <div class="col-8" align="left">
                            {% bootstrap_field campo placeholder="" layout='horizontal' horizontal_label_class="col-md-6" horizontal_field_class="col-md-6" %}
                        </div>
                        <div class="col-4 mt-2" align="left">
                            <a href="{% static 'img/perfil_deseado/emprendedores.png' %}"
                                data-lightbox="gallery-group-emprendedor"><i class="fa fa-lg fa-question"></i></a>
                        </div>
                    </div>
                    {% elif campo.name == 'capacidad_inversion_formacion' %}
                    <div class="row ml-5">
                        <div class="col-8" align="left">
                            {% bootstrap_field campo placeholder="" layout='horizontal' horizontal_label_class="col-md-6" horizontal_field_class="col-md-6" %}
                        </div>

                        <div class="col-4 mt-2" align="left">
                            <a onclick="abrir_filtro()" href="#">
                                <i class="fa fa-lg fa-question"></i>
                            </a>
                        </div>
                    </div>
                    {% elif campo.name == 'foto_perfil' %}
                    <div class="row ml-5" align="left">
                        <div style="height: calc(1.2em + 14px + 2px); overflow:hidden;" class="row custom-file col-8 ">
                            <div>
                                <input type="file" name="{{campo.name}}" accept="image/*" class="custom-file-input"
                                    id="id_{{campo.name}}">
                                <label style="height: calc(1.2em + 14px + 2px);" class="custom-file-label"
                                    for="id_{{campo.name}}">{{form.foto_perfil.value|default:'Seleccione una imagen...'}}</label>
                            </div>
                        </div>
                    </div>
                    {% elif not campo.name == 'pais' and not campo.name == 'salario' and not campo.name == 'region' %}
                    <div class="row ml-5">
                        <div class="col-8" align="left">
                            {% bootstrap_field campo placeholder="" layout='horizontal' horizontal_label_class="col-md-6" horizontal_field_class="col-md-6"%}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="row mt-5">
                        <div class="col-12" align="right">
                            <button class="btn btn-primary" type="submit">Guardar y Continuar <i
                                    class="fa fa-save"></i></button>
                            {% comment %}
                            <a href="{% url 'inicio' %}" class="btn btn-primary">Saltar y Continuar <i
                                    class="fa fa-angle-right"></i></a>
                            {% endcomment %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal draggable fade" id="modal_filtro" data-backdrop="static" style="display: none;">
    <div class="modal-dialog justify-content-center">
        <div class="modal-content">
            <form method="POST">{% csrf_token %}
                <div class="modal-body" align="center">
                    <div class="col-8" align="left"
                        style="color: #0C2C37; font-family: 'Avenir LT Pro 55 Roman'; font-size: small;">
                        {% bootstrap_field form.pais placeholder="" layout='horizontal' horizontal_label_class="col-md-12"%}
                        <span id="salario_pais"></span>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button onclick="cerrar_filtro()" class="btn btn-secondary btn-close px-3">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endblock contenido_panel %}

{% block js %}
<script src="{% static 'plugins/select2/dist/js/select2.full.min.js' %}"></script>
<script src="{% static 'js/custom/usuario_forms.js' %}"></script>
<script>
    var total_forms = {{ formularios_list| length }} + 3;
    $('.nav-item').css("width", String(100 / total_forms) + '%');
    init_paises_intereses();
    var tribus = document.getElementById("id_tribu_deseada");
    $('#id_rutas_conocimiento').attr('disabled', true)
    tribus.onchange = function () {
        $('#id_rutas_conocimiento').empty();
        $('#id_rutas_conocimiento').attr('disabled', false)
    };
    $(document).ready(function () {
        $("#id_tribu_deseada").select2({
            templateResult: formatState,
            templateSelection: formatState,
        });
    });
    function formatState(state) {
        if (!state.id) {
            return state.text
        }
        nombre = state.text;
        url = '/static/img/tribus/' + String(state.id) + '_1.png';
        var $state = $(
            '<span><img style="height:30px; width:30px" src="' + url + '" class="img-flag" /> ' + nombre + '</span>'
        );
        return $state;
    }
</script>
<script>
    document.querySelector('#id_foto_perfil').addEventListener('change', function (e) {
        var fileName = document.getElementById("id_foto_perfil").files[0].name;
        var nextSibling = e.target.nextElementSibling;
        nextSibling.innerText = fileName;
    });
</script>

<script>
    function abrir_filtro() {
        $("#modal_filtro").modal('show');
    }
    function cerrar_filtro() {
        $("#modal_filtro").modal('hide');
    }
</script>

<script>

    //var pais_id = $("#id_pais option:selected").val(); //Id del pais
    //var pais_nombre = $("#id_pais option:selected").text(); //Nombre del pais
    var select_pais = document.getElementById('id_pais');

    function enviar() {
        $.ajax({
            type: "POST",
            data: { 'pais_id': $("#id_pais option:selected").val(), "csrfmiddlewaretoken": "{{csrf_token}}" },
            dataType: "json",
            url: '{% url "perfiles_deseados:consultar_salario" %}',
            success: function (response) {
                $('#salario_pais').text(response.salario);
            },
        });
    }

    select_pais.onchange = function () {
        enviar();
    };

</script>


{% endblock js %}