{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load extra_tags %}

{% block titulo %}
    Tu Experiencia
{% endblock titulo %}

{% block css %}
    <style type="text/css">
        .panel{
            background: none;
        }
    </style>
{% endblock css %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item active">Cuestionarios</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-open icon-orange"></i> Tu Experiencia
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row">
        <div class="mb-3 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <ul class="nav nav-pills row no-gutters">
                <li class="nav-item col-xs-6 col-sm-4 col-md-4 col-lg-auto col-xl-auto">
                    <a href="{% url 'formularios:responder_datos_basicos' %}" class="nav-link formularios justify-content-center">
                        <span class="d-sm-none">Cuéntanos sobre ti</span>
                        <span class="d-sm-block d-none">Cuéntanos sobre ti</span>
                    </a>
                </li>
                <li class="nav-item col-xs-6 col-sm-4 col-md-4 col-lg-auto col-xl-auto">
                    <a href="{% url 'formularios:responder_experiencia_actual' %}" class="nav-link formularios active justify-content-center">
                        <span class="d-sm-none">Tu Experiencia</span>
                        <span class="d-sm-block d-none">Tu Experiencia</span>
                    </a>
                </li>
                {% for p in formularios_list %}
                    <li class="nav-item col-xs-6 col-sm-4 col-md-4 col-lg-auto col-xl-auto">
                        <a {% if p|formulario_contestado:request.user.id == False %}href="{% url 'formularios:responder' %}" {% else %}href="{% url 'formularios:responder_formulario' p.pk %}"{% endif %} class="nav-link formularios justify-content-center">
                            <span class="d-sm-none">
                                {% if forloop.counter == 1 %}
                                    Reto de lógica
                                {% elif forloop.counter == 2 %}
                                    Reto de lectura
                                {% elif forloop.counter == 3 %}
                                    Reto de emociones
                                {% elif forloop.counter == 4 %}
                                    Reto social
                                {% elif forloop.counter == 5 %}
                                    Reto de intereses
                                {% endif %}
                            </span>
                            <span class="d-sm-block d-none">
                                {% if forloop.counter == 1 %}
                                    Reto de lógica
                                {% elif forloop.counter == 2 %}
                                    Reto de lectura
                                {% elif forloop.counter == 3 %}
                                    Reto de emociones
                                {% elif forloop.counter == 4 %}
                                    Reto social
                                {% elif forloop.counter == 5 %}
                                    Reto de intereses
                                {% endif %}
                        </span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content p-15 rounded bg-white">
                <div class="tab-pane fade active show">
                    <h3 class="m-t-10 m-b-10">Tu Experiencia</h3>
                    <p class="mb-4 mr-5">
                        <i>¡Queremos conocer más sobre ti! En este espacio cuéntanos cuáles son tus intereses o
                            actividades que disfrutas y en las que has aprendido mucho,
                            ¿qué haremos con esta información? Te conectaremos con diferentes rutas, retos y
                            oportunidades que sean afines a tus gustos. Responde todas las preguntas. Aquí contarás sobre tu experiencia
                            RECUERDA que el objetivo es poder mostrar todo lo que has hecho y sabes hacer por los grupos y trabajos que has tenido.
                        </i>
                    </p>
                    <img src="{% static 'img/extra/explicacion_interrogante.png' %}" style="max-width: 50%; height: auto; display: table; margin: 0 auto;" >
                    <form class="ml-5 mt-1 mr-5" method="post">{% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    {% crispy form %}
                                </div>
                            </div>
                            <div class="col-12" align="right">
                                <button class="btn btn-primary" type="submit">Guardar y Continuar <i class="fa fa-save"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    
{% endblock contenido_panel %}

{% block js %}
    <script>
        var total_forms = {{ formularios_list|length }} + 3;
        $('.nav-item').css("width",String(100/total_forms)+'%');
    </script>    
{% endblock js %}