{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load extra_tags %}

{% block titulo %}
    Cuéntanos sobre ti
{% endblock titulo %}

{% block css %}
    <style type="text/css">
        .panel{
            background: none;
        }
    </style>

    <link rel="stylesheet" href="{% static 'plugins/intl-tel-input-17.0.0/build/css/intlTelInput.css' %}">

    <style>
        .iti__flag {
            background-image: url("{% static 'plugins/intl-tel-input-17.0.0/build/img/flags.png' %}");
        }

        @media (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
            .iti__flag {
                background-image: url("{% static 'plugins/intl-tel-input-17.0.0/build/img/flags@2x.png' %}");
            }
        }

        .iti.iti--allow-dropdown {
            display: block;
        }

        #id_fecha_de_nacimiento .bootstrap-datetimepicker-widget .datepicker-days table th.picker-switch {
            pointer-events: none;
        }

    </style>
{% endblock css %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item active">Cuestionarios</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-open icon-orange"></i> Cuéntanos sobre ti    
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row">
        <div class="mb-3 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <ul class="nav nav-pills row no-gutters">
                <li class="nav-item col-xs-6 col-sm-4 col-md-4 col-lg-auto col-xl-auto">
                    <a href="{% url 'formularios:responder_datos_basicos' %}" class="nav-link formularios active justify-content-center">
                        <span class="d-sm-none">Cuéntanos sobre ti</span>
                        <span class="d-sm-block d-none">Cuéntanos sobre ti</span>
                    </a>
                </li>
                <li class="nav-item col-xs-6 col-sm-4 col-md-4 col-lg-auto col-xl-auto">
                    <a href="{% url 'formularios:responder_experiencia_actual' %}" class="nav-link formularios justify-content-center">
                        <span class="d-sm-none">Tu Experiencia</span>
                        <span class="d-sm-block d-none">Tu Experiencia</span>
                    </a>
                </li>
                {% for p in formularios_list %}
                    <li class="nav-item col-xs-6 col-sm-4 col-md-4 col-lg-auto col-xl-auto">
                        <a {% if p|formulario_contestado:request.user.id == False %}href="{% url 'formularios:responder' %}" {% else %}href="{% url 'formularios:responder_formulario' p.pk %}"{% endif %} class="nav-link formularios justify-content-center">
                            <span class="d-sm-none">
                                {% if forloop.counter == 1 %}
                                    Reto de lógica
                                {% elif forloop.counter == 2 %}
                                    Reto de lectura
                                {% elif forloop.counter == 3 %}
                                    Reto de emociones
                                {% elif forloop.counter == 4 %}
                                    Reto social
                                {% elif forloop.counter == 5 %}
                                    Reto de intereses
                                {% endif %}
                            </span>
                            <span class="d-sm-block d-none">
                                {% if forloop.counter == 1 %}
                                    Reto de lógica
                                {% elif forloop.counter == 2 %}
                                    Reto de lectura
                                {% elif forloop.counter == 3 %}
                                    Reto de emociones
                                {% elif forloop.counter == 4 %}
                                    Reto social
                                {% elif forloop.counter == 5 %}
                                    Reto de intereses
                                {% endif %}
                        </span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content p-15 rounded bg-white">
                <div class="tab-pane fade active show">
                    <h3 class="m-t-10 m-b-10">Cuéntanos sobre ti</h3>
                    <form class="ml-5 mt-5" method="post">{% csrf_token %}
                        {% for campo in form %}
                            <div class="row">
                                <div class="col-xl-8 col-lg-6 col-md-9 col-sm- col-xs-12 px-3" align="left">
                                    {% bootstrap_field campo placeholder="" layout='horizontal' horizontal_label_class="col-md-6" horizontal_field_class="col-md-6"%}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row">
                            <div class="col-12" align="right">
                                <button class="btn btn-primary" type="submit">Guardar y Continuar <i class="fa fa-save"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}


{% block js %}
    <script src="{% static 'js/custom/usuario_forms.js' %}"></script>
    <script>
        var total_forms = {{ formularios_list|length }} + 3;
    </script>
    <script src="{% static 'js/custom/datos_basicos.js' %}"></script>
    <script src="{% static 'plugins/intl-tel-input-17.0.0/build/js/intlTelInput.js' %}"></script>
    <script>
        modificar_indicativo_telefono();
        $('#id_indicativo_telefono').hide();
        $("label[for=id_indicativo_telefono]").hide();
    </script>
    
{% endblock js %}
