{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load extra_tags %}

{% block titulo %}
    Cuestionarios
{% endblock titulo %}

{% block css %}
    <link href="{% static 'plugins/select2/dist/css/select2.min.css' %}" rel="stylesheet" />
    <style type="text/css">
        .panel{
            background: none;
        }
    </style>
{% endblock css %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item active">Cuestionarios</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-open icon-orange"></i> Cuestionarios
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row">
        <div class="mb-3 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <ul class="nav nav-pills row no-gutters">
                <li class="nav-item col-xs-6 col-sm-4 col-md-4 col-lg-auto col-xl-auto">
                    <a href="{% url 'formularios:responder_datos_basicos' %}" class="nav-link formularios justify-content-center">
                        <span class="d-sm-none">Cuéntanos sobre ti</span>
                        <span class="d-sm-block d-none">Cuéntanos sobre ti</span>
                    </a>
                </li>
                <li class="nav-item col-xs-6 col-sm-4 col-md-4 col-lg-auto col-xl-auto">
                    <a href="{% url 'formularios:responder_experiencia_actual' %}" class="nav-link formularios justify-content-center">
                        <span class="d-sm-none">Tu Experiencia</span>
                        <span class="d-sm-block d-none">Tu Experiencia</span>
                    </a>
                </li>
                {% for p in formularios_list %}
                    <li class="nav-item col-xs-6 col-sm-4 col-md-4 col-lg-auto col-xl-auto">
                        <a {% if p|formulario_contestado:request.user.id == False %}href="{% url 'formularios:responder' %}" {% else %}href="{% url 'formularios:responder_formulario' p.pk %}"{% endif %} class="nav-link formularios justify-content-center{% if p.pk == formulario.pk %} active{% endif %}">
                            <span class="d-sm-none">
                                {% if forloop.counter == 1 %}
                                    Reto de lógica
                                {% elif forloop.counter == 2 %}
                                    Reto de lectura
                                {% elif forloop.counter == 3 %}
                                    Reto de emociones
                                {% elif forloop.counter == 4 %}
                                    Reto social
                                {% elif forloop.counter == 5 %}
                                    Reto de intereses
                                {% endif %}
                            </span>
                            <span class="d-sm-block d-none">
                                {% if forloop.counter == 1 %}
                                    Reto de lógica
                                {% elif forloop.counter == 2 %}
                                    Reto de lectura
                                {% elif forloop.counter == 3 %}
                                    Reto de emociones
                                {% elif forloop.counter == 4 %}
                                    Reto social
                                {% elif forloop.counter == 5 %}
                                    Reto de intereses
                                {% endif %}
                        </span>
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content p-15 rounded bg-white">
                <div class="tab-pane fade active show" id="formulario_{{ formulario.pk }}">
                    <h3 class="m-t-10">{{ formulario }}</h3>
                    <div class="row mt-3">
                        <div class="col-12 formulario_descripcion" align="center">
                            <div class="row indicaciones">
                                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 px-5" align="left">
                                    <h3>Indicaciones</h3>
                                    <p class="mb-4" align="left">
                                        <span>
                                            {{ formulario.instrucciones }}<br>
                                            {% if formulario.tiempo_lectura %}<b>Tiempo de lectura: {{ formulario.tiempo_lectura }} minutos</b>{% endif %}
                                        </span>
                                    </p>
                                    {% if formulario.descripcion %}
                                        {% if formulario.tiempo_lectura %}
                                            <div class="texto" style="display: none">
                                                <h5>Texto</h5>
                                                <p class="mb-1" align="justify">
                                                    <i>{{ formulario.descripcion }}</i>
                                                </p>
                                            </div>
                                        {% else %}
                                            <h5>Texto</h5>
                                            <p class="mb-1" align="justify">
                                                <i>{{ formulario.descripcion }}</i>
                                            </p>
                                        {% endif %}
                                    {% endif %}
                                    {% if formulario.imagen %}
                                        <p class="mb-1" align="justify">
                                            Revisa el siguiente ejemplo:
                                        </p>
                                        <p align="center"><img style="max-width: 800px" src="{{ formulario.imagen.url }}"></p>
                                    {% endif %}
                                    <p class="mb-1 mt-5" align="left">
                                        <b><i>{{ formulario.credito|default:'' }}</i></b>
                                    </p>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 tiempo_lectura" align="right">
                                    <h4 id="timer_read" style="color: #A32CDF"></h4>
                                </div>
                            </div>

                            {% if formulario.tiempo_lectura and formulario|formulario_contestado:request.user.id == False %}
                                <div class="row leer">
                                    <div class="col-12" align="center">
                                        <button class="btn btn-primary" type="button" onclick="leer_texto('{{ formulario.tiempo_lectura }}')">Empezar Lectura </button>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="row iniciar">
                                <div class="col-12" align="right">
                                    <button class="btn btn-primary" type="button" onclick="iniciarFormulario('{{ formulario.tiempo_limite }}')">
                                        Siguiente<i class="fa fa-angle-right"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="row calificar" style="display: none">
                                <div class="col-12" align="center">
                                    <p class="mb-2">Califica que tanto te gustó el cuestionario anterior</p>
                                    <span class="calificacion pr-1">
                                                <a title="1 Estrella" id="star1-formulario-{{ formulario.pk }}" href="javascript:calificar_formulario(1,{{ formulario.pk }},{{ request.user.pk }})"><i class="fas fa-star fa-lg"></i></a>
                                        </span>
                                    <span class="calificacion pr-1">
                                                <a title="2 Estrellas" id="star2-formulario-{{ formulario.pk }}" href="javascript:calificar_formulario(2,{{ formulario.pk }},{{ request.user.pk }})"><i class="fas fa-star fa-lg"></i></a>
                                        </span>
                                    <span class="calificacion pr-1">
                                                <a title="3 Estrellas" id="star3-formulario-{{ formulario.pk }}" href="javascript:calificar_formulario(3,{{ formulario.pk }},{{ request.user.pk }})"><i class="fas fa-star fa-lg"></i></a>
                                        </span>
                                    <span class="calificacion pr-1">
                                                <a title="4 Estrellas" id="star4-formulario-{{ formulario.pk }}" href="javascript:calificar_formulario(4,{{ formulario.pk }},{{ request.user.pk }})"><i class="fas fa-star fa-lg"></i></a>
                                        </span>
                                    <span class="calificacion pr-1">
                                                <a title="5 Estrellas" id="star5-formulario-{{ formulario.pk }}" href="javascript:calificar_formulario(5,{{ formulario.pk }},{{ request.user.pk }})"><i class="fas fa-star fa-lg"></i></a>
                                        </span>
                                </div>
                                <div class="col-12" align="right">
                                    <a class="btn btn-primary" href="{% url 'formularios:responder' %}">Siguiente<i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>

                        {% if formulario|formulario_contestado:request.user.id == False %}

                            <div class="col-12 formulario_preguntas" style="display: none;">
                                <div class="row">
                                    <div class="col-12 mb-2 preguntas" align="left">

                                        <div class="row">
                                            <div class="col-sm-12 col-xl-8 pl-2" align="left">
                                                <h4>Indicaciones</h4>
                                                <p class="mb-4" align="left">
                                                    <span>{{ formulario.instrucciones }}</span>
                                                </p>
                                            </div>
                                        </div>

                                        {% for pregunta in preguntas %}
                                            <script>
                                                var tipo_pregunta = '{{pregunta.tipo}}'
                                            </script>
                                            <div class="row mb-2 pregunta{% if pregunta.tipo == "SN" or pregunta.tipo == "E" or pregunta.tipo == "SM"%} ml-3{% elif pregunta.tipo == "D48" %} ml-3{% endif %}" id="pregunta_{{ forloop.counter }}" style="display: none">
                                                <div class="{% if pregunta.tipo == "D48" %}col-xl-4 col-lg-4{% else %}col-xl-5 col-lg-5{% endif %} col-md-12 col-xs-12 col-sm-12" align="left">
                                                    <p><b style="color: #A32CDF">{{ forloop.counter }}.</b>  {{ pregunta.descripcion }}</p>
                                                    {% if pregunta.tipo == "D48" %}
                                                        {% if forloop.counter  == 1 %}
                                                        <p class="text-justify">"En el ejemplo a continuación verás una serie de fichas de dominó con el número 2 arriba y el número 2 abajo en este caso en todas las fichas. por tanto siguiendo la lógica podemos concluir que la ficha que hace falta también tendrá el número 2 arriba y el 2 abajo, de tal forma que la respuesta será marcar 2 en la parte superior y 2 en la parte inferior. Continúa asi con cada uno de los retos que se te presenten."</p>
                                                        {% elif forloop.counter  == 2 %}
                                                        <p class="text-justify">"Un segundo y último ejemplo, a continuación verás una serie de fichas de dominó con el número 3 arriba y el número 5 abajo en este caso en todas las fichas. por tanto siguiendo la lógica podemos concluir que la ficha que hace falta también tendrá el número 3 arriba y el 5 abajo, de tal forma que la respuesta será marcar 3 en la parte superior y 5 en la parte inferior. Continúa asi con cada uno de los retos que se te presenten."</p>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if pregunta.imagen %}
                                                        <p align="center"><img style="width: 80%" src="{{ pregunta.imagen.url }}"></p>
                                                    {% endif %}
                                                </div>
                                                <div class="{% if pregunta.tipo == 'SM'%}col-xl-5 col-lg-5 col-md-12{% else %}col-xl-7 col-lg-7 col-md-12{% endif %} col-xs-12 col-sm-12" align="left">
                                                    {% if pregunta.tipo == "SM" %}
                                                        <input type="hidden" id="tipo_pregunta_{{ forloop.counter }}" value="SM">
                                                        {% with forloop.counter as counter_pregunta %}
                                                            <select style="width: 100%" id="{{ pregunta.id }}" class="preguntas_select2" name="select_{{ counter_pregunta }}">
                                                                <option value="">Seleccionar</option>
                                                                {% for respuesta in pregunta.respuesta_pregunta.all %}
                                                                    <option value="{{ respuesta.id }}">{{ respuesta.descripcion }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        {% endwith %}
                                                    {% elif pregunta.tipo == "E" %}
                                                        <input type="hidden" id="tipo_pregunta_{{ forloop.counter }}" value="E">
                                                        {% with forloop.counter as counter_pregunta %}
                                                            {% with ''|center:formulario.escala_max as escala_maxima %}
                                                                {% for _ in escala_maxima %}
                                                                    <div class="radio radio-css radio-inline">
                                                                        <input id="{{ pregunta.id }}_{{ forloop.counter }}" type="radio" name="radio_{{ counter_pregunta }}"
                                                                               value="{{ forloop.counter }}"/>
                                                                        <label for="{{ pregunta.id }}_{{ forloop.counter }}">{{ forloop.counter }}</label>
                                                                    </div>
                                                                {% endfor %}
                                                            {% endwith %}
                                                        {% endwith %}
                                                    {% elif pregunta.tipo == "SN" %}
                                                        <input type="hidden" id="tipo_pregunta_{{ forloop.counter }}" value="SN">
                                                        <div class="col-md-12" align="center">
                                                            <div class="radio radio-css radio-inline">
                                                                <input id="{{ pregunta.id }}_1" type="radio" name="radio_{{ forloop.counter }}" value="1"/>
                                                                <label for="{{ pregunta.id }}_1">Sí</label>
                                                            </div>
                                                            <div class="radio radio-css radio-inline">
                                                                <input id="{{ pregunta.id }}_0" type="radio" name="radio_{{ forloop.counter }}" value="0"/>
                                                                <label for="{{ pregunta.id }}_0">No</label>
                                                            </div>
                                                        </div>
                                                    {% elif pregunta.tipo == "D48" %}
                                                        <input type="hidden" id="tipo_pregunta_{{ forloop.counter }}" value="D48">
                                                        {% with forloop.counter as counter_pregunta %}
                                                            <input type="hidden" id="{{ forloop.counter }}_domino">
                                                            <p style="font-size: 11px" align="center" class="mt-3 mb-0 pb-0"><i>Seleccione el número de arriba de la ficha</i></p>
                                                            <div class="col-md-12" align="center">
                                                                <div class="row">
                                                                    <div class="col-domino" align="center">
                                                                        <div class="radio radio-css radio-inline">
                                                                            <input id="{{ pregunta.id }}_superior_0" type="radio" name="radio_{{ counter_pregunta }}_1" value="0"/>
                                                                            <label for="{{ pregunta.id }}_superior_0"></label>
                                                                            <img class="margin-domino" src="{% static 'img/domino/0.png' %}">
                                                                            <input id="{{ pregunta.id }}_inferior_0" type="radio" name="radio_{{ counter_pregunta }}_2" value="0"/>
                                                                            <label for="{{ pregunta.id }}_inferior_0"></label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-domino" align="center">
                                                                        <div class="radio radio-css radio-inline">
                                                                            <input id="{{ pregunta.id }}_superior_1" type="radio" name="radio_{{ counter_pregunta }}_1" value="1"/>
                                                                            <label for="{{ pregunta.id }}_superior_1"></label>
                                                                            <img class="margin-domino" src="{% static 'img/domino/1.png' %}">
                                                                            <input id="{{ pregunta.id }}_inferior_1" type="radio" name="radio_{{ counter_pregunta }}_2" value="1"/>
                                                                            <label for="{{ pregunta.id }}_inferior_1"></label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-domino" align="center">
                                                                        <div class="radio radio-css radio-inline">
                                                                            {% if counter_pregunta == 1 %}
                                                                                <input id="{{ pregunta.id }}_superior_2" type="radio" name="radio_{{ counter_pregunta }}_1" value="2" checked/>
                                                                            {% else %}
                                                                                <input id="{{ pregunta.id }}_superior_2" type="radio" name="radio_{{ counter_pregunta }}_1" value="2"/>
                                                                            {% endif %}
                                                                            <label for="{{ pregunta.id }}_superior_2"></label>
                                                                            <img class="margin-domino" src="{% static 'img/domino/2.png' %}">
                                                                            {% if counter_pregunta == 1 %}
                                                                                <input id="{{ pregunta.id }}_inferior_2" type="radio" name="radio_{{ counter_pregunta }}_2" value="2" checked/>
                                                                            {% else %}
                                                                                <input id="{{ pregunta.id }}_inferior_2" type="radio" name="radio_{{ counter_pregunta }}_2" value="2"/>
                                                                            {% endif %}
                                                                            <label for="{{ pregunta.id }}_inferior_2"></label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-domino" align="center">
                                                                        <div class="radio radio-css radio-inline">
                                                                            {% if counter_pregunta == 2 %}
                                                                                <input id="{{ pregunta.id }}_superior_3" type="radio" name="radio_{{ counter_pregunta }}_1" value="3" checked/>
                                                                            {% else %}
                                                                                <input id="{{ pregunta.id }}_superior_3" type="radio" name="radio_{{ counter_pregunta }}_1" value="3"/>
                                                                            {% endif %}
                                                                            <label for="{{ pregunta.id }}_superior_3"></label>
                                                                            <img class="margin-domino" src="{% static 'img/domino/3.png' %}">
                                                                            <input id="{{ pregunta.id }}_inferior_3" type="radio" name="radio_{{ counter_pregunta }}_2" value="3"/>
                                                                            <label for="{{ pregunta.id }}_inferior_3"></label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-domino" align="center">
                                                                        <div class="radio radio-css radio-inline">
                                                                            <input id="{{ pregunta.id }}_superior_4" type="radio" name="radio_{{ counter_pregunta }}_1" value="4"/>
                                                                            <label for="{{ pregunta.id }}_superior_4"></label>
                                                                            <img class="margin-domino" src="{% static 'img/domino/4.png' %}">
                                                                            <input id="{{ pregunta.id }}_inferior_4" type="radio" name="radio_{{ counter_pregunta }}_2" value="4"/>
                                                                            <label for="{{ pregunta.id }}_inferior_4"></label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-domino" align="center">
                                                                        <div class="radio radio-css radio-inline">
                                                                            <input id="{{ pregunta.id }}_superior_5" type="radio" name="radio_{{ counter_pregunta }}_1" value="5"/>
                                                                            <label for="{{ pregunta.id }}_superior_5"></label>
                                                                            <img class="margin-domino" src="{% static 'img/domino/5.png' %}">
                                                                            {% if counter_pregunta == 2 %}
                                                                                <input id="{{ pregunta.id }}_inferior_5" type="radio" name="radio_{{ counter_pregunta }}_2" value="5" checked/>
                                                                            {% else %}
                                                                                <input id="{{ pregunta.id }}_inferior_5" type="radio" name="radio_{{ counter_pregunta }}_2" value="5"/>
                                                                            {% endif%}
                                                                            <label for="{{ pregunta.id }}_inferior_5"></label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-domino" align="center">
                                                                        <div class="radio radio-css radio-inline">
                                                                            <input id="{{ pregunta.id }}_superior_6" type="radio" name="radio_{{ counter_pregunta }}_1" value="6"/>
                                                                            <label for="{{ pregunta.id }}_superior_6"></label>
                                                                            <img class="margin-domino" src="{% static 'img/domino/6.png' %}">
                                                                            <input id="{{ pregunta.id }}_inferior_6" type="radio" name="radio_{{ counter_pregunta }}_2" value="6"/>
                                                                            <label for="{{ pregunta.id }}_inferior_6"></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p style="font-size: 11px" align="center" class="mt-4 mb-0 pb-0"><i>Seleccione el número de abajo de la ficha</i></p>

                                                        {% endwith %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <div class="progress" >
                                            <div class="progress-bar" id="progress_bar"></div>
                                        </div>
                                        <p class="mb-1 mt-5" align="left">
                                            <b><i>{{ formulario.credito|default:'' }}</i></b>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 mt-4">
                                        <div class="col-12" align="right">
                                            <button class="btn btn-secondary" id="anterior" type="button" onclick="no_respondio_preguntas(), preguntas_anteriores(), actualizar_barra_progreso()"><i class="fa fa-angle-left"></i> Anterior</button>
                                            <button class="btn btn-primary" id="siguiente" type="button" onclick="respondio_preguntas(), preguntas_siguientes(), actualizar_barra_progreso()">Guardar y Siguiente <i class="fa fa-angle-right"></i></button>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center mt-3" align="right">
                                        <h4 id="timer" style="color: #A32CDF"></h4>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

{% block js %}
    <script src="{% static 'plugins/select2/dist/js/select2.full.min.js' %}"></script>
    <script>
        var total_forms = {{ formularios_list|length }} + 3;
        $('.nav-item').css("width",String(100/total_forms)+'%');
        $('.preguntas_select2').select2();
    </script>
    <script>
        var hora_inicio='{{request.session.hora_inicio}}'
    </script>
    <script>
        var totalPreguntas = {{ preguntas|length }};
        var maxPreguntasPagina = {{ max_preguntas_pagina }};
        var token = '{{ csrf_token }}';
        var pk_joven = {{ request.user.pk }};
        var pk_formulario = {{ formulario.pk }};
        var releer = '{{ puede_releer }}';
        var url_api_cargar_calificacion_formulario = "{% url 'calificaciones:api_cargar_calificacion' %}";
        var url_api_calificar_formulario = "{% url 'calificaciones:api_calificar' %}"
        var url_formularios = "{% url 'formularios:responder' %}"
        var limite_tiempo = '{{ formulario.tiempo_limite }}'
        var formulario_identificador = '{{ formulario.identificador }}'
        var iniciado = '{{request.session.iniciado}}'
        var formulario_actual = '{{pregunta.tipo}}'
        var preguntas_contestadas = parseInt('{{preguntas_contestadas}}')
        var respondio_pregunta = false
        var retrocecio_preguntas = 0
        var pagina_recargada=true
        var fecha_ahora_mismo;
    </script>
    <script src="{% static 'js/custom/time.js' %}"></script>
    <script src="{% static 'js/custom/formularios.js' %}"></script>
    <script src="{% static 'js/custom/calificacion.js' %}"></script>
    <script>
        //enviar_tiempo_inicio(limite_tiempo)

        initCalificacionFormulario({{ request.user.pk }},{{ formulario.pk }});
        cargar_respuestas_preguntas({{ request.user.pk }},{{ formulario.pk }});
    </script>
    <script>
        function actualizar_barra_progreso(){
            if(respondio_pregunta===true && pagina_recargada===false){
                if (preguntas_contestadas>0){
                    preguntas_contestadas = (preguntas_contestadas + parseInt(maxPreguntasPagina))
                }else{
                    preguntas_contestadas = parseInt(maxPreguntasPagina)
                }
            }else{
                if (preguntas_contestadas===0){
                    preguntas_contestadas = parseInt(maxPreguntasPagina)
                }
            }
            cargar_barra_progreso()
        }

        function cargar_barra_progreso(){
            let porcentaje = parseInt((preguntas_contestadas/(parseInt(totalPreguntas)))*100)
            if (porcentaje>100){
                porcentaje=100
            }
            $("#progress_bar").css('width', porcentaje+'%')
            $("#progress_bar").text(porcentaje+'%')
        }

        function respondio_preguntas(){
            if (pagina_recargada===false){
                if (retrocecio_preguntas===0){
                    respondio_pregunta=true
                }
            }else{
                pagina_recargada=false
            }
            if(retrocecio_preguntas>0){
                retrocecio_preguntas--
            }
        }
        function no_respondio_preguntas(){
            respondio_pregunta=false
            let paginas_maximas_retroceso = parseInt(preguntas_contestadas)/parseInt(maxPreguntasPagina)
            if (retrocecio_preguntas< paginas_maximas_retroceso){
                retrocecio_preguntas++
            }
        }

        $(document).ready(function () {
            cargar_barra_progreso();
            let preguntajs;
            {% for pregunta in preguntas %}
                preguntajs = '{{pregunta.tipo}}';
                i = '{{forloop.counter}}'
                if(preguntajs == 'D48'){
                    if(i == '1' || i == '2'){
                        $(':input[type="radio"]').each(function( index ) {
                            id =$(this).attr('id')
                            if(id.indexOf('173') != -1 || id.indexOf('174') != -1 ){
                                $(this).attr('disabled', 'disabled');
                            }
                        });
                    }
                }
            {% endfor %}
        });
    </script>
{% endblock js %}
