{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load extra_tags %}

{% block titulo %}
    Enviar Invitaciones  
{% endblock titulo %}

{% block css %}
    <style type="text/css">
        .panel{
            background: none;
        }
    </style>
{% endblock css %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url "equipos:modificar_equipo" equipo.id %}">Modificar Equipo</a></li>
    <li class="breadcrumb-item"><a href="{% url "equipos:registrar_proyecto" equipo.id %}">Registro de proyectos</a></li>
    <li class="breadcrumb-item active">Enviar Invitaciones</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-open icon-orange"></i> Enviar Invitaciones
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row">
        <div class="mb-3 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    {% if estado_sesion == True %}
                        <a href="{%  url "equipos:modificar_equipo" equipo.id %}" class="nav-link formularios">
                    {% else %}
                        <a href="{%  url "equipos:modificar_equipo" equipo.id %}" class="nav-link formularios">
                    {% endif %}
                    <span class="d-sm-none">Equipo</span>
                    <span class="d-sm-block d-none">Equipo</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url "equipos:registrar_proyecto" equipo.id %}" class="nav-link formularios ">
                        <span class="d-sm-none">Proyectos</span>
                        <span class="d-sm-block d-none">Proyectos</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link formularios active">
                        <span class="d-sm-none">Invitaciones</span>
                        <span class="d-sm-block d-none">Invitaciones</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content p-15 rounded bg-white">
                <div class="tab-pane fade active show">
                    <h3 class="m-t-10 m-b-10">Enviar Invitaciones</h3>
                    <p class="mb-4 mr-5">
                        <i>Aquí puedes invitar a quienes hacen parte de tu equipo, utiliza INVITAR POR CORREO si la persona que invitarás aún no está registrada en MiEslabon.com, solo pones su correo y les llegará la invitación, ahora puedes utilizar PERSONAS QUE VAN A SER PARTE DEL EQUIPO, si ya están registradas, solo buscas su nombre y das enviar invitación. Luego das FINALIZAR y listo el equipo!!
                        </i>
                    </p>
                    <form class="ml-5 mt-5" method="post" enctype="multipart/form-data" action=''>{% csrf_token %}
                    {% for campo in invitaciones_por_fuera_form %}
                        <div class="row pl-5 pr-5">
                            <div class="col-12 col-sm-6 col-md-3 col-lg-1">
                                {% bootstrap_label campo.label %}
                            </div>
                            <div class="col-12 col-sm-6 col-md-9 col-lg-11">
                                {% bootstrap_field campo placeholder="Separe cada correo con una coma(,).... ejemplo@corre.com,ejemplo2@correo.com" layout='inline'%}
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-12" align="right">
                                <button class="btn btn-primary" name="invitar_por_correo" type="submit">Invitación por Correo <i class="fa fa-save"></i></button>
                            </div>
                        </div>
                    {% endfor %}
                    <hr>
                        {% bootstrap_form invitaciones_form %}
                        {{invitaciones_form.media}}
                        <div class="row">
                            <div class="col-12" align="right">
                                <button class="btn btn-primary" name="enviar" type="submit">Enviar Invitaciones <i class="fa fa-save"></i></button>
                            </div>
                        </div>
                    <hr>
                    <h3>Personas invitadas que hacen parte de MiEslabón</h3>
                    <div class="row">
                        <div class="col-12 justify-content-center">
                            <div class="row col-12 m-t-5 justify-content-center">
                                <div class="col-6" id="div_invitados">
                                    <div class="table-responsive">
                                        <table class='table table-bordered table-striped table-td-valign-middle'>
                                            <thead> 
                                                <th>Foto de perfil</th>
                                                <th>Nombre</th>
                                                <th></th>
                                            </thead>
                                            <tbody>
                                                {% for joven in jovenes %}
                                                    <tr>
                                                        <td>
                                                            {%if joven.foto_perfil%}
                                                                <img src="{{joven.foto_perfil.url}}" alt="Imagen perfil" class="img-circle my-auto" style="width: 50px; height: 50px;">
                                                            {% else %}
                                                                <img  src="{% static 'img/jovenens/predeterminada.jpg' %}" class="img-circle my-auto" style="width: 50px; height: 50px;">
                                                            {% endif %}
                                                        </td>
                                                        <td>{{joven.first_name}} {{joven.last_name}}</td>
                                                        <td>
                                                            <a class="btn btn-xs btn-danger" href='{% url 'equipos:cancelar_invitacion' joven.id equipo.id %}'>Cancelar Invitación</a>
                                                        </td>
                                                    </tr>
                                                {% empty %}
                                                    <tr>
                                                        <td colspan="5" align="center">
                                                            <b> Todavía no hay invitaciones</b>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-12" align="right">
                            <button class="btn btn-primary" name="finalizar">Finalizar <i class="fa fa-save"></i></button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

