{% extends 'base_tablas.html' %}
{% load static %}
{% load bootstrap4 %}
{% load extra_tags %}

{% block titulo %}
    Gestión de Solicitudes de Equipos 
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="">Equipos</a></li>
    <li class="breadcrumb-item active"><a href="">Gestión de Solicitudes</a></li>
    <li class="breadcrumb-item active"><a href="">{{filtro_actual}}</a></li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-people icon-orange"></i> Gestión de Solicitudes 
{% endblock titulo_pagina %}

{% block css %}
    <style>
        .buttons-html5{
            margin-right: 5px !important; 
            width: 70px;
        }

        .buttons-print{            
            width: 70px;
        }
    </style>
{% endblock css%}

{% block contenido %}
    {% block contenido_panel %}
        <div class="row">
            <div class="col-12">
                <form method="GET" class='col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>  
                    <div class="my-1 btn btn-sm form-group my-1 mx-0 p-0" > 
                        <select class="btn btn-sm btn-outline-orange" style="width: 100px; margin: 0;" name="q" id="filtro" onchange="this.form.submit()">
                            <option value='Retos' style="height: 50px;">Retos</option>
                            <option value='Organizaciones' style="height: 50px;">Organizaciones</option>
                        </select>
                    </div>
                    {% for tipo in tipos %}
                        <input type="submit" name="tag" value="{{ tipo.nombre }}" class="btn btn-sm {% if tipo.nombre == tag %}btn-orange{% else %}btn-outline-orange{% endif %}">
                    {% endfor %}
                </form>
            </div>
            
            <div class="col-12 contenido">
                <div class="row">
                <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="tab-content p-15 rounded bg-white">
                        <div class="tab-pane fade active show">
                            <div class="row m-b-9">
                                <div class="col-md-12">
                                    <p class="mb-1">
                                        <i>A continuación se presentan las Solicitudes de los {{filtro_actual}} que quieren pertenecer un equipo:</i>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 m-t-5">
                                    <div class="table-fix">
                                        <table class="table table-bordered table-striped table-td-valign-middle datatable">
                                            <thead>
                                                <tr>
                                                    {% for cabecera in nombre_columnas %}
                                                        <th>{{cabecera}}</th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{filtro_actual}}
                                            {% for solicitud in solicitudes %}
                                                <tr>
                                                    {% if filtro_actual == 'Organizaciones' %}
                                                        <td>{{solicitud.equipo}}</td>
                                                        <td>
                                                            <a href="{% url 'organizaciones:joven_detalle' solicitud.organizacion.id %}"><small><b>{{solicitud.organizacion}}</b></small></a> 
                                                        </td>
                                                    {% else %}
                                                        <td>{{solicitud.equipo}}</td>
                                                        <td>
                                                            <a href="{% url 'retos:consultar_reto' solicitud.reto.id %}"><small><b>{{solicitud.reto}}</b></small></a> 
                                                        </td>
                                                    {% endif %}

                                                    {% if solicitud.estado == 'Postulado' %}
                                                        <th><span class="label label-aqua">{{solicitud.estado}}</span></th>
                                                    {% else %}
                                                        <th><span class="label label-lime">{{solicitud.estado}}</span></th>
                                                    {% endif %}
                                                    
                                                    <td align="center">
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                {% if solicitud.estado == 'Invitado' %}
                                                                    {% if filtro_actual == 'Organizaciones' %}
                                                                        <a class="btn btn-sm btn-green" href="{% url "equipos:aceptar_invitacion_de_organizacion" solicitud.organizacion.id solicitud.equipo.id %}"><small><b>Aceptar Invitación</b></small></a>
                                                                        <a class="btn btn-sm btn-blue" href="{% url "equipos:rechazar_invitacion_de_organizacion" solicitud.organizacion.id solicitud.equipo.id %}"><small><b>Cancelar Invitación</b></small></a>
                                                                    {% else %}
                                                                        <a class="btn btn-sm btn-green" href="{% url "retos:retos_aceptar_solicitud_equipo" solicitud.equipo.id solicitud.reto.id %}"><small><b>Aceptar Invitación</b></small></a>
                                                                        <a class="btn btn-sm btn-blue" href="{% url "retos:retos_rechazar_solicitud_equipo" solicitud.equipo.id solicitud.reto.id %}"><small><b>Cancelar Invitación</b></small></a>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock contenido_panel %}
{% endblock contenido %}

{% block js %}
{{ block.super }}
    <script>
        $("#filtro").val('{{filtro_actual}}');
    </script>
{% endblock js %}


