{% extends 'base_tablas.html' %}

{% block titulo %}
    Competencias
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="breadcrumb-item active">Retos</li>
    <li class="breadcrumb-item active">Competencias</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
Competencias
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan las competencias registradas en el sistema y diferentes herramientas para su gestión.</i>
            </p>
        </div>
        <div class="col-md-12" align="right">
            <a class="btn btn-primary" href="{% url 'retos:registrar_competencia' %}"><i class="fas fa-plus"></i> Registrar Competencias</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Icono</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for competencia in competencias %}
                        <tr>
                            <td>{{competencia.nombre}}</td>
                            <td class="text-center"><i class="{{competencia.icono}} fa-2x"></i></td>
                            <td align="center">
                                {% if competencia.estado == True %}
                                    <span class="label label-lime">ACTIVO</span>
                                {% else %}
                                    <span class="label label-secondary">INACTIVO</span>
                                {% endif %}
                            </td>
                            <td align="center">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <a title="Modificar" href="{% url 'retos:modificar_competencia' competencia.id %}"><i class="fas fa-pen-alt"></i></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

