{% extends 'base.html' %}

{% load bootstrap4 %}

{% block titulo %}
    Competencias
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="breadcrumb-item active">Retos</li>
    <li class="breadcrumb-item active">Competencias</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
Competencias
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <form method="post">{% csrf_token %}
        <div class="row">
            <div class="col-12 mb-2">
                <p class="mb-1">
                    <i>El siguiente formulario permite modificar las diferentes características de una Competencias.</i>
                </p>
            </div>
            {% for campo in form %}
                {% if campo.name == 'estado'%}
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12" align="left">
                        {% bootstrap_field campo field_class="form-check checkbox checkbox-css pt-0 checkbox-inline" placeholder="" %}
                    </div>
                {% else %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        {% bootstrap_field campo placeholder="" %}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="row pl-5 justify-content-center">                   
                <fieldset id="grupo_iconos" class="row ">       
                    {% for icono in iconos %}
                        <div class="col-2 my-2">
                            <i class="{{icono.0}} fa-2x "></i>
                            
                            {% if competencia.icono == icono.0 %}
                                <input type="radio" name="grupo_iconos" value="{{icono.0}}" checked>
                            {% else %}
                                <input type="radio" name="grupo_iconos" value="{{icono.0}}">
                            {% endif %}
                        </div>                        
                    {% endfor %}
                </fieldset>      
            </div>
        </div>
        <div class="row">            
            <div class="col-6" align="right">
                <button class="btn btn-primary" type="submit">Modificar <i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </form>
{% endblock contenido_panel %}

{% block js %}

{% endblock js %}