#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 60;
	text-align: center;
	font-size: 20px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;	
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;	
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

.clock-text{
	font-size: 28px;
	font-weight: bolder;
}