  /* latin */
  @font-face {
    font-family: 'Sister';
    font-style: normal;
    font-weight: 200;
    src: local('LoveYa'), local('LoveYa'), url('../../static/css/font-portada/LoveYaLikeASister-Regular.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Monserrat-regular';
    font-style: normal;
    font-weight: 200;
    src: local('Monserrat regular'), local('Monserrat regular'), url('../../static/css/font-portada/Montserrat-Regular.otf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  /* latin */
  @font-face {
    font-family: 'Monserrat-bold';
    font-style: normal;
    font-weight: 200;
    src: local('Monserrat bold'), local('Monserrat bold'), url('../../static/css/font-portada/Montserrat-Bold.otf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }