{% extends 'base_logout.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}

{% block contenido %}
    <div class="col-12 login-content pl-0 pr-0">
        <form  method="post" class="margin-bottom-0">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 mb-3">
                    <p class="mb-1" align="center">
                        <i>{{ mensaje }}</i>
                    </p>
                </div>
            </div>

            <div class="login-buttons">
                <div class="row">
                    <div class="row col-12" align="center">
                        <a class="btn btn-primary btn-block btn-lg" href="{% url 'usuarios:iniciar_sesion' %}">Iniciar Sesión</a>
                    </div>
                </div>

            </div>
        </form>
    </div>
{% endblock contenido %}
