{% extends 'base_logout.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Olvidé mi Contraseña
{% endblock titulo %}

{% block contenido %}
    <div class="login-content">
        <form  method="post" class="margin-bottom-0">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 mb-3">
                    <p class="mb-1">
                        <i>Por favor ingresa tu correo electrónico. <br>Te enviaremos un enlace para restablecer tu contraseña.</i>
                    </p>
                </div>
                <div class="col-12">
                    {% bootstrap_field form.email %}
                </div>
            </div>

            <div class="login-buttons">
                <div class="row">
                    <div class="col-12" align="center">
                        <button class="btn btn-primary btn-block btn-lg" type="submit">Enviar Enlace</button>
                    </div>
                    <div class="col-12 mt-3" align="center">
                        <p style="font-size: 13px">¿Ya tienes cuenta? | <a href="{% url 'usuarios:iniciar_sesion' %}">Ingresar</a></p>
                    </div>
                </div>

            </div>
        </form>
    </div>
{% endblock contenido %}

