{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Modificar Oportunidad
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="">Gestión Oportunidades</a></li>
    <li class="breadcrumb-item"><a href="">Asignar a Organización</a></li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-diamond icon-orange"></i> Asignar a Organización
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-md-12">
            <form id="msform" method="post">{% csrf_token %}
                {{form}}
                <button class="btn btn-primary" type="submit">
                    Modificar Oportunidad <i class="fa fa-angle-right"></i>
                </button>
            </form>
        </div>
    </div>
{% endblock contenido_panel %}
