{% extends 'base_tablas.html' %}

{% block titulo %}
    Gestión Oportunidades
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item active">Gestión Oportunidades</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-diamond icon-orange"></i> Gestión Oportunidades
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan las oportunidades registradas en el sistema.</i>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Modalidad</th>
                        <th>Nombre</th>
                        <th>Características</th>
                        <th>Precio</th>
                        <th>Teléfono</th>
                        <th>Correo</th>
                        <th>Link</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for oportunidad in oportunidades %}
                        <tr>
                            <td>{{oportunidad.modalidad}}</td>
                            <td>{{oportunidad.nombre}}</td>
                            <td>
                                <div style="max-width: 600px; max-height:100px; overflow-y: auto">
                                    {{oportunidad.caracteristicas}}
                                </div>
                            </td>
                            <td>{% if oportunidad.precio %}${{oportunidad.precio}}{% else %}No definido{% endif %}</td>
                            <td>{{ oportunidad.telefono|default:'No definido' }}</td>
                            <td>{{ oportunidad.email|default:'No definido' }}</td>
                            <td><a href="{{oportunidad.link}}">Enlace</a></td>
                            <td align="center">
                                {% if oportunidad.activo == True %}
                                    <span class="label label-lime">ACTIVA</span>
                                {% else %}
                                    <span class="label label-secondary">INACTIVA</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

