{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    {{ oportunidad.nombre }}
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    {% if request.user.es_superusuario %}
        <li class="breadcrumb-item"><a href="{% url 'contenido:listado_oportunidades' %}">Gestión Oportunidades</a></li>
    {% elif request.user.tipo == "Joven" %}
        <li class="breadcrumb-item"><a href="{% url 'contenido:joven_consultar_oportunidades' %}">Mis Oportunidades</a></li>
    {% elif request.user.tipo == "Organización" %}
        <li class="breadcrumb-item"><a href="{% url 'contenido:listado_mis_oportunidades_creadas' %}">Mis Oportunidades</a></li>
    {% endif %}
    <li class="breadcrumb-item active">{{ oportunidad.nombre }}</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-diamond icon-orange"></i> {{ oportunidad.nombre }}
{% endblock titulo_pagina %}

{% block contenido %}
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 px-0 card-group">
            <div class="card border-0 mx-1 my-1">
                {% if oportunidad.imagen %}
                    <a href="{{oportunidad.imagen.url}}" data-lightbox="gallery-group-oportunidad-{{ oportunidad.pk }}">
                        <div class="hovereffect">
                            <img src="{{oportunidad.imagen.url}}" class="card-img-top img img-fluid centerImage">
                        </div>
                    </a>
                {% else %}
                    <div class="hovereffect">
                        <img
                                {% if 'Voluntariado' in oportunidad.modalidad.tipo.nombre %}
                                    src="{% static 'img/contenido/voluntariado_oportunidades.jpg' %}"
                                {% elif 'Beca' in oportunidad.modalidad.tipo.nombre %}
                                    src="{% static 'img/contenido/beca_oportunidades.jpg' %}"
                                {% elif 'Trabajo' in oportunidad.modalidad.tipo.nombre %}
                                    src="{% static 'img/contenido/trabajo_oportunidades.jpg' %}"
                                {% elif 'Intercambio' in oportunidad.modalidad.tipo.nombre %}
                                    src="{% static 'img/contenido/viaje_oportunidades.jpg' %}"
                                {% elif 'Independiente' in oportunidad.modalidad.tipo.nombre %}
                                    src="{% static 'img/contenido/independiente.jpg' %}"
                                {% elif 'Rural' in oportunidad.modalidad.tipo.nombre %}
                                    src="{% static 'img/contenido/rural.jpg' %}"
                                {% else %}
                                    src="{% static 'img/extra/no-image.jpg' %}"
                                {% endif %}
                                    class="card-img-top img img-fluid centerImage">
                    </div>
                {% endif %}
                <div class="card-body tarjetas" style="padding-left: 5px">
                    <div class="row">
                        <div class="col-7">
                            <h6 class="pt-2">Fecha de creación: {{ oportunidad.creado|date:'M d, Y' }}</h6>
                        </div>
                        {% if request.user.tipo == "Joven" %}
                            <div class="col-5" align="right">
                                        <span class="calificacion like pr-1">
                                                <a title="Me gusta" id="like1-contenido-{{ oportunidad.pk }}" href="javascript:calificar_contenido(1,{{ oportunidad.pk }},{{ request.user.pk }})"><i class="fas fa-thumbs-up fa-lg"></i></a>
                                        </span>
                                <span class="calificacion dislike pr-1">
                                                <a title="No me gusta" id="like0-contenido-{{ oportunidad.pk }}" href="javascript:calificar_contenido(0,{{ oportunidad.pk }},{{ request.user.pk }})"><i class="fas fa-thumbs-up fa-rotate-180 fa-lg"></i></a>
                                        </span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row ml-1 mt-3" style="border-top: 1px solid #c4c4c4; border-bottom: 1px solid #c4c4c4">
                        <div class="col-12 py-3" align="center">
                            {{ oportunidad.organizacion }} | {{ oportunidad.tipo_modalidad }}
                        </div>
                    </div>
                    <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                        <div class="col-12 py-2" align="left">
                            <h6>TRIBUS</h6>
                            {% for tribu in oportunidad.tribus_relacionadas.all %}
                                <img style="width: 13%;" title="{{ tribu.nombre|title }}" alt="{{ tribu.nombre|title }}" class="mx-0" src="{{ tribu.imagen.url }}">
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                        <div class="col-12 py-2" align="left">
                            <h6>ROLES</h6>
                            {% for rol in oportunidad.roles.all %}
                                <img style="width: 13%;" title="{{ rol.nombre|title }}" alt="{{ rol.nombre|title }}" class="mx-0" src="{{ rol.imagen.url }}">
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row ml-1 mt-1">
                    <div class="col-12 py-2" align="center">
                        <a href="{{ oportunidad.link|corregir_url  }}" target="_blank" class="btn btn-primary px-4">Ver web</a>                           
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 col-xs-12 px-0 card">
            <div class="row border-0 mx-1 my-1 px-3 py-3 info-contenido" style="background: #fff">
                <div class="col-12">
                    <h4>¿Dónde lo vas a hacer?</h4>
                    {% if oportunidad.paises or oportunidad.regiones or oportunidad.ciudades %}
                        {% if oportunidad.paises %}
                            <b>País: </b>{{oportunidad.paises }}<br>
                        {% endif %}
                        {% if oportunidad.regiones %}
                            <b>Región: </b>{{oportunidad.regiones }}<br>
                        {% endif %}
                        {% if oportunidad.ciudades %}
                            <b>Ciudad: </b>{{oportunidad.ciudades }}
                        {% endif %}
                    {% else %}
                        <span class="label label-orange">En línea</span>
                    {% endif %}
                </div>
                <div class="col-12 mt-3">
                    <h4>¿Qué tienes que tener en cuenta?</h4>
                    <p>{{ oportunidad.observaciones }}</p>
                </div>
                <div class="col-12">
                    <h4>¿Cuánto dinero debes invertir?</h4>
                    {% if oportunidad.precio %}
                        <p>$ {{ oportunidad.precio }} {{ oportunidad.moneda|default:'' }} {% if oportunidad.periodicidad_pago %}<span class="label label-orange">{{ oportunidad.get_periodicidad_pago_display }}</span>{% endif %}</p>
                    {% endif %}
                    <p>{{ oportunidad.observaciones_precio }}</p>
                </div>
                {% if oportunidad.contacto or oportunidad.email or oportunidad.telefono %}
                    <div class="col-12">
                        <h4>¿Dónde puedo conseguir más información?</h4>
                        {{ oportunidad.contacto|default:'' }}<br>
                        {% if oportunidad.email %}
                            <b>Correo electrónico: </b>{{ oportunidad.email }}<br>
                        {% endif %}
                        {% if oportunidad.telefono %}
                            <b>Teléfono: </b>{{ oportunidad.telefono }}<br>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock contenido %}

{% if request.user.tipo == "Joven" %}
    {% block js %}
        <script>
            var token = '{{csrf_token}}';
            var url_api_cargar_calificaciones_contenidos = "{% url 'contenido:api_cargar_calificaciones' %}";
            var url_api_calificar_contenido = "{% url 'contenido:api_calificar' %}"
        </script>
        <script src="{% static 'js/custom/calificacion.js' %}"></script>
        <script>
            initCalificacionesContenido({{ request.user.pk }},{{ oportunidad.pk }});
        </script>
    {% endblock js %}
{% endif %}