{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Registro Masivo de Oportunidades
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url "contenido:listado_oportunidades" %}">Gestión Oportunidades</a></li>
    <li class="breadcrumb-item active">Registro Masivo de Oportunidades</li>
{% endblock miga_pan %}


{% block titulo_pagina %}
    <i class="icon-diamond icon-orange"></i>Registro Masivo de Oportunidades
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <form method="post" enctype="multipart/form-data" action='{% url 'contenido:cargar_excel_oportunidades' %}'>{% csrf_token %}
        <div class="row">
            <div class="col-12 mb-2">
                <p class="mb-1">
                    <i>El siguiente formulario le permite registrar oportunidades en el sistema de forma masiva.</i>
                </p>
            </div>
            <div class="col-12 mb-2">
                <div class="row">
                    <div class="col-12">
                        <p>
                            El archivo a cargar debe estar en formato Excel y debe contener las columnas del <b>EXCEL EJEMPLO</b>
                            (en el mismo orden especificado):
                        </p>
                        <p>
                            A continuación puede descargar el archivo de ejemplo para subir los usuarios al sistema:
                            <a href="{% static '/excel/cargue_masivo_oportunidades_kairos.xlsx' %}"
                               class="btn btn-xs btn-secondary" target="_blank">
                                <b>Descargar aquí <i class="fa fa-download"></i></b>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4" align="center">
                <div class="input mb-3">
                    <div style="height: calc(1.2em + 14px + 2px); overflow:hidden; text-align: left;" class="custom-file">
                        <div>
                            <input type="file"
                                   accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                   name="archivo_excel" class="custom-file-input" id="archivo_excel">
                            <label style="height: calc(1.2em + 14px + 2px);" class="custom-file-label" for="inputGroupFile01">Seleccione el archivo...</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6" align="left">
                <a class="btn btn-secondary" href="{% url "contenido:listado_oportunidades" %}"><i class="fa fa-angle-left"></i> Atrás</a>
            </div>
            <div class="col-6" align="right">
                <button class="btn btn-primary" type="submit">Cargar Excel <i class="fa fa-file-excel"></i></button>
            </div>
        </div>
    </form>
{% endblock contenido_panel %}

{% block js %}
    <script>
        document.querySelector('.custom-file-input').addEventListener('change',function(e){
            var fileName = document.getElementById("archivo_excel").files[0].name;
            var nextSibling = e.target.nextElementSibling;
            nextSibling.innerText = fileName;
        });
    </script>
{% endblock js %}
