{% extends 'base_tablas.html' %}

{% block titulo %}
    Gestión Oportunidades
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item active">
        {% if request.user.es_superusuario %}
            Gestión Oportunidades
        {% elif request.user.tipo == "Organización" %}
            Mis Oportunidades
        {% endif %}
    </li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-diamond icon-orange"></i>
    {% if request.user.es_superusuario %}
        Gestión Oportunidades
    {% elif request.user.tipo == "Organización" %}
        Mis Oportunidades
    {% endif %}
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan las oportunidades y diferentes herramientas para su gestión.</i>
            </p>
        </div>
        <div class="col-md-12" align="right">
            <a class="btn btn-primary" href="{% url "contenido:registrar_oportunidad" %}"><i class="fas fa-plus"></i> Registrar Oportunidad</a>    
            {% if request.user.is_superuser %}
                <a class="btn btn-secondary" href="{% url 'contenido:registro_masivo_oportunidades' %}"><i class="fas fa-file-excel"></i> Registro Masivo</a>
            {%endif%}
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                        <tr>
                            <th>Modalidad</th>
                            <th>Nombre</th>
                            <th>Tribus</th>
                            <th>Campo</th>
                            <th>Familias</th>
                            <th>Observaciones</th>
                            <th>Precio</th>
                            <th>Link</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for oportunidad in oportunidades %}
                        <tr>
                            <td>{{oportunidad.modalidad}}</td>
                            <td>{{oportunidad.nombre}}</td>
                            <td>
                                <ul>
                                    {% for tribu in oportunidad.obtener_tribus_relacionadas %}
                                        <li>{{tribu}}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    {% for ruta in oportunidad.obtener_rutas_de_conocimiento %}
                                        <li>{{ruta}}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    {% for ruta in oportunidad.obtener_rutas_de_conocimiento %}
                                        <li>{{ruta.familia}}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <div style="max-width: 600px; max-height:100px; overflow-y: auto">
                                    {{oportunidad.observaciones}}
                                </div>
                            </td>
                            <td>{% if oportunidad.precio %}${{oportunidad.precio}}{% else %}No definido{% endif %}</td>
                            <td><a href="{{oportunidad.link}}">Enlace</a></td>
                            <td align="center">
                                {% if oportunidad.activo == True %}
                                    <span class="label label-lime">ACTIVA</span>
                                {% else %}
                                    <span class="label label-secondary">INACTIVA</span>
                                {% endif %}
                            </td>
                            <td align="center">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <a title="Ver" href="{% url 'contenido:detalle_oportunidad' oportunidad.id %}"><i class="fas fa-eye"></i></a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <a title="Modificar" href="{% url "contenido:modificar_oportunidad" oportunidad.id %}"><i class="fas fa-pen-alt"></i></a>
                                    </div>
                                    {#                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">#}
                                    {#                                        <a title="Activar/Inactivar" href="#"><i class="fas fa-trash-alt"></i></a>#}
                                    {#                                    </div>#}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

