{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Modificar Oportunidad
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    {% if request.user.es_superusuario %}
        <li class="breadcrumb-item"><a href="{% url 'contenido:listado_oportunidades' %}">Gestión Oportunidades</a></li>
    {% elif request.user.tipo == "Joven" %}
        <li class="breadcrumb-item"><a href="{% url 'contenido:joven_consultar_oportunidades' %}">Mis Oportunidades</a></li>
    {% elif request.user.tipo == "Organización" %}
        <li class="breadcrumb-item"><a href="{% url 'contenido:listado_mis_oportunidades_creadas' %}">Mis Oportunidades</a></li>
    {% endif %}
    <li class="breadcrumb-item active">Modificar Oportunidad</li>
{% endblock miga_pan %}

{% block css %}
    <style type="text/css">
        /*headings*/
        .fs-title {
            font-size: 18px;
            text-transform: uppercase;
            color: #2C3E50;
            margin-bottom: 10px;
            letter-spacing: 2px;
            font-weight: bold;
        }

        .fs-subtitle {
            font-size: 15px;
            color: #666;
            margin-top: 20px;
            font-weight: bold;
        }
        #msform {
            text-align: center;
            position: relative;
            margin-top: 30px;
        }

        /*Hide all except first fieldset*/
        #msform fieldset:not(:first-of-type) {
            display: none;
        }
    </style>
{% endblock css %}

{% block titulo_pagina %}
    <i class="icon-diamond icon-orange"></i> Modificar Oportunidad
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-md-12">
            <form id="msform" method="post">{% csrf_token %}
                <fieldset>
                    <h2 class="fs-title">Información Básica</h2>
                    <div class="row mx-2 justify-content-center">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                            {% bootstrap_field form.modalidad placeholder="" %}
                        </div>
                        <div id="nombre_opciones" class="col-12 col-sm-6 col-md-6 col-lg-3">
                            {% bootstrap_field form.nombre placeholder="" %}
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                            {% bootstrap_field form.organizacion placeholder="" %}
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                            {% bootstrap_field form.observaciones placeholder="" %}
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12" align="center">
                            <div>
                                <h3 class="fs-subtitle" id="id_titulo_donde">¿Dónde?</h3>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                            {% bootstrap_field form.paises placeholder="" %}
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                            {% bootstrap_field form.regiones placeholder="" %}
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                            {% bootstrap_field form.ciudades placeholder="" %}
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12" align="center">
                            <h3 class="fs-subtitle">Otros</h3>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            {% bootstrap_field form.activo field_class="form-check checkbox checkbox-css pt-0 checkbox-inline" placeholder="" %}
                        </div>
                        <div class="col-6" align="left">
                            <a class="btn btn-secondary" href="{% url 'contenido:listado_rutas' %}"><i class="fa fa-angle-left"></i> Atrás</a>
                        </div>
                        <div class="col-6" align="right">
                            <button type="button" name="next" class="next btn btn-primary">
                                Siguiente <i class="fa fa-angle-right"></i>
                            </button>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <h2 class="fs-title">¿Cuánto dinero debo invertir?</h2>
                    <div class="row mx-2 justify-content-center">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                            {% bootstrap_field form.precio placeholder="" %}
                        </div>
                    </div>
                    <div class="row mx-2 justify-content-center">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12" align="right">
                            <button type="button" name="previous" class="previous btn btn-secondary">
                                <i class="fa fa-angle-left"></i> Anterior
                            </button>
                            <button type="button" name="next" class="next btn btn-primary">
                                Siguiente <i class="fa fa-angle-right"></i>
                            </button>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <h2 class="fs-title">Información de Contacto</h2>
                    <div class="row mx-2 justify-content-center">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                            {% bootstrap_field form.contacto placeholder="" %}
                        </div>
                    </div>
                    <div class="row mx-2 justify-content-center">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                            {% bootstrap_field form.link placeholder="" %}
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12" align="right">
                            <button type="button" name="previous" class="previous btn btn-secondary">
                                <i class="fa fa-angle-left"></i> Anterior
                            </button>
                            <button type="button" name="next" class="next btn btn-primary">
                                Siguiente <i class="fa fa-angle-right"></i>
                            </button>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <h2 class="fs-title">Insignias</h2>
                    <h4>Seleccione los roles que corresponden.</h4>
                    <div class="row mx-2 justify-content-center">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-5">
                            {% bootstrap_field form.roles placeholder="" %}
                        </div>
                    </div>
                    <div class="row mx-2 justify-content-center">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12" align="right">
                            <button type="button" name="previous" class="previous btn btn-secondary">
                                <i class="fa fa-angle-left"></i> Anterior
                            </button>
                            <button class="btn btn-primary" type="submit">
                                Modificar Oportunidad <i class="fa fa-angle-right"></i>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock contenido_panel %}

{% block js %}
    <script src="{% static 'plugins/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'js/custom/arrays_fields/contenido.js' %}"></script>
    <script src="{% static 'js/custom/multiforms_contenido.js' %}"></script>
    <script>
        var token = '{{csrf_token}}';
        modify_data();
        init_modalidad();
        init_tags();
        fill_choices();
        init_paises();
    </script>
{% endblock js %}