{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Modificar proyecto {{proyecto.nombre}}
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item active">Modificar proyecto {{proyecto.nombre}}</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    Modificar proyecto {{proyecto.nombre}}
{% endblock titulo_pagina %}

{% block titulo_panel %} 
    Modificar proyecto {{proyecto.nombre}}
{% endblock titulo_panel %}   

{% block contenido_panel %}
    <div class="row">
        <div class="mb-3 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="tab-content p-15 rounded bg-white">
                <div class="tab-pane fade active show">
                    <h3 class="m-t-10 m-b-10">Modificar Proyecto {{proyecto.nombre}}</h3>
                    <p class="mb-4 mr-5">
                        <i>Aquí puedes registrar los proyectos o iniciativas que ha desarrollado tu equipo en su historia o los que desarrolla actualmente, en caso de no tener claro un proyecto describe que les gustaría desarrollar y explicas en la descripción que están en fase de inicio, si tienes una web o blog de tu proyecto puedes ponerlo para que las personas puedan ver el trabajo de tu equipo más a fondo.
                        </i>
                    </p>
                    <hr>
                    <form method="post">{% csrf_token %}
                        <div class="row col-12 justify-content-center">
                            <div class="col-12 col-md-6">
                                <div class="row justify-content-center">
                                    <div class="col-6">
                                        {% bootstrap_form form %}
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-6" style="text-align: center">
                                        <button class="btn btn-primary" type="submit">Modificar Proyecto <i class="fa fa-save"></i></button>
                                    </div>
                                </div>
                            </div>
                         </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}



