{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Registro de proyectos
{% endblock titulo %}

{% block css %}
    <style type="text/css">
        .panel{
            background: none;
        }
    </style>
{% endblock css %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url "equipos:modificar_equipo" equipo.id %}">Modificar Equipo</a></li>
    <li class="breadcrumb-item active">Registro de proyectos</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-open icon-orange"></i> Registro de Proyectos
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row">
        <div class="mb-3 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    {% if estado_sesion == True %}
                        <a href="{%  url "equipos:modificar_equipo" equipo.id %}" class="nav-link formularios">
                    {% else %}
                        <a href="{%  url "equipos:modificar_equipo" equipo.id %}" class="nav-link formularios">
                    {% endif %}
                    <span class="d-sm-none">Equipo</span>
                    <span class="d-sm-block d-none">Equipo</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link formularios active ">
                        <span class="d-sm-none">Proyectos</span>
                        <span class="d-sm-block d-none">Proyectos</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url "equipos:enviar_invitaciones" equipo.id %}" class="nav-link formularios ">
                        <span class="d-sm-none">Invitaciones</span>
                        <span class="d-sm-block d-none">Invitaciones</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content p-15 rounded bg-white">
                <div class="tab-pane fade active show">
                    <h3 class="m-t-10 m-b-10">Registrar Proyecto</h3>
                    <p class="mb-4 mr-5">
                        <i>Aquí puedes registrar los proyectos o iniciativas que ha desarrollado tu equipo en su historia o los que desarrolla actualmente, en caso de no tener claro un proyecto describe que les gustaría desarrollar y explicas en la descripción que están en fase de inicio, si tienes una web o blog de tu proyecto puedes ponerlo para que las personas puedan ver el trabajo de tu equipo más a fondo.
                        </i>
                    </p>
                    <hr>
                    <form method="post">{% csrf_token %}
                        <div class="row col-12 justify-content-center">
                            <div class="col-12 col-md-6">
                                <div class="row justify-content-center">
                                    <div class="col-6">
                                        {% bootstrap_form form_proyecto %}
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-6" style="text-align: center">
                                        <button class="btn btn-primary" name="registrar" type="submit">Registrar Proyecto <i class="fa fa-save"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h3>Proyectos ingresados</h3>
                        <div class="row">
                            <div class="col-12 justify-content-center">
                                <div class="row col-12 m-t-5 justify-content-center">
                                    <div class="col-12" {% if proyectos_del_equipo.count == 0 %} style="display: none;"{% endif %}>
                                        <div class="table-responsive">
                                            <table class='table table-bordered table-striped table-td-valign-middle'>
                                                <thead> 
                                                    <th>Nombre</th>
                                                    <th>Fecha del proyecto</th>
                                                    <th>Descripción</th>
                                                    <th>Página Web</th>
                                                    <th></th>
                                                </thead>
                                                <tbody>
                                                    {% for proyecto in proyectos_del_equipo %}
                                                        <tr>
                                                            <td>{{proyecto.nombre}}</td>
                                                            <td>{{proyecto.anio}}</td>
                                                            <td style="width: 60%;">{{proyecto.descripcion}}</td>
                                                            {% if proyecto.link != None %}
                                                                <td>{{proyecto.link}}</td>
                                                            {% else %}
                                                                <td><b>No existe el link a la página web</b></td>
                                                            {% endif %}
                                                            <td>
                                                                <a title="Modificar" href="{% url "equipos:modificar_proyecto" proyecto.id %}"><i class="fas fa-pen-alt"></i></a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12" align="right">
                                        <a class="btn btn-primary" href="{% url "equipos:enviar_invitaciones" equipo.id %}" >Continuar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}



