body {
    background-color: #EDEFEF;
    color: #0C2C37;
    font-family: 'Avenir LT Pro 55 Roman';
    font-size: .8rem;
}
a{color: #A32CDF}
h1,h2,h3,h4,h5,h6,
.page-header,
.sidebar {
    font-family: 'Avenir LT Std 95 Black';
    color: #0C2C37;
}
#page-loader{background:#EDEFEF}
.spinner{border-top:2px solid #A32CDF;}
.content {margin-left: 200px}
.news-caption {top: 0 !important; background: none !important;}
.page-sidebar-minified .content {margin-left: 40px !important;}
.nav-profile {border-bottom:1px solid grey; margin-left:20px; padding-left: 0 !important; margin-right: 20px; margin-bottom: 5px}
.subtitulo {color: grey;}
.page-header {font-size: 20px;font-weight: 800;}
.dropdown-menu a:hover {background-color: #EDEFEF !important;}
.custom-file-label::after {content: "Buscar" !important;}
.btn {border-radius: 50px !important;}
.btn-buscar{margin:0; position: absolute; right:0;top:0;bottom:0;background-color: #f3f5f6 !important;}
.card-content {background: white;}
.centrar {display: flex;align-items:center;}
.header .navbar-user img{margin: initial!important;}
.premium-star{position: absolute;top: 0;color: #fdfd4e;font-size: 26px;left: 125px;transform: rotate(-25deg)}
.buscador {margin: 0 0 2px 35px; position: relative; width:80%}

.sidebar .nav>li>a,
.sidebar .nav>li>a i,
.sidebar,
.sidebar-bg,
.sidebar .nav>li.nav-profile,
.sidebar .nav>li.nav-profile .cover,
.sidebar .nav .sub-menu>li>a,
.float-sub-menu-container,
.float-sub-menu-container .float-sub-menu li>a {
    background: #EDEFEF;
    color: #0C2C37;
}

.sidebar-minify-btn,
.sidebar .sidebar-minify-btn:focus, .sidebar .sidebar-minify-btn:hover {
    background: none !important;
    color: #0C2C37 !important;
}

a:focus, a:hover,
.sidebar .nav>li>a:hover,
.sidebar .nav>li>a:focus,
.sidebar .nav>li.expand>a,
.sidebar .sub-menu>li>a:hover,
.sidebar .sub-menu>li>a:focus,
.sidebar .sub-menu>li>a:active,
.sidebar .sub-menu>li.active>a,
.sidebar .sub-menu>li.expand>a,
.float-sub-menu-container .float-sub-menu li>a:active,
.float-sub-menu-container .float-sub-menu li.active>a,
.float-sub-menu-container .float-sub-menu li>a:hover,
.float-sub-menu-container .float-sub-menu li>a:focus,
.float-sub-menu-container .float-sub-menu li.expand>a {
    color: #0C2C37;
    font-weight: bolder;
}

.sidebar .sidebar-minify-btn:focus,
.sidebar .sidebar-minify-btn:hover {
    color: #0C2C37 !important;
    font-weight: bolder !important;
}

.sidebar .nav>li.active>a,
.sidebar .nav>li.active>a i {
    color: #F8600C;
    background: none;
    font-weight: bolder;
}

.float-sub-menu-container .float-sub-menu li>a {
    border-color: #F8600C;
    background: none;
}
.float-sub-menu-container .float-sub-menu li.active:after {
    border-color: #F8600C;
    background: #F8600C;
}

.sidebar .sidebar-minify-btn>li>a:active {
    border-color: #F8600C !important;
    background: none !important;
}

.sidebar .sub-menu>li.active:after {
    border-color: #F8600C;
    background: #F8600C;
}


a:disabled{color:#6D8080;opacity:1}
a:focus:disabled,a:hover:disabled{color:#6D8080;opacity:1}

.btn-primary {
    background: #A32CDF;
    color: #FFFFFF;
    padding-left: 2%;
    padding-right: 2%;
    border: none;
}
.btn-primary:disabled{background:#F4F5F5;color:#6D8080;opacity:1}
.btn-primary:focus:disabled,.btn-primary:hover:disabled{background:#F4F5F5;color:#6D8080;opacity:1}
.btn-primary:focus,.btn-primary:hover{background: #0C2C37; color: #FFFFFF;}
.btn-primary:not(:disabled):not(.disabled):active:focus{background: #8129b3}
.btn-primary:not(:disabled):not(.disabled).active{background: #8129b3 !important;}

.btn-secondary {
    background: #F4F5F5;
    color: #be2dfb;
    border-color: #A32CDF;
    padding-left: 2%;
    padding-right: 2%;
}
.btn-secondary:disabled{background:#EDEFEF;color:#6D8080;opacity:1}
.btn-secondary:focus:disabled,.btn-secondary:hover:disabled{background:#EDEFEF;color:#6D8080;opacity:1}
.btn-secondary:focus,.btn-secondary:hover{background: #CED5D7; color: #0C2C37; border-color: #0C2C37}
.btn-secondary:not(:disabled):not(.disabled):active:focus{background: #CED5D7; color: #be2dfb; border-color: #A32CDF}
.btn-secondary:not(:disabled):not(.disabled).active{background: #CED5D7; color: #be2dfb; border-color: #A32CDF !important;}

.btn-orange {
    background: #F8600C;
    color: #FFFFFF;
    padding-left: 2%;
    padding-right: 2%;
    border: none;
}
.btn-orange:disabled{background:#F4F5F5;color:#6D8080;opacity:1}
.btn-orange:focus:disabled,.btn-orange:hover:disabled{background:#F4F5F5;color:#6D8080;opacity:1}
.btn-orange:focus,.btn-orange:hover{background: #CE4F08; color: #FFFFFF;}
.btn-orange:not(:disabled):not(.disabled):active:focus{background: #F8600C}
.btn-orange:not(:disabled):not(.disabled).active{background: #F8600C !important;}

.btn-outline-orange {
    background: #F4F5F5;
    color: #F8600C;
    border-color: #D05B1A;
    padding-left: 2%;
    padding-right: 2%;
}
.btn-outline-orange:disabled{background:#EDEFEF;color:#6D8080;opacity:1}
.btn-outline-orange:focus:disabled,.btn-outline-orange:hover:disabled{background:#EDEFEF;color:#6D8080;opacity:1}
.btn-outline-orange:focus,.btn-outline-orange:hover{background: #CED5D7; color: #CE4F08; border-color: #CE4F08}
.btn-outline-orange:not(:disabled):not(.disabled):active:focus{background: #CED5D7; color: #F8600C; border-color: #D05B1A}
.btn-outline-orange:not(:disabled):not(.disabled).active{background: #CED5D7; color: #F8600C; border-color: #D05B1A !important;}

.radio.radio-css.radio-inline, .radio.radio-css{cursor: pointer !important;}

.radio.radio-css input:checked+label:before{
    background: #A32CDF;
    border-color: #A32CDF;
}

.label.label-purple {
    background: #A32CDF;;
}

.form-control {
    border-radius: 50px;
    border: none;
    background-color: #f3f5f6 !important;
}

.form-control.is-invalid, .was-validated .form-control:invalid{
    border: 1px solid #ff5b57 !important;
}

.select2.is-invalid .select2-selection{
    border-color: #dc3545 !important;
}
textarea.form-control {
    border-radius: 4px;
    border: none;
    background-color: #f3f5f6 !important;
}

.table-fix {
    width: 100%;
    overflow-x: auto;
}

.img-circle {
    border-radius: 100%;
    width: 17vw;
    height: 18vw;
    border: 5px solid transparent;
    box-shadow: 2px 2px #EDEFEF;
}

.img-full {
    width:100% !important;
    height:100% !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff8f6 !important;
    background-color: #A32CDF !important;
}

.dataTables_wrapper.dt-bootstrap .dataTables_paginate .pagination .paginate_button.active a,
.dataTables_wrapper.dt-bootstrap4 .dataTables_paginate .pagination .paginate_button.active a {
    background: #0C2C37;
    border-color: #0C2C37;
    color: #fff4fb;
}

.col-domino{flex: 0 0 14.285714286%; max-width: 14.285714286%;}
.margin-domino {margin-top: 15px; margin-bottom: -10px; width: 100%}
.map-profile-address {width: 80%; height:70vh; position: absolute; margin-left: 25px; border-radius: 3px}
.map-mi-perfil-address{width: 100%; height: 70vh; border-radius: 3px;}

.nav.nav-pills .nav-item .nav-link.formularios{
    background: #F4F5F5;
    font-size: 12px;
}

.nav-link.formularios{
    height: 60px;
    display: flex;
    align-items: center;
}

.calificacion a {color:#777B6E}
.calificacion.activo a {color:#FFE9A4}
.calificacion a:hover {color:#FFE9A4}
.calificacion b {color:#777B6E; font-size: .6rem}
.calificacion.activo b {color:#FFE9A4}

.calificacion a {font-size: 20px}

.calificacion.like a, .calificacion.dislike a {font-size: 15px}
.calificacion.like.activo a, .calificacion.like a:hover {color:#0DCA80}
.calificacion.dislike.activo a, .calificacion.dislike a:hover {color:#E2462E}

.favoritos a {color:#777B6E}
.favoritos.favorito a {color:#E2462E}
.favoritos a:hover {color:#E2462E}

.favoritos a {font-size: 20px}

.label.label-primary{background:#A32CDF}

.img-tribu-form {
    position: absolute;
    bottom: 7px;
    left: 30%;
    width: 40px;
}

.img-tribu-form-small {
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 30px;
}

.row.info-contenido h4 {
    color: #6D8080;
}

.card-body.tarjetas h6 {
    color: #9fa5a5;
}

.stat-cyan {
    background-color: #00E6DF;
}

.stat-green {
    background-color: #0DCA80;
}

.stat-orange {
    background-color: #EF9600;
}

.stat-blue {
    background-color: #106AD2;
}

a.no-hover {
    text-decoration: none!important;
}

h5.resumen, h4.resumen , h3.resumen {
    color: #6D8080!important;
}
.card-header, .card-footer {
    background-color: white;
    color: #6D8080;
}

.resumen-number {
    font-size: 24px;
    font-weight: 800;
}

.subtitulo-resumen {
    font-size: 0.55rem;
}

.icon-circle {
    font-size: 35px;
    border: 3px #6D8080 solid;
    border-radius: 100%;
    padding: 22px 27px;
}

.icon-orange {
    color: #F8600C;
}