.float{
    position:fixed;
    width:50px;
    height:50px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:26px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
}
.my-float{
    margin-top:13px;
}