{% extends 'base_tablas.html' %}

{% load extra_tags %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Calificación
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item active">Calificación</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-people icon-orange"></i> Calificación
{% endblock titulo_pagina %}

{% block css %}

    <style>
        .boton-evidencia{
            background-color: rgb(34, 170, 226);
        }
    </style>

{% endblock css%}

{% block contenido_panel %}
    <div class="info-contenido p-0 m-0 col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 bg bg-white">
        <div class="row">
            <div class="col-12">
                <div class="col-6">
                    <div class="embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item" frameborder="0" src="{{ reto.link_video }}" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" style="padding-left: 30px;">
            <div class="row mt-3">
                <div class="col-12">
                    <h1>{{equipo.nombre}}</h1>
                </div>
            </div>
            <div style="padding-left: 20px;">   
                <form class="form-horizontal" method="post">
                    {% csrf_token %}    
                    {% for cuarto in reto.cuartos.all %}  
                        {% if cuarto.tipo.nombre == 'Actos' and  cuarto.es_descanso == False and calificacion_equipo|cuarto_pertenece_respuestas_equipo:cuarto %}
                        <div class="border mt-3 mb-3">                           
                        </div>
                            <div class="row">
                                <h2>{{cuarto.titulo}}</h2>
                            </div>
                            {% for calificacion in calificacion_equipo %}
                                {%if cuarto in calificacion.acto.cuartos_actos.all and calificacion.archivo_subido%}
                                    
                                    <div class="row mt-2">
                                        <h3>Acto {{forloop.counter}}</h3>
                                    </div>
                                    <div class="row">
                                        <p>Instrucción: <br>
                                            {{calificacion.acto.indicaciones}}
                                        </p>
                                    </div>
                                    <div class="row mt-2">
                                        {% if calificacion.archivo_subido%}
                                            <a class="btn btn-primary boton-evidencia" href="{% get_media_prefix %}{{calificacion.archivo_subido}}" target="_blank">
                                                Ver evidencia
                                            </a>    
                                        {% else %}
                                            <label class="btn btn-primary boton-evidencia">
                                                No subio evidencia
                                            </label>  
                                        {% endif %}                 
                                    </div>
                                    <div class="row mt-3">
                                        <h2>Califica la evidencia</h2>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6  m-t-5">
                                            <div class="table-fix">
                                                <table class="table table-bordered table-td-valign-middle">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="text-center">
                                                        <tr>
                                                            <td><strong>No válida</strong></td>
                                                            <td>  
                                                                <div class="form-check pb-3">
                                                                    <input class="form-check-input" type="radio" name="recalificacion_{{calificacion.acto.pk}}" id="no_valida_{{calificacion.acto.pk}}" value="no_valida" onclick="recalificar('{{detalle_equipo.id}}', '{{cuarto.id}}', '{{calificacion.acto.id}}', 'No Valida')">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Incompleta</strong></td>
                                                            <td>  
                                                                <div class="form-check pb-3">
                                                                    <input class="form-check-input" type="radio" name="recalificacion_{{calificacion.acto.pk}}" id="incompleta_{{calificacion.acto.pk}}" value="incompleta" onclick="recalificar('{{detalle_equipo.id}}', '{{cuarto.id}}', '{{calificacion.acto.id}}', 'Incompleta')">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Válida</strong></td>
                                                            <td>  
                                                                <div class="form-check pb-3">
                                                                    <input class="form-check-input" type="radio" name="recalificacion_{{calificacion.acto.pk}}" id="valida_{{calificacion.acto.pk}}" value="valida" onclick="recalificar('{{detalle_equipo.id}}', '{{cuarto.id}}', '{{calificacion.acto.id}}', 'Valida')">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Sobresaliente</strong></td>
                                                            <td>  
                                                                <div class="form-check pb-3">
                                                                    <input class="form-check-input" type="radio" name="recalificacion_{{calificacion.acto.pk}}" id="sobresaliente_{{calificacion.acto.pk}}" value="sobresaliente" onclick="recalificar('{{detalle_equipo.id}}', '{{cuarto.id}}', '{{calificacion.acto.id}}', 'Excelente')"> 
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody> 
                                                </table>                                       
                                            </div> 
                                        </div> 
                                    </div>                                       
                                {%else%}
                                
                                {%endif%}                            
                            {% endfor %}
                            
                        {%else%}
                        {%endif%}
                        
                    {% endfor %} 
                    <div class="row">
                        <form class="form-horizontal" method="post">
                            {% csrf_token %}                              
                            <div class="col-12" align="center">
                                {% bootstrap_field form.retroalimentacion%}
                            </div>
                            <div class="col-12" align="center">                                
                                <button type="submit" class="btn btn-primary" style="color: white;">
                                    Confirmar
                                </button>
                            </div>
                        <form>
                    </div>                    
                </form>
                
            </div> 
        </div>
        
    </div>
{% endblock contenido_panel %}


{% block js %}
    {{block.super}}
    <script>
         
        var cuarto_id = '{{cuarto.id}}'        
        var id_participante = '{{id_participante}}'     
        var detalle_id = '{{detalle_equipo.id}}'   
        var reto_id = '{{reto.id}}'   
        var actos_preguntas = $("[id$='archivo_subido-clear_id']")
        var cantidad_actos = '{{cantidad_actos}}'
        var cantidad_actos_respondidos = actos_preguntas.length
        var url_recalificar = '{% url "retos:retos_api_recalificar_cuarto_acto" %}'
        var url_actualizar_ranking = '{% url "retos:retos_api_actualizar_ranking" %}'
        var token = '{{csrf_token}}'
        

        function recalificar(id_detalle, id_cuarto, id_acto, veredicto){
            $.ajax({
                type: "POST",
                headers: {
                    "X-CSRFToken": token,
                    contentType: "application/json"
                },
                url: url_recalificar,
                data: {
                        'json_text': JSON.stringify({                        
                        'id_participante': '{{id_participante}}',
                        'id_cuarto':id_cuarto,
                        'id_detalle':id_detalle,
                        'id_acto':id_acto,
                        'id_reto':reto_id,
                        'veredicto':veredicto,                      
                    })
                },
                dataType: "json",
                success: function (data) {
                }
            });                
        }
        function actualizar_ranking(){
            $.ajax({
                type: "POST",
                headers: {
                    "X-CSRFToken": token,
                    contentType: "application/json"
                },
                url: url_actualizar_ranking,
                data: {
                        'json_text': JSON.stringify({
                        'id_detalle':detalle_id,                        
                        'id_reto':reto_id,                        
                    })
                },
                dataType: "json",
                success: function (data) {                 
                }
            });
                
        }
       
    </script>
    
{% endblock js %}
