{% extends 'base_tablas.html' %}

{% block titulo %}
    Gestión Familias
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Insignias</li>
    <li class="breadcrumb-item active">Gestión Familias</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-badge icon-orange"></i> Gestión Familias
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan las Familias registradas en el sistema.</i>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Nombre de la Tribu</th>
                        <th>Descripción</th>
                        <th>Rutas de conocimiento</th>
                        <th>Imagen</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tribu in tribus %}
                        <tr>
                            <td>{{tribu.nombre}}</td>
                            <td>{{tribu.descripcion}}</td>
                            <td>{{tribu.rutas_de_conocimiento_de_la_tribu.all|join:', '|default:'Sin rutas de conocimiento'}}</td>
                            <td align="center">
                                {% if tribu.imagen  %}
                                    <a href="{{tribu.imagen.url}}" data-lightbox="gallery-group">
                                        <div>
                                            <img style="max-width: 50px" src="{{tribu.imagen.url}}" class="img img-fluid centerImage">
                                        </div>
                                    </a>
                                {% endif %}
                            </td>
                            <td align="center">
                                {% if tribu.activo == True %}
                                    <span class="label label-lime">ACTIVA</span>
                                {% else %}
                                    <span class="label label-secondary">INACTIVA</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

