{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

{% block titulo %}
    Registrar Familias
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Insignias</li>
    <li class="breadcrumb-item"><a href="{% url "insignias:listado_tribus" %}">Gestión Familias</a></li>
    <li class="breadcrumb-item active">Registrar Familias</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-badge icon-orange"></i> Registrar Familias
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <form enctype="multipart/form-data" method="post">{% csrf_token %}
        <div class="row">
            <div class="col-12 mb-2">
                <p class="mb-1">
                    <i>El siguiente formulario permite el registro de una Familias.</i>
                </p>
            </div>
            <div class="col-12">
                <div class="row">
                    {% for field in form%}
                        <div class="col-lg-6">
                            {% bootstrap_field field %}
                        </div>                        
                    {% endfor %}
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6" align="left">
                        <a class="btn btn-secondary" href="{% url 'insignias:listado_familias' %}"><i class="fa fa-angle-left"></i> Volver</a>
                    </div>
                    <div class="col-6" align="right">
                        <button class="btn btn-primary" type="submit">Registrar Familia <i class="fa fa-angle-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock contenido_panel %}

{% block js %}
    <!--   <script src="{% static 'plugins/select2/dist/js/select2.full.min.js' %}"></script> -->
    <script>
        document.querySelector('.custom-file-input').addEventListener('change',function(e){
            var fileName = document.getElementById("id_imagen").files[0].name;
            var nextSibling = e.target.nextElementSibling;
            nextSibling.innerText = fileName;
        });
    </script>
{% endblock js %}
