{% extends 'base_tablas.html' %}

{% block titulo %}
    Gestión Campos
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url 'inicio %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Insignias</li>
    <li class="breadcrumb-item active">Gestión Campos</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-badge icon-orange"></i> Gestión Campos
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan las Campos registradas en el sistema.</i>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Nombre del Campo</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    {% for campo in campos %}
                        <tr>
                            <td>{{campo.nombre}}</td>                           
                            <td align="center">
                                {% if tribu.activo == True %}
                                    <span class="label label-lime">ACTIVA</span>
                                {% else %}
                                    <span class="label label-secondary">INACTIVA</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

