{% load crispy_forms_tags %}
{% load static %}
{% load crispy_forms_filters %}
<div class="row">
    <table class="col-sm-12">
        {{ formset.management_form|crispy }}
        {% for form in formset.forms %}
            <tr class="{% cycle 'row1' 'row2' %} formset_row-{{ formset.prefix }}">
                {% for field in form.visible_fields %}
                    <td>
                        {# Include the hidden fields in the form #}
                        {% if forloop.first %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}
                        {{ field.errors.as_ul }}
                        <div class="mx-2 mb-2">
                            {{ field|as_crispy_field}}
                        </div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
<br>

{% block js %}

    <script src="{% static 'js/apps/generales/insignias.formset.js' %}"></script>

    <script type="text/javascript">
        $('.formset_row-{{ formset.prefix }}').formset({
            addText: 'Agregar',
            deleteText: 'Eliminar',
            prefix: '{{ formset.prefix }}',
        });
    </script>

{% endblock js %}