{% extends 'base_tablas.html' %}

{% block titulo %}
    Palabras Clave - {{campo}}
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Insignias</li>
    <li class="breadcrumb-item active"> Palabras Clave - {{campo}}</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-badge icon-orange"></i> Palabras Clave - {{campo}}

{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Palabra</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for palabra in palabras_clave %}
                        <tr>
                            <td>{{palabra}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

