{% extends 'base_tablas.html' %}

{% block titulo %}
    Gestión Campos
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Insignias</li>
    <li class="breadcrumb-item active">Gestión Campos</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-badge icon-orange"></i> Gestión Campos
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>Campos registradas: {{ campos|length }}</i>
            </p>
        </div>
        <div class="col-md-12" align="right">
            <a class="btn btn-primary" href="{% url 'insignias:registrar_campo' %}"><i class="fas fa-plus"></i> Registrar Campos</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Nombre de la Campos</th>
                        <th>Estado</th>
                        <th>Familia asociada</th>
                        <th>Palabras clave</th>
                        <th style="min-width: 50px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for campo in campos %}
                        <tr>
                            <td>{{campo.nombre}}</td>
                            <td align="center">
                                {% if campo.activo == True %}
                                    <span class="label label-lime">ACTIVA</span>
                                {% else %}
                                    <span class="label label-secondary">INACTIVA</span>
                                {% endif %}
                            </td>
                            <td>{{campo.familia}}</td>
                            <td>{{campo.palabras_clave|join:", "}}</td>
                            <td align="center">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <a title="Palabras clave" href="{% url 'contenido:listado_palabras_clave' campo.id %}"><i class="fas fa-eye"></i></a>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <a title="Modificar" href="{% url 'insignias:modificar_campo' campo.id %}"><i class="fas fa-pen-alt"></i></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

