{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

{% block titulo %}
    Registrar Campos
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Insignias</li>
    <li class="breadcrumb-item"><a href="{% url 'insignias:listado_campos' %}">Gestión Campos</a></li>
    <li class="breadcrumb-item active">Registrar Campos</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-badge icon-orange"></i> Registrar Campos
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <form enctype="multipart/form-data" method="post">{% csrf_token %}
        <div class="row">
            <div class="col-12 mb-2">
                <p class="mb-1">
                    <i>El siguiente formulario permite el registro de un Campo.</i>
                </p>
            </div>
            <div class="col-12">
                <div class="row">
                    {% for field in form %}
                        <div class="col-lg-6">
                            {% bootstrap_field field%}
                        </div>
                    {% endfor %}
                    
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6" align="left">
                        <a class="btn btn-secondary" href="{% url 'insignias:listado_campos' %}"><i class="fa fa-angle-left"></i> Volver</a>
                    </div>
                    <div class="col-6" align="right">
                        <button class="btn btn-primary" type="submit">Registrar Campo <i class="fa fa-angle-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock contenido_panel %}

{% block js %}
  
{% endblock js %}
