{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    Rutas
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Rutas</li>    
    <li class="breadcrumb-item active">Consultar Rutas</li>
    
{% endblock miga_pan %}

{% block titulo_pagina %}   
    <i class="icon-direction icon-orange"></i> Rutas    
{% endblock titulo_pagina %}

{% block contenido %}
    <div class="row">
        <div class="col-9">
            <form method="GET">                
                {% for tipo in tipos %}
                    <input type="submit" name="tag" value="{{ tipo.nombre }}" class="btn btn-sm {% if tipo.nombre == tag %}btn-orange{% else %}btn-outline-orange{% endif %} ml-1">
                {% endfor %}
            </form>
        </div>
        <div class="col-3" align="right">
            <form method="GET">
                <div class="form-group" style="margin:0; position: relative; width:100%">
                    <input id="id_q" class="controls form-control" type="text" name="q" placeholder="Buscar...">
                    <button type="submit" id="btn_buscar" class="btn btn-search btn-buscar"><i class="fa fa-arrow-down"></i></button>
                </div>
            </form>
        </div>
        <div class="col-12">
            <div class="row card-group">
                {% for ruta in rutas %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 px-0 card-group">
                        <div class="card border-0 mx-1 my-1">
                            <div class="hovereffect">
                                <img src="{% static 'img/contenido/rutas.jpg' %}" class="card-img-top img img-fluid centerImage">
                            </div>
                            <div class="card-body">
                                {% if opcion == 'todas' %}
                                    <a href="{% url 'contenido:detalle_ruta' ruta.id %}" style="width: 100%">
                                        <h6 class="card-title m-t-0 m-b-10" data-max-characters="80">{{ ruta.nombre }}</h6>
                                    </a>
                                {% elif opcion == 'favoritas' %}
                                    <a href="{% url 'contenido:joven_detalle_ruta_favorita' ruta.id %}" style="width: 100%">
                                        <h6 class="card-title m-t-0 m-b-10" data-max-characters="80">{{ ruta.nombre }}</h6>
                                    </a>
                                {% elif opcion == 'sugeridas' %}
                                    <a href="{% url 'contenido:joven_detalle_ruta_sugerida' ruta.id %}" style="width: 100%">
                                        <h6 class="card-title m-t-0 m-b-10" data-max-characters="80">{{ ruta.nombre }}</h6>
                                    </a>
                                {% endif %}
                                <div class="row ml-1 mt-3" >
                                    <p data-max-characters="100" class="card-text">{{ ruta.caracteristicas }}</p>
                                </div>
                               
                                    <div class="row ml-1" style="border-top: 1px solid #c4c4c4; border-bottom: 1px solid #c4c4c4">
                                        <div class="col-12 py-2" align="center">
                                            <div class="row justify-content-center" style="margin-left: -20px">
                                                {% for tribu in ruta.tribus_relacionadas.all %}
                                                    <img  title="{{ tribu.nombre|title }}" alt="{{ tribu.nombre|title }}" class="mx-0 image-fluid" width="36" src="{{ tribu.imagen.url }}">
                                                {% endfor %}
                                                {% for rol in ruta.roles.all %}
                                                    <img title="{{ rol.nombre|title }}" alt="{{ rol.nombre|title }}" class="mx-0 image-fluid" width="36" src="{{ rol.imagen.url }}">
                                                {% endfor %}
                                                {% for nivel in ruta.niveles_conocimiento.all %}
                                                    <img title="{{ nivel.nombre|title }}" alt="{{ nivel.nombre|title }}" class="mx-0 image-fluid" width="36" src="{{ nivel.imagen.url }}">
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                               
                                <div class="row mt-2">
                                    <div class="col-7 pr-0 centrar" align="left">
                                        <span class="calificacion like pr-1">
                                                <a title="Me gusta" id="like1-contenido-{{ ruta.pk }}" href="javascript:calificar_contenido(1,{{ ruta.pk }},{{ request.user.pk }})"><i class="fas fa-thumbs-up fa-lg"></i></a>
                                        </span>
                                        <span class="calificacion dislike pr-1">
                                                <a title="No me gusta" id="like0-contenido-{{ ruta.pk }}" href="javascript:calificar_contenido(0,{{ ruta.pk }},{{ request.user.pk }})"><i class="fas fa-thumbs-up fa-rotate-180 fa-lg"></i></a>
                                        </span>
                                    </div>
                                    <div class="col-5 px-0 pt-1" align="right">
                                        {% if opcion == 'todas' %}
                                            <a href="{% url 'contenido:detalle_ruta' ruta.id %}" class="btn btn-primary px-3">Ver Más</a>
                                        {% elif opcion == 'favoritas' %}
                                            <a href="{% url 'contenido:joven_detalle_ruta_favorita' ruta.id %}" class="btn btn-primary px-3">Ver Más</a>
                                        {% elif opcion == 'sugeridas' %}
                                            <a href="{% url 'contenido:joven_detalle_ruta_sugerida' ruta.id %}" class="btn btn-primary px-3">Ver Más</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-12 px-0" align="center">
                        <h4 class="mt-5">No se encontraron rutas.</h4>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block js %}
    <script>
        var token = '{{csrf_token}}';
        var url_api_cargar_calificaciones_contenidos = "{% url 'contenido:api_cargar_calificaciones' %}";
        var url_api_calificar_contenido = "{% url 'contenido:api_calificar' %}"
    </script>
    <script src="{% static 'js/custom/calificacion.js' %}"></script>
    <script>
        $("p").each(function() {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if(length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
        $("h6").each(function() {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if(length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
        $("span").each(function() {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if(length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
        initCalificacionesContenido({{ request.user.pk }});
    </script>

{% endblock js %}