{% load static %}
{% load extra_tags %}
<div class="card col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 px-0 py-0" style="background: #EDEFEF; border: 0; margin: 0; max-height: 60px;">
    <ul class="nav nav-pills">
        {% if equipo|miembro_del_equipo:request.user %}
            <li class="nav-item">
                <a href="{% url 'equipos:detalle_equipo' equipo.id %}" class="nav-link formularios {% if 'detalle-perfil' in request.path %} active {% endif %}" style="background-color: white;">
                    <span class="d-sm-none">Perfil Equipo </span>
                    <span class="d-sm-block d-none">Perfil Equipo</span>
                </a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a href="{% url 'equipos:quienes_somos' equipo.id %}" class="nav-link formularios {% if 'quienes-somos' in request.path %} active {% endif %}" style="background-color: white;">
                <span class="d-sm-none">Quiénes Somos</span>
                <span class="d-sm-block d-none">Quiénes Somos</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'equipos:miembros' equipo.id %}" class="nav-link formularios {% if 'miembros' in request.path %} active {% endif %}" style="background-color: white;">
                <span class="d-sm-none">Miembros</span>
                <span class="d-sm-block d-none">Miembros</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'equipos:estado' equipo.id %}" class="nav-link formularios {% if 'estado' in request.path %} active {% endif %}" style="background-color: white;">
                <span class="d-sm-none">Estado del Equipo</span>
                <span class="d-sm-block d-none">Estado del Equipo</span>
            </a>
        </li>
    </ul>
</div>