{% load extra_tags %}
{% load static %}

<div class="card col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 px-0">
    
    <div class="border-0 mx-1 my-1">
        {% if equipo.foto_del_equipo %}
            <a href="{{equipo.foto_del_equipo.url}}" data-lightbox="gallery-group-equipo-{{ equipo.pk }}">
                <div class="hovereffect">
                    <img src="{{equipo.foto_del_equipo.url}}" class="card-img-top img img-fluid centerImage">
                </div>
            </a>
        {% else %}
            <div class="hovereffect">
                <img src="{% static 'img/extra/no-image.jpg' %}" class="card-img-top img img-fluid centerImage">
            </div>
        {% endif %}
        <div class="card-body tarjetas" style="padding-left: 5px">
            <div class="row">
                <div class="col-12" align="right">
                    <span class="calificacion like pr-1">
                        <a title="Me gusta" id="like1-contenido-{{ equipo.pk }}" href="javascript:calificar_contenido(1,{{ equipo.pk }},{{ request.user.pk }})"><i class="fas fa-thumbs-up fa-lg"></i></a>
                    </span>
                    <span class="calificacion dislike pr-1">
                            <a title="No me gusta" id="like0-contenido-{{ equipo.pk }}" href="javascript:calificar_contenido(0,{{ equipo.pk }},{{ request.user.pk }})"><i class="fas fa-thumbs-up fa-rotate-180 fa-lg"></i></a>
                    </span>
                </div>
            </div>
            <div class="row ml-1 mt-3" style="border-top: 1px solid #c4c4c4; border-bottom: 1px solid #c4c4c4">
                <div class="col-12 py-3" align="center">
                    <h6 align="left">PAÍS DE ORIGEN</h6>
                    {{ equipo.pais }} 
                </div>
            </div>
            <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                <div class="col-12 py-2" align="center">
                    <h6 align="left">REDES SOCIALES</h6>
                    {% if equipo.url_instagram %}
                        <a href="{{equipo.url_instagram}}" target="_blank"><i class="fab fa-instagram fa-2x ml-1 mr-1 " style="color: gray;"></i></a>
                    {% endif %}
                    {% if equipo.url_twitter %}
                        <a href="{{equipo.url_twitter}}" target="_blank"><i class="fab fa-twitter fa-2x ml-1 mr-1" style="color: gray;"></i></a>
                    {% endif %}
                    {% if equipo.url_facebook %}
                        <a href="{{equipo.url_facebook}}" target="_blank"><i class="fab fa-facebook fa-2x ml-1 mr-1" style="color: gray;"></i></a>
                    {% endif %}
                    {% if equipo.url_mail %}
                        <a href="mailto: {{equipo.url_mail}}" target="_blank"><i class="fa fa-envelope fa-2x ml-1 mr-1" style="color: gray;"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                <div class="col-12 py-2" align="center">
                    <h6 align="left">TRIBUS</h6>
                    {% for tribu in equipo.tribus.all %}
                        <img width="35" title="{{ tribu.nombre|title }}" alt="{{ tribu.nombre|title }}" class="mx-0" src="{{ tribu.imagen.url }}">
                    {% endfor %}
                </div>
            </div>
            <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                <div class="col-12 py-2" align="center">
                    <h6 align="left">TIPO DE EQUIPO</h6>
                    {% for tipo in equipo.tipo.all %}
                        {% if tipo.imagen %}
                            <img width="35" title="{{ tipo.nombre|title }}" alt="{{ tipo.nombre|title }}" class="mx-0" src="{{ tipo.imagen.url }}">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>           
        </div>
        <div class="row mt-2 my-3">
            {% if not usuario == equipo.lider %}
                <div class="col-xl-12 col-sm-10 pt-1 mt-2" align="center">
                    <div class="btn-group">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 150px; background-color: #A32CDF; color: white;">
                            {{boton_mensaje}}
                        </button>
                        <div class="dropdown-menu">
                            {% for mensaje in mensajes %}
                                <a class="dropdown-item" href="{% url mensaje.url usuario.id equipo.id %}">{{mensaje.accion}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
