{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    {{ equipo.nombre }}
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'equipos:consultar_todos_los_equipos' %}">Todos los equipos</a></li>
    <li class="breadcrumb-item active">{{ equipo.nombre }}</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    {% if equipo.logo %}
    <a href="{{equipo.logo.url}}" data-lightbox="gallery-group-equipo-{{ equipo.pk }}">
        <div class="hovereffect">
            <img style="height: 30px; width: 30px;" src="{{equipo.logo.url}}" class="card-img-top img img-fluid centerImage">
            <span style="display: inline-block; color: black;">{{equipo.nombre}}</span>
        </div>
    </a>
    {% else %}
    <div class="hovereffect">
        <img style="height: 30px; width: 30px;" src="{% static 'img/extra/no-image.jpg' %}" class="card-img-top img img-fluid centerImage">
        <span style="display: inline-block; color: black;">{{equipo.nombre}}</span>
    </div>
    {% endif %}
{% endblock titulo_pagina %}

{% block contenido %}
{% block contenido_panel %}
    <div class="row no-gutters card-group">       
        {% include 'equipos/detalle/base_card_equipo.html'%}   
        <div class="card mx-1 p-0 " style="border: 0;">            
            {% include 'equipos/detalle/barra-navegacion.html' %}
            <div class="card border-0 mx-1 my-1 px-3 py-3 info-contenido bg bg-white" style="border: 0;">
                <div class="row">                   
                    <div class="rounded col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 my-1 border bg bg-white">                        
                        <div class="row my-auto">
                            <div class="col-1 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-2 my-auto hovereffect">   
                                {%if equipo.lider.foto_perfil %}
                                    <img src="{{equipo.lider.foto_perfil.url}}" alt="Imagen perfil" class="img-circle my-auto" style="width: 50px; height: 50px;">
                                {% else %}
                                    <img  src="{% static 'img/jovenens/predeterminada.jpg' %}" class="img-circle my-auto" style="width: 50px; height: 50px;">
                                {% endif %}
                            </div>
                            <div class="col-2 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-2 my-auto ml-3">
                                <strong>{{equipo.lider}}</strong>
                            </div>
                            <div class="row justify-content-center col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 my-auto no-gutters"> 
                                <div class="bg-green text-center mt-2 ml-1"  style="border-radius: 50px; width: 110px;">
                                    <strong>{{equipo.lider.obtener_insignias.tribu}}</strong>
                                </div>
                                {%for rol in equipo.lider.obtener_insignias.roles%}
                                    <div class="bg-orange text-center mt-2 ml-1"  style="border-radius: 50px; width: 110px;">
                                        <strong>{{rol}}</strong> 
                                    </div>
                                {%endfor%}
                                <div class="bg-yellow text-center mt-2 ml-1" style="border-radius: 50px; width: 110px;">
                                    <strong>{{equipo.lider.obtener_insignias.nivel}}</strong> 
                                </div>
                            </div>
                            <div class="row col-xs-12 col-sm-12 col-lg-12 col-xl-2 justify-content-center align-items-center my-2" > 
                                <div class="btn-group">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 75px; background-color: #A32CDF; color: white;">
                                        Ver más
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" target="_blank" href="{% url "usuarios:tarjeta_presentacion" equipo.lider.id %}">Visitar perfil</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%for miembro in amigos %}
                        {% if miembro.usuario != equipo.lider %}
                            <div class="rounded col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 my-1 border bg bg-white">
                                <div class="row my-auto">
                                    <div class="col-1 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-2 my-auto hovereffect">
                                        {%if miembro.usuario.foto_perfil%}
                                            <img src="{{miembro.usuario.foto_perfil.url}}" alt="Imagen perfil" class="img-circle my-auto" style="width: 50px; height: 50px;">
                                        {% else %}
                                            <img  src="{% static 'img/jovenens/predeterminada.jpg' %}" class="img-circle my-auto" style="width: 50px; height: 50px;">
                                        {% endif %}
                                    </div>
                                    <div class="col-2 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-2 my-auto ml-3">
                                        <strong>{{miembro.usuario}}</strong>
                                    </div>
                                    <div class="row justify-content-center col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 my-auto no-gutters"> 
                                        <div class="bg-green text-center mt-2 ml-1"  style="border-radius: 50px; width: 110px;">
                                            <strong>{{miembro.usuario.obtener_insignias.tribu}}</strong>
                                        </div>
                                        {%for rol in miembro.usuario.obtener_insignias.roles%}
                                            <div class="bg-orange text-center mt-2 ml-1"  style="border-radius: 50px; width: 110px;">
                                                <strong>{{rol}}</strong> 
                                            </div>
                                        {%endfor%}
                                        <div class="bg-yellow text-center mt-2 ml-1" style="border-radius: 50px; width: 110px;">
                                            <strong>{{miembro.usuario.obtener_insignias.nivel}}</strong> 
                                        </div>
                                    </div>
                                    <div class="row col-xs-12 col-sm-12 col-lg-12 col-xl-2 justify-content-center align-items-center my-2" > 
                                        <div class="btn-group">
                                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #A32CDF; color: white;">
                                                {{miembro.boton_mensaje}}
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" target="_blank" href="{% url "usuarios:tarjeta_presentacion" miembro.usuario.id %}">Visitar perfil</a>
                                                {% if equipo.lider == usuario and miembro.usuario != equipo.lider %}
                                                    <a class="dropdown-item" href="{% url "equipos:expulsar_miembro" miembro.usuario.id equipo.id %}">Eliminar del grupo</a>
                                                    <a class="dropdown-item" href="{% url "equipos:cambio_de_lider" miembro.usuario.id equipo.id %}">Cambio de líder</a>                                            
                                                {%endif%}
                                                <hr>
                                                {% for mensaje in miembro.mensajes %}
                                                    <a class="dropdown-item" href="{% url mensaje.url usuario.id equipo.id %}">{{mensaje.accion}}</a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {%endfor%}
                </div>      
            </div>
                
            <div class="row border-top mx-1 my-1 px-3 py-3 info-contenido" style="background: #fff; {% if equipo|miembro_del_equipo:joven == False %} display: none;{% endif %}">
                <div class="row col-12">
                    <h4>Solicitudes Pendientes</h4>
                </div>
                {% for joven_solicitud in equipo|solicitudes_del_equipo %}
                    <div class="rounded col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 my-1 py-1 border bg bg-white">
                        <div class="row my-auto">
                            <div class="col-1 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-2 my-auto hovereffect">   
                                {%if joven_solicitud.joven.usuario.foto_perfil%}
                                    <img src="{{joven_solicitud.usuario.foto_perfil.url}}" alt="Imagen perfil" class="img-circle my-auto" style="width: 50px; height: 50px;">
                                {% else %}
                                    <img  src="{% static 'img/jovenens/predeterminada.jpg' %}" class="img-circle my-auto" style="width: 50px; height: 50px;">
                                {% endif %}
                            </div>
                            <div class="col-2 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-2 my-auto ml-3">
                                <strong>{{joven_solicitud.joven}}</strong>
                            </div>
                            <div class="row justify-content-center col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 my-auto no-gutters"> 
                                <div class="bg-green text-center mt-2 ml-1"  style="border-radius: 50px; width: 110px;">
                                    <strong>{{joven_solicitud.joven.obtener_insignias.tribu}}</strong>
                                </div>
                                {%for rol in joven_solicitud.joven.obtener_insignias.roles%}
                                    <div class="bg-orange text-center mt-2 ml-1"  style="border-radius: 50px; width: 110px;">
                                        <strong>{{rol}}</strong> 
                                    </div>
                                {%endfor%}
                                <div class="bg-yellow text-center mt-2 ml-1" style="border-radius: 50px; width: 110px;">
                                    <strong>{{joven_solicitud.joven.obtener_insignias.nivel}}</strong> 
                                </div>
                            </div>

                            <div class="row col-xs-12 col-sm-12 col-lg-12 col-xl-2 justify-content-center align-items-center my-2" > 
                                <div class="btn-group">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 75px; background-color: #A32CDF; color: white;">
                                        Ver más
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" target="_blank" href="{% url "usuarios:tarjeta_presentacion" joven_solicitud.joven.id %}">Visitar perfil</a>
                                        {% if equipo.lider.username == request.user.username %}
                                            <a class="dropdown-item" href="{% url "equipos:aceptar_postulacion" joven_solicitud.joven.id equipo.id %}">Aceptar postulación</a>
                                            <a class="dropdown-item" href="{% url "equipos:rechazar_postulacion" joven_solicitud.joven.id equipo.id %}">Negar postulación</a>
                                        {%endif%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {%endfor%}                
            </div>  
        </div>     
    </div>
{% endblock contenido_panel %}    
{% endblock contenido %}


{% block js %}
    <script>
        var token = '{{csrf_token}}';
        var url_api_cargar_calificaciones_contenidos = "{% url 'equipos:api_cargar_calificaciones' %}";
        var url_api_calificar_contenido = "{% url 'equipos:api_calificar' %}"
    </script>
    <script src="{% static 'js/custom/calificacion.js' %}"></script>
    <script>
        initCalificacionesContenido({{ request.user.pk }},{{ equipo.pk }});
    </script>
{% endblock js %}