{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    {{ equipo.nombre }}
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'equipos:consultar_todos_los_equipos' %}">Todos los equipos</a></li>
    <li class="breadcrumb-item active">{{ equipo.nombre }}</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    {% if equipo.logo %}
    <a href="{{equipo.logo.url}}" data-lightbox="gallery-group-equipo-{{ equipo.pk }}">
        <div class="hovereffect">
            <img style="height: 30px; width: 30px;" src="{{equipo.logo.url}}" class="card-img-top img img-fluid centerImage">
            <span style="display: inline-block; color: black;">{{equipo.nombre}}</span>
        </div>
    </a>
    {% else %}
    <div class="hovereffect">
        <img style="height: 30px; width: 30px;" src="{% static 'img/extra/no-image.jpg' %}" class="card-img-top img img-fluid centerImage">
        <span style="display: inline-block; color: black;">{{equipo.nombre}}</span>
    </div>
    {% endif %}
{% endblock titulo_pagina %}

{% block contenido %}
    <div class="row card-group">
    {% include 'equipos/detalle/base_card_equipo.html' %}
    {% if equipo|miembro_del_equipo:request.user %}
        <div class="card mx-1 p-0 " style="border: 0;">       
            {% include 'equipos/detalle/barra-navegacion.html' %}     
            <p class="mt-1 py-3 px-3" style="color:gray; font-size: 14px; line-height: normal; font-weight: normal;">Aquí puedes ver el perfil del equipo, solo si perteneces a él. Este perfil de equipo te muestra lo que tienen al JUNTAR sus competencias, habilidades, intereses y experiencia. SIEMPRE es mejor sumar y colaborar en equipo.</p>
            <div class="row border-0 mx-1 my-1 px-3 py-3 info-contenido" style="background: #fff">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 px-0">
                    <div class="card mx-1 my-1" style="border: 1px solid #c4c4c4">
                        <div class="hovereffect">
                            <img src="{% static 'img/puntajes/competencias_cong.jpg' %}" class="card-img-top img img-fluid centerImage">
                        </div>
                        <div class="card-body tarjetas" style="padding-left: 5px">
                            <div class="row">
                                <div class="col-12" align="center">
                                    <h5 class="pt-2">COMPETENCIAS COGNITIVAS</h5>
                                </div>
                            </div>
                            <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                                <div class="col-12 py-2" align="center">
                                    <h6 class="text-green">Alto</h6>
                                </div>
                            </div>
                            <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                                <div class="col-12 py-2" align="center">
                                    <h6 class="text-orange">Medio</h6>
                                </div>
                            </div>
                            <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                                <div class="col-12 py-2" align="center">
                                    <h6 class="text-danger">Bajo</h6>
                                </div>
                            </div>
                            <div class="row ml-1 mt-1">
                                <div class="col-12 py-2" align="center">
                                    <a href="{% url "equipos:competencias_cognitivas" equipo.id %}" class="btn btn-primary px-4">Ver Detalle</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 px-0">
                    <div class="card mx-1 my-1" style="border: 1px solid #c4c4c4">
                        <div class="hovereffect">
                            <img src="{% static 'img/puntajes/habilidades_soci.jpg' %}" class="card-img-top img img-fluid centerImage">
                        </div>
                        <div class="card-body tarjetas" style="padding-left: 5px">
                            <div class="row">
                                <div class="col-12" align="center">
                                    <h5 class="pt-2">HABILIDADES SOCIALES</h5>
                                </div>
                            </div>
                            <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                                <div class="col-12 py-2" align="center">
                                    <h6 class="text-green">Alto</h6>
                                </div>
                            </div>
                            <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                                <div class="col-12 py-2" align="center">
                                    <h6 class="text-orange">Medio</h6>
                                </div>
                            </div>
                            <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                                <div class="col-12 py-2" align="center">
                                    <h6 class="text-danger">Bajo</h6>
                                </div>
                            </div>
                            {% comment %}{% with joven.obtener_puntaje_habilidad_para_relacionarte_con_otros_y_contigo as habilidades_sociales %}
                                <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                                    <div class="col-12 py-2" align="center">
                                        {% if habilidades_sociales == 'ALTA' %}
                                            <h6 class="text-green"><b>ALTO</b></h6>
                                        {% else %}
                                            <h6>Alto</h6>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                                    <div class="col-12 py-2" align="center">
                                        {% if habilidades_sociales == 'MEDIA' %}
                                            <h6 class="text-orange"><b>MEDIO</b></h6>
                                        {% else %}
                                            <h6>Medio</h6>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                                    <div class="col-12 py-2" align="center">
                                        {% if habilidades_sociales == 'BAJA' %}
                                            <h6 class="text-danger"><b>BAJO</b></h6>
                                        {% else %}
                                            <h6>Bajo</h6>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}{% endcomment %}
                            <div class="row ml-1 mt-1">
                                <div class="col-12 py-2" align="center">
                                    <a href="{% url "equipos:habilidades_sociales" equipo.id %}" class="btn btn-primary px-4">Ver Detalle</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 px-0">
                    <div class="card mx-1 my-1" style="border: 1px solid #c4c4c4">
                        <div class="hovereffect">
                            <img src="{% static 'img/puntajes/intereses_habilidades.jpg' %}" class="card-img-top img img-fluid centerImage">
                        </div>
                        <div class="card-body tarjetas" style="padding-left: 5px">
                            <div class="row">
                                <div class="col-12" align="center">
                                    <h5 class="pt-2">INTERESES | APTITUDES</h5>
                                </div>
                            </div>
                            <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                                <div class="col-12 py-2" align="center">
                                    <h6 class="text-green">Alto</h6>
                                </div>
                            </div>
                            <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                                <div class="col-12 py-2" align="center">
                                    <h6 class="text-orange">Medio</h6>
                                </div>
                            </div>
                            <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                                <div class="col-12 py-2" align="center">
                                    <h6 class="text-danger">Bajo</h6>
                                </div>
                            </div>
                            <div class="row ml-1 mt-1">
                                <div class="col-12 py-2" align="center">
                                    <a href="{% url "equipos:aptitudes_e_intereses" equipo.id %}" class="btn btn-primary px-4">Ver Detalle</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 px-0">
                    <div class="card mx-1 my-1" style="border: 1px solid #c4c4c4">
                        <div class="hovereffect">
                            <img src="{% static 'img/puntajes/experiencia.jpg' %}" class="card-img-top img img-fluid centerImage">
                        </div>
                        <div class="card-body tarjetas" style="padding-left: 5px">
                            <div class="row">
                                <div class="col-12" align="center">
                                    <h5 class="pt-2">EXPERIENCIA</h5>
                                </div>
                            </div>
                            <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                                <div class="col-12 py-2" align="center">
                                    <h6 class="text-green">Alto</h6>
                                </div>
                            </div>
                            <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                                <div class="col-12 py-2" align="center">
                                    <h6 class="text-orange">Medio</h6>
                                </div>
                            </div>
                            <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                                <div class="col-12 py-2" align="center">
                                    <h6 class="text-danger">Bajo</h6>
                                </div>
                            </div>
                            <div class="row ml-1 mt-1">
                                <div class="col-12 py-2" align="center">
                                    <a href="{% url "equipos:competencias_experiencias" equipo.id %}" class="btn btn-primary px-4">Ver Detalle</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
  
{% endblock contenido %}


{% block js %}
    <script>
        var token = '{{csrf_token}}';
        var url_api_cargar_calificaciones_contenidos = "{% url 'equipos:api_cargar_calificaciones' %}";
        var url_api_calificar_contenido = "{% url 'equipos:api_calificar' %}"
    </script>
    <script src="{% static 'js/custom/calificacion.js' %}"></script>
    <script>
        initCalificacionesContenido({{ request.user.pk }},{{ equipo.pk }});
    </script>
{% endblock js %}