{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    {{ equipo.nombre }}
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'equipos:consultar_todos_los_equipos' %}">Todos los equipos</a></li>
    <li class="breadcrumb-item active">{{ equipo.nombre }}</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    {% if equipo.logo %}
    <a href="{{equipo.logo.url}}" data-lightbox="gallery-group-equipo-{{ equipo.pk }}">
        <div class="hovereffect">
            <img style="height: 30px; width: 30px;" src="{{equipo.logo.url}}" class="card-img-top img img-fluid centerImage">
            <span style="display: inline-block; color: black;">{{equipo.nombre}}</span>
        </div>
    </a>
    {% else %}
    <div class="hovereffect">
        <img style="height: 30px; width: 30px;" src="{% static 'img/extra/no-image.jpg' %}" class="card-img-top img img-fluid centerImage">
        <span style="display: inline-block; color: black;">{{equipo.nombre}}</span>
    </div>
    {% endif %}
{% endblock titulo_pagina %}

{% block contenido %}
    <div class="row card-group">
        {% include 'equipos/detalle/base_card_equipo.html' %}
        <div class="card row mx-1 border-0 mx-1 my-1 info-contenido" style="background: #fff">
            {% include 'equipos/detalle/barra-navegacion.html' %}
            <div class="row card-body border-0 mx-1 my-1 px-3 py-3 info-contenido" style="background: #fff">
                <div class="col-12">
                    <h4>Nuestro equipo</h4>
                    <p>{{equipo.descripcion}}</p>
                </div>
                <div class="col-12">
                    <h4>Nuestro objetivo</h4>
                    <p>{{equipo.objetivos}}</p>
                </div>
            </div>
        </div>
    </div>    
{% endblock contenido %}


{% block js %}
    <script>
        var token = '{{csrf_token}}';
        var url_api_cargar_calificaciones_contenidos = "{% url 'equipos:api_cargar_calificaciones' %}";
        var url_api_calificar_contenido = "{% url 'equipos:api_calificar' %}"
    </script>
    <script src="{% static 'js/custom/calificacion.js' %}"></script>
    <script>
        initCalificacionesContenido({{ request.user.pk }},{{ equipo.pk }});
    </script>
{% endblock js %}

