<style type="text/css">
    @import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
	.font-parir{font-family: 'Love Ya Like A Sister', sans-serif;}
	
</style>



<body style="background:white; margin:auto; padding:0; box-sizing:border-box; width:690px ; display: block; margin: auto;">
    <div style="display: block; margin: auto;">
		<table align="center" border="0" cellspacing="0" cellpadding="0"  max-width:690px;">
			<tr style="margin:0; padding:0; background-color: white;">
				<td colspan="2" style="margin:0; padding:0; line-height:0;">
					<img src="http://3.18.113.131/static/correos/encabezado.png" style="width:690px" alt="Imagen">
				</td>
			</tr>
			<tr style="margin:0; padding:0;">
				<td colspan="2" style="margin:0; padding:20px 0; line-height:0;"></td>
			</tr>
			<tr style="background:#ededed; margin:0; padding:0;">
				<td colspan="2" style="font-family: 'Poppins', sans-serif; margin:0; padding:0 40px; font-size:20px; color:#777b6e; line-height:40px; text-align:center; background-color: white;">
					<h1 class="font-parir" style="font-family: 'Love Ya Like A Sister', sans-serif; color: black;">¡¡Hey {{usuario.first_name}} {{usuario.last_name}}</h1>
					<p style="font-family: 'Love Ya Like A Sister', sans-serif; color: black;">
						Bienvenido
					</p>
				</td>
			</tr>					
			<tr style="margin:10px; padding:10px;">
				<td colspan="2" style="font-family: 'Poppins', sans-serif; margin:10px; padding:10px 40px; font-size:20px; color:#777b6e; line-height:23px; text-align:center; background-color: white;">   
					<p>
                        {% if 'Equipos' in reto.grupos_permitidos %}
                            Tú equipo {{equipo.nombre}} ha sido aceptado para participar en el reto {{reto.nombre}}
                        {% else %}
                            Has sido aceptado para participar en el reto de Jóvenes {{reto.nombre}}
                        {% endif %}
                    </p>
                    <p>
                        Al ingresar recuerda leer muy bien las reglas del juego. Deberás
                        marcar tu asistencia para poder comenzar el reto.
                    </p>
                    <p>
                        El reto comienza el {{reto.fecha_inicio}} ¡Te esperamos!
                    </p>
				</td>
			</tr>
			<tr style="background:#ededed; margin:0; padding:0; background:url(http://3.18.113.131/static/correos/Franja_1.png) no-repeat; background-size: 690px auto; height: 55px;">        
				<td colspan="2" class="font-parir" style="padding-bottom: 35px; font-family: 'Poppins', sans-serif; margin:0; font-size:20px; color:white; text-align:center;">
					<p class="text-center" style="width: 50%; position: relative; left: 10%;"></p>
				</td>
			</tr>    			
			<tr style="background:#ededed; margin:0; padding: 0;">				
				<td class="font-parir" style="font-family: 'Poppins', sans-serif; margin:0; font-size:20px; font-weight: bolder; color:#777b6e; padding: 20px; line-height: 13px;">
					<h4 style="color: black;">Contáctanos</h4>
					<p><i class="fa fa-map-marker"></i> Medellín, Colombia.</p>
					<p><i class="fa fa-envelope"></i> contame@mieslabon.com</p>
					<p><i class="fa fa-whatsapp"></i> (+0057) 301 219 6006</p>               
				</td>
				<td class="font-parir" style="font-family: 'Poppins', sans-serif; margin:0; font-size:20px; color:white; text-align:center;">              
					<a href="https://www.facebook.com/MiEslabon" target="_blank" style="margin-right: 10px; text-decoration: none;">
						<img src="http://3.18.113.131/static/correos/facebook.png" alt="Facebook" width="35px" />
					</a>
					<a href="https://www.instagram.com/misioneslabon/" target="_blank" style="margin-right: 10px; text-decoration: none;">
						<img src="http://3.18.113.131/static/correos/instagram.png" alt="Instagram" width="35px" />
					</a>
					<a href="https://www.youtube.com/channel/UCcgwCERcAm7pdyiHIYUWj-A" target="_blank" style="margin-right: 10px; text-decoration: none;">
						<img src="http://3.18.113.131/static/correos/youtube.png" alt="Web" width="35px" />
					</a>               
				</td>
			</tr>
						
		</table>
	</div>
</body>


