{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    Perfil Actual
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>   
    <li class="breadcrumb-item">Perfil Actual</li>
    <li class="breadcrumb-item active">Detalle</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-diamond icon-orange"></i> Perfil Organizacion
{% endblock titulo_pagina %}

{% block contenido %}
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 px-0">
            <div class="card border-0 mx-1 my-1">
                {% if organizacion.foto_perfil %}
                    <a href="{{organizacion.foto_perfil.url}}" data-lightbox="gallery-group-joven-{{ organizacion.pk }}">
                        <div class="hovereffect">
                            <img src="{{organizacion.foto_perfil.url}}" class="card-img-top img img-fluid centerImage">
                        </div>
                    </a>
                {% else %}
                    <div class="hovereffect">
                        <img src="{% static 'img/extra/no-image.jpg' %}" class="card-img-top img img-fluid centerImage">
                    </div>
                {% endif %}
                <div class="card-body tarjetas" style="padding-left: 5px">                    
                    <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4; border-top: 1px solid #c4c4c4">
                        <div class="col-12 py-2" align="center">                           
                            <h6 class="pt-2">Fecha de creación: {{ organizacion.date_joined|date:'M d, Y' }}</h6>                            
                        </div>
                    </div>
                    <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                        <div class="col-12 py-2" align="center">
                            <h6>REDES SOCIALES</h6>                            

                            {%if organizacion.instagram%}
                            <a href="{{organizacion.intagram}}" target="_blank"><i class="fab fa-instagram fa-2x ml-1 mr-1 " style="color: gray;"></i></a>
                            {%endif%}
                            {%if organizacion.twitter%}
                                <a href="{{organizacion.twitter}}" target="_blank"><i class="fab fa-twitter fa-2x ml-1 mr-1" style="color: gray;"></i></a>
                            {%endif%}
                            {%if organizacion.facebook%}
                                <a href="{{organizacion.facebook}}" target="_blank"><i class="fab fa-facebook fa-2x ml-1 mr-1" style="color: gray;"></i></a>
                            {%endif%}
                        </div>
                    </div>
                    <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4;">
                        <div class="col-12 ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                            <div class="col-12 py-2" align="left">
                                <h6>TRIBUS</h6>
                                {% for tribu in organizacion.tribus_relacionadas.all %}
                                    <img width="35" title="{{ tribu.nombre|title }}" alt="{{ tribu.nombre|title }}" class="mx-0" src="{{ tribu.imagen.url }}">
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-12 ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                            <div class="col-12 py-2" align="left">
                                <h6>NIVELES DE CONOCIMIENTO</h6>
                                {% for nivel in organizacion.niveles_conocimiento.all %}
                                    <img width="35" title="{{ nivel.nombre|title }}" alt="{{ nivel.nombre|title }}" class="mx-0" src="{{ nivel.imagen.url }}">
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-12 ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                            <div class="col-12 py-2" align="left">
                                <h6>ROLES</h6>
                                {% for rol in organizacion.roles.all %}
                                    <img width="35" title="{{ rol.nombre|title }}" alt="{{ rol.nombre|title }}" class="mx-0" src="{{ rol.imagen.url }}">
                                {% endfor %}
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        
        <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 col-xs-12 px-0">
            <div class="row border-0 mx-1 my-1 px-3 py-3 info-contenido" style="background: #fff">
                <div class="col-12">
                    <p>{{ organizacion.descripcion }}</p>
                </div>               
                {% if organizacion.intereses.all %}
                    <div class="col-12 mt-3">
                        <h4>Lo que nos interesa</h4>
                        <p>{{ organizacion.intereses|join:', ' }}</p>
                    </div>
                {% endif %}                
                <div class="col-12 mt-3">
                    <h4>¿De dónde soy?</h4>
                    <p>{{ organizacion.ciudad }}</p>
                </div>                
                <div class="col-12 mt-3">
                    <h4>¿Para qué existimos?</h4>
                    <p>{{ organizacion.para_que_existimos }}</p>
                </div>
                <div class="col-12 mt-3">
                    <h4>¿Qué te ofrecemos?</h4>
                    <p>{{ organizacion.que_ofrecemos }}</p>
                </div> 
                <div class="col-12 mt-3">
                    <h4>¿Qué jóvenes buscamos?</h4>
                    <p>{{ organizacion.que_jovenens_buscamos }}</p>
                </div>         
            </div>
        </div>
    </div>
{% endblock contenido %}
