{% extends 'base.html' %}

{% load bootstrap4 %}

{% block titulo %}
Asignar Palabra Clave
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="">Gestión Palabras Clave</a></li>
    <li class="breadcrumb-item active">Asignar Palabra Clave</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-direction icon-orange"></i> Asignar Palabra Clave
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <form method="post">{% csrf_token %}
        <div class="row">
            <div class="col-12 mb-2">
                <p class="mb-1">
                    <i>El siguiente formulario permite la asignación de una palabra clave a un campo en particular.</i>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-2">
                {% bootstrap_form form %}
           </div>
        </div>
        <div class="row">
            <div class="col-6" align="left">
                <a class="btn btn-secondary" href="{% url "contenido:listado_palabras_excluidas" %}"><i class="fa fa-angle-left"></i> Atrás</a>
            </div>
            <div class="col-6" align="right">
                <button class="btn btn-primary" type="submit">Asignar Palabra <i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </form>
{% endblock contenido_panel %}
