{% extends 'base.html' %}

{% load bootstrap4 %}

{% block titulo %}
    Eliminar Palabra - {{palabra}} 
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Gestión Palabras Clave</li>
    <li class="breadcrumb-item active">Eliminar Palabra - {{palabra}}</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-direction icon-orange"></i>Eliminar Palabra - {{palabra}}
{% endblock titulo_pagina %}


{% block contenido_panel %}
    <form method="post">{% csrf_token %}
        <div class="row">
            <div class="col-12">
                A continuación se puede eliminar la palabra seleccionada.
            </div>
        </div>
        <div class="row m-t-5">
            <div class="col-12">
                <h2>¿Está seguro de querer eliminar la siguiente palabra "{{palabra}}" ?</h2>
            <div class="col-12">
                <a class="btn btn-success" href="{% url "contenido:listado_palabras_excluidas" %}">Atrás</a>
                <div class="float-right">
                    <button class="btn btn-danger" type="submit">Eliminar</button>
                </div>
            </div>
        </div> 
    </form>  
{% endblock contenido_panel %}

