{% extends 'base_tablas.html' %}

{% block titulo %}
    Gestión Palabras Clave
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item active">
        Gestión Palabras Clave
    </li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-direction icon-orange"></i>
    Gestión Palabras Clave
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                        <tr>
                            <th>Palabra</th>
                            <th>Asignar</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for palabra in palabras %}
                        <tr>
                            <td>{{palabra.palabra}}</td>
                            <td align="center">
                                <div class="row">
                                    <div class="col-lg col-md-4 col-sm-4 col-xs-12">
                                        <a title="Agregar" href="{% url 'contenido:asignar_palabra_a_ruta_de_conocimiento' palabra.id %}"><i class="fas fa-pen-alt"></i></a>
                                    </div>
                                    <div class="col-lg col-md-4 col-sm-4 col-xs-12">
                                        <a title="Eliminar" href="{% url 'contenido:eliminar_palabra_excluida' palabra.id %}"><i class="fas fa-trash-alt"></i></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}
