{% load extra_tags %}
{% if user.es_superusuario == True %}
    {% include 'menus/superusuario/modulo_usuarios.html' %}
    {% include 'menus/superusuario/modulo_contenidos.html' %}
    {% include 'menus/superusuario/modulo_insignias.html' %}
    {% include 'menus/superusuario/modulo_formularios.html' %}
    {% include 'menus/superusuario/modulo_ubicaciones.html' %}
    {% include 'menus/superusuario/mis_retos.html' %}
    {% include 'menus/superusuario/modulo_auditorias.html' %}
    {% include 'menus/superusuario/modulo_guia_mieslabon.html' %}
    {% include 'menus/superusuario/modulo_habilidades_del_futuro_mieslabon.html' %}
{% elif user.tipo == 'Joven' %}
    <li class="{% if '/' == request.path or 'cuestionarios' in request.path and not 'cuestionarios/competencias' %} active {% endif %}">
        <a href="{% url 'inicio' %}">
            <i class="icon-grid"></i>
            <span>Tablero</span>
        </a>
    </li>
    {% include 'menus/jovenes/conocerme.html' %}
    {% include 'menus/jovenes/proyectarme.html' %}
    {% include 'menus/jovenes/conectarme.html' %}
    {% include 'menus/jovenes/mision_eslabon.html' %}
    {% include 'menus/jovenes/pqrs.html' %}
{% elif user.tipo == 'Padre' %}
    <li><a href="{% url 'inicio' %}">Tablero Principal</a></li>
    <li><a href="#">Mis Hijos</a></li>
    <li><a href="#">Ver Perfiles</a></li>
    <li><a href="#">Ver Informes</a></li>
{% elif user.tipo == 'Jurado' %}
    {% include 'menus/jurados/calificar.html' %}
{% elif user.tipo == 'Organización' %}
    <li class="{% if '/' == request.path or 'cuestionarios' in request.path %} active {% endif %}">
        <a href="{% url 'inicio' %}">
            <i class="icon-grid"></i>
            <span>Tablero Principal</span>
        </a>
    </li>
    {% include 'menus/organizaciones/herramientas_gozante.html'%}
    {% include 'menus/organizaciones/mis_jovenes.html' %}
    {% include 'menus/organizaciones/analisis_tableros.html' %}
    {% include 'menus/organizaciones/mision_eslabon.html' %}
    {% include 'menus/jovenes/pqrs.html' %}
{% endif %}


