{% extends 'base_tablas.html' %}

{% block titulo %}
    Gestión Niveles de Conocimiento
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Insignias</li>
    <li class="breadcrumb-item active">Gestión Niveles de Conocimiento</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-badge icon-orange"></i> Gestión Niveles de Conocimiento
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan los niveles de conocimiento registrados en el sistema.</i>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Imagen</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for nivel in niveles %}
                        <tr>
                            <td>{{nivel.nombre}}</td>
                            <td>{{nivel.descripcion}}</td>
                            <td align="center">
                                {% if nivel.imagen  %}
                                    <a href="{{nivel.imagen.url}}" data-lightbox="gallery-group">
                                        <div>
                                            <img style="max-width: 50px" src="{{nivel.imagen.url}}" class="img img-fluid centerImage">
                                        </div>
                                    </a>
                                {% endif %}
                            </td>
                            <td align="center">
                                {% if nivel.activo == True %}
                                    <span class="label label-lime">ACTIVO</span>
                                {% else %}
                                    <span class="label label-secondary">INACTIVO</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

