{% extends 'base.html' %}

{% load bootstrap4 %}

{% block titulo %}
    Modificar Nivel de Conocimiento
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Insignias</li>
    <li class="breadcrumb-item"><a href="{% url "insignias:listado_niveles" %}">Gestión Niveles de Conocimiento</a></li>
    <li class="breadcrumb-item active">Modificar Nivel de Conocimiento</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-badge icon-orange"></i> Modificar Nivel de Conocimiento
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <form enctype="multipart/form-data" method="post">{% csrf_token %}
        <div class="row">
            <div class="col-12 mb-2">
                <p class="mb-1">
                    <i>El siguiente formulario permite modificar las diferentes características de un nivel de conocimiento.</i>
                </p>
            </div>
            {% for campo in form %}
                {% if campo.name == 'activo'%}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4" align="left">
                        {% bootstrap_field campo field_class="form-check checkbox checkbox-css pt-0 checkbox-inline" placeholder="" %}
                    </div>
                {% else %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                        {% bootstrap_field campo placeholder="" %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-6" align="left">
                <a class="btn btn-secondary" href="{% url "insignias:listado_niveles" %}"><i class="fa fa-angle-left"></i> Atrás</a>
            </div>
            <div class="col-6" align="right">
                <button class="btn btn-primary" type="submit">Modificar Nivel de Conocimiento <i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </form>
{% endblock contenido_panel %}
