{% extends 'base_tablas.html' %}

{% block titulo %}
    {{ formulario }} - Preguntas
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url "formularios:listado" %}">Gestión Formularios</a></li>
    <li class="breadcrumb-item">{{ formulario }}</li>
    <li class="breadcrumb-item active">Preguntas</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-open icon-orange"></i> {{ formulario }} - Preguntas
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>Preguntas registradas: {{ preguntas|length }}</i>
            </p>
        </div>
        <div class="col-md-12" align="right">
            <a class="btn btn-primary" href="{% url "formularios:registrar_preguntas" formulario.id %}"><i class="fas fa-plus"></i> Registrar Pregunta</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Competencia</th>
                        <th>Descripción</th>
                        <th>Respuestas Correctas</th>
                        <th>Imagen</th>
                        <th style="min-width: 50px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pregunta in preguntas %}
                        <tr>
                            <td>{{pregunta.get_tipo_display}}</td>
                            <td>{{pregunta.competencia|default:'Ninguna'}}</td>
                            <td>{{pregunta.descripcion}}</td>
                            <td>{{ pregunta.get_correctas|join:", "|default:'Respuesta(s) correcta(s) no definida(s)' }}</td>
                            <td align="center">
                                {% if pregunta.imagen  %}
                                    <a href="{{pregunta.imagen.url}}" data-lightbox="gallery-group">
                                        <div>
                                            <img style="max-width: 50px" src="{{pregunta.imagen.url}}" class="img img-fluid centerImage">
                                        </div>
                                    </a>
                                {% endif %}
                            </td>
                            <td align="center">
                                <div class="row">
{#                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">#}
{#                                        <a title="Ver Respuestas" href="#"><i class="fas fa-eye"></i></a>#}
{#                                    </div>#}
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        {% if pregunta.tipo == "D48" %}
                                            <a title="Modificar" href="{% url "formularios:modificar_pregunta_domino" pregunta.id %}"><i class="fas fa-pen-alt"></i></a>
                                        {% else %}
                                            <a title="Modificar" href="{% url "formularios:modificar_pregunta" pregunta.id %}"><i class="fas fa-pen-alt"></i></a>
                                        {% endif %}
                                    </div>
{#                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">#}
{#                                        <a title="Activar/Inactivar" href="#"><i class="fas fa-trash-alt"></i></a>#}
{#                                    </div>#}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

