{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

{% block titulo %}
    Modificar Pregunta No. {{ numero }}
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url "formularios:listado" %}">Gestión Formularios</a></li>
    <li class="breadcrumb-item">{{ pregunta.formulario }}</li>
    <li class="breadcrumb-item"><a href="{% url "formularios:listado_preguntas" pregunta.formulario.id %}">Preguntas</a></li>
    <li class="breadcrumb-item active">Modificar Pregunta No. {{ numero }}</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-open icon-orange"></i> Modificar Pregunta No. {{ numero }}
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <form enctype="multipart/form-data" method="post">{% csrf_token %}
        <div class="row">
            <div class="col-12 mb-2">
                <p class="mb-1">
                    <i>El siguiente formulario permite modificar las diferentes características de una pregunta de tipo <b>{{ pregunta.get_tipo_display }}</b>.</i>
                </p>
            </div>
            <div class="col-12">
                <div class="row">
                    {% crispy form %}
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6" align="left">
                        <a class="btn btn-secondary" href="{% url "formularios:listado_preguntas" pregunta.formulario.id %}"><i class="fa fa-angle-left"></i> Ir a Preguntas</a>
                    </div>
                    <div class="col-6" align="right">
                        <button class="btn btn-primary" type="submit">Modificar Pregunta <i class="fa fa-angle-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock contenido_panel %}

{% block js %}
    <script src="{% static 'plugins/select2/dist/js/select2.full.min.js' %}"></script>
    <script>
        var tipo_pregunta = '{{ pregunta.tipo }}';
        if(tipo_pregunta === 'E' || tipo_pregunta === 'SN' || tipo_pregunta === 'T'){
            $('.formset-preguntas').hide()
        }
        document.querySelector('.custom-file-input').addEventListener('change',function(e){
            var fileName = document.getElementById("id_imagen").files[0].name;
            var nextSibling = e.target.nextElementSibling;
            nextSibling.innerText = fileName;
        });

        $(document).ready(function() {
        if(document.querySelector('#id_respuesta_superior') && document.querySelector('#id_respuesta_inferior')){
            $("#id_respuesta_superior").select2({
                templateResult: formatState,
                templateSelection: formatState,

            });
            $("#id_respuesta_inferior").select2({
                templateResult: formatState,
                templateSelection: formatState,

            });
        }

    });
    function formatState (state) {
        if (!state.id) {
            return state.text
        }
        nombre = state.text;
        url = '/static/img/domino/'+String(state.id)+'.png';
        var $state = $(
            '<span><img style="height:25px; width:25px" src="'+ url +'" class="img-flag" /> ' + nombre + '</span>'
        );
        return $state;
    }
    </script>
{% endblock js %}
