{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    Detalle - {{ competencia.nombre }}
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Competencias</li>
    <li class="breadcrumb-item active">Detalle - {{ competencia.nombre }}  </li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-diamond icon-orange"></i> Detalle - {{ competencia.nombre }}
{% endblock titulo_pagina %}

{% block contenido %}
    <div class="row">
        {% if competencia.codigo_calificacion in codigo_calificación %}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 px-0 card-group">
                <div class="card border-0 mx-1 my-1">
                    {% if competencia.codigo_calificacion == 'Números' %}
                        <div id="chartdiv7" style="height: 100%;"></div>
                    {% elif competencia.codigo_calificacion == 'Lectura' %}
                        <div id="chartdiv8" style="height: 100%;"></div>
                    {% elif competencia.codigo_calificacion == 'Negociación' %}
                        <div id="chartdiv14" style="height: 100%;"></div>
                    {% elif competencia.codigo_calificacion == 'Autoconciencia' %}
                        <div id="chartdiv" style="height: 100%;"></div>
                    {% elif competencia.codigo_calificacion == 'Empatía' %}
                        <div id="chartdiv4" style="height: 100%;"></div>
                    {% elif competencia.codigo_calificacion == 'Autocontrol' %}
                        <div id="chartdiv3" style="height: 100%;"></div>
                    {% elif competencia.codigo_calificacion == 'Autoconfianza' %}
                        <div id="chartdiv2" style="height: 100%;"></div>
                    {% elif competencia.codigo_calificacion == 'Dirección' %}
                        <div id="chartdiv11" style="height: 100%;"></div>
                    {% elif competencia.codigo_calificacion == 'Carisma' %}
                        <div id="chartdiv9" style="height: 100%;"></div>
                    {% elif competencia.codigo_calificacion == 'Innovación' %}
                        <div id="chartdiv13" style="height: 100%;"></div>
                    {% elif competencia.codigo_calificacion == 'Desarrollo' %}
                        <div id="chartdiv12" style="height: 100%;"></div>
                    {% elif competencia.codigo_calificacion == 'Motivación' %}
                        <div id="chartdiv5" style="height: 100%;"></div>
                    {% elif competencia.codigo_calificacion == 'Inspiración' %}
                        <div id="chartdiv10" style="height: 100%;"></div>
                    {% elif competencia.codigo_calificacion == 'Socializar' %}
                        <div id="chartdiv6" style="height: 100%;"></div>
                    {% elif competencia.codigo_calificacion == 'Liderazgo_laizzes_faire' %}
                        <div id="lid-3" style="height: 100%;"></div>
                    {% elif competencia.codigo_calificacion == 'Liderazgo_transaccional' %}
                        <div id="lid-2" style="height: 100%;"></div>
                    {% elif competencia.codigo_calificacion == 'Liderazgo_transformacional' %}
                        <div id="lid-1" style="height: 100%;"></div>
                    {% endif %}
                    {% if back != None %}
                        <div class="card-footer mt-4">
                            <a class="btn btn-secondary"
                               href="{{ back }}">
                                <i class="fa fa-angle-left"></i> Volver
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="{% if competencia.codigo_calificacion in codigo_calificación %}col-xl-8 col-lg-8 col-md-6 col-sm-12 col-xs-12 px-0{% else %}col-12{% endif %}">
            <div class="card border-0 mx-1 my-1 px-3 py-3" style="background: #fff;">
                <div>
                    <h4>Nombre de la competencia</h4>
                    <p>{{ competencia.nombre }}</p>
                </div>
                <div>
                    <h4>¿Qué es esto?</h4>
                    <p>{{ competencia.explicacion }}</p>
                </div>
                <div>
                    <h4>¿Para qué es necesario en la vida?</h4>
                    <p>{{ competencia.necesidad }}</p>
                </div>
                <div>
                    <h4>¿Cómo lo puedo desarrollar?</h4>
                    <p>{{ competencia.desarrollo }}.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}

{% block js %}
    <script src="{% static 'js/custom/graficas/librerias/core.js' %}"></script>
    <script src="{% static 'js/custom/graficas/librerias/charts.js' %}"></script>
    <script src="{% static 'js/custom/graficas/librerias/animated.js' %}"></script>

    <script>
        {% if competencia.codigo_calificacion == 'Números' %}
            var genero_del_joven = {{genero_del_joven|safe}}
            var edad_del_joven = {{edad_del_joven|safe}}
            var puntaje_razonamiento_cuantitativo = {{puntaje_razonamiento_cuantitativo|safe}}
        {% elif competencia.codigo_calificacion == 'Lectura' %}
            var puntaje_analisis_en_lectura = {{puntaje_analisis_en_lectura|safe}}
        {% elif competencia.codigo_calificacion == 'Negociación'%}
            var promedio_liderazgo_claridad_en_negociar = {{promedio_liderazgo_claridad_en_negociar|safe}}
        {% elif competencia.codigo_calificacion == 'Autoconciencia'%}
            var puntaje_de_auto_conciencia = {{puntaje_de_auto_conciencia|safe}}
        {% elif competencia.codigo_calificacion == 'Empatía'%}
            var puntaje_de_empatia = {{puntaje_de_empatia|safe}}
        {% elif competencia.codigo_calificacion == 'Autocontrol'%}
            var puntaje_de_auto_control = {{puntaje_de_auto_control|safe}}
        {% elif competencia.codigo_calificacion == 'Autoconfianza'%}
            var puntaje_de_auto_confianza = {{puntaje_de_auto_confianza|safe}}
        {% elif competencia.codigo_calificacion == 'Dirección'%}
            var promedio_liderazgo_direccion_rutinaria = {{promedio_liderazgo_direccion_rutinaria|safe}}
        {% elif competencia.codigo_calificacion == 'Carisma'%}
            var promedio_liderazgo_carisma = {{promedio_liderazgo_carisma|safe}}
        {% elif competencia.codigo_calificacion == 'Innovación'%}
            var promedio_liderazgo_innovacion = {{promedio_liderazgo_innovacion|safe}}
        {% elif competencia.codigo_calificacion == 'Desarrollo'%}
            var promedio_liderazgo_deseo_que_otros_crezcan = {{promedio_liderazgo_deseo_que_otros_crezcan|safe}}
        {% elif competencia.codigo_calificacion == 'Motivación'%}
            var puntaje_de_motivacion = {{puntaje_de_motivacion|safe}}
        {% elif competencia.codigo_calificacion == 'Inspiración'%}
            var promedio_liderazgo_inspiracion = {{promedio_liderazgo_inspiracion|safe}}
        {% elif competencia.codigo_calificacion == 'Socializar'%}
            var puntaje_de_capacidad_para_socializar = {{puntaje_de_capacidad_para_socializar|safe}}
        {% elif competencia.codigo_calificacion == 'Liderazgo_laizzes_faire' or competencia.codigo_calificacion == 'Liderazgo_transaccional' or competencia.codigo_calificacion == 'Liderazgo_transformacional' %}
            var puntaje_liderazgo = {{puntaje_liderazgo|safe}}
        {% endif %}
    </script>

    {% if competencia.codigo_calificacion == 'Números' %}
        <script src="{% static 'js/custom/graficas/jovenes/grafica_razonamiento_cuantitativo.js' %}"></script>
    {% elif competencia.codigo_calificacion == 'Lectura' %}
        <script src="{% static 'js/custom/graficas/jovenes/grafica_analisis_en_lectura.js' %}"></script>
    {% elif competencia.codigo_calificacion == 'Negociación' %}
        <script src="{% static 'js/custom/graficas/jovenes/grafica_liderazgo_negociar.js' %}"></script>
    {% elif competencia.codigo_calificacion == 'Autoconciencia' %}
        <script src="{% static 'js/custom/graficas/jovenes/grafica_autoconciencia.js' %}"></script>
    {% elif competencia.codigo_calificacion == 'Empatía' %}
        <script src="{% static 'js/custom/graficas/jovenes/grafica_empatia.js' %}"></script>
    {% elif competencia.codigo_calificacion == 'Autocontrol' %}
        <script src="{% static 'js/custom/graficas/jovenes/grafica_autocontrol.js' %}"></script>
    {% elif competencia.codigo_calificacion == 'Autoconfianza' %}
        <script src="{% static 'js/custom/graficas/jovenes/grafica_autoconfianza.js' %}"></script>
    {% elif competencia.codigo_calificacion == 'Dirección' %}
        <script src="{% static 'js/custom/graficas/jovenes/grafica_liderazgo_direccion_rutinaria.js' %}"></script>
    {% elif competencia.codigo_calificacion == 'Carisma' %}
        <script src="{% static 'js/custom/graficas/jovenes/grafica_liderazgo_carisma.js' %}"></script>
    {% elif competencia.codigo_calificacion == 'Innovación' %}
        <script src="{% static 'js/custom/graficas/jovenes/grafica_liderazgo_innovacion.js' %}"></script>
    {% elif competencia.codigo_calificacion == 'Desarrollo' %}
        <script src="{% static 'js/custom/graficas/jovenes/grafica_liderazgo_deseo.js' %}"></script>
    {% elif competencia.codigo_calificacion == 'Motivación' %}
        <script src="{% static 'js/custom/graficas/jovenes/grafica_motivacion.js' %}"></script>
    {% elif competencia.codigo_calificacion == 'Inspiración' %}
        <script src="{% static 'js/custom/graficas/jovenes/grafica_liderazgo_inspiracion.js' %}"></script>
    {% elif competencia.codigo_calificacion == 'Socializar' %}
        <script src="{% static 'js/custom/graficas/jovenes/grafica_capacidad_socializar.js' %}"></script>
    {% elif competencia.codigo_calificacion == 'Liderazgo_laizzes_faire' or competencia.codigo_calificacion == 'Liderazgo_transaccional' or competencia.codigo_calificacion == 'Liderazgo_transformacional' %}
        <script src="{% static 'js/custom/graficas/jovenes/grafica_liderazgo_dimensiones.js' %}"></script>
        <script>
            am4core.ready(function () {
                // Themes begin
                am4core.useTheme(am4themes_animated);
                // Themes end
                let min = 0;
                let max = 5;
                {% if competencia.codigo_calificacion == 'Liderazgo_laizzes_faire'%}
                    dibujar_tacometro(
                        puntaje_liderazgo,
                        min,
                        max,
                        "lid-3",
                        {
                            bajo: {low: 0, high: 3.65},
                            medio: {low: 3.65, high: 4.2},
                            alto: {low: 4.2, high: 5}
                        }
                    );
                {%elif competencia.codigo_calificacion == 'Liderazgo_transaccional'%}
                    dibujar_tacometro(
                        puntaje_liderazgo,
                        min,
                        max,
                        "lid-2",
                        {
                            bajo: {low: 0, high: 3},
                            medio: {low: 3, high: 3.72},
                            alto: {low: 3.72, high: 5}
                        }
                    );
                {%elif competencia.codigo_calificacion == 'Liderazgo_transformacional' %}
                    dibujar_tacometro(
                        puntaje_liderazgo,
                        min,
                        max,
                        "lid-1",
                        {
                            bajo: {low: 0, high: 1.83},
                            medio: {low: 1.83, high: 2.83},
                            alto: {low: 2.83, high: 5}
                        }
                    );
                {% endif %}
            });
        </script>
    {% endif %}

{% endblock %}

