{% extends 'base.html' %}
{% load static %}

{% load extra_tags %}
{% load bootstrap4 %}

{% block titulo %}
    Detalle - {{ competencia.nombre }}
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Competencias</li>
    <li class="breadcrumb-item active">Detalle - {{ competencia.nombre }}  </li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-diamond icon-orange"></i> Detalle - {{ competencia.nombre }}
{% endblock titulo_pagina %}

{% block contenido %}
    {% if experiencias %}
        <div class="col-12" align="right">
            <form method="GET">
                <div class="row">
                    <div class="col-4">
                        {% bootstrap_form formulario %}
                    </div>
                    <div class="col-8" align="left">
                        <input type="submit" value="Filtrar" class="btn btn-sm btn-outline-orange"></input>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 px-0 card-group">
            <div class="card border-0 mx-1 my-1">
                {% if experiencias %}
                    <div id="chartdiv1" style="height: 550px;"></div>
                {% else %}
                    <div id="chartdiv" style="height: 550px;"></div>
                {% endif %}
                <div class="card-footer">
                    <a class="btn btn-secondary"
                       href="{% url 'formularios:mi_experiencia' %}">
                        <i class="fa fa-angle-left"></i> Volver
                    </a>
                </div>
            </div>
        </div>
        <div class="card col-xl-8 col-lg-8 col-md-6 col-sm-12 col-xs-12 px-0">
            <div class="row border-0 mx-1 my-1 px-3 py-3 info-contenido" style="background: #fff">
                <div class="col-12">
                    <h4>Nombre de la competencia</h4>
                    <p>{{ competencia.nombre }}</p>
                </div>
                <div class="col-12">
                    <h4>¿Qué es esto?</h4>
                    <p>{{ competencia.explicacion }}</p>
                </div>
                <div class="col-12 mt-3">
                    <h4>¿Para qué es necesario en la vida?</h4>
                    <p>{{ competencia.necesidad }}</p>
                </div>
                <div class="col-12 mt-3">
                    <h4>¿Cómo lo puedo desarrollar?</h4>
                    <p>{{ competencia.desarrollo }}.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/custom/graficas/librerias/core.js' %}"></script>
    <script src="{% static 'js/custom/graficas/librerias/charts.js' %}"></script>
    <script src="{% static 'js/custom/graficas/librerias/animated.js' %}"></script>

    <script>
        var promedios =
        {{promedios|safe}}
        {% if experiencias %}
            var experiencias = {{experiencias|safe}}
        {% endif %}
    </script>
    <script
            {% if not  experiencias %}
                src="{% static 'js/custom/graficas/jovenes/competencias/grafica_de_barra_mi_experiencia.js' %}">
            {% else %}
                src = "{% static 'js/custom/graficas/jovenes/competencias/grafica_de_materias.js' %}" >
            {% endif %}
    </script>
{% endblock contenido %}

