{% extends 'base.html' %}
{% load static %}

{% load extra_tags %}
{% load bootstrap4 %}

{% block titulo %}
    Detalle - {{ competencia.nombre }}
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Competencias</li>
    <li class="breadcrumb-item active">Detalle - {{ competencia.nombre }}  </li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-diamond icon-orange"></i> Detalle - {{ competencia.nombre }}
{% endblock titulo_pagina %}

{% block contenido %}
    <div class="row">
        <div class="col-md-4">
            <div class="card border-0">
                {% if competencia.imagen %}
                    <a href="{{ competencia.imagen.url }}" data-lightbox="gallery-group-equipo-{{ competencia.pk }}">
                        <div class="hovereffect">
                            <img src="{{ competencia.imagen.url }}" class="card-img-top img img-fluid centerImage">
                        </div>
                    </a>
                {% else %}
                    <div class="hovereffect">
                        <img src="{% static 'img/extra/no-image.jpg' %}" class="card-img-top img img-fluid centerImage">
                    </div>
                {% endif %}
                <div class="card-body" style="padding-left: 5px">

                    <h6 align="left">RESULTADO</h6>
                    {% if calificacion == "ALTO" %}
                        <span class="btn btn-primary btn-lg btn-block" style="background-color: #92d050;">
                            Tienes ALTO interés
                        </span>
                    {% elif calificacion == "MEDIO" %}
                        <span class="btn btn-primary btn-lg btn-block" style="background-color: #ef9600;">
                            Tienes MEDIO interés
                        </span>
                    {% else %}
                        <span class="btn btn-primary btn-lg btn-block" style="background-color: #e2462e;">
                            Tienes BAJO interés
                        </span>
                    {% endif %}

                </div>
                <div class="card-footer border-0">
                    <a href="{% url 'formularios:aptitudes_e_intereses' %}"
                       class="btn btn-secondary"
                    >
                        <i class="fa fa-angle-left"></i> Volver
                    </a>
                </div>
            </div>

        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="card px-4 py-1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <h4>Nombre de la competencia</h4>
                            </div>
                            <div class="col-12">
                                <p>{{ competencia.nombre }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4>¿Qué es esto?</h4>
                            </div>
                            <div class="col-12">
                                <p class="text-justify">{{ competencia.explicacion }}</p>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <h4>¿Para qué es necesario en la vida?</h4>
                            </div>
                            <div class="col-12">
                                <p class="text-justify">{{ competencia.necesidad }}</p>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <h4>¿Cómo lo puedo desarrollar?</h4>
                            </div>
                            <div class="col-12">
                                <p class="text-justify">{{ competencia.desarrollo }}.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

