<li class="has-sub {% if 'tablero-organizaciones' in request.path or 'tablero-economico' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="icon-chart"></i>
        <span>Análisis Tableros Estadísticos</span>
    </a>
    <ul class="sub-menu">
        <li class="{% if 'visualizar_tablero' in request.path %} active {% endif %}">
            <a href="{% url 'tablero_organizaciones:visualizar_tablero' %}">Características mis jóvenes</a>
        </li>
        <li class="{% if 'competencias' in request.path %} active {% endif %}">
            <a href="{% url 'tablero_organizaciones:tablero_competencias' %}">Competencias</a>
        </li>
        <li class="{% if 'escenario_deseado' in request.path %} active {% endif %}">
            <a href="{% url 'tablero_organizaciones:escenario_deseado' %}">Escenarios deseados</a>
        </li>
        <li class="{% if 'experiencias' in request.path %} active {% endif %}">
            <a href="{% url 'tablero_organizaciones:experiencias' %}">Experiencia de mis jóvenes</a>
        </li>
        <li class="{% if 'tablero-economico' in request.path %} active {% endif %}">
            <a href="{% url 'tablero_auditorias:tablero_economico' %}">Hacia donde va el mundo</a>
        </li>
    </ul>
</li>