<li class="has-sub {% if 'mensaje' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="icon-envelope"></i>
        <span>Envío de Mensajes</span>
    </a>
    <ul class="sub-menu">
        <li><a href="#">Envío Mensajes</a></li>
        <li><a href="#">Mis Mensajes</a></li>
    </ul>
</li>