<li class="has-sub {% if '/herramientas_gozante' == request.path %} active {% endif %}">
        <a href="javascript:;">
            <i class="icon-briefcase"></i>
            <span>Herramientas Gozantes</span>
        </a>

    <ul class="sub-menu">
        <li class="{%if '/tutoriales-uso' in request.path%} active {% endif %}">
            <a href="javascript:alert('En construcción...');">Tutoriales de uso</a>
        </li>
        <li class="{%if '/recurso-eslabon' in request.path%} active {% endif %}">
            <a href="javascript:alert('En construcción...');">Recurso MiEslabón</a>
        </li>

    </ul>
</li>