<li class="has-sub {% if '/contenido/oportunidades/gestionar/' in request.path or '/organizaciones/gestion-oportunidades/' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <span>Oportunidades para hacer</span>
    </a>
    <ul class="sub-menu">
        <li class="{%if '/organizaciones/gestion-oportunidades/' in request.path%} active {% endif %}">
            <a href="{% url 'organizaciones:organizacion_gestion_oportunidades' %}">Consultar Oportunidades</a>
        </li>
        <li class="{%if '/contenido/oportunidades/gestionar/' in request.path%} active {% endif %}">
            <a href="{% url 'contenido:listado_mis_oportunidades_creadas' %}">Crear/Editar Mis Oportunidades</a>
        </li>
    </ul>
</li>
