<li class="has-sub {% if '/retos/consultar/' in request.path or '/retos/solicitudes-jovenes-equipos/' in request.path or '/organizaciones/gestion-retos/' in request.path  or '/retos/consultar-retos/' in request.path or '/organizaciones/retos/gestionar' in request.path%} active {% endif %}">
    <a href="javascript:;">
        Retos de entrenamiento
    </a>    
    <ul class="sub-menu">
        <li class="{% if '/retos/consultar-retos/' in request.path %} active {% endif %}">
            <a href="{% url 'retos:consultar_retos' %}">Consultar Retos</a>
        </li>
        <li class="{%if '/organizaciones/gestion-retos/' in request.path %} active {% endif %}">
            <a href="{% url 'organizaciones:organizacion_gestion_retos' %}">Crear Solicitud de Reto</a>                       
        </li>
        <li class="{% if '/retos/consultar/' in request.path %} active {% endif %}">
            <a href="{% url 'retos:consultar' %}">Editar Mis Retos</a>
        </li>
        <li class="{%if 'solicitudes-jovenes-equipos/' in request.path %} active {% endif %}">
            <a href="{% url 'retos:solicitudes_solicitudes_jovenes_equipos' %}">Gestionar Solicitud Mis Retos</a>
        </li>
    </ul>
</li>
    

