<li class="has-sub {% if '/contenido/rutas/gestionar' in request.path or '/app/contenido/rutas/' == request.path %} active {% endif %}">
    <a href="javascript:;">
        <span>Rutas para aprender</span>
    </a>
    <ul class="sub-menu">
        <li class="{%if '/app/contenido/rutas/' == request.path%} active {% endif %}">                   
            <a href="{% url 'contenido:joven_consultar_rutas' %}">Consultar Rutas</a>            
        </li>
        <li class="{%if '/contenido/rutas/gestionar' in request.path%} active {% endif %}">
            <a href="{% url 'contenido:listado_mis_rutas_creadas' %}">Crear/Editar Mis Rutas</a>
        </li>
    </ul>
</li>
