<li class="has-sub {% if '/tablero-organizaciones/' in request.path or '/organizaciones/consultar-jovenes/' in request.path or '/organizaciones/invitar-joven/' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="icon-user-following"></i>
        <span>Mis Jóvenes</span>
    </a>
    <ul class="sub-menu">
        <li class="{%if '/organizaciones/invitar-joven/' in request.path%} active {% endif %}">
            <a href="{% url 'organizaciones:organizacion_invitar_joven' %}">Invitar jóvenes</a>
        </li>
        <li class="{%if '/organizaciones/consultar-jovenes/' in request.path%} active {% endif %}">
            <a href="{% url 'organizaciones:organizacion_consultar_jovenes' %}">Consultar jóvenes</a>
        </li>        

    </ul>
</li>