<li class="has-sub {% if 'guia-eslabon' in request.path or 'contenido' in request.path or 'mis-organizaciones' in request.path or 'consultar-equipos' in request.path or 'retos' in request.path or 'gestion-oportunidades' in request.path%} active {% endif %}">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="icon-rocket"></i>
        <span>Misión Eslabón</span>
    </a>
    <ul class="sub-menu">
        <li class="{% if 'guia' in request.path %} active {% endif %}">
            <a href="{% url 'guia:consultar_guia_jovenes' %}">
                <span>Niveles de la misión</span>
            </a>
        </li>
        {% include 'menus/organizaciones/mis_rutas.html'%}
        {% include 'menus/organizaciones/mis_oportunidades.html'%}
        {% include 'menus/organizaciones/mis_retos.html'%}
        <li class=" {% if 'organizaciones/consultar-equipos/' in request.path %} active {% endif %}">
            <a href="{% url 'organizaciones:organizacion_equipos_jovenes' %}">
                <span>Equipos para retos</span>
            </a>
        </li>
        <li class="{% if 'organizaciones/mis-organizaciones/' in request.path %} active {% endif %}">
            <a href="{% url 'organizaciones:joven_consultar' %}">
                <span>Organizaciones</span>
            </a>
        </li>

    </ul>
</li>