{% extends 'base_tablas.html' %}

{% block titulo %}
    Tipos Recursos
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Guía Mi Eslabón</li>
    <li class="breadcrumb-item"><a href="{% url "guia:listado_tipo" %}">Tipos Recursos</a></li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-briefcase icon-orange"></i> Tipos Recursos
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan los tipos de recursos registrados en el sistema y diferentes herramientas para su gestión.</i>
            </p>
        </div>
        <div class="col-md-12" align="right">
            <a class="btn btn-primary" href="{% url "guia:registrar_tipo" %}"><i class="fas fa-plus"></i> Registrar Tipo Recurso</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Nombre del tipo</th>
                        <th>Descripción</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tipo in tipos %}
                        <tr>
                            <td>{{tipo.nombre}}</td>
                            <td>{{tipo.descripcion}}</td>
                            <td align="center">
                                {% if tipo.activo == True %}
                                    <span class="label label-lime">ACTIVO</span>
                                {% else %}
                                    <span class="label label-secondary">INACTIVO</span>
                                {% endif %}
                            </td>
                            <td align="center">
                                <div class="row">
{#                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">#}
{#                                        <a title="Ver" href="#"><i class="fas fa-eye"></i></a>#}
{#                                    </div>#}
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <a title="Modificar" href="{% url "guia:modificar_tipo" tipo.id %}"><i class="fas fa-pen-alt"></i></a>
                                    </div>
{#                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">#}
{#                                        <a title="Activar/Inactivar" href="#"><i class="fas fa-trash-alt"></i></a>#}
{#                                    </div>#}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

