{% extends 'base_tablas.html' %}

{% block titulo %}
    Gestión Usuarios
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item active">Gestión Usuarios</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-user icon-orange"></i> Consulta de usuarios
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan los usuarios registrados en el sistema.</i>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Usuario</th>
                        <th>Correo electrónico</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for usuario in usuarios %}
                        <tr>
                            <td>{% if usuario.es_superusuario %} Superusuario {% else %} {{ usuario.tipo }} {% endif %}</td>
                            <td align="center">
                                {% if usuario.foto_perfil  %}
                                    <a href="{{usuario.foto_perfil.url}}" data-lightbox="gallery-group-experiencia-{{ usuario.pk }}">
                                        <div>
                                            <img style="max-width: 40px" src="{{usuario.foto_perfil.url}}" class="img img-fluid centerImage">
                                        </div>
                                        {{ usuario.get_full_name }}
                                    </a>
                                {% else %}
                                    {{ usuario.get_full_name }}
                                {% endif %}
                            </td>
                            <td>{{usuario.email}}</td>
                            <td align="center">
                                {% if usuario.is_active == True %}
                                    <span class="label label-lime">ACTIVO</span>
                                {% else %}
                                    <span class="label label-secondary">INACTIVO</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

