
{% extends 'base_logout.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Confirmación de cuenta
{% endblock titulo %}


{% block contenido %}
    <div class="row col-12" align="center">
        <p>Te hemos enviado un correo a <b>{{usuario.email}}</b> para activar tu cuenta</p>
        <p>Ve a tu buzón de entrada o spam y haz clic en el botón «Verificar» para confirmar tu dirección de email.</p>
        <div class="col-12 mb-2">
            <a href="{% url 'usuarios:reenviar_correo' usuario.id %}" target="blank" class="btn btn-primary btn-lg btn-block"
                style="background-color: #874FA0;">No he recibido el email</a>
        </div>
        <div class="col">
            <p style="font-size: 13px">Ya he hecho clic en el botón, <a href="{% url 'usuarios:iniciar_sesion' %}">llevame a iniciar sesión</a></p>
        </div>
    </div>

{% endblock contenido %}