{% extends 'base_logout.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Ingresar
{% endblock titulo %}

{% block contenido %}
    <div class="co-12" style="background-color: #EDEFEF;">
        <form  method="post" class="margin-bottom-0">
            {% csrf_token %}
            {% bootstrap_field form.username %}
            {% bootstrap_field form.password %}
            <div class="login-buttons">
                <div class="row">
                    <div class="row col-12" align="center">
                        <div class="col">{% bootstrap_field form.remember_me %}</div>
                        <div class="col"><p style="font-size: 13px"><a href="{% url 'usuarios:reenviar_correo' %}">¿Correo no verificado?</a></p></div>  
                        <div class="col"><p style="font-size: 13px"><a href="{% url 'usuarios:solicitar_contrasena' %}">¿Olvidaste tu contraseña?</a></p></div>
                    </div>

                    <div class="row col-12 mt-2  justify-content-center">
                        <div class="col-12 mb-2" align="center">
                            <input class="btn btn-primary btn-block btn-lg" style="background-color: #874FA0;" type="submit" value="Ingresar">
                        </div>
                        <div class="col-12 mb-2">
                            <a href="{% url 'social:begin' 'google-oauth2' %}" target="blank" class="btn btn-primary btn-lg btn-block"
                                style="background-color: #FB5347;">Ingresar con Gmail</a>
                        </div>
                        <div class="col-12 mb-2">
                            <a href="{% url 'social:begin' 'facebook' %}" target="blank" class="btn btn-primary btn-lg btn-block"
                                style="background-color: #3b5998;">Ingresar con Facebook</a>
                        </div>
                        <div class="col-12 border my-3">
                        </div>
                        <div class="col-12 text-center">
                            <p style="color: #874FA0; font-weight: bolder; font-size: 18px;">¿No tienes una cuenta?</p>
                        </div>

                        <div class="row col-12 mt-2  justify-content-center">
                            <div class="col-12 mb-2" style="padding-left:3px; padding-right:5px">
                                <a href="{% url 'usuarios:registrarse' 1 %}" target="blank" class="btn btn-primary btn-lg btn-block"
                                    style="background-color: #874FA0;">Crear una Cuenta</a>
                            </div>
                        </div>
                    </div>

                </div>
        </form>
    </div>
{% endblock contenido %}

{% block modal %}
    <div class="modal draggable fade" id="registrar" data-backdrop="static">
        <div class="modal-dialog signin justify-content-center">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Seleccione un Tipo de Usuario</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body mb-2 mt-2 ml-2 mr-2">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-4 offset-lg-4" align="center">
                            <div class="signin-img pt-3 pb-1">
                                <a href="{% url 'usuarios:registrarse' 1 %}">
                                    <div class="icon">
                                        <img style="height:30%; max-width:100%" src="{% static 'img/extra/boy.png' %}">
                                    </div>
                                    <div class="mt-2">
                                        <a class="orange-link">Joven</a>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--
                        <div class="col-xs-5 col-md-5 col-lg-4" align="center">
                            <div class="signin-img pt-3 pb-1">
                                <a href="{% url "usuarios:registrarse" 2 %}">
                                    <div class="icon">
                                        <img style="height:30%; max-width:100%" src="{% static 'img/extra/parents.png' %}">
                                    </div>
                                    <div class="mt-2">
                                        <a class="orange-link">Padre/Madre</a>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-4 col-md-4 col-lg-4" align="center">
                            <div class="signin-img  pt-3 pb-1">

                            </div>
                        </div>
                        -->
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer pb-1">
                    <p><a class="btn btn-danger" data-dismiss="modal">Cerrar</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock modal %}

{% block js %}
    <script>
        function modal(){
            $("#registrar").modal('show');
        }
    </script>
{% endblock js %}
