{% extends 'base_tablas.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    Gestión Usuarios
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item active">Gestión Usuarios</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-user icon-orange"></i> Gestión Usuarios
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan los usuarios registrados en el sistema y diferentes herramientas para su gestión.</i>
            </p>
        </div>

        <div class="col-md-12" align="right">
                <button class="btn btn-primary" onclick="modal()"><i class="fas fa-user-plus"></i> Registrar Usuario</button>
                <a class="btn btn-secondary" href="{% url 'usuarios:registro_masivo' %}"><i class="fas fa-file-excel"></i> Registro Masivo</a>
                <form style="display:inline;" method="GET" action="{% url 'usuarios:exportar_jovenes' %}">
                    <button class="btn btn-secondary" href=><i class="fas fa-download"></i> Exportar</button>
                    <input type="text" hidden id="org" name="name-org">
                </form>
        </div>
        <div class="col-md-8 row">
            <form method="GET" action="" class="row col-12 border rounded my-2 py-2 mx-2" >{% csrf_token %}
                <div class="col-12">
                    <h3>Filtrar por Organización</h3>
                </div>
                <div class="col-9">
                    {{form.first_name}}
                </div>
                <div class="col-3" align="center">
                    <button class="btn btn-success">Filtrar</button>
                    {% if organizaciones %}
                        <a class="btn btn-danger" href="{% url 'usuarios:listado_usuarios' %}">Quitar filtros</a>
                    {%endif%}
                </div>
                <div class="col-12 mt-2">
                    {% if organizaciones %}
                        <h5>Organizaciones Seleccionadas:</h5>
                        <p>
                            {% for organizacion in organizaciones %}
                                {{organizacion}},
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table id="tabla" class="table table-bordered table-striped table-td-valign-middle">
                    <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Usuario</th>
                        <th>Correo electrónico</th>
                        <th>Correo Verificado</th>
                        <th>Fecha Registro</th>
                        <th>Cuestionarios Completados</th>
                        <th>Indicativo</th>
                        <th>Celular</th>
                        <th>Estado</th>
                        <th>Acciones</th> <!-- TODO agregar mismas opciones de parir -->
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal draggable fade" id="registrar" data-backdrop="static">
        <div class="modal-dialog justify-content-center">
            <div class="modal-content">
                <div class="modal-header box">
                    <h4 class="modal-title">Crear usuario</h4>
                    <button aria-label="Close" class="close" type="button" data-dismiss="modal">
                        <i class="fas fa-times"></i></button>
                </div>
                <div class="modal-body mb-2 mt-2 ml-2 mr-2">
                    <form>
                        <div class="form-group">
                            <label for="tipo_usuario">Seleccione un perfil: </label>
                            <select class="form-control" id="tipo_usuario" name="tipo">
                                <option value="2">Joven</option>
                                <option value="3">Padre/Madre</option>
                                <option value="4">Jurado</option>
                            </select>
                        </div>
                    </form>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <p><button onclick="registrar();" class="btn btn-primary px-3">Crear</button></p>
                    <p><a class="btn btn-secondary px-2" data-dismiss="modal">Cerrar</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido_panel %}



{% block js %}
    {{ block.super }}
    <script>
        var token = '{{csrf_token}}';
        var url_joven = "{% url 'usuarios:registrar_joven' %}";
        var url_padre = "{% url 'usuarios:registrar_padre' %}";
        var url_jurado = "{% url 'usuarios:registrar_jurado' %}";
    </script>
    <script src="{% static 'js/custom/gestion_usuarios.js' %}"></script>

    <script>
        $(document).ready(function () {
            var id_organizaciones = "";
            {% for organizacion in organizaciones %}
                id_organizaciones += {{ organizacion.pk }} + ","
            {% endfor %}

            $('#org').val(id_organizaciones);
        });
    </script>
    <script>
        var organizaciones = "";
        {% for organizacion in organizaciones %}
            organizaciones += {{ organizacion.pk }} + ","
        {% endfor %}
        var url_api_listado_usuarios = '{% url "usuarios:api_usuarios_listado" %}';
        var urlContrasena = "{% url 'usuarios:restablecer_password' 0 %}";
        var urlModificar = "{% url 'usuarios:modificar' 0 %}";
        var urlCorreoVerificar = "{% url 'usuarios:verificar_correo' 0 %}"
    </script>
    <script src="{% static 'js/custom/listado_usuarios.js'%}"></script>
    <script>
        cargar_tabla();
    </script>
{% endblock js %}

