{% extends 'base_tablas.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    Gestión Salarios
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Formularios</li>
    <li class="breadcrumb-item active">Gestión Salarios</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-open icon-orange"></i> Gestión Salarios
{% endblock titulo_pagina %}

{% block contenido_panel %}
<div class="row m-b-9">
    <div class="col-md-12">
        <p class="mb-1">
            <i>A continuación se presentan los salarios registrados en el sistema y diferentes herramientas para
                su gestión.</i>
        </p>
    </div>
    <div class="col-md-12" align="right">
        <a class="btn btn-primary" href="{% url 'usuarios:registrar_salario' %}"><i class="fas fa-coins"></i>
            Registrar Salario</a>
    </div>
</div>
<div class="row">
    <div class="col-12 m-t-5">
        <div class="table-fix">
            <table class="table table-bordered table-striped table-td-valign-middle datatable">
                <thead>
                    <tr>
                        <th>País</th>
                        <th>Año</th>
                        <th>Cantidad</th>
                        <th>Tipo de moneda</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for salario in salarios %}
                    <tr>
                        <td>{{salario.pais_nombre}}</td>
                        <td>{{salario.anio}}</td>
                        <td>{{salario.cantidad}}</td>
                        <td>{{salario.tipo}}</td>
                        <td align="center">
                            {% if salario.activo == True %}
                            <span class="label label-lime">ACTIVA</span>
                            {% else %}
                            <span class="label label-secondary">INACTIVA</span>
                            {% endif %}
                        </td>
                        <td align="center">
                            <div class="row">
                                <div class="col-lg col-md-4 col-sm-4 col-xs-12">
                                    <a title="Modificar" href="{% url 'usuarios:modificar_salario' salario.id %}"><i
                                            class="fas fa-pen-alt"></i></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock contenido_panel %}


{% block js %}
    {{ block.super }}
{% endblock js %}
