{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Mi Perfil
{% endblock titulo %}

{% block css %}
    <link href="{% static 'css/cropping/cropper.min.css' %}" rel="stylesheet"/>

    <link rel="stylesheet" href="{% static 'plugins/intl-tel-input-17.0.0/build/css/intlTelInput.css' %}">

    <style>
        .iti__flag {
            background-image: url("{% static 'plugins/intl-tel-input-17.0.0/build/img/flags.png' %}");
        }

        @media (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
            .iti__flag {
                background-image: url("{% static 'plugins/intl-tel-input-17.0.0/build/img/flags@2x.png' %}");
            }
        }

        .iti.iti--allow-dropdown {
            display: block;
        }

        label[for=id_telefono] {
            display: block;
        }
    </style>
{% endblock css %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item active">Mi Perfil</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-user icon-orange"></i> Mi Perfil
{% endblock titulo_pagina %}

{% block contenido_panel %}

    <form id="form_perfil" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <div class="mb-3 col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="row justify-content-center">
                    <div class="mt-2 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" align="center">
                        {% if user.foto_perfil %}
                            <a href="{{ user.foto_perfil.url }}" data-lightbox="gallery-group-usuario">
                                <div>
                                    <img src="{{ user.foto_perfil.url }}" class="img-circle">
                                </div>
                            </a>
                        {% else %}
                            <img src="{% static 'img/jovenens/predeterminada.jpg' %}" class="img-circle">
                        {% endif %}
                        <h4 class="m-b-0 mt-3">{{ user.first_name }} {{ user.last_name }}</h4>
                        <p style="font-size:1vw" class="text-muted m-b-0">{{ user.email }}</p>
                        <small class="m-b-1">{{ user.get_tipo_display }}</small>
                    </div>
                    <div class="input mt-3 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div style="height: calc(1.2em + 14px + 2px); overflow:hidden;" class="custom-file">
                            <div>
                                <input type="file" name="foto_perfil" accept="image/*" class="custom-file-input"
                                       id="id_foto_perfil">
                                <label style="height: calc(1.2em + 14px + 2px);" class="custom-file-label"
                                       for="inputGroupFile01">{{ user.foto_perfil|default:'Seleccione una imagen...' }}</label>
                            </div>
                        </div>
                        <div class="col-12 form-check checkbox checkbox-css pt-0 checkbox-inline">
                            <div class="form-check pl-0">
                                <input type="checkbox" class="form-check-input" name="imagen-clear"
                                       id="imagen-clear_id">
                                <label class="form-check-label" for="imagen-clear_id">Limpiar Imagen de perfil</label>
                            </div>
                        </div>

                        {% if user.tipo == 'Organización' %}
                            <div style="height: calc(1.2em + 14px + 2px); overflow:hidden;"
                                 class="custom-file col-md-12">
                                <div>
                                    <input type="file" accept="image/*" name="logo" class="custom-file-input"
                                           id="id_logo">
                                    <label style="height: calc(1.2em + 14px + 2px);" class="custom-file-label"
                                           for="id_logo">{{ form.logo.value|default:' Seleccione un logo...' }}</label>
                                </div>
                            </div>
                            <div class="col-12 form-check checkbox checkbox-css pt-0 checkbox-inline">
                                <div class="form-check pl-0">
                                    <input type="checkbox" class="form-check-input" name="logo-clear"
                                           id="logo-clear_id">
                                    <label class="form-check-label" for="logo-clear_id">Limpiar logo de perfil</label>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="mb-3 col-12 col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <!-- begin nav-pills -->
                <ul class="nav nav-pills mb-2">
                    <li class="nav-item">
                        <a href="#nav-datos-basicos" data-toggle="tab" class="nav-link active"
                           aria-controls="nav-datos-basicos"
                           aria-selected="true"
                           role="tab"
                        >
                            <span class="d-sm-none">Datos Básicos</span>
                            <span class="d-sm-block d-none">Datos Básicos</span>
                        </a>
                    </li>
                    {% if user.tipo == 'Organización' %}
                        <li class="nav-item">
                            <a href="#nav-caracteristicas" data-toggle="tab" class="nav-link"
                               aria-controls="nav-caracteristicas"
                               aria-selected="{% if  '#nav-caracteristicas' in request.path %}true{% else %}false{% endif %}"
                               role="tab"
                            >
                                <span class="d-sm-none">Características</span>
                                <span class="d-sm-block d-none">Características</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="#nav-ubicacion" data-toggle="tab" class="nav-link"
                           aria-controls="nav-ubicacion"
                           aria-selected="{% if  '#nav-ubicacion' in request.path %}true{% else %}false{% endif %}"
                           role="tab"
                        >
                            <span class="d-sm-none">Mi Ubicación</span>
                            <span class="d-sm-block d-none">Mi Ubicación</span>
                        </a>
                    </li>

                    {% if user.es_superusuario or not user.es_superusuario %}
                        <li class="nav-item">
                            <a href="#nav-privacidad" data-toggle="tab" class="nav-link"
                               aria-controls="nav-privacidad"
                               aria-selected="{% if  '#nav-privacidad' in request.path %}true{% else %}false{% endif %}"
                               role="tab"
                            >
                                <span class="d-sm-none">Privacidad</span>
                                <span class="d-sm-block d-none">Privacidad</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
                <!-- end nav-pills -->
                <!-- begin tab-content -->
                <div class="tab-content p-15 rounded bg-white">
                    <!-- begin tab-pane -->
                    <div class="tab-pane fade active show" id="nav-datos-basicos">
                        {% if request.user.tipo != "Organización" %}
                            <h3 class="m-t-10">Datos Personales</h3>
                        {% else %}
                            <h3 class="m-t-10">Datos básicos</h3>
                        {% endif %}
                        <div class="row mt-3">
                            {% for campo in form %}
                                {% if request.user.tipo == "Joven" %}
                                    {% if forloop.counter <= 12 and not campo.name == 'foto_perfil' %}
                                        {% if campo.name == 'telefono' %}
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                                <div class="form-group">
                                                    <label for="id_direccion">Dirección</label>
                                                    <input type="text" name="direccion" maxlength="100"
                                                           class="form-control"
                                                           title="Actualice su dirección en la pestaña 'Mi ubicación'"
                                                           id="id_direccion"
                                                           value="{{ direccion|default:"" }}" disabled="">
                                                    <small class="form-text text-muted">
                                                         <a href="#nav-ubicacion">
                                                            Actualice su dirección en la pestaña 'Mi ubicación'.
                                                        </a>
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                                {% bootstrap_field campo placeholder="" %}
                                            </div>
                                        {% elif campo.name == 'indicativo_telefono' %}
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4" style="display:none;">
                                                {% bootstrap_field campo placeholder="" %}
                                            </div>
                                        {% else %}
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                                {% bootstrap_field campo placeholder="" %}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% elif request.user.es_superusuario %}
                                    {% if forloop.counter <= 10 and not campo.name == 'foto_perfil' %}
                                        {% if campo.name == 'telefono' %}
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                                <div class="form-group">
                                                    <label for="id_direccion">Dirección</label>
                                                    <input type="text" name="direccion" maxlength="100"
                                                           class="form-control"
                                                           title="Actualice su dirección en la pestaña 'Mi ubicación'"
                                                           id="id_direccion"
                                                           value="{{ direccion|default:"" }}" disabled="">
                                                    <small class="form-text text-muted">
                                                         <a href="#nav-ubicacion">
                                                            Actualice su dirección en la pestaña 'Mi ubicación'.
                                                        </a>
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                                {% bootstrap_field campo placeholder="" %}
                                            </div>
                                        {% elif campo.name == 'indicativo_telefono' %}
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4" style="display:none;">
                                                {% bootstrap_field campo placeholder="" %}
                                            </div>
                                        {% else %}
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                                {% bootstrap_field campo placeholder="" %}
                                            </div>
                                        {% endif %}

                                    {% endif %}
                                {% elif request.user.tipo == 'Organización' %}
                                    {% if forloop.counter <= 12 and not campo.name == 'foto_perfil' %}
                                        {% if campo.name == 'telefono' %}
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label for="id_direccion">Dirección</label>
                                                    <input type="text" name="direccion" maxlength="100"
                                                           class="form-control"
                                                           title="Actualice su dirección en la pestaña 'Mi ubicación'"
                                                           id="id_direccion"
                                                           value="{{ direccion|default:"" }}" disabled="">
                                                    <small class="form-text text-muted">
                                                        <a href="#nav-ubicacion">
                                                            Actualice su dirección en la pestaña 'Mi ubicación'.
                                                        </a>
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                                {% bootstrap_field campo placeholder="" %}
                                            </div>
                                        {% elif campo.name == 'indicativo_telefono' %}
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4" style="display:none;">
                                                {% bootstrap_field campo placeholder="" %}
                                            </div>
                                        {% else %}
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                                {% bootstrap_field campo placeholder="" %}
                                            </div>
                                        {% endif %}

                                    {% endif %}

                                {% endif %}
                            {% endfor %}
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12" align="center">
                                <p>
                                    <button class="btn btn-primary" type="submit" id='btn-datos-personales'>Actualizar
                                        Datos <i class="fa fa-save"></i></button>
                                </p>

                            </div>
                        </div>
                    </div>
                    {% if request.user.tipo == 'Organización' %}
                        <div class="tab-pane fade" id="nav-caracteristicas">
                            <h3 class="m-t-10">Características</h3>
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                    {% bootstrap_field form.para_que_existimos placeholder="" %}
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                    {% bootstrap_field form.que_ofrecemos placeholder="" %}
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                    {% bootstrap_field form.que_jovenens_buscamos placeholder="" %}
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                    {% bootstrap_field form.facebook placeholder="" %}
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                    {% bootstrap_field form.instagram placeholder="" %}
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                    {% bootstrap_field form.twitter placeholder="" %}
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12" align="center">
                                <p>
                                    <button class="btn btn-primary" type="submit">Actualizar Datos <i
                                            class="fa fa-save"></i></button>
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    <div class="tab-pane fade" id="nav-ubicacion">
                        <h3 class="m-t-10">Mi Ubicación</h3>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <p><i class="icon-location-pin"></i>
                                Para actualizar su ubicación <b>haga clic DERECHO sobre el mapa, utilice el buscador o
                                    mueva el <u>marker AZUL</u></b>
                                <img width="15" src="{% static 'img/extra/marker.png' %}"> hacia la ubicación deseada,
                                después haga clic en el botón <label class="label label-purple">Guardar mi
                                    Ubicación</label>
                            </p>
                            <div id="buscador" class="row justify-content-center mb-2">
                                <div class="form-group" style="margin:0; position: relative; width:50%">
                                    <input id="pac-input" class="controls form-control" type="text"
                                           placeholder="Buscar en el mapa...">
                                    <button id="btn_buscar" type="button" class="btn btn-search btn-buscar"><i
                                            class="fa fa-search"></i></button>
                                </div>
                            </div>
                            <div id="map" class="map-mi-perfil-address mb-3"></div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12" align="center">
                            <p>
                                <button type="button" onclick="gMap.guardar_direccion()" class="btn btn-primary px-3"
                                        id="#btn-guardar-ubicacion">Guardar mi Ubicación
                                </button>
                            </p>
                        </div>
                        {{ form.x }}
                        {{ form.y }}
                        {{ form.width }}
                        {{ form.height }}
                    </div>
                    <!-- begin tab-pane -->
                    {% if user.es_superusuario or not user.es_superusuario %}
                        <div class="tab-pane fade" id="nav-privacidad">
                            <h3 class="m-t-10">Privacidad</h3>
                            <div class="row mt-3">
                                {% for campo in form %}
                                    {% if campo.name == 'terminos' or campo.name == 'notificaciones' or campo.name == 'notificaciones_whatsappp' %}
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" align="left">
                                            {% bootstrap_field campo field_class="form-check checkbox checkbox-css pt-0 checkbox-inline" %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                {% if user.terminos == True %}
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12" align="left">
                                        <p>Ver <a
                                                href="{% static 'pdf/TerminosdelServicio_Empo_MiEslabon.com_2020-07-01.pdf' %}"
                                                target="_blank">Términos y Condiciones de Uso</a>
                                            -
                                            <a href="{% static 'pdf/PolíticaPrivacidadTratamientoDatos_Empo_MiEslabon.com_2020-07-01.pdf' %}"
                                               target="_blank">Política de Privacidad y Tratamiento de Datos.</a>
                                        </p>
                                    </div>
                                {% endif %}
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12" align="center">
                                    <p>
                                        <button class="btn btn-primary" type="submit" id="#btn-privacidad">Actualizar
                                            Privacidad <i class="fa fa-save"></i></button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <!-- end tab-pane -->
                </div>
                <!-- end tab-content -->
            </div>
        </div>
    </form>

    <!-- MODAL TO CROP THE IMAGE -->
    <div class="modal fade" id="modalCrop">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Imagen de Perfil</h4>
                </div>
                <div class="modal-body">
                    <p>Arrastre el recuadro para redimensionar su foto de perfil.</p>
                    <img src="" id="image" style="max-width: 100%;">
                </div>
                <div class="modal-footer">
                    <div class="btn-group pull-left" role="group">
                        <button type="button" class="btn btn-default js-zoom-in">
                            <i class="fas fa-search-plus"></i>
                        </button>
                        <button type="button" class="btn btn-default js-zoom-out">
                            <i class="fas fa-search-minus"></i>
                        </button>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary js-crop-and-upload">Cortar y Subir</button>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

{% block js %}

    <script>
        $("#btn-datos-personales, #btn-privacidad").on('click', function () {
            let para_que_existimos = $("#id_para_que_existimos")
            let que_ofrecemos = $("#id_que_ofrecemos")
            let que_jovenes_buscamos = $("#id_que_jovenens_buscamos")

            let elementos = [para_que_existimos, que_ofrecemos, que_jovenes_buscamos]

            let completo = true
            for (let element of elementos) {
                if (element[0].value == "") {
                    completo = false
                    break
                }
            }
            ;

            if (completo == false) {
                // window.location.replace(window.location.href+='#nav-caracteristicas')
            }
        })


        //onclick="location.href='/#nav-caracteristicas'"
    </script>
    <script>
        document.querySelector('#id_logo').addEventListener('change', function (e) {
            var fileName = document.getElementById("id_logo").files[0].name;
            var nextSibling = e.target.nextElementSibling;
            nextSibling.innerText = fileName;
        });
    </script>
    <script>
        var url = document.location.toString();
        const abrir_tap = (url) => {
            if (url.match('#')) {
                $('.nav-item a[href="#' + url.split('#')[1] + '"]').tab('show');
            }
        }
        abrir_tap(url);

        $("a[href*='#nav-']").click(function () {
            abrir_tap($(this).attr("href"));
        });

        // Change hash for page-reload
        $('.nav-item a').on('shown.bs.tab', function (e) {
            window.location.hash = e.target.hash;
        })
    </script>
    <script src="{% static 'js/custom/usuario_forms.js' %}"></script>
    <script>
        window.onload = function () {
            if (document.querySelector('#id_fecha_de_nacimiento') !== null) {
                set_fecha_nacimiento_maxima();
                fecha = document.querySelector("label[for='id_fecha_de_nacimiento']");
                fecha.innerHTML = "Fecha de nacimiento*";
            }
        };
    </script>
    <script src="{% static 'js/cropping/cropper.min.js' %}"></script>
    <script>
        var imagen_recortada = $("#image");
        var terminos_val = "{{ form.terminos.value }}";
        var imagen_actual = "{{user.foto_perfil}}";
        document.getElementById('id_direccion').disabled = true;
        var terminos_text = '<a href="{% static 'pdf/TerminosdelServicio_Empo_MiEslabon.com_2020-07-01.pdf' %}" target="_blank">' +
            'Términos y Condiciones de Uso</a> y la <a href="{% static 'pdf/PolíticaPrivacidadTratamientoDatos_Empo_MiEslabon.com_2020-07-01.pdf' %}" target="_blank">' +
            'Política de Privacidad y Tratamiento de Datos.</a>';
        init_usuario();
    </script>
    <script>
        var token = '{{csrf_token}}';
        var solo_lectura = false;
        var pk_usuario = {{ pk_usuario }};
        var url_api_cargar_direccion = "{% url 'usuarios:api_cargar_direccion' %}";
        var url_api_guardar_direccion = "{% url 'usuarios:api_guardar_direccion' %}";
        var gMap = null;
    </script>
    <script src="{% static 'js/custom/googleMap.js' %}"></script>
    <script src="{% static 'js/custom/initGoogleMaps.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_KEY }}&libraries=places,drawing&callback=initMap"></script>

    <script src="{% static 'plugins/intl-tel-input-17.0.0/build/js/intlTelInput.js' %}"></script>
    <script>
        modificar_indicativo_telefono();
    </script>

{% endblock js %}
