{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Modificar Usuario
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url "usuarios:listado_usuarios" %}">Gestión Usuarios</a></li>
    <li class="breadcrumb-item active">Modificar Usuario</li>
{% endblock miga_pan %}


{% block titulo_pagina %}
    <i class="icon-user icon-orange"></i> Modificar Usuario
{% endblock titulo_pagina %}
{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/intl-tel-input-17.0.0/build/css/intlTelInput.css' %}">

    <style>
        .iti__flag {
            background-image: url("{% static 'plugins/intl-tel-input-17.0.0/build/img/flags.png' %}");
        }

        @media (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
            .iti__flag {
                background-image: url("{% static 'plugins/intl-tel-input-17.0.0/build/img/flags@2x.png' %}");
            }
        }

        .iti.iti--allow-dropdown {
            display: block;
        }

        label[for=id_telefono] {
            display: block;
        }
    </style>
{% endblock css %}

{% block contenido_panel %}
    <form method="post">{% csrf_token %}
        <div class="row">
            <div class="col-12 mb-2">
                <p class="mb-1">
                    <i>El siguiente formulario permite modificar las diferentes características de un usuario en particular.</i>
                </p>
            </div>
            {% for campo in form %}
                {% if campo.name == 'is_active' or campo.name == 'es_premium'%}
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12" align="left">
                        {% bootstrap_field campo field_class="form-check checkbox checkbox-css pt-0 checkbox-inline" placeholder="" %}
                    </div>
                {% elif campo.name == 'indicativo_telefono'%}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="display:none;">
                        {% bootstrap_field campo placeholder="" %}
                    </div>
                {% else %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        {% bootstrap_field campo placeholder="" %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-6" align="left">
                <a class="btn btn-secondary" href="{% url "usuarios:listado_usuarios" %}"><i class="fa fa-angle-left"></i> Atrás</a>
            </div>
            <div class="col-6" align="right">
                <button class="btn btn-primary" type="submit">Modificar Usuario <i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </form>
{% endblock contenido_panel %}

{% block js %}
    <script src="{% static 'js/custom/usuario_forms.js' %}"></script>
    <script>
        window.onload = function() {
            set_fecha_nacimiento_maxima();
        };
        function set_fecha_nacimiento_maxima() {
            hoy = new Date();
            max_f = new Date();
            max_f.setFullYear(hoy.getFullYear() - 13);
            fecha_max = new Date(max_f.getTime() - max_f.getTimezoneOffset() * -60000); //normalizar hora
            $('#id_fecha_de_nacimiento').data("DateTimePicker").maxDate(fecha_max);
        }
        fecha = document.querySelector("label[for='id_fecha_de_nacimiento']");
        fecha.innerHTML = "Fecha de nacimiento*";
    </script>

    <script src="{% static 'plugins/intl-tel-input-17.0.0/build/js/intlTelInput.js' %}"></script>

    <script>
        modificar_indicativo_telefono();
    </script>

{% endblock js %}
