{% extends 'base_logout.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Registrarme
{% endblock titulo %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/intl-tel-input-17.0.0/build/css/intlTelInput.css' %}">

    <style>
        .iti__flag {
            background-image: url("{% static 'plugins/intl-tel-input-17.0.0/build/img/flags.png' %}");
        }

        @media (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
            .iti__flag {
                background-image: url("{% static 'plugins/intl-tel-input-17.0.0/build/img/flags@2x.png' %}");
            }
        }

        .iti.iti--allow-dropdown {
            display: block;
        }

        label[for=id_telefono] {
            display: block;
        }
    </style>
{% endblock css %}

{% block contenido %}
    <div class="login-content">
        <form  id="formulario" method="post" class="margin-bottom-0">
            {% csrf_token %}
            <div class="row">                
                {% if form.acepta_terminos %}
                    <div class="col-12 mb-3">
                        <p class="mb-1">
                            <i>El siguiente formulario le permite registrarse en el sistema como un <b>JOVEN</b>.</i>
                        </p>
                    </div>
                {% endif %}

                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    {% bootstrap_field form.first_name placeholder="" %}
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    {% bootstrap_field form.last_name placeholder="" %}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    {% bootstrap_field form.email placeholder="" %}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    {% bootstrap_field form.password1 placeholder="" %}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    {% bootstrap_field form.password2 placeholder="" %}
                </div>
                <div id="fecha_de_nacimiento_div" class="col-12 col-sm-12 col-md-6 col-lg-6">
                    {% bootstrap_field form.fecha_de_nacimiento %}
                </div>
                <div id="telefono" class="col-12 col-sm-12 col-md-6 col-lg-6">
                    {% bootstrap_field form.telefono placeholder="" %}                    
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6" style="display: none;">
                    {% bootstrap_field form.is_active placeholder="" %}
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6" style="display: none;">
                    {% bootstrap_field form.indicativo_telefono placeholder="" %}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12" align="left">
                    {% bootstrap_field form.terminos field_class="form-check checkbox checkbox-css pt-0 checkbox-inline" %}
                </div>
                {% if form.non_field_errors %}
                <div class="col-12">
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="login-buttons">
                <div class="row">
                    <div class="col-12" align="center">
                        <div class="col-6 mb-1" align="center">
                            <button id="registrarse" class="btn btn-primary btn-block btn-lg px-3" type="submit">Registrarme</button>                            
                        </div>
                    </div>
                    <div class="col-12" align="center">
                        <p style="font-size: 13px">¿Ya tienes cuenta? | <b><a href="{% url 'usuarios:iniciar_sesion' %}">Ingresa aquí.</a></b></p>
                    </div>
                </div>

            </div>
        </form>
    </div>


<div id="modal_filtro" class="modal fade" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color:transparent; border-style:none;">
            <img id="img-modal" class="img-responsive" src="{% static 'img/extra/mensaje_edad.png' %}"/>
        </div>
    </div>
</div>

{% endblock contenido %}

{% block js %}
    <script src="{% static 'js/custom/usuario_forms.js' %}"></script>
    <script>

        window.onload = function() {
            if(document.querySelector('#id_fecha_de_nacimiento') !== null){
                set_fecha_nacimiento_maxima();
                fecha = document.querySelector("label[for='id_fecha_de_nacimiento']");
                fecha.innerHTML = "Fecha de nacimiento*";
            }
        };

        document.getElementById('registrarse').disabled = !document.getElementById('id_terminos').checked;
        var terminos_text = '<a href="{% static 'pdf/TerminosdelServicio_Empo_MiEslabon.com_2020-07-01.pdf' %}" target="_blank">' +
            'Términos y Condiciones de Uso</a> y la <a href="{% static 'pdf/PolíticaPrivacidadTratamientoDatos_Empo_MiEslabon.com_2020-07-01.pdf' %}" target="_blank">'+
            'Política de Privacidad y Tratamiento de Datos.</a>';
        $('.fecha').datetimepicker({"format": "YYYY-MM-DD", "icons": {"time": "fa fa-clock-o"}, "locale": "es"});

        $(".readonly").keydown(function(e){
            e.preventDefault();
        });

        if(document.querySelector('#id_terminos') !== null){
            document.querySelector("label[for='id_terminos']").innerHTML = 'He leído y acepto los '+terminos_text+'*';
        }
        document.querySelector("#id_terminos").onchange = function(e){
            document.getElementById('registrarse').disabled = !document.getElementById('id_terminos').checked;
        };

        //init_paises();
    </script>

    <script>

        var cambiar = true;
        document.addEventListener("DOMContentLoaded", function () {
                document.getElementById("formulario").addEventListener('submit', validarFormulario);
            });

        function abrir_filtro() {
            $("#modal_filtro").modal('show');
            cambiar = false;
        }
        function cerrar_filtro() {
            $("#modal_filtro").modal('hide');
        }

        $('#img-modal').click(function () {
            cerrar_filtro();
        });
        function validarFormulario(evento) {
                evento.preventDefault();

                var fecha = new Date(document.getElementById('id_fecha_de_nacimiento').value);

                var min_f = new Date();
                var hoy = new Date();
                min_f.setFullYear(hoy.getFullYear() - 14); // Mayor de 14 años

                if (fecha.getFullYear() > min_f.getFullYear()) {
                    abrir_filtro();
                    document.getElementById("id_is_active").checked = false;
                }

                $("#modal_filtro").on('hidden.bs.modal', function () {
                    document.getElementById('formulario').submit();
                    cambiar = false;
                });

                if (cambiar){
                    this.submit();
                }
        }

    </script>

    <script src="{% static 'plugins/intl-tel-input-17.0.0/build/js/intlTelInput.js' %}"></script>
    <script>
        init_indicativo_telefono();
    </script>

{% endblock js %}

