{% extends 'base.html' %}

{% load bootstrap4 %}

{% block titulo %}
    Registrar Organización
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url "usuarios:listado_usuarios" %}">Gestión Usuarios</a></li>
    <li class="breadcrumb-item active">Registrar Organización</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-user icon-orange"></i> Registrar Organización
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <form method="post">{% csrf_token %}
        <div class="row">
            <div class="col-12 mb-2">
                <p class="mb-1">
                    <i>El siguiente formulario le permite registrar en el sistema una organización.</i>
                </p>
            </div>
            {% for campo in form %}
                {% if campo.name == 'is_active'%}
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12" align="left">
                        {% bootstrap_field campo field_class="form-check checkbox checkbox-css pt-0 checkbox-inline" placeholder="" %}
                    </div>
                {% else %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        {% bootstrap_field campo placeholder="" %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-6" align="left">
                <a class="btn btn-secondary" href="{% url "usuarios:listado_usuarios" %}"><i class="fa fa-angle-left"></i> Atrás</a>
            </div>
            <div class="col-6" align="right">
                <button class="btn btn-primary" type="submit">Registrar Organización <i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </form>
{% endblock contenido_panel %}

