{% extends 'base.html' %}

{% load bootstrap4 %}

{% block titulo %}
    Restablecer Contraseña
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url "usuarios:listado_usuarios" %}">Gestión Usuarios</a></li>
    <li class="breadcrumb-item active">Restablecer Contraseña</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-user icon-orange"></i> Restablecer Contraseña
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <form method="post">{% csrf_token %}
        <div class="row">
            <div class="col-12 mb-2">
                <p class="mb-1">
                    <i>El siguiente formulario le permite restablecer la contraseña de un usuario en particular.</i>
                </p>
            </div>
            {% for campo in form %}
                <div class="col-12">
                    {% bootstrap_field campo placeholder="" %}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-6" align="left">
                <a class="btn btn-secondary" href="{% url "usuarios:listado_usuarios" %}"><i class="fa fa-angle-left"></i> Atrás</a>
            </div>
            <div class="col-6" align="right">
                <button class="btn btn-primary" type="submit">Restablecer Contraseña <i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </form>
{% endblock contenido_panel %}

