{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Tarjeta presentación
{% endblock titulo %}

{% block miga_pan %}   
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Jóvenes</li>
    <li class="breadcrumb-item"><a href="">Ver más</a></li>
    <li class="breadcrumb-item"><a href="">{{usuario}}</a></li>
    
{% endblock miga_pan %}

{% block titulo_pagina %}

{% block css%}
<style>
    .opciones > li > .active{
        background-color: #A32CDF !important;
        color: white !important;
    }
    .nav-link{
        background-color: white;
    }
</style>   
{% endblock css%}

{% endblock titulo_pagina %}
{% block contenido %}
<div class="col-12 my-auto border" style="top: 115px;">
        
</div>
<div class="mt-5 mb-3 row">
    
    <div class="col-9" style="padding: 0; margin: 0;">
        {%if usuario.foto_perfil%}                               
            <img src="{{usuario.foto_perfil.url}}" alt="Imagen perfil" class="img-rectangular my-auto rounded" style="width: 80px; height: 80px;">
        {% else %}
            <img  src="{% static 'img/jovenens/predeterminada.jpg' %}" class="img-rectangular my-auto rounded" style="width: 80px; height: 80px;">
        {% endif %}   
        <strong style="font-size: 25px;" class="ml-2">{{usuario}}</strong>   
    </div>
    
    <div class="col-2 ml-3 my-auto" style="padding: 0; margin: 0;">                                            
        <div class="btn-group  pull-right" align="right">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100px; background-color: #A32CDF; color: white;">
                {{boton_mensaje}}                    
            </button>                                    
                <div class="dropdown-menu">                         
                    {%for mensaje in mensajes%}                                                                                                          
                        <a class="dropdown-item" href="{% url mensaje.url usuario.id 1%}">{{mensaje.accion}}</a>   
                    {%endfor%}                        
                </div>                
          </div>
    </div>    
</div>


<div>
    {% block contenido_panel %}
        <div class="row">
            <div class="container col-3 bg-white rounded">
                <div class="row">
                    <div class="d-flex justify-content-center pt-3 col-12 p-5 bg-white">
                        {%if usuario.foto_perfil%}                               
                            <img src="{{usuario.foto_perfil.url}}" alt="Imagen perfil" class="img-circle my-auto img-fluid">
                        {% else %}
                            <img  src="{% static 'img/jovenens/predeterminada.jpg' %}" class="img-circle my-auto img-fluid">
                        {% endif %}                        
                    </div>
                    <div class="col-12 text-center mt-2">
                        <strong>{{usuario}}</strong>
                    </div>
                    <div class="col-12 text-center mt-5 mb-5 border-top">
                        <p>Visita sus redes</p>
                        {%if usuario.intagram%}
                            <a href="{{usuario.intagram}}"><i class="fab fa-instagram fa-2x ml-1 mr-1 " style="color: gray;"></i></a>
                        {%endif%}
                        {%if usuario.twitter%}
                            <a href="{{usuario.twitter}}"><i class="fab fa-twitter fa-2x ml-1 mr-1" style="color: gray;"></i></a>
                        {%endif%}
                        {%if usuario.facebook%}
                            <a href="{{usuario.facebook}}"><i class="fab fa-facebook fa-2x ml-1 mr-1" style="color: gray;"></i></a>
                        {%endif%}
                        {%if usuario.email%}
                            <a href="mailto: {{usuario.email}}"><i class="fa fa-envelope fa-2x ml-1 mr-1" style="color: gray;"></i></a>
                        {%endif%}
                        
                        
                        
                    </div>
                </div>
                

            </div>
            <div class="col-9">
                <div class="container col-12">
                    <ul class="nav nav-tabs opciones">
                        <li class="nav-item active">
                            <a class="nav-link active" data-toggle="tab" href="#general">General</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" data-toggle="tab" href="#equpios">Equipos</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" data-toggle="tab" href="#amigos">Amigos</a>
                        </li>
                    </ul>
                    <!--GENERAL-->
                    <div class="tab-content">
                        <!--AMIGOS-->
                        <div id="general" class="tab-pane fade In active show">
                            <div class="row">
                                <div class="col-12 border-top mt-2">
                                    <div class="row mt-2">                                        
                                        {%if usuario.obtener_insignias.tribu.imagen%}
                                            <div class="col-lg-2 col-xl-2 col-sm-3 mt-2" >                                            
                                                <img src="{{usuario.obtener_insignias.tribu.imagen.url}}" class="rounded-lg img-fluid" style="background-color: #EDEFEF;" alt="Imagen insignia tribu"/>
                                            </div>  
                                        {%endif%}                                                                                                               
                                        {%for rol in usuario.obtener_insignias.roles%}
                                            <div class="col-lg-2 col-xl-2 col-sm-3 mt-2">     
                                                <img src="{{rol.imagen.url}}" class="rounded-lg img-fluid" style="background-color: #EDEFEF;" alt="Imagen insignia role"/>
                                            </div>
                                        {%endfor%}            
                                        {%if usuario.obtener_insignias.nivel.imagen%}                                  
                                            <div class="col-lg-2 col-xl-2 col-sm-3 mt-2">                                            
                                                <img src="{{usuario.obtener_insignias.nivel.imagen.url}}" class="rounded-lg img-fluid" style="background-color: #EDEFEF;" alt="Imagen nivel conocimiento"/>
                                            </div> 
                                        {%endif%}   
                                    </div>
                                </div>
                            </div>                                           
                        </div>
                        <!--EQUIPOS-->
                        <div id="equpios" class="bg-light p-2 tab-pane fade In " >
                            <div class="row">
                                {% for equipo in equipos %}
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 px-0 card-contenido">
                                        <div class="card border-0 mx-1 my-1">
                                            {% if equipo.logo %}
                                                <a href="{{equipo.logo.url}}" data-lightbox="gallery-group-organizacion-{{ equipo.pk }}">
                                                    <div class="hovereffect">
                                                        <img style="height: 275px;" src="{{equipo.logo.url}}" class="card-img-top img img-fluid centerImage">
                                                    </div>
                                                </a>
                                            {% else %}
                                                <div class="hovereffect">
                                                    <img src="{% static 'img/extra/no-image.jpg' %}" class="card-img-top img img-fluid centerImage">
                                                </div>
                                            {% endif %}
                                            <div class="card-body">
                                                <a href="" style="width: 100%">
                                                    <h6 class="card-title m-t-0 m-b-10" data-max-characters="80">{{equipo.nombre}}</h6>
                                                </a>

                                                <div class="row ml-1 mt-3" style="height: 80px" >
                                                    <p data-max-characters="200" class="card-text">{{ equipo.descripcion }}</p>
                                                </div>
                                                <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4; border-top: 1px solid #c4c4c4">
                                                    <div class="col-12 py-2" align="center">                                                    
                                                        {% for tribu in equipo.tribus.all %}
                                                            <img width="35" title="{{ tribu.nombre|title }}" alt="{{ tribu.nombre|title }}" class="mx-0" src="{{ tribu.imagen.url }}">
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-7 pr-0 centrar" align="left">
                                                        <span class="calificacion like pr-1">
                                                            <a title="Me gusta" id="like1-contenido-{{ equipo.pk }}" href="javascript:calificar_contenido(1,{{ equipo.pk }},{{ request.user.pk }})"><i class="fas fa-thumbs-up fa-lg"></i></a>
                                                        </span>
                                                        <span class="calificacion dislike pr-1">
                                                                <a title="No me gusta" id="like0-contenido-{{ equipo.pk }}" href="javascript:calificar_contenido(0,{{ equipo.pk }},{{ request.user.pk }})"><i class="fas fa-thumbs-up fa-rotate-180 fa-lg"></i></a>
                                                        </span>
                                                    </div>
                                                    <div class="col-5 px-0 pt-1" align="right">
                                                        <a href="{% url "equipos:detalle_equipo" equipo.id %}" class="btn btn-primary px-3">Ver Más</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}
                                    <div class="col-12 px-0" align="center">
                                        <h4 class="mt-5">No se encontraron equipos.</h4>
                                    </div>
                                {% endfor %}  
                            </div>
                        </div>                           
                        <div id="amigos" class="tab-pane fade In">  
                            <div class="row">                   
                                {%for joven in amigos%}
                                    <div class="container-fluid col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 rounded my-1 py-1 align-items-center border">
                                        <div class="row">
                                            <div class="col-1 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-2 my-auto">    
                                                {%if joven.usuario.foto_perfil%}
                                                    <img src="{{joven.usuario.foto_perfil.url}}" alt="Imagen perfil" class="img-circle my-auto" style="width: 50px; height: 50px;">
                                                {% else %}
                                                    <img  src="{% static 'img/jovenens/predeterminada.jpg' %}" class="img-circle my-auto" style="width: 50px; height: 50px;">
                                                {% endif %}
                                            </div>
                                            <div class="col-2 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-2 my-auto ml-3">
                                                <strong>{{joven.usuario}}</strong>
                                            </div>
                                                                                
                                            <div class="row justify-content-center col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 my-auto no-gutters">                                                                                                          
                                                <div class="bg-green text-center mt-2"  style="border-radius: 50px; width: 110px;">
                                                    <strong>{{joven.usuario.obtener_insignias.tribu}}</strong>
                                                </div>                                                        
                                                {%for rol in joven.usuario.obtener_insignias.roles%}
                                                    <div class="bg-orange text-center mt-2"  style="border-radius: 50px; width: 110px;">
                                                        <strong>{{rol}}</strong> 
                                                    </div>
                                                {%endfor%}
                                                <div class="bg-yellow text-center mt-2" style="border-radius: 50px; width: 110px;">
                                                    <strong>{{joven.usuario.obtener_insignias.nivel}}</strong>                                                     
                                                </div>                     
                                            </div>   
                                            
                                            <div class="row col-xs-12 col-sm-12 col-xl-2 justify-content-center align-items-center my-2" >                                            
                                                <div class="btn-group">
                                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 30px; background-color: #A32CDF; color: white;">
                                                        {{joven.boton_mensaje}}                                                                           
                                                    </button>                                                   
                                                    <div class="dropdown-menu"> 
                                                        <a class="dropdown-item" href="{% url 'usuarios:tarjeta_presentacion' joven.usuario.id %}">Visitar perfil</a>
                                                        {%for mensaje in joven.mensajes%}                                                                   
                                                            <a class="dropdown-item" href="{% url mensaje.url joven.usuario.id 1%}">{{mensaje.accion}}</a>   
                                                        {%endfor%} 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                                                        
                                    </div>
                                {%endfor%}      
                            </div>                         
                        </div>
                                             
                    </div>
                </div> 
            </div>
        </div>        
    {% endblock contenido_panel %}
</div>
{% endblock contenido %}

{% block js %}
    <script>
        var token = '{{csrf_token}}';
        var url_api_cargar_calificaciones_contenidos = "{% url 'equipos:api_cargar_calificaciones' %}";
        var url_api_calificar_contenido = "{% url 'equipos:api_calificar' %}"
    </script>
    <script src="{% static 'js/custom/calificacion.js' %}"></script>
    <script>
        initCalificacionesContenido({{ request.user.pk }},{{ equipo.pk }});
    </script>
    <script>
        $("p").each(function() {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if(length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
        $("h6").each(function() {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if(length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
    </script>

{% endblock js %}