{% extends 'base_tablas.html' %}
{% load static %}
{% load bootstrap4 %}
{% load extra_tags %}

{% block titulo %}
    Gestión de Solicitudes de Retos de todas las Organizaciones
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="">Retos</a></li>
    <li class="breadcrumb-item active"><a href="">Gestión de Solicitudes</a></li>
    <li class="breadcrumb-item active"><a href="">{{filtro_actual}}</a></li>   
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-direction icon-orange"></i> Gestión de Solicitudes {{filtro_actual}}
{% endblock titulo_pagina %}

{% block contenido %}
{% block contenido_panel %}
<div class="row">
    <div class="col-12">
        <form method="GET" class='col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>  
            <div class="my-1 btn btn-sm form-group my-1 mx-0 p-0" > 
                <select class="btn btn-sm btn-outline-orange" style="width: 100px; margin: 0;" name="q" id="filtro" onchange="this.form.submit()">               
                    <option value='Jóvenes' style="height: 50px;">Jóvenes</option>
                    <option value='Equipos' style="height: 50px;">Equipos</option>
                </select>
            </div>
            {% for tipo in tipos %}
                <input type="submit" name="tag" value="{{ tipo.nombre }}" class="btn btn-sm {% if tipo.nombre == tag %}btn-orange{% else %}btn-outline-orange{% endif %}">
            {% endfor %}            
        </form>

    </div>

    
    <div class="col-12 contenido">
        <div class="row">
    
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">    
            
            <div class="tab-content p-15 rounded bg-white">
                <div class="tab-pane fade active show">
                                     
                    <div class="row m-b-9">
                        <div class="col-md-12">
                            <p class="mb-1">
                                <i>A continuación se presentan las Solicitudes de los {{filtro_actual}} que quieren pertenecer un reto:</i>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 m-t-5">
                            <div class="table-fix">
                                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                                    <thead>
                                        <tr>                   
                                            {% for cabecera in nombre_columnas %}                         
                                                <th>{{cabecera}}</th>                                               
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for solicitud in solicitudes %}
                                        <tr>
                                            {% if filtro_actual == 'Equipos' %}
                                                <td>{{solicitud.equipo}}</td>
                                            {% else %}
                                                <td>{{solicitud.joven}}</td>
                                            {% endif %}                                            
                                            <td>                                                
                                                <a class="" href="{% url 'retos:consultar_reto' solicitud.reto.id%}"><small><b>{{solicitud.reto}}</b></small></a> 
                                            </td>
                                            {% if solicitud.estado == 'Postulado' %}                                                            
                                                <th><span class="label label-aqua">{{solicitud.estado}}</span></th>                                                          
                                            {% else %}                                                            
                                                <th><span class="label label-lime">{{solicitud.estado}}</span></th>                                                            
                                            {% endif %}
                                            
                                            <th>{{solicitud.fecha_creacion}}</th>      
                                            <td align="center">                                                
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        {% if solicitud.estado == 'Postulado' %}    
                                                            {% if filtro_actual == 'Equipos' %}                                                   
                                                                <a class="btn btn-sm btn-red" href="{% url 'retos:retos_rechazar_solicitud_equipo' solicitud.equipo.id solicitud.reto.id%}"><small><b>Rechazar Postulación</b></small></a>  
                                                                <a class="btn btn-sm btn-green" href="{% url 'retos:retos_aceptar_solicitud_equipo' solicitud.equipo.id solicitud.reto.id%}"><small><b>Aceptar Postulación</b></small></a>
                                                            {% else %}  
                                                                <a class="btn btn-sm btn-red" href="{% url 'retos:retos_rechazar_solicitud_joven' solicitud.joven.id solicitud.reto.id%}"><small><b>Rechazar Postulación</b></small></a> 
                                                                <a class="btn btn-sm btn-green" href="{% url 'retos:retos_aceptar_solicitud_joven' solicitud.joven.id solicitud.reto.id%}"><small><b>Aceptar Postulación</b></small></a>            
                                                            {% endif %}                                                       
                                                        {% else %}         
                                                            {% if filtro_actual == 'Equipos' %}                                                   
                                                                <a class="btn btn-sm btn-blue" href="{% url 'retos:retos_rechazar_solicitud_equipo' solicitud.equipo.id solicitud.reto.id%}"><small><b>Cancelar Invitación</b></small></a>                                                                 
                                                            {% else %}  
                                                                <a class="btn btn-sm btn-blue" href="{% url 'retos:retos_rechazar_solicitud_joven' solicitud.joven.id solicitud.reto.id%}"><small><b>Cancelar Invitación</b></small></a>                                                                 
                                                            {% endif %}                                                    
                                                        {% endif %}   
                                                    </div>                                                    
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>

            

           
        </div>
    </div>
</div>
{% endblock contenido_panel %}
{% endblock contenido %}

{% block js %}
{{ block.super }}

    <script>       
        $("#filtro").val('{{filtro_actual}}');
    </script>


{% endblock js %}


