{% extends 'base_tablas.html' %}

{% block titulo %}
    Gestión de Solicitudes de Retos de todas las Organizaciones
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="">Retos</a></li>
    <li class="breadcrumb-item active"><a href="">Gestión de Solicitudes</a></li>
    <li class="breadcrumb-item active"><a href="">Jóvenes</a></li>   
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-direction icon-orange"></i> Gestión de Solicitudes Jóvenes
{% endblock titulo_pagina %}

{% block contenido %}
{% block contenido_panel %}
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="" class="nav-link active formularios">
                        <span class="d-sm-none">Solcitudes Jóvenes</span>
                        <span class="d-sm-block d-none">Solcitudes Jóvenes</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'retos:solicitudes_solicitudes_equipos'%}" class="nav-link formularios">
                        <span class="d-sm-none">Solcitudes Equipos</span>
                        <span class="d-sm-block d-none">Solcitudes Equipos</span>
                    </a>
                </li>                  
            </ul>
            <div class="tab-content p-15 rounded bg-white">
                <div class="tab-pane fade active show">
                    <div class="row m-b-9">
                        <div class="col-md-12">
                            <p class="mb-1">
                                <i>A continuación se presentan las Solicitudes de los Jóvenes que quieren pertenecer un reto:</i>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 m-t-5">
                            <div class="table-fix">
                                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                                    <thead>
                                        <tr>                                            
                                            <th>Joven</th>
                                            <th>Reto</th>
                                            <th>Estado</th>
                                            <th>Fecha Creación</th>                                            
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for solicitud in solicitudes_retos %}
                                        <tr>
                                            <td>{{solicitud.joven}}</td>
                                            <td>{{solicitud.reto}}</td>
                                            <th>{{solicitud.estado}}</th>
                                            <th>{{solicitud.fecha_creacion}}</th>      
                                            <td align="center">                                                
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <a title="Crear" target="_blank" href=""><i class="fas fa-pen-alt"></i> </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock contenido_panel %}
{% endblock contenido %}

