{% extends 'base_tablas.html' %}

{% block titulo %}
    Gestión Roles
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Insignias</li>
    <li class="breadcrumb-item active">Gestión Roles</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-badge icon-orange"></i> Gestión Roles
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>Roles registrados: {{ roles|length }}</i>
            </p>
        </div>
        <div class="col-md-12" align="right">
            <a class="btn btn-primary" href="{% url "insignias:registrar_rol" %}"><i class="fas fa-plus"></i> Registrar Rol</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Imagen</th>
                        <th>Estado</th>
                        <th style="min-width: 50px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rol in roles %}
                        <tr>
                            <td>{{rol.nombre}}</td>
                            <td>{{rol.descripcion}}</td>
                            <td align="center">
                                {% if rol.imagen  %}
                                    <a href="{{rol.imagen.url}}" data-lightbox="gallery-group">
                                        <div>
                                            <img style="max-width: 50px" src="{{rol.imagen.url}}" class="img img-fluid centerImage">
                                        </div>
                                    </a>
                                {% endif %}
                            </td>
                            <td align="center">
                                {% if rol.activo == True %}
                                    <span class="label label-lime">ACTIVO</span>
                                {% else %}
                                    <span class="label label-secondary">INACTIVO</span>
                                {% endif %}
                            </td>
                            <td align="center">
                                <div class="row">
                                    {#                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">#}
                                    {#                                        <a title="Ver Respuestas" href="#"><i class="fas fa-eye"></i></a>#}
                                    {#                                    </div>#}
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <a title="Modificar" href="{% url "insignias:modificar_rol" rol.id %}"><i class="fas fa-pen-alt"></i></a>
                                    </div>
                                    {#                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">#}
                                    {#                                        <a title="Activar/Inactivar" href="#"><i class="fas fa-trash-alt"></i></a>#}
                                    {#                                    </div>#}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

