{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Tablero de organizaciones
    
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Tablero</li>
    <li class="breadcrumb-item"><a href="">Organizaciones</a></li>
    <li class="breadcrumb-item active">Visualizar</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-graph icon-orange"></i> Competencias de los jóvenes
{% endblock titulo_pagina %}

{% block contenido_panel %}


    <div class="row  pl-3 pr-2">        
        <div class="col-9">
            <form method="GET">
                <input type="submit" value="Ver Todo" class="btn btn-sm {% if filtro == 'Todas' %}btn-orange{% else %}btn-outline-orange{% endif %} ml-1">                
                {% for organizacion in sub_organizaciones %}
                    <input type="submit" name="{{organizacion.pk}}" value="{{ organizacion.first_name }}" class="btn btn-sm {% if filtro == organizacion.pk|stringformat:'i' %}btn-orange{% else %}btn-outline-orange{% endif %} ml-1">
                {% endfor %}
            </form>
        </div>        
        <div class="mt-3 col-12">
            <div class="row mb-5 pl-5">
                <div>
                    <h1>Competencias para procesar información</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="pl-5">Cantidad de jóvenes por nivel de desempeño en las competencias de análisis cuantitativo y comprensión lectora</h3>
                        </div>
                        <div class="col-6">
                            <h3 class="pl-5">Relación entre el nivel desempeño en análisis cuantitativo y comprensión lectora (Número de jóvenes)</h3>  
                        </div>
                    </div>
                </div>
                <div class="col-6 bg p-2">                    
                    <div class="col-12 bg p-2" id='info_multiple_porcentaje' style="height: 500px;">                                            
                    </div> 
                </div>                
                <div class="col-6">                                                                         
                    <div class="col-11 bg p-2" id='mapa_riesgo' style="height: 500px;"  align="right">
                    </div>                    
                </div>
            </div>
        </div>

      

        <div class="mt-3 col-12 border-top">
            <div class="row justify-content-center">
                <div class="col-12 mt-3">
                    <h2 class="pl-5">Habilidades sociales y emocionales </h2>
                </div>
                <div class="mt-3 col-12 mb-3">
                    <div class="row justify-content-center text-center"> 
                        {% comment %}    
                            <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1" style="background-color: #1DB1B2;">                            
                                <p style="color: white; opacity: 0.6; font-size: 30px; font-weight: 900;"  class="my-auto">{{jovenes_alto_desempenio}}</p>   
                                <h4 style="color: white;">Número de jóvenes en nivel alto de desempeño en habilidades blandas</h4>                                               
                            </div>    
                            <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1" style="background-color: #4990CE;">   
                                <p style="color: white; opacity: 0.6; font-size: 30px; font-weight: 900;"  class="my-auto"> {{jovenes_bajo_desempenio}}</p>                              
                                <h4 style="color: white;">Número de jóvenes en nivel bajo de desempeño en habilidades blandas</h4>                             
                            </div> 
                        {%endcomment%}
                        <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1" style="background-color:  #F46726";>
                            <p style="color: white; opacity: 0.6; font-size: 30px; font-weight: 900;"  class="my-auto">{{jovenes_alto_transaccional}}</p>   
                            <h4 style="color: white;">Número de jóvenes que son líderes transaccionales</h4>                                               
                        </div>  
                        <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1" style="background-color: #A367DC;">
                            <p style="color: white; opacity: 0.6; font-size: 30px; font-weight: 900;"  class="my-auto">{{jovenes_alto_transformacional}}</p>   
                            <h4 style="color: white;">Número de jóvenes que son líderes transformacionales</h4>                                              
                        </div>
                        <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1" style="background-color: #7E62AC;">
                            <p style="color: white; opacity: 0.6; font-size: 30px; font-weight: 900;"  class="my-auto">{{jovenes_bajo_rendimiento}}</p>    
                            <h4 style="color: white;">Número de jóvenes con baja competencia de liderazgo</h4>                                            
                        </div>

                    </div>
                </div>
                <div class="col-12">
                    <div class="row justify-content-center mt-5">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <h3 class="pl-5">Cantidad de jóvenes por nivel de desempeño en habilidades emocionales</h3>
                                </div>
                                <div class="col-6">
                                    <h3 class="pl-5">Cantidad de jóvenes por tipo de liderazgo</h3> 
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="col-12">                                
                                <div class="col-12" id='informacion_competencias' style="height: 500px;">    
                                </div>                                                
                            </div>
                        </div>                   
                        <div class="col-6">
                            <div class="col-12">                                
                                <div class="col-12" id='jovenes_tipo_liderazgo' style="height: 500px;">                       
                                </div>                                 
                            </div>
                        </div>    
                    </div>                
                </div>

                <div class="col-12 mb-5">
                    <div class="row justify-content-center mt-5">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="pl-5">Cantidad de jóvenes por nivel de desempeño en habilidades sociales</h3>
                                </div>                                
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="col-12">                                
                                <div class="col-12" id='informacion_habilidades_sociales' style="height: 500px;">    
                                </div>                                                
                            </div>
                        </div>                  
                        
                    </div>                
                </div>
                
                <div class="col-12 mb-3 border-top">
                    <div class="row justify-content-center text-center">     
                        <div class="col-12 mt-3 mb-3">
                            <h2 class="pl-5">Intereses</h2>
                        </div>
                        <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1 pt-2" style="background-color: #1DB1B2;">                  
                            <p style="color: white; opacity: 0.6; font-weight: 900;"  class="my-auto h3">{{area_mayor_interes_jovenes}}</h3>      
                            <h4 style="color: white;">Área con mayor interés</h4>                                      
                        </div>    
                        <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1 pt-2" style="background-color: #4990CE;">   
                            <p style="color: white; opacity: 0.6; font-weight: 900;"  class="my-auto h3"> {{area_menor_interes_jovenes}}</h3>                               
                            <h4 style="color: white;">Área con menor interés</h4>                             
                        </div> 
                        {%comment%}
                        <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1 pt-2" style="background-color:  #F46726";>
                            <p style="color: white; opacity: 0.6; font-weight: 900;"  class="my-auto h3">{{area_mayor_aptitud_jovenes}}</h3> 
                            <h4 style="color: white;">Área con mayor aptitud</h4>                                              
                        </div>  
                        <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1 pt-2" style="background-color: #7E62AC;">
                            <p style="color: white; opacity: 0.6; font-weight: 900;"  class="my-auto h3">{{area_menor_aptitud_jovenes}}</h3>           
                            <h4 style="color: white;">Área con menor aptitud</h4>                                     
                        </div>  
                        {%endcomment%}                     

                    </div>
                </div>

            </div>
        </div>
        
        <div class="mt-5 col-12">
            <div class="row justify-content-center">
                <div class="col-12 bg p-2">
                    <h3 class="pl-5">Cantidad de jóvenes por nivel de interés por área del conocimiento</h3> 
                    <div class="col-12" id='nivel_aptitud_area_conocimiento' style="height: 500px;">    
                    </div>                   
                </div>
            </div>
        </div>       
    </div>
   
<!-- Styles -->
    <style>
        #piramide_poblacional {
        width: 100%;
        height: 500px;
        }
    </style>
    
    <!-- Resources -->
    <script src="{% static 'js/custom/graficas/librerias/core.js'%}"></script>
    <script src="{% static 'js/custom/graficas/librerias/charts.js'%}"></script>
    <script src="{% static 'js/custom/graficas/librerias/maps.js'%}"></script>
    <script src="{% static 'js/custom/graficas/librerias/animated.js'%}"></script>

    <script>      
        var informacion_multiple_porcentaje = {{informacion_multiple_porcentaje|safe}}
        var informacion_desempenio_competencia = {{informacion_desempenio_competencia|safe}}
        var informacion_desempenio_habilidades_sociales = {{informacion_desempenio_habilidades_sociales|safe}}
        var jovenes_tipo_liderazgo = {{jovenes_tipo_liderazgo|safe}}
        var nivel_aptitud_area_conocimiento = {{nivel_aptitud_area_conocimiento|safe}}        
        var informacion_mapa_riesgo =  {{informacion_mapa_riesgo|safe}}
        var graficas = [['info_multiple_porcentaje',informacion_multiple_porcentaje],
                        ['informacion_competencias',informacion_desempenio_competencia],                        
                        ['jovenes_tipo_liderazgo', jovenes_tipo_liderazgo],
                        ['informacion_habilidades_sociales', informacion_desempenio_habilidades_sociales],
                        ['nivel_aptitud_area_conocimiento', nivel_aptitud_area_conocimiento],
                    ]
    </script> 
    
    <!-- Chart code --> 
    <script type="text/javascript" src="{% static 'js/custom/graficas/organizacion/competencias/barras_stack_porcentaje.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom/graficas/organizacion/competencias/mapa_riesgo.js' %}"></script>
    
    
    <!-- HTML -->
    {% endblock contenido_panel %}