{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Tablero de organizaciones
    
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Tablero</li>
    <li class="breadcrumb-item"><a href="">Organizaciones</a></li>
    <li class="breadcrumb-item active">Visualizar</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-graph icon-orange"></i> Experiencias de los jóvenes
{% endblock titulo_pagina %}

{% block contenido_panel %}

    
    <div class="row  pl-3 pr-2">        
        <div class="col-9">
            <form method="GET">
                <input type="submit" value="Ver Todo" class="btn btn-sm {% if filtro == 'Todas' %}btn-orange{% else %}btn-outline-orange{% endif %} ml-1">                
                {% for organizacion in sub_organizaciones %}
                    <input type="submit" name="{{organizacion.pk}}" value="{{ organizacion.first_name }}" class="btn btn-sm {% if filtro == organizacion.pk|stringformat:'i' %}btn-orange{% else %}btn-outline-orange{% endif %} ml-1">
                {% endfor %}
            </form>
        </div>
        <div class="mt-3 col-12 border-top">
            <div class="row justify-content-center">
                {%comment%}
                <div class="mt-3 col-12">
                    <div class="row justify-content-center text-center">     
                        <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1" style="background-color: #4990CE;">
                            <p style="color: white; opacity: 0.3; font-size: 30px; font-weight: 900;"  class="my-auto">{{cantidad_voluntariados.0}}</h3>
                            <h4 style="color: white;">Jóvenes con al menos 1 voluntariado<!-- , el {{cantidad_voluntariados.1|floatformat:2}}% --> </h4>                                                 
                        </div>    
                        <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1" style="background-color: #7E62AC;">
                            <p style="color: white; opacity: 0.3; font-size: 30px; font-weight: 900;"  class="my-auto">{{cantidad_experiencia_laboral.0}}</h3>                          
                            <h4 style="color: white;">Jóvenes con al menos 1 experiencia laboral<!--, el {{cantidad_experiencia_laboral.1|floatformat:2}}% --> </h4>    
                        </div> 
                        <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1" style="background-color: #1DB1B2;">
                            <p style="color: white; opacity: 0.3; font-size: 30px; font-weight: 900;"  class="my-auto">{{cantidad_grupo_juvenil.0}}</h3>
                            <h4 style="color: white;">Jóvenes con al menos 1 experiencia en un grupo juvenil<!--, el {{cantidad_grupo_juvenil.1|floatformat:2}}%  --></h4>                 
                        </div>
                    </div>
                </div>
                {%endcomment%}
                                     
            </div>
        </div>
        
        <div class="mt-5 col-12">
            <div class="row justify-content-center">
                <div class="col-12 bg p-2">
                    <h3 class="pl-5">Rendimiento por asignatura del colegio</h3> 
                    <div class="col-12 p-2" id='experiencias_en_asignatura_colegio' style="height: 500px;">
                    </div>                     
                </div>
            </div>
        </div>

        <div class="mt-3 col-12 border-top">
            <div class="row justify-content-center text-center">
                <div class="mt-3 col-12">
                    <div class="row justify-content-center">     
                        <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1" style="background-color: #4990CE;">
                            <p style="color: white; opacity: 0.6; font-size: 30px; font-weight: 900;"  class="my-auto">{{numero_experiencias_promedio_joven|floatformat:1}}</h3>
                            <h4 style="color: white;">Número de experiencias en promedio por joven<!-- , el {{cantidad_voluntariados.1|floatformat:2}}% --> </h4>                                                 
                        </div>    
                        <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1" style="background-color: #7E62AC;">
                            <p style="color: white; opacity: 0.6; font-size: 30px; font-weight: 900;"  class="my-auto">{{tipo_experiencia_mas_frecuente.0}}</h3>                          
                            <h4 style="color: white;">El tipo de experiencia más frecuente<!--, el {{cantidad_experiencia_laboral.1|floatformat:2}}% --> </h4>    
                        </div> 
                        <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1" style="background-color: #1DB1B2;">
                            <p style="color: white; opacity: 0.6; font-size: 30px; font-weight: 900;"  class="my-auto">{{tipo_experiencia_menos_frecuente.0}}</h3>
                            <h4 style="color: white;">El tipo de experiencia menos frecuente<!--, el {{cantidad_grupo_juvenil.1|floatformat:2}}%  --></h4>                 
                        </div>                            
                    </div>
                </div>                                     
            </div>

            <div class="mt-5 col-12">
                <div class="row justify-content-center">
                    <div class="col-12 bg p-2">
                        <h3 class="pl-5">Distribución de los jóvenes por tipos de experiencia y tribu</h3> 
                        <div class="col-12 p-2" id='distribucion_jovenes_por_experiencia_tribu' style="height: 500px;">
                        </div>                     
                    </div>
                </div>
            </div>

            <div class="mt-5 col-12">
                <div class="row justify-content-center">
                    <div class="col-12 bg p-2">
                        <h3 class="pl-5">Distribución de los jóvenes por tipos de experiencia y duración de la experiencia</h3> 
                        <div class="col-12 p-2" id='distribucion_jovenes_por_experiencia_duracion_experiencia' style="height: 500px;">
                        </div>                     
                    </div>
                </div>
            </div>
        </div>
        
        {%for experiencia in experiencias_actividades%}        
            <div class="mt-3 col-12 border-top">                
                <div class="mt-3">
                    <h3>{{experiencia.titulo_seccion}}</h3>
                </div>
                <div class="row justify-content-center text-center">
                    <div class="mt-3 col-12">
                        <div class="row justify-content-center">     
                            <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1" style="background-color: #4990CE;">
                                <p style="color: white; opacity: 0.3; font-size: 30px; font-weight: 900;"  class="my-auto">{{experiencia.cantidad}} ({{experiencia.porcentaje|floatformat:1}}%)</h3>
                                <h4 style="color: white;">{{experiencia.mensaje}}<!-- , el {{cantidad_voluntariados.1|floatformat:2}}% --> </h4>                                                 
                            </div>
                            <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1" style="background-color: #7E62AC;">
                                <p style="color: white; opacity: 0.3; font-size: 30px; font-weight: 900;"  class="my-auto">{{experiencia.experiencias_por_joven|floatformat:1}}</h3>                          
                                <h4 style="color: white;">{{experiencia.descripcion_experiencias_por_joven}}<!--, el {{cantidad_experiencia_laboral.1|floatformat:2}}% --> </h4>    
                            </div>
                            <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1" style="background-color: #1DB1B2;">
                                <p style="color: white; opacity: 0.3; font-size: 30px; font-weight: 900;"  class="my-auto">{{experiencia.moda}}</h3>
                                <h4 style="color: white;">{{experiencia.descripcion_moda}}<!--, el {{cantidad_grupo_juvenil.1|floatformat:2}}%  --></h4>                 
                            </div>                            
                        </div>
                    </div>                                     
                </div>

            </div>
        {%endfor%}
        

    </div>
   
<!-- Styles -->
    <style>
        #piramide_poblacional {
        width: 100%;
        height: 500px;
        }
    </style>
    
    <!-- Resources -->
    <script src="{% static 'js/custom/graficas/librerias/core.js'%}"></script>
    <script src="{% static 'js/custom/graficas/librerias/charts.js'%}"></script>
    <script src="{% static 'js/custom/graficas/librerias/maps.js'%}"></script>
    <script src="{% static 'js/custom/graficas/librerias/animated.js'%}"></script>

    <script>
      
        var experiencias_en_asignatura_colegio = {{experiencias_en_asignatura_colegio|safe}}
        var distribucion_jovenes_por_experiencia_tribu = {{distribucion_jovenes_por_experiencia_tribu|safe}}
        var distribucion_jovenes_por_experiencia_duracion_experiencia = {{distribucion_jovenes_por_experiencia_duracion_experiencia|safe}}
        var graficas = [['distribucion_jovenes_por_experiencia_tribu', distribucion_jovenes_por_experiencia_tribu],
                        ['distribucion_jovenes_por_experiencia_duracion_experiencia',distribucion_jovenes_por_experiencia_duracion_experiencia]
                       ]
       
        
    </script> 
    
    <script type="text/javascript" src="{% static 'js/custom/graficas/organizacion/experiencias/barras_stack_absoluto.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom/graficas/organizacion/experiencias/barras_stack_porcentaje.js' %}"></script>
   
    
    
    <!-- HTML -->
    {% endblock contenido_panel %}