{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Tablero de organizaciones

{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Tablero</li>
    <li class="breadcrumb-item"><a href="">Organizaciones</a></li>
    <li class="breadcrumb-item active">Visualizar</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-graph icon-orange"></i> Escenarios deseados de los jóvenes
{% endblock titulo_pagina %}

{% block contenido_panel %}


    <div class="row  pl-3 pr-2">
        <div class="col-9">
            <form method="GET">
                <input type="submit" value="Ver Todo" class="btn btn-sm {% if filtro == 'Todas' %}btn-orange{% else %}btn-outline-orange{% endif %} ml-1">
                {% for organizacion in sub_organizaciones %}
                    <input type="submit" name="{{organizacion.pk}}" value="{{ organizacion.first_name }}" class="btn btn-sm {% if filtro == organizacion.pk|stringformat:'i' %}btn-orange{% else %}btn-outline-orange{% endif %} ml-1">
                {% endfor %}
            </form>
        </div>
        <div class="mt-3 col-12 border-top">
            <div class="row justify-content-center">
                <div class="mt-2">
                    <p><b>NOTA:</b> Un joven puede haber terminado los cuestionarios y no tener un escenario deseado favorito por lo tanto no se visualiza la información de ese joven en este tablero.</p>
                </div>
                <div class="mt-1 col-12">
                    <div class="row">
                        <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1" style="background-color:#1DB1B2; height: 130px; position: relative">
                            <p style="color: white; opacity: 0.3; font-size: 100px; font-weight: 900; position: absolute; vertical-align:middle; top:50%; transform: translateY(-50%)" class="text-left">{{jovenes_cuestionarios_terminados}}</p>
                            <p class="h3 text-uppercase" style="color: white; position: absolute; vertical-align:middle; top:50%; transform: translateY(-50%); text-align:center;">Jóvenes que han culminado los cuestionarios</p>
                        </div>
                        <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1" style="background-color: #4990CE; height: 130px;">
                            <p style="color: white; opacity: 0.3; font-size: 100px; font-weight: 900; position: absolute; top:50%; transform: translateY(-50%)" class="text-left">{{jovenes_escenarios_deseados_favoritos}}</p>
                            <p class="h3 text-uppercase" style="color: white; position: absolute; vertical-align:middle; top:50%; transform: translateY(-50%); text-align:center;">Total escenarios deseados favoritos</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 border-top">
                    <div class="mt-3 col-12">
                        <div class="row justify-content-center">
                            <div class="col-12 mt-2 mb-3">
                                <h2 class="pl-5">Distribución de los jóvenes por tribus
                                    <a href="{% static 'img/insignias/tribus.png' %}" data-lightbox="gallery-group-tribus">
                                        <i class="fa fa-question"></i>
                                    </a>
                                </h2>
                            </div>
                            <a href="{% static 'img/insignias/tribus.png' %}" data-lightbox="gallery-group-tribus"><i class="fa fa-question"></i></a>
                            <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 bg rounded-lg my-2 pr-5">
                                <div  style="background-color: #F8D513; position:relative; " class="rounded-lg">
                                    <div class="row">
                                        <img src='/media/insignias/Vincularem.png' height="84px" width="100px" class="img-fluid" style="position:absolute; left:-50px; top:45%; transform: translateY(-50%)">
                                        <p style="color: white; opacity: 0.5; font-size: 30px; font-weight: bolder;" class="col text-center my-auto">{{porcentaje_humanidades|floatformat:1}}%</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 bg rounded-lg my-2 pr-5">
                                <div class="rounded-lg" style="background-color:#F09F22; position:relative;">
                                    <div class="row">
                                        <img src='/media/insignias/Centeros.png' height="84px" width="100px" class="img-fluid" style="position:absolute; left:-50px; top:45%; transform: translateY(-50%)">
                                        <p style="color: white; opacity: 0.3; font-size: 30px; font-weight: bolder;" class="col text-center my-auto">{{porcentaje_ingenieria|floatformat:1}}%</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 bg rounded-lg my-2 pr-5">
                                <div class="rounded-lg" style="background-color:#EF6A2D; position:relative;">
                                    <div class="row">
                                        <img src='/media/insignias/Brianimus.png' height="84px" width="100px" class="img-fluid" style="position:absolute; left:-50px; top:45%; transform: translateY(-50%)">
                                        <p style="color: white; opacity: 0.3; font-size: 30px; font-weight: bolder;" class="col text-center my-auto">{{porcentaje_artes_deportes|floatformat:1}}%</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 bg rounded-lg my-2 pr-5">
                                <div class="rounded-lg" style="background-color:#D85039; position:relative;">
                                    <div class="row">
                                        <img src='/media/insignias/Ponor.png' height="84px" width="100px" class="img-fluid" style="position:absolute; left:-50px; top:45%; transform: translateY(-50%)">
                                        <p style="color: white; opacity: 0.3; font-size: 30px; font-weight: bolder;" class="col text-center my-auto">{{porcentaje_seguridad_defensa|floatformat:1}}%</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 bg rounded-lg my-2 pr-5">
                                <div class="rounded-lg" style="background-color:#3A70B6; position:relative;">
                                    <div class="row">
                                        <img src='/media/insignias/Gronor.png' height="84px" width="100px" class="img-fluid" style="position:absolute; left:-50px; top:45%; transform: translateY(-50%)">
                                        <p style="color: white; opacity: 0.3; font-size: 30px; font-weight: bolder;" class="col text-center my-auto">{{porcentaje_administracion|floatformat:1}}%</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 bg rounded-lg my-2 pr-5">
                                <div class="rounded-lg" style="background-color:#3BC181; position:relative;">
                                    <div class="row">
                                        <img src='/media/insignias/Moterra.png' height="84px" width="100px" class="img-fluid" style="position:absolute; left:-50px; top:45%; transform: translateY(-50%)">
                                        <p style="color: white; opacity: 0.3; font-size: 30px; font-weight: bolder;" class="col text-center my-auto">{{porcentaje_ciencia_medio_ambiente|floatformat:1}}%</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 bg rounded-lg my-2 pr-5">
                                <div class="rounded-lg" style="background-color:#59CDCC; position:relative;">
                                    <div class="row">
                                        <img src='/media/insignias/Cuisana.png' height="86px" width="100px" class="img-fluid" style="position:absolute; left:-50px; top:50%; transform: translateY(-50%)">
                                        <p style="color: white; opacity: 0.3; font-size: 30px; font-weight: bolder;" class="col text-center my-auto">{{porcentaje_salud|floatformat:1}}%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3 col-12">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <h3 class="pl-5">Preferencia de nivel de conocimiento que se desea alcanzar en los próximos tres años por tribu y total de jóvenes
                                        <a href="{% static 'img/insignias/niveles_conocimiento.png' %}" data-lightbox="gallery-group-tribus">
                                            <i class="fa fa-question"></i>
                                        </a>
                                    </h3>
                                </div>
                                <div class="col-6">
                                    <h3 class="pl-5">Rol deseado por tribu y por el total de jóvenes
                                        <a href="{% static 'img/insignias/roles.png' %}" data-lightbox="gallery-group-tribus">
                                            <i class="fa fa-question"></i>
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="col-12" id='nivel_conocimiento_alcanzar_por_tribu' style="height: 500px;">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="col-12" id='intereses_por_tribu' style="height: 500px;">
                            </div>
                        </div>
                    </div>
                    <div class='text-center'>
                        <p><b>NOTA: </b>Un joven puede escoger más de un rol en su escenario deseado.</p>
                    </div>
                </div>

                <div class="mt-5 col-12 border-top mb-5">
                    <div class="row justify-content-center  mt-5">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <h3 class="pl-5">Formas preferidas de aprendizaje por tribu y por el total de jóvenes </h3>
                                </div>
                                <div class="col-6">
                                    <h3 class="pl-5">País en donde el joven desea adquirir su experiencia</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="col-12" id='formas_aprendizaje_preferidas_por_tribu' style="height: 500px;">                                            
                            </div> 
                            <div>
                                <p> <b>NOTA: </b>Un joven puede escoger más de una forma preferida de aprendizaje</p>
                            </div>
                        </div>                        
                        <div class="col-6">      
                            {%if pais_ciudad_desea_experiencia%}                      
                                <div class="col-12" id='pais_ciudad_desea_experiencia' style="height: 500px;">                                            
                                </div> 
                            {%endif%}
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
     <!-- HTML -->



<!-- Styles -->
   
    <!-- Resources -->
    <script src="{% static 'js/custom/graficas/librerias/core.js'%}"></script>
    <script src="{% static 'js/custom/graficas/librerias/charts.js'%}"></script>
    <script src="{% static 'js/custom/graficas/librerias/maps.js'%}"></script>
    <script src="{% static 'js/custom/graficas/librerias/animated.js'%}"></script>

    <script>
        var pais_ciudad_desea_experiencia = {{pais_ciudad_desea_experiencia|safe}}

        var nivel_conocimiento_alcanzar_por_tribu = {{nivel_conocimiento_alcanzar_por_tribu|safe}}
        var intereses_por_tribu = {{intereses_por_tribu|safe}}
        var formas_aprendizaje_preferidas_por_tribu = {{formas_aprendizaje_preferidas_por_tribu|safe}}
        var necesidades_economicas_capacidad_inversion = {{necesidades_economicas_capacidad_inversion|safe}}
        var graficas = [['nivel_conocimiento_alcanzar_por_tribu',nivel_conocimiento_alcanzar_por_tribu],
                        ['intereses_por_tribu',intereses_por_tribu],
                        ['formas_aprendizaje_preferidas_por_tribu',formas_aprendizaje_preferidas_por_tribu],
                    ]



    </script>

    <!-- Chart code -->

    <script type="text/javascript" src="{% static 'js/custom/graficas/organizacion/escenario_deseado/barras_agrupadas_vertical.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom/graficas/organizacion/escenario_deseado/tree_map.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'js/custom/graficas/organizacion/escenario_deseado/barras_stack_absoluto.js' %}"></script>-->
    {% endblock contenido_panel %}

   