{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Tablero de organizaciones
    
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Tablero</li>
    <li class="breadcrumb-item"><a href="">Organizaciones</a></li>
    <li class="breadcrumb-item active">Visualizar</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-graph icon-orange"></i> Características de los jóvenes
{% endblock titulo_pagina %}

{% block contenido_panel %}  
    <div class="row pl-3 pr-2">
        <div class="col-9">
            <form method="GET">
                <input type="submit" value="Ver Todo" class="btn btn-sm {% if filtro == 'Todas' %}btn-orange{% else %}btn-outline-orange{% endif %} ml-1">                
                {% for organizacion in sub_organizaciones %}
                    <input type="submit" name="{{organizacion.pk}}" value="{{ organizacion.first_name }}" class="btn btn-sm {% if filtro == organizacion.pk|stringformat:'i' %}btn-orange{% else %}btn-outline-orange{% endif %} ml-1">
                {% endfor %}
            </form>
        </div>        
        <div class="mt-3 col-12">
            <div class="row">                
                <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1" style="background-color:#1DB1B2; height: 130px; position: relative">                                 
                    <p style="color: white; opacity: 0.3; font-size: 100px; font-weight: 900; position: absolute; vertical-align:middle; top:50%; transform: translateY(-50%)" class="text-left">{{jovenes_cuestionarios_terminados}}</p> 
                    <p class="h3 text-uppercase" style="color: white; position: absolute; vertical-align:middle; top:50%; transform: translateY(-50%); text-align:center;">Jóvenes que han culminado los cuestionarios</p> 
                </div>
                <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1" style="background-color: #4990CE; height: 130px;">                                 
                    <p style="color: white; opacity: 0.3; font-size: 100px; font-weight: 900; position: absolute; top:50%; transform: translateY(-50%)" class="text-left">{{jovenes_activos}}</p> 
                    <p class="h3 text-uppercase" style="color: white; position: absolute; vertical-align:middle; top:50%; transform: translateY(-50%); text-align:center;">Jóvenes pertenecientes a la Organización</p> 
                </div>
                <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1" style="background-color: #7E62AC; height: 130px;">                                 
                    <p style="color: white; opacity: 0.3; font-size: 100px; font-weight: 900; position: absolute; top:50%; transform: translateY(-50%)" class="text-left">{{edad_promedio_jovenes|floatformat:1}}</p> 
                    <p class="h3 text-uppercase" style="color: white; position: absolute; vertical-align:middle; top:50%; transform: translateY(-50%); text-align:center;">Edad promedio de los jóvenes</p> 
                </div>
                <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1" style="background-color: #F46726; height: 130px;">                                 
                    <p style="color: white; opacity: 0.3; font-size: 100px; font-weight: 900; position: absolute; top:50%; transform: translateY(-50%)" class="text-left">{{anios_educadion_promedio|floatformat:1}}</p> 
                    <p class="h3 text-uppercase" style="color: white; position: absolute; vertical-align:middle; top:50%; transform: translateY(-50%); text-align:center;">Años de educación promedio de los jóvenes</p> 
                </div>
            </div>
        </div>
        <div class="mt-5 col-12 pl-5">
            <div class="row justify-content-center">     
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <h3>Pirámide poblacional</h3>
                        </div>
                        <div class="col-6">
                            <h3>Distribución de los jóvenes por ciudad</h3>           
                        </div>
                    </div>
                </div>
                <div class="col-6">   
                    <div class="col-12" id="piramide_poblacional" style="height: 500px;">                   
                    </div>
                    <div>
                        <p> <b>NOTA: </b>El total puede no reflejar el total de jóvenes que han diligenciado los cuestionarios si los jóvenes pusieron un año de nacimiento de 2010 en adelante. </p>
                    </div>
                </div>
                <div class="col-6">     
                    {%if informacion_ciudades%}                                  
                        <div class="col-11" id="ciudades"  style="height: 500px;"  align="right"> 
                        </div> 
                    {%endif%}                  
                </div> 
            </div>
        </div>


        <div class="mt-3 col-12 mb-5 border-top" style="height: 500px;">
            <div class="row justify-content-center mt-5">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="pl-5">Distribución de los jóvenes por número de personas con las que vive y si vive o no con la familia </h3>
                        </div>
                        <div class="col-6">
                            <h3 class="pl-5">Distribución de los jóvenes por ingresos del grupo familiar</h3>            
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="col-12">                       
                        <div class="col-12" style="height: 500px;" id='info_familia'>                       
                        </div>                         
                    </div>
                </div>
                <div class="col-6">
                    <div class="col-12">                               
                        <div class="col-12"  style="height: 500px;" id='info_salario'>                       
                        </div>                         
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 border-top" style="height: 500px; margin-top: 100px;">
            <div class="row justify-content-center mt-5">

                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="pl-5">Distribución de los jóvenes por nivel educativo alcanzado y si tienen o no hijos </h3>
                        </div>
                        <div class="col-6">
                            <h3 class="pl-5">Distribución de los jóvenes por estado de salud y principal ocupación realizada en el mes pasado</h3>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="col-12">
                        
                        <div class="col-12" style="height: 500px;" id='info_multiple_absoluto'>
                        </div>                         
                    </div>
                </div>                
                <div class="col-6" >
                    <div class="col-12">                       
                        <div class="col-12" style="height: 500px;" id='info_multiple_porcentaje'>                       
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 border-top pl-5" style="margin-top: 150px;">            
            <h3 class="mt-5 mb-3">Principales factores que afecta la sensación de bienestar del joven</h3> 
            <div class="row justify-content-center mt-5">        
                {% for factor in factores_de_bienestar%}
                    {% if forloop.counter == 1 %}
                        <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1" style="background-color: #4990CE; height: auto;">
                    {%elif forloop.counter == 2%}
                        <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1" style="background-color: #7E62AC; height: auto;">
                    {%else%}
                        <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1" style="background-color: #1DB1B2; height: auto;">
                    {%endif%}                    
                    {% for key, value in factor.items %}  
                        {% if key != 'cantidad_abosluta'%}                          
                            <div class="row">
                                <p style="color: white; opacity: 0.3; font-size: 30px; font-weight: 900;"  class="text-left col-5 my-auto">{{factor.cantidad_abosluta}} ({{value|floatformat:1}}%)</p>
                                <p class="h5 text-uppercase my-auto col-7" style="color: white;">{{key}}</p>
                            </div>  
                        {% endif %}                  
                    {%endfor%}    
                </div>            
                {%endfor%}                
            </div> 
            <div class="mt-2 mb-5">
                <p><b>NOTA: </b>La suma de los porcentajes no es igual al 100% porque los jóvenes podían responder más de un factor.</p>
            </div> 
        </div>

    </div>
 

 
<!-- Styles -->
    <style>
        .indicador{
            background-color: rgb(46,53,61);
        }
    </style>
    <!-- Resources -->
    <script src="{% static 'js/custom/graficas/librerias/core.js'%}"></script>
    <script src="{% static 'js/custom/graficas/librerias/charts.js'%}"></script>
    <script src="{% static 'js/custom/graficas/librerias/maps.js'%}"></script>
    <script src="{% static 'js/custom/graficas/librerias/animated.js'%}"></script>

    <script>
        var informacion_poblacional = {{informacion_poblacional|safe}}
        var informacion_ciudades = {{informacion_ciudades|safe}}
        var informacion_familia = {{informacion_familia|safe}}
        var informacion_salarios = {{informacion_salarios|safe}}
        var informacion_multiple_porcentaje = {{informacion_multiple_porcentaje|safe}}
        var informacion_multiple_absoluto = {{informacion_multiple_absoluto|safe}}
    </script> 
    
    <!-- Chart code -->
    <script type="text/javascript" src="{% static 'js/custom/graficas/organizacion/jovenes/piramide_poblacional.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom/graficas/organizacion/jovenes/tree_map.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom/graficas/organizacion/jovenes/barras_compuestas.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom/graficas/organizacion/jovenes/barras.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom/graficas/organizacion/jovenes/barras_stack_porcentaje.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom/graficas/organizacion/jovenes/barras_stack_absoluto.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'js/custom/graficas/organizacion/jovenes/barras_prueba.js' %}"></script>-->


 
    
    <!-- HTML -->
    {% endblock contenido_panel %}