{% load static %}
{% load bootstrap4 %}
{% load extra_tags %}
{% for joven in jovenes %}
    <div class="container-fluid rounded my-1 py-1 align-items-center border bg bg-white">
        <div class="row my-auto">
            <div class="col-12 col-sm-6 col-lg-4 col-md-5 my-auto">
                <div class="row my-auto">
                    <div class="col-auto my-auto hovereffect">
                        {% if joven.usuario.foto_perfil %}
                            <img src="{{ joven.usuario.foto_perfil.url }}" alt="Imagen perfil"
                                 class="img img-circle img-fluid my-auto"
                                 style="width: 50px; height: 50px;">
                        {% else %}
                            <img src="{% static 'img/jovenens/predeterminada.jpg' %}"
                                 class="img img-circle img-fluid my-auto"
                                 style="width: 50px; height: 50px;">
                        {% endif %}
                    </div>
                    <div class="col-auto my-auto">
                        <strong>
                            <a class="btn dropdown-toggle"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false"
                               href="{% url 'usuarios:tarjeta_presentacion' joven.usuario.id %}">
                                {{ joven.usuario }}
                                <i class="icon-arrow-down"></i>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item"
                                   href="{% url 'usuarios:tarjeta_presentacion' joven.usuario.id %}">Visitar perfil</a>
                                {% for mensaje in joven.mensajes %}
                                    {% if mensaje.preguntar %}
                                        <a class="dropdown-item"
                                           href="{% url mensaje.url joven.usuario.id 0 %}">{{ mensaje.accion }}</a>
                                    {% else %}
                                        <a class="dropdown-item"
                                           href="{% url mensaje.url joven.usuario.id 0 %}">{{ mensaje.accion }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </strong>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-8 col-md-7 my-auto">
                <table class="table table-responsive">
                    <tbody>
                    <tr>
                        {% for i in "1234567"|make_list %}
                            <td style="border-top: 0; {% if i|divisibleby:2 %}border-right: 1px solid darkblue;{% endif %}">
                                <div id="porcentaje-{{ i }}-{{ joven.usuario.id }}" class="btn"
                                     style="color: white; width: 5rem;
                                             font-size: 0.6rem; text-align:center;
                                             {% if i == "1" %}
                                                 background-color: #e5472e;"
                                             {% elif i == "2" %}
                                     background-color: #f0971f;"
                                             {% elif i == "3" %}
                                                 background-color: #4472c4;"
                                             {% elif i == "4" %}
                                                 background-color: #00b0f0;"
                                             {% elif i == "5" %}
                                                 background-color: #3cba7d;"
                                             {% elif i == "6" %}
                                                 background-color: #92d050;"
                                             {% elif i == "7" %}
                                                 background-color: #f7d20b;"
                                             {% endif %}
                                >
                                <div class="text-center">
                                    <div class="spinner-border" role="status" style="width: 1rem; height: 1rem;">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                            </td>
                        {% endfor %}
            </tr>
            </tbody>
            </table>
        </div>
    </div>
    </div>
{% empty %}
    <div class="col-12 px-0" align="center">
        <h4 class="mt-5">No se encontraron Jóvenes.</h4>
    </div>
{% endfor %}