{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load extra_tags %}

{% block titulo %}
    Información Básica    
{% endblock titulo %}

{% block css %}
    <style type="text/css">
        .panel{
            background: none;
        }
    </style>
{% endblock css %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Usuarios</li>
    <li class="breadcrumb-item active">Gestión Organizaciones</li>
    <li class="breadcrumb-item active">Asignar Jóvenes</li> 
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-open icon-orange"></i>Asignar Jóvenes    
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row bg-white p-5">
        <div class="col-12 p-5">        
            <form method="post" enctype="multipart/form-data">{% csrf_token %}                
                {%bootstrap_form form%}                           
                <div class="row justify-content-center">           
                    <div class="" align="right">
                        <button class="btn btn-primary px-5" type="submit">Asignar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock contenido_panel %}

{% block js %}
    {{ block.super }}   
    <script>
        document.querySelector('.custom-file-input').addEventListener('change',function(e){
            var fileName = document.getElementById("archivo_excel").files[0].name;
            var nextSibling = e.target.nextElementSibling;
            nextSibling.innerText = fileName;
        });
    </script>
{% endblock js %}