{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load extra_tags %}

{% block titulo %}
    Información Básica
{% endblock titulo %}

{% block css %}
    <style type="text/css">
        .panel {
            background: none;
        }

        .table::-webkit-scrollbar {
            -webkit-appearance: none;
        }

        .table::-webkit-scrollbar:vertical {
            width: 10px;
        }

        .table::-webkit-scrollbar-button:increment, .contenedor::-webkit-scrollbar-button {
            display: none;
        }

        .table::-webkit-scrollbar:horizontal {
            height: 5px;
        }

        .table::-webkit-scrollbar-thumb {
            background-color: #797979;
            border-radius: 20px;
            border: 2px solid #f1f2f3;
        }

        .table::-webkit-scrollbar-track {
            border-radius: 10px;
        }
    </style>
{% endblock css %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Organización</li>
    <li class="breadcrumb-item">Jóvenes</li>
    <li class="breadcrumb-item"><a href="">Consultar</a></li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-user-following icon-orange"></i> Jóvenes
{% endblock titulo_pagina %}
{% block contenido %}
    <div>
        {% block contenido_panel %}
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="container-fluid rounded my-1 py-1 align-items-center border bg bg-white">
                            <div class="row my-auto" style="height: 100%;">
                                <div class="col-12 col-sm-6 col-lg-4 col-md-5 my-auto">
                                    <p>
                                        Sigue el patrón de colores para ver el
                                        porcentaje de avance de cada joven de tu
                                        organización.
                                    </p>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-8 col-md-7 my-auto">
                                    <table class="table table-responsive">
                                        <tbody>
                                        <tr>
                                            {% for i in "1234567"|make_list %}
                                                <td style="border-top: 0; {% if i|divisibleby:2 %}border-right: 1px solid darkblue;{% endif %}">
                                                    <div class="btn"
                                                         style="color: white; width: 5rem;
                                                                 height: 3rem; font-size: 0.6rem; text-align:center;
                                                                 {% if i == "1" %}
                                                                     background-color: #e5472e;">
                                                                     Pruebas completadas
                                                                 {% elif i == "2" %}
                                                                     background-color: #f0971f;">
                                                                     Resultados leídos
                                                                 {% elif i == "3" %}
                                                                     background-color: #4472c4;">
                                                                     Perfiles creados
                                                                 {% elif i == "4" %}
                                                                     background-color: #00b0f0;">
                                                                     Perfil escogido
                                                                 {% elif i == "5" %}
                                                                     background-color: #3cba7d;">
                                                                     Me gusta
                                                                 {% elif i == "6" %}
                                                                     background-color: #92d050;">
                                                                     Opción escogida
                                                                 {% elif i == "7" %}
                                                                     background-color: #f7d20b;">
                                                                     Avance en niveles
                                                                 {% endif %}
                                                    </div>
                                                </td>
                                            {% endfor %}
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% if tag == ""%}
                            <div class="container-fluid rounded my-1 py-1 align-items-center border bg bg-white">
                            <div class="row my-auto" style="height: 100%;">
                                <div class="col-12 col-md-4 ml-md-2">
                                    <form method="GET" class="form-row">
                                        <input type="text" class="form-control col-9 col-md-9 mr-sm-3" id="id_q"
                                               placeholder="Buscar estudiante"
                                               name="j"
                                               value="{{ j }}"
                                        >
                                        <button type="submit" id="btn_buscar"
                                                style="background-color:#1DB1B2; color:white"
                                                class="col-2 col-md-2 btn btn-primary mb-2">Filtrar
                                        </button>
                                    </form>
                                </div>
                                <div class="col-12 col-md-1">
                                    {% if q != 0 or j != "" %}
                                        <a class="btn btn-danger"
                                           href="{% url 'organizaciones:organizacion_consultar_jovenes' %}">Quitar
                                            filtros</a>
                                    {% endif %}
                                </div>
                                {% if organizacion.tipo_organizacion.id == 4 or organizacion.tipo_organizacion.id == 8 %}
                                    <div class="col-12 col-md-4 ml-md-5 align-self-end">
                                        <form method="GET" class="form-row">
                                            <select class="form-control col-9 col-md-9 mr-sm-3" id="id_q"
                                                    aria-label="Seleccione el grupo"
                                                    name="q"
                                            >
                                                <option {% if q == 0 %}selected{% endif %} value="0">
                                                    Selecciones el grupo
                                                </option>
                                                {% for cohorte in cohortes %}
                                                    <option value="{{ cohorte.id }}" {% if q == cohorte.id %}
                                                            selected {% endif %}>
                                                        Grado {{ cohorte }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                            <button type="submit" id="btn_buscar"
                                                    style="background-color:#1DB1B2; color:white"
                                                    class="col-2 col-md-2 btn btn-primary mb-2">Filtrar
                                            </button>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                        {% if tag != "" %}
                            {% include "organizaciones/jovenes/_for_solicitudes.html" %}
                        {% else %}
                            {% include "organizaciones/jovenes/_for_jovenes.html" %}
                        {% endif %}

                    </div>
                </div>
                <div class="container mt-2 col-12">
                    {% if is_paginated %}
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a href="?{% if "tag=" in request.get_full_path %}tag=Solicitudes&{% endif %}{% if "j=" in request.get_full_path %}j={{ j }}&{% endif %}{% if "q=" in request.get_full_path %}q={{ q }}&{% endif %}page=1"
                                       class="page-link">Primero</a>
                                </li>
                                <li class="page-item">
                                    <a href="?{% if "tag=" in request.get_full_path %}tag=Solicitudes&{% endif %}{% if "j=" in request.get_full_path %}j={{ j }}&{% endif %}{% if "q=" in request.get_full_path %}q={{ q }}&{% endif %}page={{ page_obj.previous_page_number }}"
                                       class="page-link">Atrás</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled" style="background-color: lightgray;">
                                    <a href="#" class="page-link" style="background-color: lightgray;">Atrás</a>
                                </li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item {% if page_obj.number == i %}active{% endif %}"
                                        style="background-color: rgb(102, 45, 145); border: 1px solid rgb(102, 45, 145);">
                                        <a href="?{% if "tag=" in request.get_full_path %}tag=Solicitudes&{% endif %}{% if "j=" in request.get_full_path %}j={{ j }}&{% endif %}{% if "q=" in request.get_full_path %}q={{ q }}&{% endif %}page={{ i }}"
                                           class="page-link"
                                           style="background-color: rgb(102, 45, 145); border: 1px solid rgb(102, 45, 145);">{{ i }}</a>
                                    </li>
                                {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                                    <a href="?{% if "tag=" in request.get_full_path %}tag=Solicitudes&{% endif %}{% if "j=" in request.get_full_path %}j={{ j }}&{% endif %}{% if "q=" in request.get_full_path %}q={{ q }}&{% endif %}page={{ i }}"
                                       class="page-link">{{ i }}</a>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a href="?{% if "tag=" in request.get_full_path %}tag=Solicitudes&{% endif %}{% if "j=" in request.get_full_path %}j={{ j }}&{% endif %}{% if "q=" in request.get_full_path %}q={{ q }}&{% endif %}page={{ page_obj.next_page_number }}"
                                       class="page-link">Siguiente</a>
                                </li>
                                <li class="page-item">
                                    <a href="?{% if "tag=" in request.get_full_path %}tag=Solicitudes&{% endif %}{% if "j=" in request.get_full_path %}j={{ j }}&{% endif %}{% if "q=" in request.get_full_path %}q={{ q }}&{% endif %}page={{ paginator.page_range|length }}"
                                       class="page-link">Último</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled" style="background-color: lightgray;">
                                    <a href="#" class="page-link" style="background-color: lightgray;">Siguiente</a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>

            </div>
        {% endblock contenido_panel %}

    </div>
{% endblock contenido %}

{% block js %}
    <script>
        const url_api_porcentajes = "{% url "organizaciones:api_obtener_porcentaje_joven" %}";
        const ids_jovenes = [];
        {% if tag != "" %}
            {% for joven in jovenes %}
                ids_jovenes.push({{ joven.usuario.id }});
            {% endfor %}
        {% else %}
            {% for joven in jovenes %}
                ids_jovenes.push({{ joven.id }});
            {% endfor %}
        {% endif %}


        $(() => {
            for (let i = 0; i < ids_jovenes.length; i++) {
                $.ajax({
                    method: "GET",
                    url: url_api_porcentajes,
                    data: {id: ids_jovenes[i]},
                    dataType: "json"
                }).done((data) => {
                    $(`#porcentaje-1-${ids_jovenes[i]}`).html(`${data.porcentaje_formularios_completados}%`);
                    $(`#porcentaje-2-${ids_jovenes[i]}`).html(`${data.porcentaje_resultados_leidos}%`);
                    const porc_perfiles_creados = Math.round((data.mis_perfiles / 10) * 100)
                    $(`#porcentaje-3-${ids_jovenes[i]}`).html(`${porc_perfiles_creados}%`);
                    const porc_perfiles_escogidos = Math.round((data.mis_perfiles_escogidos / 1) * 100)
                    $(`#porcentaje-4-${ids_jovenes[i]}`).html(`${porc_perfiles_escogidos}%`);
                    const porcentaje_favoritas = Math.round((data.rutas_oportunidades_favoritos / 30) * 100);
                    $(`#porcentaje-5-${ids_jovenes[i]}`).html(`${porcentaje_favoritas}%`);
                    const porcentaje_escogidas = Math.round((data.contenidos_escogidos / 3) * 100);
                    $(`#porcentaje-6-${ids_jovenes[i]}`).html(`${porcentaje_escogidas}%`);
                    $(`#porcentaje-7-${ids_jovenes[i]}`).html(`${data.porcentaje_niveles}%`);

                })
            }
        })
    </script>


{% endblock js %}
