{% extends 'base_tablas.html' %}
{% load static %}

{% block titulo %}
    Gestión Preguntas
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url "retos:listado" %}">Gestión Retos</a></li>
    <li class="breadcrumb-item"><a href="{% url "cuartos:listado" reto.id %}">Gestión Preguntas</a></li>
    <li class="breadcrumb-item active"> Gestión Preguntas</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    Gestión Preguntas
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan las preguntas y sus diferentes herramientas para su gestión.</i>
            </p>
        </div>
        <div class="col-md-12" align="right">
            <a class="btn btn-primary" href="{% url "cuartos:pregunta_registrar" reto.id cuarto.id %}"><i class="fas fa-plus"></i> Registrar Pregunta</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Enunciado</th>
                        <th>Dificultad</th>                        
                        <th>Tiempo Limite</th>
                        <th>Orden</th>
                        <th>Activo</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pregunta in preguntas %}
                        <tr>
                            <td>{{pregunta.enunciado}}</td>
                            <td>{{pregunta.dificultad}}</td>
                            <td>{{pregunta.tiempo_limite}}</td>
                            <th>{{pregunta.cuarto_pregunta_pregunta.all.first.orden }}</th>
                            <td align="center">
                                {% if pregunta.activo == True %}
                                    <span class="label label-lime">ACTIVO</span>
                                {% else %}
                                    <span class="label label-secondary">INACTIVO</span>
                                {% endif %}
                            </td>
                            <td align="center">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <a title="Modificar" href="{% url "cuartos:preguntas_modificar" reto.id cuarto.id pregunta.id %}"><i class="fas fa-pen-alt"></i></a>
                                        <a title="Opciones" href="{% url "cuartos:opciones_listado" reto.id cuarto.id pregunta.id %}"><i class="fas fa-cog"></i></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>                   
                </table>                
            </div>
            <div class="col-md-12 mt-3" align="left">
                <a class="btn btn-primary" href="{% url "cuartos:listado" reto.id %}"><i class="fas fa-arrow-left"></i> Atrás </a>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

