{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    Guía Eslabón
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Guía Eslabón</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-social-youtube icon-orange"></i> Guía Eslabón
    <p style="color:gray; font-size: 14px; line-height: normal; font-weight: normal;"></p>

{% endblock titulo_pagina %}

{% block contenido %}
    <div class="row">
        <div class="col-9">
            <form method="GET">
                <input type="submit" name="tag" value="Todos" class="btn btn-sm {% if tag == 'Todos' %}btn-orange{% else %}btn-outline-orange{% endif %} ml-1">
                {% for tipo in tipos %}
                    <input type="submit" name="tag" value="{{ tipo.nombre }}" class="btn btn-sm {% if tipo.nombre == tag %}btn-orange{% else %}btn-outline-orange{% endif %} ml-1">
                {% endfor %}
            </form>
        </div>
        <div class="col-3" align="right">
            <form method="GET">
                <div class="form-group" style="margin:0; position: relative; width:100%">
                    <input id="id_q" class="controls form-control" type="text" name="q" style="border: solid 1px; border-color: rgb(248, 96, 12); background-color:white !important;"  placeholder="Buscar...">
                    <input id="id_qu" hidden type="text" value=" {% if 'tag' in request.GET %}{{request.GET}}{%else%}{%endif%} " name="qu">
                    <button type="submit" id="btn_buscar" class="btn-buscar" style="border: solid 1px; color: rgb(248, 96, 12); border-color: rgb(248, 96, 12); border-radius: 0px 100px 100px 0px;"><i class="fa fa-arrow-down"></i></button>
                </div>
            </form>           
        </div>
        <div class="col-12 contenido">
            <div class="row m-b-15">
                {% for recurso in recursos %}
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 px-0 mb-3 card-contenido">
                        <div class="card my-1">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" frameborder="0" src="{{ recurso.link_video }}" allowfullscreen></iframe>
                            </div>
                            <div class="card-body">
                                <div class="row ml-1 mt-3">
                                    <h6 class="card-title m-t-0 m-b-10" data-max-characters="80">{{recurso.nombre}}</h6>      
                                </div>
                                <div class="row ml-1 mt-3">
                                    <h7 class="card-title m-t-0 m-b-10" data-max-characters="80">{{recurso.tipo.all|join:", " }}</h7>
                                </div>
                                <div class="row ml-1 mt-3" style="height: 105px" >
                                    <p data-max-characters="200" class="card-text">{{ recurso.descripcion }}</p>
                                </div>
                                <div class="row ml-1 mt-1" style="border-bottom: 1px solid #c4c4c4">
                                    <div class="col-12 py-2" align="center">
                                        <h6 align="center" style="color:coral;">¿CÓMO TE PARECIÓ ESTE VIDEO?</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 pr-0" align="center">
                                        <span class="calificacion pr-1">
                                                <a title="1 Estrella" id="star1-recurso-{{ recurso.pk }}" href="javascript:calificar_recurso(1,{{ recurso.pk }},{{ request.user.pk }})"><i class="fas fa-star fa-sm"></i></a>
                                        </span>
                                        <span class="calificacion pr-1">
                                                <a title="2 Estrellas" id="star2-recurso-{{ recurso.pk }}" href="javascript:calificar_recurso(2,{{ recurso.pk }},{{ request.user.pk }})"><i class="fas fa-star fa-sm"></i></a>
                                        </span>
                                        <span class="calificacion pr-1">
                                                <a title="3 Estrellas" id="star3-recurso-{{ recurso.pk }}" href="javascript:calificar_recurso(3,{{ recurso.pk }},{{ request.user.pk }})"><i class="fas fa-star fa-sm"></i></a>
                                        </span>
                                        <span class="calificacion pr-1">
                                                <a title="4 Estrellas" id="star4-recurso-{{ recurso.pk }}" href="javascript:calificar_recurso(4,{{ recurso.pk }},{{ request.user.pk }})"><i class="fas fa-star fa-sm"></i></a>
                                        </span>
                                        <span class="calificacion pr-1">
                                                <a title="5 Estrellas" id="star5-recurso-{{ recurso.pk }}" href="javascript:calificar_recurso(5,{{ recurso.pk }},{{ request.user.pk }})"><i class="fas fa-star fa-sm"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-12 px-0" align="center">
                        <h4 class="mt-5">No se encontraron recursos.</h4>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="container mt-2 col-12">
            {% if is_paginated %}
                <ul class="pagination">                                 
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a href="
                            {%if tag|cambiar_espacio_por_mas in request.get_full_path %}
                            ?{{tag|cambiar_espacio_por_mas}}&page=1
                            {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page=1
                            {%else%}?Todos&page=1{%endif%}"
                            class="page-link">Primero</a>
                        </li>
                        <li class="page-item">
                            <a href="
                            {%if tag|cambiar_espacio_por_mas in request.get_full_path %}
                            ?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.previous_page_number }}
                            {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.next_page_number }}
                            {%else%}?Todos&page={{ page_obj.previous_page_number }}{%endif%}"
                            class="page-link">Atrás</a>
                        </li>
                    {%else%}
                        <li class="page-item disabled" style="background-color: lightgray;">
                            <a href="#" class="page-link" style="background-color: lightgray;">Atrás</a>
                        </li>
                    {% endif %}
                    {% for i in paginator.page_range %}  
                        {% if page_obj.number == i %}                                
                            <li class="page-item {%if page_obj.number == i%}active{%endif%}" style="background-color: rgb(102, 45, 145); border: 1px solid rgb(102, 45, 145);">
                                <a href="
                                {%if tag|cambiar_espacio_por_mas in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{i}}
                                {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.next_page_number }}
                                {%else%}?Todos&page={{i}}{%endif%}"
                                class="page-link" style="background-color: rgb(102, 45, 145); border: 1px solid rgb(102, 45, 145);">{{i}}</a>
                            </li>
                        {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}         
                            <a href="
                                {%if tag|cambiar_espacio_por_mas in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{i}}
                                {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.next_page_number }}
                                {%else%}?Todos&page={{i}}{%endif%}"
                                class="page-link" >{{i}}</a>
                        {% endif %}                          
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a href="
                            {%if tag|cambiar_espacio_por_mas in request.get_full_path %}
                            ?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.next_page_number }}
                            {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.next_page_number }}
                            {%else%}?Todos&page={{ page_obj.next_page_number }}{%endif%}"
                            class="page-link">Siguiente</a>
                        </li>
                        <li class="page-item">
                            <a href="
                            {%if tag|cambiar_espacio_por_mas in request.get_full_path %}
                            ?{{tag|cambiar_espacio_por_mas}}&page={{paginator.page_range|length}}
                            {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{paginator.page_range|length}}
                            {%else%}?Todos&page={{paginator.page_range|length}}{%endif%}"
                            class="page-link">Último</a>
                        </li>                         
                    {%else%}
                        <li class="page-item disabled" style="background-color: lightgray;">
                            <a href="#" class="page-link" style="background-color: lightgray;">Siguiente</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>

    <div class="modal draggable fade" id="detalle-recurso" data-backdrop="static">
        <div class="modal-dialog justify-content-center">
            <div class="modal-content">
                <div class="modal-header box">
                    <h4 id="titulo-recurso" class="modal-title"></h4>
                    <button aria-label="Close" class="close btn-close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body" align="center">
                    <p id="descripcion_modal"></p>
                    <div id="iframe_video" style="display: none;">
                        <iframe id="src_video" frameborder="0" style="width: 100%; height: 250px"
                                src="{{ recurso.link_video }}"
                                allowfullscreen>
                        </iframe>
                    </div>                   
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <p id="dl_pdf" style="display: none;">
                        <a id="src_pdf" href="" target="_blank" class="btn btn-primary px-3">Descargar PDF</a>
                    </p>
                    <button onclick="close()" class="btn btn-secondary btn-close px-3">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block js %}
    <script>
        var token = '{{csrf_token}}';
        var url_api_cargar_calificaciones_recursos = "{% url 'guia:api_cargar_calificaciones' %}";
        var url_api_calificar_recurso = "{% url 'guia:api_calificar' %}"
    </script>
    <script src="{% static 'js/custom/filters.js' %}"></script>
    <script src="{% static 'js/custom/calificaciones.js' %}"></script>
    <script>
        $("p").each(function() {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if(length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
        $("h6").each(function() {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if(length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
        initCalificacionesRecursos({{ request.user.pk }});
    </script>
    <script>
        function modal_recurso(tipo,src_file,nombre,descripcion){
            document.getElementById('titulo-recurso').innerHTML = nombre;
            document.getElementById('descripcion_modal').innerHTML = descripcion;
            document.getElementById('iframe_video').style.display = 'none';
            document.getElementById('src_video').src = '';
            document.getElementById('iframe_video').style.display = '';
            document.getElementById('src_video').src = src_file;
            $("#detalle-recurso").modal('show');          
        }
        $(document).on("click", ".btn-close", function(event){
            close_modal()
        });
        function close_modal() {
            $('#src_video').attr('src', $('#src_video').attr('src'));
            $("#detalle-recurso").modal('hide');
        }
    </script>

{% endblock js %}