{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    Oportunidades
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Oportunidades</li>
    {% if opcion == 'todas' %}
        <li class="breadcrumb-item active">Todas las Oportunidades</li>
    {% elif opcion == 'favoritas' %}
        <li class="breadcrumb-item active">Mis Oportunidades Favoritas</li>
    {% elif opcion == 'sugeridas' %}
        <li class="breadcrumb-item active">Oportunidades para ti</li>
    {% endif %}

{% endblock miga_pan %}

{% block titulo_pagina %}
    {% if opcion == 'todas' %}
        <i class="icon-diamond icon-orange"></i> Oportunidades
    {% elif opcion == 'favoritas' %}
        <i class="icon-diamond icon-orange"></i> Mis Oportunidades Favoritas
    {% elif opcion == 'sugeridas' %}
        <i class="icon-diamond icon-orange"></i> Oportunidades para ti
    {% endif %}
    <i class="icon-diamond icon-orange"></i>Oportunidades
    <p style="color:gray; font-size: 14px; line-height: normal; font-weight: normal;">Opciones que ofrece el mundo para que tú aprendas y pongas a prueba lo que conoces. Puedes elegir entre: Voluntariado, Intercambio, Becas, Trabajo, Rural y un montón de posibilidades </p>

{% endblock titulo_pagina %}

{% block contenido %}
    <div class="row">
        <div class="col-xs-12 col-xl-9">
            <form method="GET">                
                {% for tipo in tipos %}
                    <input type="submit" name="tag" value="{{ tipo.nombre }}" class="btn btn-sm {% if tipo.nombre == tag %}btn-orange{% else %}btn-outline-orange{% endif %} ml-1">
                {% endfor %}
            </form>
        </div>
        <div class="col-xs-12 col-xl-3" align="right">
            <form method="GET">
                <div class="form-group" style="margin:0; position: relative; width:100%">
                    <input id="id_q" class="controls form-control" type="text" name="q" placeholder="Buscar...">
                    <button type="submit" id="btn_buscar" class="btn btn-search btn-buscar"><i class="fa fa-arrow-down"></i></button>
                </div>
            </form>
        </div>
        <div class="col-12">
            <div class="row card-group">
                {% for oportunidad in oportunidades %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 px-0 card-group">
                        <div class="card border-0 mx-1 my-1">
                            {% if oportunidad.imagen %}
                                <a href="{{oportunidad.imagen.url}}" data-lightbox="gallery-group-oportunidad-{{ oportunidad.pk }}">
                                    <div class="hovereffect">
                                        <img src="{{oportunidad.imagen.url}}" class="card-img-top img img-fluid centerImage">
                                    </div>
                                </a>
                            {% else %}
                                <div class="hovereffect">
                                    <img
                                            {% if 'Voluntariado' in oportunidad.modalidad.tipo.nombre %}
                                                src="{% static 'img/contenido/voluntariado_oportunidades.jpg' %}"
                                            {% elif 'Beca' in oportunidad.modalidad.tipo.nombre %}
                                                src="{% static 'img/contenido/beca_oportunidades.jpg' %}"
                                            {% elif 'Trabajo' in oportunidad.modalidad.tipo.nombre %}
                                                src="{% static 'img/contenido/trabajo_oportunidades.jpg' %}"
                                            {% elif 'Intercambio' in oportunidad.modalidad.tipo.nombre %}
                                                src="{% static 'img/contenido/viaje_oportunidades.jpg' %}"
                                            {% elif 'Independiente' in oportunidad.modalidad.tipo.nombre %}
                                                src="{% static 'img/contenido/independiente.jpg' %}"
                                            {% elif 'Rural' in oportunidad.modalidad.tipo.nombre %}
                                                src="{% static 'img/contenido/rural.jpg' %}"
                                            {% else %}
                                                src="{% static 'img/extra/no-image.jpg' %}"
                                            {% endif %}
                                                class="card-img-top img img-fluid centerImage">
                                </div>
                            {% endif %}
                            <div class="card-body">
                               
                                <a href="{% url 'contenido:detalle_oportunidad' oportunidad.id %}" style="width: 100%">
                                    <h6 class="card-title m-t-0 m-b-10" data-max-characters="80">{{ oportunidad.nombre }}</h6>
                                </a>

                                {% if oportunidad.organizacion %}
                                    <div class="row mt-2 ml-1">
                                        <p class="card-title"><h6 class="m-l-5 m-t-2" data-max-characters="80"><span><b>{{ oportunidad.organizacion }}</b></span></h6></p>
                                    </div>
                                {% endif %}
                                
                                <div class="row ml-1 mt-3" {% if oportunidad|total_tribus_roles_niveles == 0 %}style="height: 105px"{% elif oportunidad|total_tribus_roles_niveles < 8 and oportunidad.nombre|length > 45 %}style="height: 45px"{% elif oportunidad|total_tribus_roles_niveles > 7 and oportunidad.nombre|length < 49 %}style="height: 64px"{% elif oportunidad.nombre|length < 45 %}style="height: 60px"{% else %}style="height: 45px"{% endif %}>
                                    <p data-max-characters="{% if oportunidad|total_tribus_roles_niveles == 0 %}200{% elif oportunidad|total_tribus_roles_niveles > 7 and oportunidad.nombre|length < 49 %}120{% elif oportunidad.nombre|length < 45 %}80{% else %}40{% endif %}" class="card-text">{{ oportunidad.caracteristicas }}</p>
                                </div>
                                {% if oportunidad|total_tribus_roles_niveles > 0 %}
                                    <div class="row ml-1" style="border-top: 1px solid #c4c4c4; border-bottom: 1px solid #c4c4c4">
                                        <div class="col-12 py-2" align="center">
                                            <div class="row justify-content-center" style="margin-left: -20px">
                                                {% for tribu in oportunidad.tribus_relacionadas.all %}
                                                    <img {% if oportunidad|total_tribus_roles_niveles < 8 %}style="width: 12%;"{% elif oportunidad|total_tribus_roles_niveles < 11 %}style="width: 10%;"{% else %}style="width: 8%;"{% endif %} title="{{ tribu.nombre|title }}" alt="{{ tribu.nombre|title }}" class="mx-0" src="{{ tribu.imagen.url }}">
                                                {% endfor %}
                                                {% for rol in oportunidad.roles.all %}
                                                    <img {% if oportunidad|total_tribus_roles_niveles < 8 %}style="width: 12%;"{% elif oportunidad|total_tribus_roles_niveles < 11 %}style="width: 10%;"{% else %}style="width: 8%;"{% endif %} title="{{ rol.nombre|title }}" alt="{{ rol.nombre|title }}" class="mx-0" src="{{ rol.imagen.url }}">
                                                {% endfor %}
                                                {% for nivel in oportunidad.niveles_conocimiento.all %}
                                                    <img {% if oportunidad|total_tribus_roles_niveles < 8 %}style="width: 12%;"{% elif oportunidad|total_tribus_roles_niveles < 11 %}style="width: 10%;"{% else %}style="width: 8%;"{% endif %} title="{{ nivel.nombre|title }}" alt="{{ nivel.nombre|title }}" class="mx-0" src="{{ nivel.imagen.url }}">
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="row mt-2">
                                    <div class="col-7 pr-0 centrar" align="left">
                                        <span class="calificacion like pr-1">
                                                <a title="Me gusta" id="like1-contenido-{{ oportunidad.pk }}" href="javascript:calificar_contenido(1,{{ oportunidad.pk }},{{ request.user.pk }})"><i class="fas fa-thumbs-up fa-lg"></i></a>
                                        </span>
                                        <span class="calificacion dislike pr-1">
                                                <a title="No me gusta" id="like0-contenido-{{ oportunidad.pk }}" href="javascript:calificar_contenido(0,{{ oportunidad.pk }},{{ request.user.pk }})"><i class="fas fa-thumbs-up fa-rotate-180 fa-lg"></i></a>
                                        </span>
                                    </div>
                                    <div class="col-5 px-0 pt-1" align="right">                                        
                                        <a href="{% url 'contenido:detalle_oportunidad' oportunidad.id %}" class="btn btn-primary px-3">Ver Más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-12 px-0" align="center">
                        <h4 class="mt-5">No se encontraron oportunidades.</h4>
                    </div>
                {% endfor %}
            </div>
            <div class="container mt-2 col-12 mt-3">
                {% if is_paginated %}
                
                    <ul class="pagination">                                 
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a href="
                                {%if tag|cambiar_espacio_por_mas in request.get_full_path %}
                                ?{{tag|cambiar_espacio_por_mas}}&page=1
                                {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page=1
                                {%else%}?Todas las Oportunidades&page=1{%endif%}"
                                class="page-link">Primero</a>
                            </li>
                            <li class="page-item">
                                <a href="
                                {%if tag|cambiar_espacio_por_mas in request.get_full_path %}
                                ?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.previous_page_number }}
                                {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.next_page_number }}
                                {%else%}?Todas las Oportunidades&page={{ page_obj.previous_page_number }}{%endif%}"
                                class="page-link">Atrás</a>
                            </li>                            
                        {%else%}
                            <li class="page-item disabled" style="background-color: lightgray;">
                                <a href="#" class="page-link" style="background-color: lightgray;">Atrás</a>
                            </li>
                        {% endif %}
                        {% for i in paginator.page_range %}         
                            {% if page_obj.number == i %}                       
                                <li class="page-item {%if page_obj.number == i%}active{%endif%}" style="background-color: rgb(102, 45, 145); border: 1px solid rgb(102, 45, 145);">
                                    <a href="
                                    {%if tag|cambiar_espacio_por_mas in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{i}}
                                    {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.next_page_number }}
                                    {%else%}?Todas las Oportunidades&page={{i}}{%endif%}"
                                    class="page-link" style="background-color: rgb(102, 45, 145); border: 1px solid rgb(102, 45, 145);">{{i}}</a>
                                </li>            
                            {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}         
                                <a href="
                                    {%if tag|cambiar_espacio_por_mas in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{i}}
                                    {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.next_page_number }}
                                    {%else%}?Todas las Oportunidades&page={{i}}{%endif%}"
                                    class="page-link" >{{i}}</a>
                            {% endif %}          
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a href="
                                {%if tag|cambiar_espacio_por_mas in request.get_full_path %}
                                ?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.next_page_number }}
                                {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{ page_obj.next_page_number }}
                                {%else%}?Todas las Oportunidades&page={{ page_obj.next_page_number }}{%endif%}"
                                class="page-link">Siguiente</a>
                            </li>     
                            <li class="page-item">
                                <a href="
                                {%if tag|cambiar_espacio_por_mas in request.get_full_path %}
                                ?{{tag|cambiar_espacio_por_mas}}&page={{paginator.page_range|length}}
                                {%elif 'q' in request.get_full_path %}?{{tag|cambiar_espacio_por_mas}}&page={{paginator.page_range|length}}
                                {%else%}?Todas las Oportunidades&page={{paginator.page_range|length}}{%endif%}"
                                class="page-link">Último</a>
                            </li>                       
                        {%else%}
                            <li class="page-item disabled" style="background-color: lightgray;">
                                <a href="#" class="page-link" style="background-color: lightgray;">Siguiente</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}                
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block js %}
    <script>
        var token = '{{csrf_token}}';
        var url_api_cargar_calificaciones_contenidos = "{% url 'contenido:api_cargar_calificaciones' %}";
        var url_api_calificar_contenido = "{% url 'contenido:api_calificar' %}"
    </script>
    <script src="{% static 'js/custom/calificacion.js' %}"></script>
    <script>
        $("p").each(function() {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if(length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
        $("h6").each(function() {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if(length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
        $("span").each(function() {
            var textMaxChar = $(this).attr('data-max-characters');
            var text = $(this).text();

            length = text.length;
            if(length > textMaxChar) {
                $(this).text(text.substr(0, textMaxChar) + '...');
            }
        });
        initCalificacionesContenido({{ request.user.pk }});
    </script>

{% endblock js %}