{% extends 'retos/base/base_cuartos.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Retos
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url "retos:listado" %}">Reto {{reto.nombre}}</a></li>
    <li class="breadcrumb-item active">Cuarto Abandono</li>    
{% endblock miga_pan %}


{% block contenido_cuarto %}    
    <div class="row">
       <h1> HAS ABANDONADO EL RETO </h1>
    </div>
{% endblock contenido_cuarto %}
