{% extends 'retos/base/base_cuartos.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Retos
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url "retos:listado" %}">Reto {{reto.nombre}}</a></li>
    <li class="breadcrumb-item active">Cuarto Descanso</li>    
{% endblock miga_pan %}


{% block contenido_cuarto %}    
    <div class="row">
        <div class="row">
            <h1  class="col-12">IMPORTANTE</h1>           
            <p  class="col-12">En éste cuarto te puedes tomar el tiempo que desees, pero recuerda,  el tiempo del reto continúa corriendo</p>
        </div>
        
        <div class="row mt-5 mb-5">
            <h1 class="col-12">REANUDAR</h1>
            <p class="col-12">Cuando quieras continuar con el siguiente cuarto, deberás hacer click en el cuarto con el que debes continuar. Ten mucho cuidado para que ninguno se te vaya a pasar.</p>
        </div>

        <div class="row mt-5 justify-content-center">
            {% for c_r in cuartos_responder%}
            <div class="col mx-1 text-center">
                {% if 'Equipos' in reto.grupos_permitidos %}
                    <a class="btn btn-toggle pl-5 pr-5 {% if cuarto_siguiente == c_r.pk%} active {%else%} disabled {%endif%}" style="background-color: #A32CDF; color: white;" href="{% url 'retos:retos_responder_cuartos' reto.id equipo.id%}">
                        Cuarto {{forloop.counter}}
                    </a>
                {% else %}                   
                    <a class="btn btn-toggle pl-5 pr-5 {% if cuarto_siguiente == c_r.pk%} active {%else%} disabled {%endif%}" style="background-color: #A32CDF; color: white;" href="{% url 'retos:retos_responder_cuartos' reto.id%}">
                        Cuarto {{forloop.counter}}
                    </a>
                {% endif %}  
                {% if 'Equipos' in reto.grupos_permitidos%}       
                    {% if c_r.equipo_reto_cuarto_cuarto__completado%}                
                    <p>Finalizado<i class="fa fa-check" style="color:green"></i></p>
                {% else %}
                    <p>Pendiente <i class="fa fa-ban" style="color:red"></i></p>
                {% endif %}
                {% else %}
                    {% if c_r.joven_reto_cuarto_cuarto__completado%}                
                        <p>Finalizado<i class="fa fa-check" style="color:green"></i></p>
                    {% else %}
                        <p>Pendiente <i class="fa fa-ban" style="color:red"></i></p>
                    {% endif %}
                {% endif %}
            </div>
                

            {% endfor %}
        </div>
    </div>
{% endblock contenido_cuarto %}
