{% extends 'retos/base/base_cuartos.html' %}
{% load static %}
{% load bootstrap4 %}
{% load extra_tags %}

{% block titulo %}
    Retos
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url "retos:listado" %}">Reto {{reto.nombre}}</a></li>
    <li class="breadcrumb-item active">Cuarto Finalizacion</li>    
{% endblock miga_pan %}

{% block css %}
    {{block.super}}
 

{% endblock css %}


{% block contenido_cuarto %}

<div class="row">
    <div class="col-lg-12 col-md-8 col-sm-6">
        <h1>¡FELICITACIONES!</h1>
    </div>
    <div class="col-lg-10 col-md-8 col-sm-6">        
        {% for datos in resumen_reto%}
            {% for resumen in datos.items%}
                {% if resumen.0 == 'tiempos_cuartos'%}               
                    {% for cuarto in resumen.1%}
                        {% for titulo, tiempo in cuarto.items %}
                            <div class="progress my-1" style="height: 35px; font-size: 20px;">
                                <div class="progress-bar text-left pl-3" style="width: 50%;">
                                    <strong>{{titulo}}</strong>
                                </div>
                                <strong class="pl-3">{{tiempo}}</strong>
                            </div>
                        {% endfor %}   
                    {% endfor %}  
                {% else %}
                    {% if resumen.0 == 'Puntaje Final' %}
                        {% if reto.id|reto_finalizado == False %}
                            <div class="my-1 border rounded px-3 py-2" style="font-size: 20px; background-color: #348fe2; color: white;">
                                <strong class="">¡PACIENCIA EQUIPO!  el puntaje final depende de cómo le va a los otros equipos también, podrán ver su puntaje final y el de los otros equipos al momento que terminen todos los equipos participantes o al cierre del reto, lo que ocurra primero.  </strong>
                            </div>
                        {% else %}
                            <div class="progress my-1" style="height: 35px; font-size: 20px;">
                                <div class="progress-bar text-left pl-3" style="width: 50%;">
                                    <strong>{{resumen.0}}</strong>
                                </div>
                                <strong class="pl-3">{{resumen.1}}</strong>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="progress my-1" style="height: 35px; font-size: 20px;">
                            <div class="progress-bar text-left pl-3" style="width: 50%;">
                                <strong>{{resumen.0}}</strong>
                            </div>
                            <strong class="pl-3">{{resumen.1}}</strong>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}        
    </div>
    <div class="col-12 mt-3">
        <h2>¿Y ahora qué sigue?</h2>
        {% if 'Equipos' in reto.grupos_permitidos %}
            <p>¡Lograron finalizar el reto!  Pero espera, aún falta algo muy importante, en este último cuarto deberán ingresar nuevamente todos los integrantes del grupo al reto, de ésta forma podrán hacer una evaluación de algunas competencias en su equipo. La idea es dar un reconocimiento a alguno de sus integrantes que lograron destacarse en las competencias que les mostraremos a continuación.                            Luego de que terminen éste paso, las respuestas del reto serán enviadas a los jurados para ser calificadas y luego publicaremos los resultados para que puedan verlos. Podrás encontrarlos dentro de la tarjeta del reto.</p>
        {% else %}
            <p>¡Lograste finalizar el reto! Ahora tus respuestas serán enviadas a los jurados para ser calificadas y luego publicaremos los resultados para que puedas verlos. Podrás encontrarlos los dentro de la tarjeta del reto.</p>
        {% endif %}
    </div>
    {% if 'Equipos' in reto.grupos_permitidos %}        
        <div class="col-12 mt-3" align="center">
            <a class="btn btn-primary" href="{% url 'retos:cuarto_reconocimiento_equipos' reto.id equipo.id%}">Ir al cuarto reconocimientos </a>
        </div>
    {%endif%}    
    
</div>
{% endblock contenido_cuarto %}

{% block js %}
    {{block.super}}
    <script>
        cuarto_finalizacion = true
    </script>

{% endblock js %}


