{% extends 'retos/base/base_cuartos.html' %}
{% load static %}
{% load bootstrap4 %}
{% load extra_tags %}

{% block titulo %}
    Retos
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url "retos:listado" %}">Reto {{reto.nombre}}</a></li>
    <li class="breadcrumb-item active">Cuarto Descanso</li>    
{% endblock miga_pan %}

{% block css %}
    {{block.super}}
    <style>
        .gradiente{
            background: rgba(193,70,161,1);
            background: -moz-linear-gradient(left, rgba(193,70,161,1) 0%, rgba(185,70,191,1) 0%, rgba(158,0,166,1) 0%, rgba(194,104,62,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(193,70,161,1)), color-stop(0%, rgba(185,70,191,1)), color-stop(0%, rgba(158,0,166,1)), color-stop(100%, rgba(194,104,62,1)));
            background: -webkit-linear-gradient(left, rgba(193,70,161,1) 0%, rgba(185,70,191,1) 0%, rgba(158,0,166,1) 0%, rgba(194,104,62,1) 100%);
            background: -o-linear-gradient(left, rgba(193,70,161,1) 0%, rgba(185,70,191,1) 0%, rgba(158,0,166,1) 0%, rgba(194,104,62,1) 100%);
            background: -ms-linear-gradient(left, rgba(193,70,161,1) 0%, rgba(185,70,191,1) 0%, rgba(158,0,166,1) 0%, rgba(194,104,62,1) 100%);
            background: linear-gradient(to right, rgba(193,70,161,1) 0%, rgba(185,70,191,1) 0%, rgba(158,0,166,1) 0%, rgba(194,104,62,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c146a1', endColorstr='#c2683e', GradientType=1 );
        }
    </style>

{% endblock css %}


{% block contenido_cuarto %}

<div class="row">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">        
        <div class="tab-content p-15 rounded bg-white">  
                
                {% for pregunta in preguntas %}     
                    <div id="pregunta_{{pregunta.pk}}" class="bg bg-light pl-3 pt-1">
                        <div class="row mb-2 pb-3">
                            <h1 class="text-left col-6">Pregunta {{forloop.counter}}</h1>
                            <div class="col-6 row justify-content-end my-auto" >                                
                                {% respuesta_contestada reto.id detalle pregunta.pk as contestado %} 
                                {% if contestado == True%}
                                    <h5 class="text-center col-xl-4 col-lg-5 col-sm-6 bg bg-green py-1" style="border: black 2px; border-radius: 30px 30px; color:white;">Contestado</h5>
                                {% else %}
                                    <button class="h5 text-center col-xl-4 col-lg-5 col-sm-6 bg bg-orange py-1 activar" id='boton_activo_{{pregunta.pk}}' style="border: black 2px; border-radius: 30px 30px; color:white;" onclick="mostrar_bloque('{{pregunta.pk}}'), temporizador_tiempo_transcurrido('{{pregunta.pk}}','{{pregunta.tiempo_limite}}')"> Activar </button>
                                {% endif %}
                            </div>
                        </div>
                        <div id="bloque_{{pregunta.pk}}" class="pl-3 pb-3 mt-3 mb-3  {% if contestado == True%} contestado {% else %} Activar {% endif %}" style="{% if contestado == True%} display: flex; {% else %} display: none;{%endif%}">
                            <div class="row col-12 preguntas">
                                <div class="row col-12">
                                    <p class="row col-6">{{pregunta.enunciado}}</p>
                                    <div class="row col-6 justify-content-end">                                  
                                        <div class="bg bg-orange my-auto text-center pt-1" style="border-radius: 65px; width: 65px; height: 65px; color:white; line-height: 0px;">
                                            <p class="h6" style="font-size: 8px;  line-height: 12px;">FALTAN</p>
                                            <p class="h1" style=" line-height: 12px;" id="tiempo_{{pregunta.pk}}"></p>
                                            <p class="h6" style="font-size: 8px;  line-height: 12px;">SEGUNDOS</p>
                                        </div> 
                                    </div>
                                </div>
                                
                                <div class="row col-12 opciones">                                   
                                    {% for opcion in pregunta.opciones_respuestas.all %}  
                                        {% opcion_seleccionada reto.id detalle pregunta.pk opcion.pk as seleccionado %}                                        
                                        <div class="form-check col-12">    
                                            {% if seleccionado == True %}                                    
                                                <input class="form-check-input" type="radio" name="opcion_{{pregunta.pk}}" id="opcion_{{opcion.pk}}" value="{{opcion.pk}}" onclick="avanzar_guardar_pregunta('{{pregunta.pk}}', '{{opcion.pk}}')" checked>
                                            {% else %}
                                                <input class="form-check-input" type="radio" name="opcion_{{pregunta.pk}}" id="opcion_{{opcion.pk}}" value="{{opcion.pk}}" onclick="avanzar_guardar_pregunta('{{pregunta.pk}}', '{{opcion.pk}}')">
                                            {% endif %}
                                            <label class="form-check-label" for="opcion_{{pregunta.pk}}">
                                                {{opcion.enunciado}}
                                            </label>                                    
                                        </div>
                                    {% endfor %}
                                </div>                                
                            </div>
                        </div>   
                    </div>
                {% endfor%}                     
        </div>         
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content row">
                <div class="modal-header text-center gradiente">                
                    <h1 class="modal-title col-12" id="exampleModalLongTitle">
                        <i style="font-size: 6rem; color: white;" class="fa fa-exclamation-triangle"></i>
                    </h1>                    
                </div>
                <div class="modal-body text-center">
                    <h3 style="color: black; font-weight: bolder;"><strong>Cuidado no has subido todas tus evidencias</strong></h3>
                    <p class="h5">Al activar el siguiente Cuarto inicia de una vez el siguiente cronometro</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <a class="btn btn-danger pl-5 pr-5" style="color: white; cursor: pointer;" data-dismiss="modal">AÚN NO</a>
                    <button type="submit" class="btn btn-green pl-5 pr-5" id="siguiente_cuarto" style="cursor: pointer;" onclick="avanzar_siguiente_cuarto()">ACTIVAR</button>
                </div>
            </div>
        </div>
    </div> 
</div>
{% endblock contenido_cuarto %}


{% block js %}
    {{block.super}}
    <script>
         
        var cuarto = '{{cuarto.tipo}}'        
        var id_participante = '{{id_participante}}'     
        var detalle = '{{detalle}}'   
        var reto_id = '{{reto.id}}'   
        var actos_preguntas = $("[id$='archivo_subido-clear_id']")
        var cantidad_actos = '{{cantidad_actos}}'
        var cantidad_actos_respondidos = actos_preguntas.length
        var url_avance_siguiente_cuarto = '{% url "retos:retos_api_guradar_cuarto_acto" %}'
        var url_guardar_pregunta = '{% url "retos:retos_api_guardar_pregunta" %}'
        var url_guardar_tiempo_pregunta = '{% url "retos:retos_api_guardar_tiempo_pregunta" %}'
        var url_descanso = '{% url "retos:cuarto_descanso" reto.id %}'
        var url_enviar_respuesta_pregunta = '{%url "retos:retos_api_enviar_respuesta_pregunta" %}'
        
        var token = '{{csrf_token}}'
             
        function mostrar_bloque(id_pregunta){
            let boton_mensaje = $("#bloque_"+id_pregunta)
            boton_mensaje.css("display", "flex");           
        }

        function ocultar_bloques_contestado(){
            $(".contestado").css("display", "none");
        }
     
        function avanzar_siguiente_cuarto(){
            $.ajax({
                type: "POST",
                headers: {
                    "X-CSRFToken": token,
                    contentType: "application/json"
                },
                url: url_avance_siguiente_cuarto,
                data: {
                        'json_text': JSON.stringify({                        
                        'id_participante': '{{id_participante}}',
                        'id_cuarto':'{{cuarto.id}}',
                        'id_detalle':'{{detalle}}',
                        'id_reto':'{{reto.id}}',
                    })
                },
                dataType: "json",
                success: function (data) {
                    redirect_url = data['url_redireccion'];                    
                    window.location = redirect_url;                    
                }
            });
                
        }

        function avanzar_guardar_pregunta(id_pregunta, id_opcion){
            $.ajax({
                type: "POST",
                headers: {
                    "X-CSRFToken": token,
                    contentType: "application/json"
                },
                url: url_guardar_pregunta,
                data: {
                        'json_text': JSON.stringify({
                        'id_participante': '{{id_participante}}',
                        'id_cuarto':'{{cuarto.id}}',
                        'id_detalle':'{{detalle}}',
                        'id_reto':'{{reto.id}}',
                        'id_pregunta':id_pregunta,
                        'id_opcion':id_opcion,
                    })
                },
                dataType: "json",
                success: function (data) {
                    redirect_url = data['url_redireccion']
                    if (localStorage.getItem("pregunta_actual") !== null) {
                        localStorage.removeItem('pregunta_actual')
                        localStorage.setItem('pregunta_actual', id_pregunta)
                    }else{
                        localStorage.setItem('pregunta_actual', id_pregunta)
                    }
                    window.location = redirect_url;                    
                },
                error: function (data) {                    
                    
                },
            });
                
        }

        

        $(document).ready(function () {               
            if (localStorage.getItem("pregunta_actual") !== null) {                
                mostrar_bloque(localStorage.getItem("pregunta_actual"))               
                temporizador_tiempo_transcurrido(localStorage.getItem("pregunta_actual"))
            }          
            $(".activar").css('cursor','pointer');
            ocultar_bloques_contestado()
        });
        
    </script>
    <script src="{% static 'js/custom/retos/cronometro_pregunta.js' %}"></script>
    <script>
    </script>
    
{% endblock js %}