{% extends 'retos/base/base_cuartos.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Retos
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url "retos:listado" %}">Reto {{reto.nombre}}</a></li>
    <li class="breadcrumb-item active">Cuarto Descanso</li>    
{% endblock miga_pan %}

{% block css %}
    {{block.super}}
    <style>
        .gradiente{
            background: rgba(193,70,161,1);
            background: -moz-linear-gradient(left, rgba(193,70,161,1) 0%, rgba(185,70,191,1) 0%, rgba(158,0,166,1) 0%, rgba(194,104,62,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(193,70,161,1)), color-stop(0%, rgba(185,70,191,1)), color-stop(0%, rgba(158,0,166,1)), color-stop(100%, rgba(194,104,62,1)));
            background: -webkit-linear-gradient(left, rgba(193,70,161,1) 0%, rgba(185,70,191,1) 0%, rgba(158,0,166,1) 0%, rgba(194,104,62,1) 100%);
            background: -o-linear-gradient(left, rgba(193,70,161,1) 0%, rgba(185,70,191,1) 0%, rgba(158,0,166,1) 0%, rgba(194,104,62,1) 100%);
            background: -ms-linear-gradient(left, rgba(193,70,161,1) 0%, rgba(185,70,191,1) 0%, rgba(158,0,166,1) 0%, rgba(194,104,62,1) 100%);
            background: linear-gradient(to right, rgba(193,70,161,1) 0%, rgba(185,70,191,1) 0%, rgba(158,0,166,1) 0%, rgba(194,104,62,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c146a1', endColorstr='#c2683e', GradientType=1 );
        }
    </style>

{% endblock css %}


{% block contenido_cuarto %}

<div class="row">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">        
        <div class="tab-content p-15 rounded bg-white">  
            <form class="form-horizontal" id="formulario" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ formularios_actos.management_form }}
                {% for acto, form in lista_formularios %}                
                    <div class="p-5 border-bottom">
                        <h1>Acto {{forloop.counter}}</h1>
                        <div>
                            <p>
                                {{acto.indicaciones}}
                            </p>
                        </div>
                        <div>
                            {% if acto.archivo_apoyo%}             
                                <a href="{% get_media_prefix %}{{acto.archivo_apoyo}}" target="_blank">
                                    <i class="fas fa-download fa-fw "></i>Descargar Archivo Apoyo
                                </a>                   
                            {% endif %}
                        </div>
                        <div class="mt-3">
                            <h4>Sube aquí la evidencia</h4>                            
                            {{form}}
                        </div>                    
                    </div>    
                {% endfor%}  
                <button type="submit" class="btn btn-block btn-primary mt-5" id="enviar_respuestas" >Guardar Evidencias</button>                
            </form>    
        </div>         
    </div>

     
</div>
{% endblock contenido_cuarto %}


{% block js %}
    {{block.super}}
    <script>
         
        var cuarto = '{{cuarto.tipo}}'        
        var actos_preguntas = $("[id$='archivo_subido-clear_id']")
        var cantidad_actos = '{{cantidad_actos}}'
        var cantidad_actos_respondidos = actos_preguntas.length
        var url_avance_siguiente_cuarto = '{% url "retos:retos_api_guradar_cuarto_acto" %}'
        var url_descanso = '{% url "retos:cuarto_descanso" reto.id %}'
        var token = '{{csrf_token}}'

        
      
        function avanzar_siguiente_cuarto(){
            $.ajax({
                type: "POST",
                headers: {
                    "X-CSRFToken": token,
                    contentType: "application/json"
                },
                url: url_avance_siguiente_cuarto,
                data: {
                        'json_text': JSON.stringify({                        
                        'id_participante': '{{id_participante}}',
                        'id_cuarto':'{{cuarto.id}}',
                        'id_detalle':'{{detalle}}',
                        'id_reto':'{{reto.id}}',
                    })
                },
                dataType: "json",
                success: function (data) {
                    redirect_url = data['url_redireccion'];                    
                    window.location = redirect_url;                    
                }
            });
                
        }
        
    </script>
    
{% endblock js %}