{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    Ranking
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Ranking</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-list icon-orange"></i> Ranking

{% endblock titulo_pagina %}

{% block contenido %}
    <div class="row">
        <div class="col-3" align="right">
        </div>
        <div class="col-12 contenido">
            <img src="{% static 'img/ranking/ranking.png' %}" class="img-fluid">
        </div>
    </div>
{% endblock contenido %}

