{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Retos
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="">Retos</a></li>
    <li class="breadcrumb-item"><a href="">Reto {{reto.nombre}}</a></li>
    <li class="breadcrumb-item active">Retos</li>    
{% endblock miga_pan %}

{% block css %}
    {{block.super}}
    <link href="{% static 'css/css_retos_cron.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom/retos/cronometro.css' %}" rel="stylesheet"/>
    
    <style>
        .gradiente{
            background: rgba(163,44,123,1);
            background: -moz-linear-gradient(left, rgba(163,44,123,1) 0%, rgba(248,96,12,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,96,12,1)), color-stop(0%, rgba(185,70,191,1)), color-stop(0%, rgba(158,0,166,1)), color-stop(100%, rgba(194,104,62,1)));
            background: -webkit-linear-gradient(left, rgba(163,44,123,1) 0%,rgba(248,96,12,1) 100%);
            background: -o-linear-gradient(left, rgba(163,44,123,1) 0%rgba(248,96,12,1) 100%);
            background: -ms-linear-gradient(left, rgba(163,44,123,1) 0%,rgba(248,96,12,1) 100%);
            background: linear-gradient(to right, rgba(163,44,123,1) 0%,rgba(248,96,12,1) 100%);
            
        }
    </style>
{% endblock css %}

{% block titulo_pagina %}
<i class="icon-rocket icon-orange"></i> Retos
    <p style="color:gray; font-size: 14px; line-height: normal; font-weight: normal;">
        Ponerte a prueba mientras te diviertes es una gran forma de entrenar tus capacidades. En MiEslabón le apostamos a espacios donde podamos aprender haciendo.
    </p>
{% endblock titulo_pagina %}

{% block contenido %}
    <div class="row bg bg-white pl-3 pr-3">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row mt-3">
                <div class="col-5">
                    {% if reto.organizacion.logo %}
                        <a href="{{reto.organizacion.logo.url}}" data-lightbox="gallery-group-reto-{{reto.pk}}">
                            <div class="hovereffect">
                                <img src="{{reto.organizacion.logo.url}}" class="card-img-top img img-fluid centerImage" style="width: 100px;height: 100px;">
                            </div>
                        </a>
                    {% endif %}
                </div>
                <div class="col-5">
                    <h1>{{reto.nombre}}</h1>
                </div>
            </div>
            
            {% if barra_progreso%}   
                <div class="progress mt-5">
                    <div class="progress-bar" id="progress_bar">                    
                    </div>
                </div>   
            {% endif %}
            <div class="row mt-5">
                {% if cuarto.es_descanso %}
                    <h1>PERIODO DE DESCANSO</h1>                   
                {% else %}
                    <h1>CUARTO {{orden.orden}}: {{cuarto.titulo}}</h1>
                {% endif %}
            </div>            
            <div class="row mt-1" style="word-wrap: break-word;">
                
                {% if cuarto.es_descanso %}
                    <p class="col-12">En este cuarto podrás hacer una pausa y descansar antes de continuar con los demás retos</p>          
                {% else %}
                    <p class="col-12">{{cuarto.indicacion}}</p>
                {% endif %}

                
            </div>
            <hr>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row mt-2">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 px-0 ">
                    <div class="border-0 my-1 bg bg-light" style="box-sizing: border-box;">
                         
                        {% if espera and reto.link_video_participacion %}
                            <div class="embed-responsive embed-responsive-21by9">
                                <iframe class="embed-responsive-item" frameborder="0" src="{{ reto.link_video_participacion }}" allowfullscreen></iframe>                                                          
                            </div>
                        {%endif%}
                        {% if detalle.completado and reto.link_video_reconocimiento%}
                            <div class="embed-responsive embed-responsive-21by9">
                                <iframe class="embed-responsive-item" frameborder="0" src="{{ reto.link_video_reconocimiento }}" allowfullscreen></iframe>                                
                            </div>                            
                        {% endif %}
                        {% if cuarto.es_descanso and reto.link_video_descanso %}                                                    
                            <div class="embed-responsive embed-responsive-21by9">
                                <iframe class="embed-responsive-item" frameborder="0" src="{{ reto.link_video_descanso }}" allowfullscreen></iframe>                                
                            </div>
                        {% endif %}
                        {% if cuarto.link_video %}                                                    
                            <div class="embed-responsive embed-responsive-21by9">
                                <iframe class="embed-responsive-item" frameborder="0" src="{{ cuarto.link_video }}" allowfullscreen></iframe>                                
                            </div>
                            {{cuarto.link_video}}
                        {% endif %}
                        <div class="card-body tarjetas">
                            <div class="row">
                                <div class="col-12 py-1" align="center">
                                    <h4>{{nombre_participante}}</h4>
                                </div>
                            </div>
                            <div class="row mt-3" style="border-top: 2px solid #c4c4c4; border-bottom: 2px solid #c4c4c4; box-sizing: border-box;">
                                <div class="col-12 py-3" align="center">
                                    <h4>¡Ojo a esto!</h4>
                                    <div class="row" align="center" style="word-wrap: break-word;">
                                        <p class="col-12">
                                            {{cuarto.ojo_a_esto}}
                                        </p>
                                    </div>
                                </div>
                            </div>                            
                            {% if detalle_objeto.completado == False and detalle_objeto.abandonado == False and espera is None %}
                                <div class="row mt-3" style=" border-bottom: 2px solid #c4c4c4">
                                    <div class="col-12 py-3" align="center">
                                        <h4>Tiempo en este cuarto</h4>
                                        <div class="row justify-content-center">
                                            <div id="tiempo_trasncurrido" class="row justify-content-center"></div>                                            
                                        </div>
                                    </div>
                                </div>
                            {%endif%}
                            <div class="row mt-3" style=" border-bottom: 2px solid #c4c4c4">
                                <div class="col-12 py-3" align="center" style="width: 300px;" >
                                    <div class="mx-1 row" >          
                                        
                                        {% if finalizacion == False%}
                                            {% if espera %}
                                                {% if equipo.lider.username == request.user.username %}
                                                    <a type="button" class="btn col-12" style="background-color: #A32CDF; color: white;" href="{% url 'retos:retos_responder_cuartos' reto.id equipo.id %}">Activar el Siguiente Cuarto</a>
                                                {% else %}
                                                   
                                                {% endif %}
                                            {% else %}
                                                {% if cuarto.es_descanso == False %}
                                                    <a type="button" class="btn col-12" style="background-color: #A32CDF; color: white;" onclick="abrir_activar_siguiente_cuarto()">Activar el Siguiente Cuarto</a>
                                                {% endif %}
                                            {% endif %}                                        
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        <div class="btn-group col-12 mt-3" >
                                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #A32CDF; color: white;">
                                                Opciones
                                            </button>
                                            <div class="dropdown-menu col" >
                                                <a class="dropdown-item" onclick="abrir_reglas()">Ver reglas</a>
                                                {% if detalle_objeto.completado == False %}
                                                    <a class="dropdown-item" onclick="abrir_abandonar_reto()">Abandonar Reto</a> 
                                                {% endif %}                                              
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row  mt-3" style="border-bottom: 2px solid #c4c4c4">
                                <div class="col-12 py-3" align="center">
                                    <h4>Tiempo para que finalice el reto</h4>                                   
                                    <div class="row justify-content-center">                                        
                                        <div id="fecha_fin" class="row justify-content-center"></div>                                                                                  
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12 px-0">
                    <div class="row border-0 mx-1 my-1 px-3 py-3 info-contenido" style="background: #fff">
                        <div class=" ml-3 col-12">
                            {% block contenido_cuarto %}

                            {% endblock contenido_cuarto %}
                        </div>                                     
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal draggable fade"  id="reglas" data-backdrop="static">
        <div class="modal-dialog modal-dialog-scrollable justify-content-center ">
            <div class="modal-content">
                <div class="modal-header justify-content-center box gradiente">
                    <h2 id="titulo-recurso" class="modal-title" style="color: white; ">REGLAS DEL RETO</h2>
                </div>
                <div class="modal-body" align="center">
                    <div class="col-12 text-justify">
                        <p>
                            {{reto.reglas}}
                        </p>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button onclick="close()" class="btn btn-danger btn-close px-3">Salir</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal draggable fade"  id="abandonar_reto" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered  justify-content-center ">
            <div class="modal-content">
                <div class="modal-header justify-content-center box gradiente">
                    <i style="font-size: 6rem; color: white;" class="fa fa-exclamation-triangle"></i>
                </div>
                <div class="modal-body" align="center">
                    <h2 style="color: black; font-weight: bolder; font-size: 35px;"><strong>¡Cuidado!</strong></h2>
                    <p class="h5">¿Estas seguro de abandonar este Reto?</p>
                </div>
                <div class="modal-footer justify-content-center">
                    {% if 'Equipos' in reto.grupos_permitidos%}
                        <a class="btn btn-danger pl-5 pr-5" style="color: white; cursor: pointer;" href="{% url 'retos:abandonar_reto' reto.id equipo.id%}">ABANDONAR</a>      
                    {% else %}
                        <a class="btn btn-danger pl-5 pr-5" style="color: white; cursor: pointer;" href="{% url 'retos:abandonar_reto' reto.id%}">ABANDONAR</a>      
                    {% endif %}
                    <a class="btn btn-green pl-5 pr-5" style="color: white; cursor: pointer;" data-dismiss="modal">CONTINUAR</a>                    
                </div>
            </div>
        </div>
    </div>
    <div class="modal draggable fade" id="activar_siguiente_cuarto" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered justify-content-center ">
            <div class="modal-content">
                <div class="modal-header justify-content-center box gradiente">
                    <i style="font-size: 6rem; color: white;" class="fa fa-exclamation-triangle"></i>
                </div>
                <div class="modal-body" align="center">
                    <h2 style="color: black; font-weight: bolder; font-size: 35px;"><strong>¡Cuidado!</strong></h2>
                    <p class="h5" id="mensaje_modal_siguiente_cuarto">Al activar el siguiente Cuarto serás enviado al cuarto descanso donde podrás continuar con el Reto</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <a class="btn btn-yellow pl-5 pr-5" style="color: white; cursor: pointer;" data-dismiss="modal">CANCELAR</a>
                    {% if espera %}
                        <a class="btn btn-green pl-5 pr-5" href="{% url 'retos:retos_responder_cuartos' reto.id equipo.id %}">ACTIVAR</a>
                    {% else %}
                        <a type="button" class="btn btn-green pl-5 pr-5" style="color: white; cursor: pointer;" onclick="avanzar_siguiente_cuarto()">ACTIVAR</a>       
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered  justify-content-center " role="document">
            <div class="modal-content row">
                <div class="modal-header text-center gradiente">                
                    <h1 class="modal-title col-12" id="exampleModalLongTitle">
                        <i style="font-size: 6rem; color: white; " class="fa fa-exclamation-triangle"></i>
                    </h1>                    
                </div>
                <div class="modal-body text-center">
                    <h3 style="color: black; font-weight: bolder;"><strong>Cuidado no has subido todas tus evidencias</strong></h3>
                    <p class="h5">Los Actos sin evidencias subidas tendran una puntuacion de 0.</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <a class="btn btn-danger pl-5 pr-5" style="color: white; cursor: pointer;" data-dismiss="modal">AÚN NO</a>
                    <button type="submit" class="btn btn-green pl-5 pr-5" id="siguiente_cuarto" onclick="avanzar_siguiente_cuarto()">ACTIVAR</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="preguntasIncompletas" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered  justify-content-center " role="document">
            <div class="modal-content row">
                <div class="modal-header text-center gradiente">                
                    <h1 class="modal-title col-12" id="preguntasIncompletasLongTitle">
                        <i style="font-size: 6rem; color: white; " class="fa fa-exclamation-triangle"></i>
                    </h1>                    
                </div>
                <div class="modal-body text-center">
                    <h3 style="color: black; font-weight: bolder;"><strong>Cuidado no has respondido todas las preguntas</strong></h3>
                    <p class="h5">Las preguntas que no sean contestadas tendran una puntuacion de 0.</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <a class="btn btn-danger pl-5 pr-5" style="color: white; cursor: pointer;" data-dismiss="modal">AUN NO</a>
                    <button type="submit" class="btn btn-green pl-5 pr-5" id="siguiente_cuarto" onclick="avanzar_siguiente_cuarto()">ACTIVAR</button>
                </div>
            </div>
        </div>
    </div>
    

    
{% endblock contenido %}

{% block js %}
    {{block.super}}
    <script>
        var cuarto_finalizacion = false
        var token = '{{csrf_token}}';
        var grupos_permitidos = '{{reto.grupos_permitidos}}'
        let equipo_id = '{{equipo.id}}'
        var url_reto_inicio=""       
        if ("Equipos" == grupos_permitidos){            
            url_reto_inicio=`{% url 'retos:inicio_reto' reto.id %}/${equipo_id}`            
        }else{
            url_reto_inicio="{% url 'retos:inicio_reto' reto.id %}"
        }            
        var reto_id = '{{reto.id}}'
        var faltante_cuarto = parseInt('{{tiempo_transcurrido}}')
        var detalle = '{{detalle}}'        
        var porcentaje = parseInt('{{porcentaje}}')
        var todos_archivos_subidos = true
        var todas_preguntas_contestadas = true
        var espera = '{{espera}}'
        var tipo_cuarto = '{{cuarto.tipo.nombre}}' 
        var cantidad_cuartos = parseInt('{{cuarto_sin_completar}}')
        var url_confirmar_reto_finalizado = "{% url 'retos:api_confirmar_reto_finalizado' %}"

    </script>

    <script src="{% static 'js/custom/retos/cronometro.js' %}"></script>
    <script src="{% static 'js/custom/retos/cronometro_inicio_reto.js' %}"></script>
    <script src="{% static 'js/custom/retos/cronometro_cuartos.js' %}"></script>
    <script src="{% static 'js/custom/retos/validacion_reto_terminado.js' %}"></script>
     
    
    <script>            
        iniciar_cronometro_tiempo_faltante()
        temporizador_tiempo_transcurrido()
    </script>
    <script>
        intervalo_tiempo_estados_miembro(detalle, reto_id)

    </script>
    <script>

        cargar_barra_progreso()
        $(document).on("click", ".btn-close", function(event){
            close_modal()
        });
        function close_modal() {
            $("#reglas").modal('hide');
        }
        function abrir_reglas() {
            $("#reglas").modal('show');
        }
        function abrir_abandonar_reto() {
            $("#abandonar_reto").modal('show');
        }        
        function cargar_barra_progreso(){                       
            $("#progress_bar").css('width', porcentaje+'%')
            $("#progress_bar").text(porcentaje+'%')
        }
        function estan_archvios_subidos(){
            $("[id$=archivo_subido]").each(function(){
                if ($(this).parent().find("a").length == 0){
                    todos_archivos_subidos = false
                }
            })
            return todos_archivos_subidos
        }
        function confirmar_archivos_subidos(){
            
            if (estan_archvios_subidos() == false){
                $("#exampleModalCenter").modal('show');                
            }            
        }

        function esta_cuarto_contestado(){
            let cantidad_preguntas = $("[id^=pregunta_]").length
            
            if (tipo_cuarto == 'Preguntas'){                
                return (cantidad_preguntas == confirmar_preguntas_contestadas())                
            }else{                           
                return estan_archvios_subidos()
            }  
        }

        function abrir_activar_siguiente_cuarto() {
            mensaje = $('#mensaje_modal_siguiente_cuarto')
            mensaje.text("Al activar el siguiente Cuarto serás enviado al cuarto descanso donde podrás continuar con el Reto")    
            let cantidad_preguntas = $("[id^=pregunta_]").length
            if (cantidad_cuartos!=1){            
                if (!esta_cuarto_contestado()){
                    if (tipo_cuarto == 'Preguntas'){                  
                        confirmar_preguntas()
                    }else{                  
                        confirmar_archivos_subidos()
                    }                      
                }

                $("#activar_siguiente_cuarto").modal('show');
                    
            }else{
                
                if (esta_cuarto_contestado()){                                         
                    mensaje.text("Este es el ultimo cuarto. A continuación, se mostrarán los resultados ¿Quieres finalizar el Reto?")                                       
                    $("#activar_siguiente_cuarto").modal('show');                    
                }else{
                    if (tipo_cuarto == 'Preguntas'){
                        confirmar_preguntas()
                    }else{             
                        confirmar_archivos_subidos()
                    }  
                }                
            }
        }
        
        function confirmar_preguntas_contestadas(){
            let cantidad_preguntas = $("[id^=pregunta_]").length
            let cantidad_respuestas = 0
            $("[id^=pregunta_]").each(function(){
                $(this).find("[id^=bloque_]").each(function(){
                    let opciones = $(this).find(".preguntas .opciones")
                    opciones.find("[id^=opcion_]").each(function(){
                        if($(this).is(':checked')){
                            cantidad_respuestas += 1
                        }
                    })
                })
            })
            return cantidad_respuestas
        }
        function confirmar_preguntas(){
            let cantidad_preguntas = $("[id^=pregunta_]").length
            
            if (cantidad_preguntas != confirmar_preguntas_contestadas()){
                $("#preguntasIncompletas").modal('show');                
            }            
        }
        
    </script>
{% endblock js %}
