{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load extra_tags %}

{% block titulo %}
    Postular Mis Equipos 
{% endblock titulo %}

{% block css %}
    <style type="text/css">
        .panel{
            background: none;
        }
    </style>
{% endblock css %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item active">Postular Mis Equipos </li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-open icon-orange"></i> Postular Mis Equipos 
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row">
        <div class="mb-3 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="tab-content p-15 rounded bg-white">
                <div class="tab-pane fade active show">
                    <h3 class="m-t-10 m-b-10">Postular Mis Equipos </h3>
                    <p class="mb-4 mr-5">
                        <i>
                            Si eres el líder de un equipo en Mi Eslabón, aquí podrás postular a tu equipo para ser parte de una organización. Esto puede ser especialmente útil para pertenecer a redes de grupos, acceder a información y beneficios de esas organizaciones o participar de retos, convocatorias y concursos.  ¡Conéctate con organizaciones de tu interés!
                        </i>
                    </p>
                    <form class="ml-5 mt-5" method="post" enctype="multipart/form-data" action=''>{% csrf_token %}
                        <div class="row pl-5 pr-5">
                            <div class="col-12">
                                {{form_postulacion.media}}
                                {% bootstrap_form form_postulacion %}
                            </div>
                        </div> 
                    <div class="row">
                        <div class="col-12" align="right">
                            <button class="btn btn-primary" name="enviar_postulacion" type="submit">Enviar Postulación</button>
                        </div>
                    </div>
                    <hr>
                    <h3>Mis Equipos Postulados</h3>
                    <div class="row">
                        <div class="col-12 justify-content-center">
                            <div class="row col-12 m-t-5 justify-content-center">
                                <div class="col-6" id="div_invitados">
                                    <div class="table-responsive">
                                        <table class='table table-bordered table-striped table-td-valign-middle'>
                                            <thead> 
                                                <th>Logo</th>
                                                <th>Nombre</th>
                                                <th></th>
                                            </thead>
                                            <tbody>
                                                {% for equipo in equipos %}
                                                    <tr>
                                                        <td align="center">
                                                            {%if equipo.logo %}
                                                                <img src="{{equipo.logo.url}}" alt="Imagen perfil" class="img-circle my-auto" style="width: 50px; height: 50px;">
                                                            {% else %}
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {{equipo.nombre}}
                                                        </td>
                                                        <td align="center">
                                                            <a class="btn btn-xs btn-danger" href='{% url "usuarios:cancelar_postulacion" organizacion.id equipo.id %}'>Cancelar Postulación</a>
                                                        </td>
                                                    </tr>
                                                {% empty %}
                                                    <tr>
                                                        <td colspan="5" align="center">
                                                            <b> Todavía no hay equipos postulados</b>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-12" align="right">
                            <button class="btn btn-primary" name="finalizar">Finalizar</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

