{% extends 'base_tablas.html' %}

{% block titulo %}
    Gestión Tipos Modalidades
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Contenido</li>
    <li class="breadcrumb-item">Gestión Modalidades</li>
    <li class="breadcrumb-item active">Tipos Modalidades</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-paper-clip icon-orange"></i> Gestión Tipos Modalidades
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan los tipos modalidades registrados en el sistema.</i>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tipo in tipos %}
                        <tr>
                            <td>{{ tipo.nombre }}</td>
                            <td align="center">
                                {% if tipo.activo == True %}
                                    <span class="label label-lime">ACTIVO</span>
                                {% else %}
                                    <span class="label label-secondary">INACTIVO</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

