{% extends 'base.html' %}

{% load bootstrap4 %}

{% block titulo %}
    Modificar Tipo Modalidad
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Contenido</li>
    <li class="breadcrumb-item">Gestión Modalidades</li>
    <li class="breadcrumb-item"><a href="{% url "contenido:listado_tipos_modalidades" %}">Gestión Tipos Modalidades</a></li>
    <li class="breadcrumb-item active">Modificar Tipo Modalidad</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-paper-clip icon-orange"></i> Modificar Tipo Modalidad
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <form method="post">{% csrf_token %}
        <div class="row">
            <div class="col-12 mb-2">
                <p class="mb-1">
                    <i>El siguiente formulario permite modificar las diferentes características de una modalidad.</i>
                </p>
            </div>
            {% for campo in form %}
                {% if campo.name == 'activo'%}
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6" align="left">
                        {% bootstrap_field campo field_class="form-check checkbox checkbox-css pt-0 checkbox-inline" placeholder="" %}
                    </div>
                {% else %}
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        {% bootstrap_field campo placeholder="" %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-6" align="left">
                <a class="btn btn-secondary" href="{% url "contenido:listado_tipos_modalidades" %}"><i class="fa fa-angle-left"></i> Atrás</a>
            </div>
            <div class="col-6" align="right">
                <button class="btn btn-primary" type="submit">Modificar Tipo Modalidad <i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </form>
{% endblock contenido_panel %}
