{% extends 'base_tablas.html' %}
{% load extra_tags %}

{% block titulo %}
    Consultar Respuestas
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Consultar Respuestas</li>
    <li class="breadcrumb-item">Dominó D48</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-open icon-orange"></i> Consultar Respuestas
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan las respuestas del test D48.</i>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Joven</th>
                        <th>Edad</th>
                        <th>Género</th>
                        <th>Tiempo Gastado</th>
                        <th>Finalizado en</th>
                        <th>Respondidas</th>
                        <th>Correctas</th>
                        <th>Porcentaje Correctas</th>
                        <th>Resultado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for calificacion in calificaciones %}
                        <tr>
                            <td>{{calificacion.respuestas.joven}}</td>
                            <td>{{calificacion.respuestas.joven|edad}}</td>
                            <td>{{calificacion.respuestas.joven.get_genero_display}}</td>
                            <td>{{calificacion.respuestas.tiempo_gastado}}</td>
                            <td>{{calificacion.respuestas.modificado|date:'M d, Y'}}</td>
                            <td>{{calificacion.resultadoD48|d48:'respondidas'}}</td>
                            <td>{{calificacion.resultadoD48|d48:'correctas'}}</td>
                            <td>{{calificacion.resultadoD48|d48:'porcentaje'}}%</td>
                            <td>{{calificacion.resultadoD48|d48:'resultado'}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

