{% extends 'base_tablas.html' %}
{% load extra_tags %}

{% block titulo %}
    Gestión de Recursos
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item active">Gestión de Recursos</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-direction icon-orange"></i> Gestión de Recursos
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan los recursos registrados en el sistema y las diferentes herramientas para su gestión:</i>
            </p>
        </div>
        <div class="col-md-12" align="right">
            <a class="btn btn-primary" href="{% url 'guia:registrar' %}"><i class="fas fa-plus"></i> Registrar recurso</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Tipo</th>
                            <!--<th>Recurso</th>-->
                            <th>Estrellas</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for recurso in recursos %}
                            <tr>
                                <td>{{recurso.nombre}}</td>
                                <td>{{recurso.descripcion}}</td>
                                <td>{{recurso.tipo.all|join:", " }}</td>
                                {% comment %}
                                    <td style="max-width: 80px" align="center">
                                        <a href="javascript:modal('video','{{ recurso.link_video }}','{{ recurso.nombre }}')"><i class="icon-camrecorder"></i> Ver Video</a>
                                    </td>
                                {% endcomment %}
                                <td align="center">
                                    {% with recurso|promedio_calificacion_recurso as promedio %}
                                        {% if promedio == 1 %}
                                            <span class="calificacion activo pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                            <span class="calificacion pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                            <span class="calificacion pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                            <span class="calificacion pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                            <span class="calificacion pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                        {% elif promedio == 2 %}
                                            <span class="calificacion activo pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                            <span class="calificacion activo pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                            <span class="calificacion pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                            <span class="calificacion pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                            <span class="calificacion pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                        {% elif promedio == 3 %}
                                            <span class="calificacion activo pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                            <span class="calificacion activo pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                            <span class="calificacion activo pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                            <span class="calificacion pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                            <span class="calificacion pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                        {% elif promedio == 4 %}
                                            <span class="calificacion activo pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                            <span class="calificacion activo pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                            <span class="calificacion activo pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                            <span class="calificacion activo pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                            <span class="calificacion pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                        {% elif promedio == 5 %}
                                            <span class="calificacion activo pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                            <span class="calificacion activo pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                            <span class="calificacion activo pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                            <span class="calificacion activo pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                            <span class="calificacion activo pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                        {% else %}
                                            <span class="calificacion pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                            <span class="calificacion pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                            <span class="calificacion pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                            <span class="calificacion pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                            <span class="calificacion pr-1"><b><i class="fas fa-star fa-lg"></i></b></span>
                                        {% endif %}
                                    {% endwith %}
                                </td>
                                <td align="center">
                                    {% if recurso.activo == True %}
                                        <span class="label label-lime">ACTIVO</span>
                                    {% else %}
                                        <span class="label label-secondary">INACTIVO</span>
                                    {% endif %}
                                </td> 
                                <td align="center">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <a title="Modificar" href="{% url "guia:modificar" recurso.id %}"><i class="fas fa-pen-alt"></i></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal draggable fade" id="detalle-recurso" data-backdrop="static">
        <div class="modal-dialog justify-content-center">
            <div class="modal-content">
                <div class="modal-header box">
                    <h4 id="titulo-recurso" class="modal-title"></h4>
                    <button aria-label="Close" class="close btn-close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body" align="center">
                    <div id="iframe_video" style="display: none;">
                        <iframe id="src_video" frameborder="0" style="width: 100%; height: 250px"
                                src="{{ recurso.link_video }}"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="close()" class="btn btn-secondary btn-close px-3">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

{% block js %}
    {{ block.super }}
    <script>
        function modal(tipo,src_file,nombre){
            document.getElementById('titulo-recurso').innerHTML = nombre;
            document.getElementById('iframe_video').style.display = 'none';
            document.getElementById('src_video').src = '';
            document.getElementById('iframe_video').style.display = '';
            document.getElementById('src_video').src = src_file;
            $("#detalle-recurso").modal('show');
        }
        $(document).on("click", ".btn-close", function(event){
            close_modal()
        });
        function close_modal() {
            $("#detalle-recurso").modal('hide');
        }
    </script>
{% endblock js %}