{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Rendimiento por asignatura
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item active">Rendimiento por asignatura</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-graph icon-orange"></i> Rendimiento por asignatura
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div>
        <h3>Rendimiento por asignatura</h3>
        <hr>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="chartdiv" style="width: 100%; height: 500px;"></div>
        </div>
    </div>
    <div>
        <h3 class="mt-5">Número de experiencias del equipo</h3>
        <hr>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="chartdiv1" style="width: 100%; height: 500px;"></div>
        </div>
    </div>

    <script src="{% static 'js/custom/graficas/librerias/core.js'%}"></script>
    <script src="{% static 'js/custom/graficas/librerias/charts.js'%}"></script>
    <script src="{% static 'js/custom/graficas/librerias/animated.js'%}"></script>

    <script>
        var rendimiento_por_asignatura = {{rendimiento_por_asignatura|safe}}
        var numero_de_experiencias_del_equipo = {{numero_de_experiencias_del_equipo|safe}}

    </script>

    <script src="{% static 'js/custom/graficas/equipos/grafica_mis_experiencias.js' %}"></script>
    <script src="{% static 'js/custom/graficas/equipos/grafica_tribus.js' %}"></script>

{% endblock contenido_panel%}

