{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Distribución de las calificaciones por competencias cognitivas
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item active">Distribución de las calificaciones por competencias cognitivas</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-graph icon-orange"></i> Distribución de las calificaciones por competencias cognitivas
{% endblock titulo_pagina %}

{% block contenido_panel %}
   
    <div class="row">
        <div class="col-12">
            <div id="chartdiv" style="width: 100%; height: 400px;"></div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <div class="col-12 m-t-20 text-center">
                <h2>Análisis en lectura</h2>
            </div>
            <div id="chartdiv1" style="width: 100%; height: 300px;"></div>
        </div>
    </div>


    <script src="{% static 'js/custom/graficas/librerias/core.js'%}"></script>
    <script src="{% static 'js/custom/graficas/librerias/charts.js'%}"></script>
    <script src="{% static 'js/custom/graficas/librerias/animated.js'%}"></script>

    <script>
        var competencias_cognitivas = {{competencias_cognitivas|safe}}
    </script>

    <script src="{% static 'js/custom/graficas/equipos/grafica_competencias_cognitivas.js' %}"></script>
    <script src="{% static 'js/custom/graficas/equipos/grafica_analisis_en_lectura.js' %}"></script>
{% endblock contenido_panel%}

