{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block titulo %}
    Distribución de las calificaciones por habilidades sociales
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item active">Distribución de las calificaciones por habilidades sociales</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-graph icon-orange"></i> Distribución de las calificaciones por habilidades sociales
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row">
        {% for competencia in competencias_habilidades_sociales %}
            <div class="col-6">
                <h3>{{competencia.category}}</h3>
                <div id="chartdiv{{forloop.counter0}}" style="width: 100%; height: 300px;"></div>
            </div>
        <hr>
        {% endfor %}
        {% for competencia in competencias_habilidades_sterret %}
        <div class="col-6">
            <h3>{{competencia.category}}</h3>
            <div id="sterret{{forloop.counter0}}" style="width: 100%; height: 300px;"></div>
        </div>
        <hr>    
    {% endfor %}
    </div>
    <hr>
    <div class="row">
        <div class="col-6" style="height: 320px;">
            <h3 style="height: 50px;">Distribución de las calificaciones en habilidades sociales</h3>
            <div id="piechart" style="width: 100%; height: 300px;"></div>
        </div>
        <div class="col-6" style="height: 500px;">
            <h3 style="height: 50px;">Estilos de liderazgo</h3>
            <div id="piechart1" style="width: 100%; height: 300px;"></div>
        </div>
    </div>

    <script src="{% static 'js/custom/graficas/librerias/core.js'%}"></script>
    <script src="{% static 'js/custom/graficas/librerias/charts.js'%}"></script>
    <script src="{% static 'js/custom/graficas/librerias/animated.js'%}"></script>

    <script>
        var competencias_habilidades_sociales = {{competencias_habilidades_sociales|safe}}
        var competencia_sterret = {{competencia_sterret|safe}}
        var estilos_de_liderazgo = {{estilos_de_liderazgo|safe}}
        var competencias_habilidades_sterret = {{competencias_habilidades_sterret|safe}}
    </script>

    <script src="{% static 'js/custom/graficas/equipos/grafica_competencias_habilidades_sociales.js' %}"></script>
    <script src="{% static 'js/custom/graficas/equipos/grafica_competencias_sterret.js' %}"></script>
    <script src="{% static 'js/custom/graficas/equipos/grafica_puntaje_sterret.js' %}"></script>
    <script src="{% static 'js/custom/graficas/equipos/grafica_liderazgo.js' %}"></script>
{% endblock contenido_panel%}

