{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
    Grado de interés y aptitud por tribu del equipo
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item active">Distribución de las calificaciones por competencias cognitivas</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-graph icon-orange"></i> Grado de interés y aptitud por tribu del equipo
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div>
        <h3>Grado de interés y aptitud por tribu del equipo</h3>
        <hr>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="chartdiv" style="width: 100%; height: 450px;"></div>
        </div>
    </div>
    <hr>

    <script src="{% static 'js/custom/graficas/librerias/core.js'%}"></script>
    <script src="{% static 'js/custom/graficas/librerias/charts.js'%}"></script>
    <script src="{% static 'js/custom/graficas/librerias/animated.js'%}"></script>

    <script>
        var competencias_aptitudes_e_intereses = {{competencias_aptitudes_e_intereses|safe}}
    </script>

    <script src="{% static 'js/custom/graficas/equipos/grafica_aptitudes_e_intereses.js' %}"></script>
    
{% endblock contenido_panel%}

