{% extends 'base_tablas.html' %}

{% block titulo %}
    Gestión Formularios
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item active">Gestión Formularios</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-open icon-orange"></i> Gestión Formularios
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan los formulario registrados en el sistema.</i>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Ámbito</th>
                        <th>Nombre del formulario</th>
                        <th>Tipo de preguntas</th>
                        <th>Indicaciones</th>
                        <th>Tiempo Límite</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for formulario in formularios %}
                        <tr>
                            <td>{{formulario.identificador}}</td>
                            <td>{{formulario.ambito}}</td>
                            <td>{{formulario.nombre}}</td>
                            <td>{{formulario.get_tipo_preguntas_display}}</td>
                            <td>
                                <div style="max-width: 500px; overflow-y: auto">
                                    {{formulario.instrucciones}}
                                </div>
                            </td>
                            <td>
                                {% if formulario.tiempo_limite %}
                                    {{formulario.tiempo_limite}} min
                                {% else %}
                                    Ilimitado
                                {% endif %}
                            </td>
                            <td align="center">
                                {% if formulario.activo == True %}
                                    <span class="label label-lime">ACTIVO</span>
                                {% else %}
                                    <span class="label label-secondary">INACTIVO</span>
                                {% endif %}
                            </td>
                            <td>
                                <div class="row justify-content-center">
                                    <button class="btn btn-primary dropdown-toggle mx-2" type="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">Opciones</button>
                                    <div class="dropdown-menu dropdown-primary">
                                        <a class="dropdown-item" href="{% url 'formularios:consultar_preguntas' formulario.id %}">Ver Preguntas</a>
                                        <a class="dropdown-item" href="#">Vista Previa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

