{% extends 'base_tablas.html' %}

{% block titulo %}
    Gestión Formularios
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item active">Gestión Formularios</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-open icon-orange"></i> Gestión Formularios
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>Formularios registrados: {{ formularios|length }}</i>
            </p>
        </div>
        <div class="col-md-12" align="right">
            <a class="btn btn-primary" href="{% url "formularios:registrar" %}"><i class="fas fa-plus"></i> Registrar Formulario</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Ámbito</th>
                        <th>Nombre del formulario</th>
                        <th>Tipo de preguntas</th>
                        <th>Indicaciones</th>
                        <th>Tiempo Límite</th>
                        <th>Estado</th>
                        <th style="max-width: 30px;">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for formulario in formularios %}
                        <tr>
                            <td>{{formulario.identificador}}</td>
                            <td>{{formulario.ambito}}</td>
                            <td>{{formulario.nombre}}</td>
                            <td>{{formulario.get_tipo_preguntas_display}}</td>
                            <td>
                                <div style="max-width: 500px; overflow-y: auto">
                                    {{formulario.instrucciones}}
                                </div>
                            </td>
                            <td>
                                {% if formulario.tiempo_limite %}
                                    {{formulario.tiempo_limite}} min
                                {% else %}
                                    Ilimitado
                                {% endif %}
                            </td>
                            <td align="center">
                                {% if formulario.activo == True %}
                                    <span class="label label-lime">ACTIVO</span>
                                {% else %}
                                    <span class="label label-secondary">INACTIVO</span>
                                {% endif %}
                            </td>
                            <td align="center">
                                <div class="row">
                                    {#                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">#}
                                    {#                                        <a title="Ver" href="#"><i class="fas fa-eye"></i></a>#}
                                    {#                                    </div>#}
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <a title="Modificar" href="{% url "formularios:modificar" formulario.id %}"><i class="fas fa-pen-alt"></i></a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <a title="Ver Preguntas" href="{% url 'formularios:listado_preguntas' formulario.id %}"><i class="fas fa-question"></i></a>
                                    </div>
                                    {#                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">#}
                                    {#                                        <a title="Activar/Inactivar" href="#"><i class="fas fa-trash-alt"></i></a>#}
                                    {#                                    </div>#}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}

