{% extends 'base.html' %}

{% load bootstrap4 %}

{% block titulo %}
    Modificar Formulario
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url "formularios:listado" %}">Gestión Formularios</a></li>
    <li class="breadcrumb-item active">Modificar Formulario</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-open icon-orange"></i> Modificar Formulario
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <form enctype="multipart/form-data" method="post">{% csrf_token %}
        <div class="row">
            <div class="col-12 mb-2">
                <p class="mb-1">
                    <i>El siguiente formulario permite modificar las diferentes características de un formulario.</i>
                </p>
            </div>
            {% for campo in form %}
                {% if campo.name == 'activo' or campo.name == 'releer' %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4" align="left">
                        {% bootstrap_field campo field_class="form-check checkbox checkbox-css pt-0 checkbox-inline" placeholder="" %}
                    </div>
                {% elif campo.name == 'imagen' %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                        <label>{{ campo.label }}</label>
                        <div style="height: calc(1.2em + 14px + 2px); overflow:hidden;" class="custom-file">
                            <div>
                                <input type="file" name="imagen" accept="image/*" class="custom-file-input" id="id_imagen">
                                <label style="height: calc(1.2em + 14px + 2px);" class="custom-file-label" for="inputGroupFile01">{{campo.value|default:'Seleccione una imagen...'}}</label>
                            </div>
                        </div>
                        {% if campo.value %}<a href="/media/{{ campo.value }}" data-lightbox="gallery-group">Ver imagen actual</a>{% endif %}
                    </div>
                {% else %}
                    <div class="col-12 col-sm-12 col-md-4 col-xl-4 col-lg-4">
                        {% bootstrap_field campo placeholder="" %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-6" align="left">
                <a class="btn btn-secondary" href="{% url "formularios:listado" %}"><i class="fa fa-angle-left"></i> Atrás</a>
            </div>
            <div class="col-6" align="right">
                <button class="btn btn-primary" type="submit">Modificar Formulario <i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </form>
{% endblock contenido_panel %}

{% block js %}
    <script>
        var tipo_pregunta = '{{ tipo_preguntas }}';
        if(tipo_pregunta === "E" || tipo_pregunta === "M")
            document.getElementById('id_escala_max').parentElement.parentElement.style.display = "";
        else
            document.getElementById('id_escala_max').parentElement.parentElement.style.display = "none";
    </script>
{% endblock js %}
