{% extends 'base.html' %}

{% load bootstrap4 %}

{% block titulo %}
    Vista Previa Formulario
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url "formularios:listado" %}">Gestión Formularios</a></li>
    <li class="breadcrumb-item active">Vista Previa Formulario</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-book-open icon-orange"></i> Vista Previa Formulario
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <form method="post">{% csrf_token %}
        <div class="row">
            <div class="col-12 mb-2">
                <p class="mb-1">
                    <i>A continuación se presenta la vista previa del formulario.</i>
                </p>
            </div>
            {% for pregunta in preguntas %}

            {% endfor %}
        </div>
        <div class="row">
            <div class="col-6" align="left">
                <a class="btn btn-secondary" href="{% url "formularios:listado" %}"><i class="fa fa-angle-left"></i> Atrás</a>
            </div>
        </div>
    </form>
{% endblock contenido_panel %}

{% block js %}
{% endblock js %}
