{% extends 'base_tablas.html' %}
{% load static %}

{% block titulo %}
    Experiencias Actuales
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Usuarios</li>
    <li class="breadcrumb-item"><a href="{% url 'perfiles_deseados:consultar_perfiles_jovenes' %}">Perfiles Jovenes</a></li>
    <li class="breadcrumb-item active">Experiencias Actuales</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-chart icon-orange"></i> Experiencias Actuales
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan las experiencias actuales de los jovenes registrados en el sistema.</i>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Joven</th>
                        <th>Correo electrónico</th>
                        <th>Rendimiento Académico</th>
                        <th>Clubes Juveniles</th>
                        <th>Voluntariados</th>
                        <th>Laborales</th>
                        <th>Independientes</th>
                        <th>Emprendimientos</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for joven in jovenes %}
                        <tr>
                            <td>{{joven.tipo_identificacion}} {{ joven.identificacion }} {{joven.get_full_name}}</td>
                            <td>{{joven.email}}</td>
                            <td>
                                <ul class="list-group list-group-flush my-0" style="max-height: 12vh; overflow-y: auto;">
                                    <li class="p-1"><b>Informática:</b> {{ joven.get_rendimiento_informatica_display }}</li>
                                    <li class="p-1"><b>Matemáticas:</b> {{ joven.get_rendimiento_matematica_display }}</li>
                                    <li class="p-1"><b>Historia:</b> {{ joven.get_rendimiento_historia_display }}</li>
                                    <li class="p-1"><b>Literatura:</b> {{ joven.get_rendimiento_literatura_display }}</li>
                                    <li class="p-1"><b>Idiomas Extranjeros:</b> {{ joven.get_rendimiento_idiomas_extranjeros_display }}</li>
                                    <li class="p-1"><b>Idiomas Nativos:</b> {{ joven.get_rendimiento_informatica_display }}</li>
                                    <li class="p-1"><b>Artes:</b> {{ joven.get_rendimiento_artes_display }}</li>
                                    <li class="p-1"><b>Deporte:</b> {{ joven.get_rendimiento_deportes_display }}</li>
                                    <li class="p-1"><b>Naturales:</b> {{ joven.get_rendimiento_naturales_display }}</li>
                                    <li class="p-1"><b>Geografía:</b> {{ joven.get_rendimiento_geografia_display }}</li>
                                    <li class="p-1"><b>Economía:</b> {{ joven.get_rendimiento_economia_display }}</li>
                                    <li class="p-1"><b>Química:</b> {{ joven.get_rendimiento_quimica_display }}</li>
                                    <li class="p-1"><b>Salud:</b> {{ joven.get_rendimiento_salud_display }}</li>
                                    <li class="p-1"><b>Militar:</b> {{ joven.get_rendimiento_militar_display }}</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-group list-group-flush my-0" style="max-height: 12vh; overflow-y: auto;">
                                    {% for club in joven.clubes_del_joven.all %}
                                        <li class="p-1">{{ club.nombre }} - {{ club.tribu }}</li>
                                    {% empty %}
                                        <li class="p-2">Sin Clubes Juveniles</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul class="list-group list-group-flush my-0" style="max-height: 12vh; overflow-y: auto;">
                                    {% for voluntariado in joven.voluntariados_del_joven.all %}
                                        <li class="p-1">{{ voluntariado.nombre }} - {{ voluntariado.tribu }}</li>
                                    {% empty %}
                                        <li class="p-2">Sin Voluntariados</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul class="list-group list-group-flush my-0" style="max-height: 12vh; overflow-y: auto;">
                                    {% for laboral in joven.experiencias_laborales_del_joven.all %}
                                        <li class="p-1">{{ laboral.nombre }} - {{ laboral.tribu }}</li>
                                    {% empty %}
                                        <li class="p-2">Sin Laborales</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul class="list-group list-group-flush my-0" style="max-height: 12vh; overflow-y: auto;">
                                    {% for indep in joven.trabajos_independientes_del_joven.all %}
                                        <li class="p-1">{{ indep.nombre }} - {{ indep.tribu }}</li>
                                    {% empty %}
                                        <li class="p-2">Sin Independientes</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul class="list-group list-group-flush my-0" style="max-height: 12vh; overflow-y: auto;">
                                    {% for emprend in joven.emprendimientos_del_joven.all %}
                                        <li class="p-1">{{ emprend.nombre }} - {{ emprend.tribu }}</li>
                                    {% empty %}
                                        <li class="p-2">Sin Emprendimientos</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}
