{% load crispy_forms_tags %}
{% load static %}
{% load crispy_forms_filters %}
<div class="row">
    <div class="col-sm-12">
        {{ formset.management_form|crispy }}
        {% for form in formset.forms %}
            <div class="{% cycle 'row1' 'row2' %} formset_row-{{ formset.prefix }}">
                {% for field in form.visible_fields %}

                    {% if field.name != 'DELETE' %}
                        <div class="col">
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                                <div class=" mb-2">
                                    {{ field|as_crispy_field}}
                                </div>
                        </div>
                        {% if field.name == 'tribu'%}
                            <a href="{% static 'img/insignias/tribus.png' %}" data-lightbox="gallery-group-tribus"><i class="fa fa-question"></i></a>
                        {% endif %}
                    {%endif%}
                {% endfor %}
                </div>
        {% endfor %}
    </div>
</div>
<br>

{% block js %}

    <script src="{% static 'js/apps/generales/experiencias_actuales.formset.js' %}"></script>

    <script type="text/javascript">
        $('.formset_row-{{ formset.prefix }}').formset({
            addText: 'Agregar Otra',
            deleteText: 'Eliminar',
            prefix: '{{ formset.prefix }}',
        });
    </script>

{% endblock js %}