﻿{% extends 'base.html' %}
{% load static %}
{% load extra_tags %}

{% block titulo %}
    Inicio
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item">Inicio</li>
    <li class="breadcrumb-item active">Tablero</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-grid icon-orange"></i> Tablero
    {% if user.tipo == 'Joven' %}
        <p style="color:darkorange; font-size: 14px;">
            <span style="font-family:'montserrat Bold';">
                ¿Cómo jugar la</span> <span
                style="font-family:'Montserrat black'!important;">Misión Eslabón</span>?<br/>
            <a href="javascript:;"
               onclick="cargar_video_a_modal(null, '¿Cómo jugar la MISIÓN ESLABÓN?', '', 'https://player.vimeo.com/video/565759280')">
                <span style="color:#004a8b;">(ver Video)</span>
            </a>
        </p>
    {% endif %}
{% endblock titulo_pagina %}

{% block css %}
    <style>
        .table-striped > tbody > tr:nth-child(odd) {
            background-color: #d0d5eb !important;
        }

        .table-striped > tbody > tr:nth-child(even) {
            background-color: #e9ecf4 !important;
        }

        .table-striped > tbody td {
            height: 30px;
            font-size: 0.8rem;
        }

        .table td, .table th {
            font-size: 0.9rem;
            padding: 5px;
            vertical-align: middle;
        }

        .table thead tr th {
            font-weight: 500;
            border-bottom: 1px solid #b8c1ca;
        }
    </style>
{% endblock %}
{% block contenido %}
    {% if user.tipo != 'Organización' %}
        <div class="card-deck row">
            <div class="col-12">
                <h1 class="page-header" style="text-align: center; color: #004a8b;">
                    MISIÓN ESLABÓN
                </h1>
            </div>
        </div>
        <div class="row mx-5 justify-content-center">
            <div class="col-md-4">
                <div class="row justify-content-center">
                    <img id="imagen_conocerme"
                         src="{% static "img/realidades/conocerme_1.png" %}" width="150rem" class="img-flag">
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <div class="row justify-content-center">
                            <strong>{{ completados }} PRUEBAS COMPLETADAS</strong>
                        </div>
                        <div class="row">
                            <div class="rounded-pill progress"
                                 style="width: 10rem; height: 30px; background-color: #CCCCCC">
                                <div id="porcentaje_pruebas_completas" class="progress-bar"
                                     style=" width: {{ porcentaje_completos }}%; background-color: purple;"
                                >
                                    <strong style="font-size: 0.8rem">{{ porcentaje_completos }}%</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <div class="row justify-content-center">
                            <strong>
                                {{ resultados_leidos }} {% if resultados_leidos > 0 %}RESULTADOS LEÍDOS{% else %}
                                RESULTADO LEÍDO{% endif %}
                            </strong>
                        </div>
                        <div class="row">
                            <div class="rounded-pill progress"
                                 style="width: 10rem; height: 30px; background-color: #CCCCCC">
                                <div id="porcentaje_pruebas_leidas" data-total="0" data-vistos="0" class="progress-bar"
                                     style=" width: {{ porcentaje_resultados_leidos }}%; background-color: purple;"
                                >
                                    <strong style="font-size: 0.8rem">{{ porcentaje_resultados_leidos }}%</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row justify-content-center">
                    <img id="imagen_proyectarme" src="{% static "img/realidades/proyectarme_1.png" %}" width="150rem"
                         class="img-flag">
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <div class="row justify-content-center">
                            <strong>{{ perfiles_creados }}
                                {% if perfiles_creados == 1 %} PERFIL {% else %} PERFILES {% endif %} CREADOS</strong>
                        </div>
                        <div class="row">
                            <div class="rounded-pill progress"
                                 style="width: 10rem; height: 30px; background-color: #CCCCCC">
                                <div id="porcentaje_perfiles_creados" class="progress-bar"
                                     style=" width: 0%; background-color: purple;"
                                >
                                    <strong style="font-size: 0.8rem">0%</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <div class="row justify-content-center">
                            <strong>{{ perfiles_escogidos }}
                                {% if perfiles_creados == 1 %} PERFIL {% else %} PERFILES {% endif %} ESCOGIDO</strong>
                        </div>
                        <div class="row">
                            <div class="rounded-pill progress"
                                 style="width: 10rem; height: 30px; background-color: #CCCCCC">
                                <div id="porcentaje_perfiles_escogidos" class="progress-bar"
                                     style=" width: 0%; background-color: purple;"
                                >
                                    <strong style="font-size: 0.8rem">0%</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row justify-content-center">
                    <img id="imagen_conectarme" src="{% static "img/realidades/conectarme_1.png" %}" width="150rem"
                         class="img-flag">
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <div class="row justify-content-center">
                            <strong>{{ rutas_oportunidades_favoritos }} ME GUSTA</strong>
                        </div>
                        <div class="row">
                            <div class="rounded-pill progress"
                                 style="width: 10rem; height: 30px; background-color: #CCCCCC">
                                <div id="porcentaje_ro_favoritas" class="progress-bar"
                                     style=" width: 0%; background-color: purple;"
                                >
                                    <strong style="font-size: 0.8rem">0%</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <div class="row justify-content-center">
                            <strong>{{ rutas_oportunidades_escogidos }} ESCOGIDOS</strong>
                        </div>
                        <div class="row">
                            <div class="rounded-pill progress"
                                 style="width: 10rem; height: 30px; background-color: #CCCCCC">
                                <div id="porcentaje_ro_escogidas" class="progress-bar"
                                     style=" width: 0%; background-color: purple;"
                                >
                                    <strong style="font-size: 0.8rem">0%</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="shadow-lg p-3 mb-5 mt-5 bg-body rounded w-75">
        <div class="card-deck row">
            <div class="col-12">
                <h1 class="page-header" style="text-align: center; color: #004a8b;">
                    REALIDAD DE LA MISIÓN
                </h1>
            </div>
        </div>
        <div class="row mx-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center">

                {% for i in '123'|make_list %}
                    <a href="javascript:;" onclick="cambiar_icono('{{ forloop.counter }}')">
                        <img id="realidad_{{ forloop.counter }}"
                             style="height:100px; width:auto"
                                {% if forloop.counter == 1 %}
                             title="REALIDAD VERDE"
                             alt="REALIDAD VERDE"
                                {% elif forloop.counter == 2 %}
                             title="REALIDAD AMARILLA"
                             alt="REALIDAD AMARILLA"
                                {% else %}
                             title="REALIDAD AZUL"
                             alt="REALIDAD AZUL"
                                {% endif %}
                             src="/static/img/realidades/{{ forloop.counter }}_2.png" class="img-flag"/>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div id="oculto" style="display: none">
            <hr class="shadow-lg p-3 mb-5 mt-5 bg-body rounded w-75">
            <div class="card-deck row">
                <div class="col-12">
                    <h1 class="page-header" style="text-align: center; color: #004a8b;">
                        NIVELES DE LA MISIÓN
                    </h1>
                </div>
            </div>
            <div class="row mx-5">
                <div class="col-12" align="center">
                    <strong>AVANCE DE LOS NIVELES</strong>
                    <div class="rounded-pill progress" style="width: 70%; height: 25px; background-color: #CCCCCC">
                        <div id="barra_niveles" data-total="0" data-vistos="0" class="progress-bar"
                             style="
                                width: 0;
                                background-color: purple;
                            "
                        >
                            <strong style="font-size: 1rem">0%</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5 justify-content-center">
                <div class="card col-xl-2 col-lg-5 col-md-7 col-sm-10 col-xs-12"
                     style="background-color: #E6E6E6; min-width: 316px; margin: 2%">
                    <div class="card-body" style="width: 100%">
                        <img style="width:100%; padding:5px;" id="titulo_1">
                        <div id="videos_yinam">

                        </div>
                    </div>
                </div>
                <div class="card col-xl-2 col-lg-5 col-md-7 col-sm-10 col-xs-12"
                     style="background-color: #E6E6E6; min-width: 316px; margin: 2%">
                    <div class="card-body" style="width: 100%">
                        <img style="width:100%; padding:5px;" id="titulo_2">
                        <div id="videos_fyli">

                        </div>
                    </div>
                </div>
                <div class="card col-xl-2 col-lg-5 col-md-7 col-sm-10 col-xs-12"
                     style="background-color: #E6E6E6; min-width: 316px; margin: 2%">
                    <div class="card-body" style="width: 100%">
                        <img style="width:100%; padding:5px;" id="titulo_3">
                        <div id="videos_novus">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="shadow-lg p-3 mb-5 mt-5 bg-body rounded w-75">
        <div class="card-deck row">
            <div class="col-12">
                <h1 class="page-header" style="text-align: center; color: #004a8b;">
                    LA TRIBU QUE MÁS ME GUSTA
                </h1>
            </div>
        </div>
        <div class="row mx-5 justify-content-center">
            {% for tribu in totales_tribus %}
                <div class="col-auto">
                    <div class="row justify-content-center">
                        <img src="media/{{ tribu.imagen }}" width="70rem">
                    </div>
                    <div class="row justify-content-center">
                        <h1 style=" font-weight: bold;width: 90px; text-align: center; color: #004a8b;">{{ tribu.total }}</h1>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="modal draggable fade" id="detalle-recurso" data-backdrop="static">
            <div class="modal-dialog modal-lg justify-content-center">
                <div class="modal-content" style="background-color: transparent!important; border: 0;">
                    <button
                            aria-label="Close"
                            class="close btn-close">
                        <img src="/static/img/realidades/close.png">
                    </button>
                    <div class="modal-body" align="center">
                        <div id="iframe_video" class="embed-responsive embed-responsive-16by9" style="display: none;">
                            <iframe id="src_video" frameborder="0" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <h4 id="titulo-recurso" class="modal-title ml-3" style="color: white; text-align: left;"></h4>
                    <p id="descripcion" class="ml-3" style="color: white;"></p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row border bg-white">
            <div class="col mx-md-5 my-5">
                <div class="row">
                    <div class="col-7 col-sm-7">
                        <h5>¿Qué quieres hacer hoy?</h5>
                        <div class="row">
                            <div class="col-auto mr-2 mb-3">
                                <a href="javascript:alert('En construcción...');" title="Tutoriales"
                                >
                                    <img src="{% static "img/organizaciones/BotonTutoriales.png" %}" alt="Tutoriales"
                                         class="img fluid"
                                         style="width: 140px"
                                    >
                                </a>
                            </div>
                            <div class="col-auto mr-2 mb-3">
                                <a href="javascript:alert('En construcción...');" title="Recursos"
                                >
                                    <img src="{% static "img/organizaciones/BotonRecursos.png" %}" alt="Recursos"
                                         class="img fluid"
                                         style="width: 140px"
                                    >
                                </a>
                            </div>
                            <div class="col-auto mr-2 mb-3">
                                <a href="{% url 'organizaciones:organizacion_invitar_joven' %}"
                                   title="Inscribir Jovenes"
                                >
                                    <img src="{% static "img/organizaciones/BotonInscribirJovenes.png" %}"
                                         alt="Inscribir Jovenes"
                                         class="img fluid"
                                         style="width: 140px"
                                    >
                                </a>
                            </div>
                            <div class="col-auto mr-2 mb-3">
                                <a href="{% url 'organizaciones:organizacion_consultar_jovenes' %}"
                                   title="Ver avances de mis jovenes"
                                >
                                    <img src="{% static "img/organizaciones/BotonVerAvances.png" %}"
                                         alt="Ver avances"
                                         class="img fluid"
                                         style="width: 140px"
                                    >
                                </a>
                            </div>
                            <div class="col-auto mr-2 mb-3">
                                <a href="{% url 'tablero_organizaciones:visualizar_tablero' %}"
                                   title="Analizar informacion"
                                >
                                    <img src="{% static "img/organizaciones/BotonAnalizarInformación.png" %}"
                                         alt="Analizar información"
                                         class="img fluid"
                                         style="width: 140px"
                                    >
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-1">
                        <hr class="shadow-lg rounded h-100" style="width:5px; background-color: #bfbfbf;">
                    </div>
                    <div class="col-4 col-sm-4">
                        <h5>En qué consiste el juego</h5>
                        <img src="{% static "img/resultados/video.png" %}"
                             class="img img-fluid mt-4"
                             alt="Video Tutoriales de Uso">
                    </div>
                </div>
                <hr class="shadow-lg p-2 my-4 rounded" style="background-color: #bfbfbf;">
                <div class="row mt-3">
                    <div class="col-auto">
                        <h5>¿Cómo vamos?</h5>
                    </div>

                    {% if organizacion.tipo_organizacion.id == 4 or organizacion.tipo_organizacion.id == 8 %}
                        <div class="col-4 ml-5">
                            <form method="GET" class="form-row">
                                <select class="form-control col-9 col-md-9 mr-sm-3" id="id_q"
                                        aria-label="Seleccione el grupo"
                                        name="q"
                                >
                                    <option {% if q == 0 %}selected{% endif %} value="-1">
                                        Selecciones el grupo
                                    </option>
                                    {% for cohorte in cohortes %}
                                        <option value="{{ cohorte.id }}" {% if q == cohorte.id %} selected {% endif %}>
                                            Grado {{ cohorte }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <button type="submit" id="btn_buscar"
                                        style="background-color:#1DB1B2; color:white"
                                        class="col-2 col-md-2 btn btn-primary mb-2">Filtrar
                                </button>
                            </form>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1"
                         style="background-color:#1DB1B2; height: 130px; position: relative">
                        <p style="color: white; opacity: 0.3; font-size: 100px; font-weight: 900; position: absolute; vertical-align:middle; top:50%; transform: translateY(-50%)"
                           class="text-left">{{ cantidad_jovenes }}</p>
                        <p class="h3 text-uppercase"
                           style="color: white; position: absolute; vertical-align:middle; top:50%; transform: translateY(-50%); text-align:center;">
                            JÓVENES INSCRITOS</p>
                    </div>
                    <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1"
                         style="background-color: #4990CE; height: 130px;">
                        <p style="color: white; opacity: 0.3; font-size: 100px; font-weight: 900; position: absolute; top:50%; transform: translateY(-50%)"
                           class="text-left">{{ cantidad_activos }}</p>
                        <p class="h3 text-uppercase"
                           style="color: white; position: absolute; vertical-align:middle; top:50%; transform: translateY(-50%); text-align:center;">
                            JÓVENES ACTIVOS EN EL ÚLTIMO MES</p>
                    </div>
                    <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1"
                         style="background-color: #7E62AC; height: 130px;">
                        <p style="color: white; opacity: 0.3; font-size: 100px; font-weight: 900; position: absolute; top:50%; transform: translateY(-50%)"
                           class="text-left">{{ favoritas }}</p>
                        <p class="h3 text-uppercase"
                           style="color: white; position: absolute; vertical-align:middle; top:50%; transform: translateY(-50%); text-align:center;">
                            OPCIONES QUE LES GUSTAN</p>
                    </div>
                    <div class="col-lg col-md-6 col-sm-12 mx-lg-1 mx-md-0 bg rounded-lg my-1"
                         style="background-color: #F46726; height: 130px;">
                        <p style="color: white; opacity: 0.3; font-size: 100px; font-weight: 900; position: absolute; top:50%; transform: translateY(-50%)"
                           class="text-left">{{ escogidos }}</p>
                        <p class="h3 text-uppercase"
                           style="color: white; position: absolute; vertical-align:middle; top:50%; transform: translateY(-50%); text-align:center;">
                            OPCIONES ESCOGIDAS</p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="row justify-content-center">
                            <img id="imagen_conocerme"
                                 src="{% static "img/realidades/conocerme_2.png" %}" width="150rem" class="img-flag">
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto mr-3">
                                <div class="row justify-content-center">
                                    <strong>Pruebas completadas</strong>
                                </div>
                                <div class="row">
                                    <span class="btn btn-block btn-lg" style="background-color:#e5472e;
                                    color: white;
                                    width: 7rem;
                                    text-align:center;">
                                        {{ pruebas_completadas }}%
                                    </span>
                                </div>
                            </div>

                            <div class="col-auto">
                                <div class="row justify-content-center">
                                    <strong>Resultados leídos</strong>
                                </div>
                                <div class="row">
                                    <span class="btn btn-block btn-lg" style="background-color:#f0971f;
                                     color: white;
                                     width: 7rem;
                                     text-align:center;">
                                        {{ resultados_leidos }}%
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row justify-content-center">
                            <img id="imagen_proyectarme" src="{% static "img/realidades/proyectarme_2.png" %}"
                                 width="150rem"
                                 class="img-flag">
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto mr-3">
                                <div class="row justify-content-center">
                                    <strong>{{ total_creados }} Perfiles creados</strong>
                                </div>
                                <div class="row">
                                    <span class="btn btn-block btn-lg" style="background-color:#4472c7;
                                    color: white;
                                    width: 7rem;
                                    text-align:center;">
                                        {{ perfiles_creados }}%
                                    </span>
                                </div>
                            </div>

                            <div class="col-auto">
                                <div class="row justify-content-center">
                                    <strong>Perfil escogido</strong>
                                </div>
                                <div class="row">
                                    <span class="btn btn-block btn-lg" style="background-color:#01b0f1;
                                     color: white;
                                     width: 7rem;
                                     text-align:center;">
                                        {{ porcentaje_escogidos }}%
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-3">
                            <div class="col-auto mr-3">
                                <div class="row">
                                    <span class="btn btn-block btn-lg" style="background-color:#f7d10a;
                                    color: white;
                                    width: 7rem;
                                    text-align:center;">
                                        {{ avance_niveles }}%
                                    </span>
                                </div>
                                <div class="row justify-content-center">
                                    <strong align="center">Avance en niveles</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row justify-content-center">
                            <img id="imagen_conocerme"
                                 src="{% static "img/realidades/conectarme_2.png" %}" width="150rem"
                                 class="img-flag">
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto mr-3">
                                <div class="row justify-content-center">
                                    <strong>{{ favoritas }} Me gusta</strong>
                                </div>
                                <div class="row">
                                    <span class="btn btn-block btn-lg" style="background-color: #3cba7d;
                                    color: white;
                                    width: 7rem;
                                    text-align:center;">
                                        {{ contenido_favorito }}%
                                    </span>
                                </div>
                            </div>

                            <div class="col-auto">
                                <div class="row justify-content-center">
                                    <strong>Opción escogida</strong>
                                </div>
                                <div class="row">
                                    <span class="btn btn-block btn-lg" style="background-color: #92d14f;
                                     color: white;
                                     width: 7rem;
                                     text-align:center;">
                                        {{ contenido_escogido }}%
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="shadow-lg p-2 my-4 rounded" style="background-color: #bfbfbf;">
                <div class="row mt-3">
                    <h5>Lo más consultado por tus jóvenes</h5>
                </div>
                <div class="row justify-content-center">
                    {% for tribu in totales_tribus %}
                        <div class="col-auto">
                            <div class="row justify-content-center">
                                <img src="media/{{ tribu.imagen }}" width="70rem">
                            </div>
                            <div class="row justify-content-center">
                                <h1 style=" font-weight: bold;width: 90px; text-align: center; color: #004a8b;">{{ tribu.total }}</h1>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-12">
                        <div class="row justify-content-center">
                            <h5>Tribus con más me gusta</h5>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-2">

                    <div class="col-12 col-sm-12 col-md-6 mb-sm-3">
                        <h5 align="center" class="mb-2">Rutas con más me gusta</h5>
                        <table class="table table-striped table-bordered text-center">
                            <thead>
                            <tr style="color: white; background-color: #4472c7;">
                                <th scope="col">Nombre</th>
                                <th scope="col">Organización</th>
                                <th scope="col">Link</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ruta in rutas_me_gusta %}
                                <tr>
                                    <td data-max-characters="50">{{ ruta.nombre }}</td>
                                    <td data-max-characters="40">{{ ruta.organizacion }}</td>
                                    <td><a href="{% url 'contenido:detalle_ruta' ruta.id %}">Visitar</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="col-12 col-sm-12 col-md-6 mb-sm-3">
                        <h5 align="center" class="mb-2">Oportunidades con más me gusta</h5>
                        <table class="table table-striped table-bordered text-center">
                            <thead>
                            <tr style="color: white; background-color: #4472c7;">
                                <th scope="col">Modalidad</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Link</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for oportunidad in oportunidades_me_gusta %}
                                <tr>
                                    <td data-max-characters="40">{{ oportunidad.modalidad }}</td>
                                    <td data-max-characters="50">{{ oportunidad.nombre }}</td>
                                    <td><a href="{% url 'contenido:detalle_oportunidad' oportunidad.id %}">Visitar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock contenido %}

{% block js %}
    {{ block.super }}
    {% if user.tipo == 'Joven' %}
        <script>
            const src = "{% static 'img/realidades/' %}"
            const $videos_yinam = $("#videos_yinam");
            const $videos_fyli = $("#videos_fyli");
            const $videos_novus = $("#videos_novus");
            const id_joven = "{{ joven.id }}";
            let realidad_activo = '{{ joven.nivel_realidad }}';
            const $barra_niveles = $("#barra_niveles");
            const url_api_videos_realidad = '{% url "guia:api_realidad" %}';
            const token = "{{csrf_token}}";
            const url_cambiar_estado_video = '{% url "usuarios:cambiar_estado_video" %}'
            const url_guardar_realidad = '{% url "usuarios:api_guardar_realidad" %}'
        </script>
        <script src="{% static 'js/custom/inicio/inicio.js' %}"></script>

        {% if joven.nivel_realidad != None %}
            <script>
                $(function () {
                    if (realidad_activo !== "") {
                        seleccionar_icono(realidad_activo);
                    }
                });
            </script>
        {% endif %}

        <script>
            const perfiles_escogidos = {{ perfiles_escogidos }};
            const perfiles_creados = {{ perfiles_creados }};
            proyectarme();
        </script>

        <script>
            const r_o_favoritos = {{ rutas_oportunidades_favoritos }};
            const r_o_escogidos = {{ rutas_oportunidades_escogidos }};
            conectarme();
        </script>

        <script>
            const porcentaje_completos = {% if porcentaje_completos %}{{ porcentaje_completos }}{% else %}0{% endif %};
            const porcentaje_resultados_leidos = {% if porcentaje_resultados_leidos %}{{ porcentaje_resultados_leidos }}{% else %}0{% endif %};
            conocerme();
        </script>
    {% else %}
        <script>
            $("[data-max-characters]").each(function () {
                var textMaxChar = $(this).attr('data-max-characters');
                var text = $(this).text();

                length = text.length;
                if (length > textMaxChar) {
                    $(this).text(text.substr(0, textMaxChar) + '...');
                }
            });
        </script>
    {% endif %}

{% endblock js %}