{% extends 'base_tablas.html' %}
{% load static %}

{% block titulo %}
    Perfiles Deseados
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Usuarios</li>
    <li class="breadcrumb-item"><a href="{% url 'perfiles_deseados:consultar_perfiles_jovenes' %}">Perfiles Jovenes</a></li>
    <li class="breadcrumb-item active">Perfiles Deseados</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-chart icon-orange"></i> Perfiles Deseados - {{ joven.get_full_name }}
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan los perfiles deseados del joven <b>{{joven.tipo_identificacion}} {{ joven.identificacion }} {{joven.get_full_name}}</b>.</i>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Nombre Perfil</th>
                        <th>Tribu</th>
                        <th>Ruta de Conocimiento</th>
                        <th>Nivel de Conocimiento</th>
                        <th>Interés Voluntariado</th>
                        <th>Interés Laboral</th>
                        <th>Interés Independiente</th>
                        <th>Interés Emprendedor</th>
                        <th>Ciudad de Interés</th>
                        <th>Necesidad Ingresos</th>
                        <th>Capacidad Inversión</th>
                        <th>Deseo de Aprendizaje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for perfil in perfiles %}
                        <tr>
                            <td>{{ perfil.nombre_perfil }}</td>
                            <td>{{ perfil.tribu_deseada }}</td>
                            <td>{{ perfil.rutas_conocimiento }}</td>
                            <td>{{ perfil.nivel_conocimiento_deseado }}</td>
                            <td>{% if perfil.interes_voluntariado %}SI{% else %}NO{% endif %}</td>
                            <td>{% if perfil.interes_trabajo %}SI{% else %}NO{% endif %}</td>
                            <td>{% if perfil.interes_independiente %}SI{% else %}NO{% endif %}</td>
                            <td>{% if perfil.interes_emprendedor %}SI{% else %}NO{% endif %}</td>
                            <td>{{ perfil.interes_ciudad }}</td>
                            <td>{{ perfil.get_necesidad_ingresos_display }}</td>
                            <td>{{ perfil.get_capacidad_inversion_formacion_display }}</td>
                            <td>{{ perfil.deseos_aprendizaje|join:', '|default:'No definido' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}
