{% extends 'base_tablas.html' %}
{% load static %}

{% block titulo %}
    Perfiles Jovenes
{% endblock titulo %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="{% url "inicio" %}">Inicio</a></li>
    <li class="breadcrumb-item">Módulo Usuarios</li>
    <li class="breadcrumb-item active">Perfiles Jovenes</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-chart icon-orange"></i> Perfiles Jovenes
{% endblock titulo_pagina %}

{% block contenido_panel %}
    <div class="row m-b-9">
        <div class="col-md-12">
            <p class="mb-1">
                <i>A continuación se presentan los perfiles de los jovenes registrados en el sistema.</i>
            </p>
        </div>
    <div class="col-md-12" align="right">
            <a class="btn btn-primary" href="{% url 'usuarios:consultar_experiencia_jovenes' %}">Experiencias Actuales</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-t-5">
            <div class="table-fix">
                <table class="table table-bordered table-striped table-td-valign-middle datatable">
                    <thead>
                    <tr>
                        <th>Joven</th>
                        <th>Correo electrónico</th>
                        <th>Género</th>
                        <th>Ingresos Familiares</th>
                        <th>Vive con Familia</th>
                        <th>Buen vivir</th>
                        <th>Salud</th>
                        <th>Hijos</th>
                        <th>Factores Bienestar</th>
                        <th>Formación Académica</th>
                        <th>Último grado</th>
                        <th>Capacitaciones</th>
                        <th>Jornada</th>
                        <th>En qué ocupa el tiempo</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for joven in jovenes %}
                        <tr>
                            <td>{{joven.tipo_identificacion}} {{ joven.identificacion }} {{joven.get_full_name}}</td>
                            <td>{{joven.email}}</td>
                            <td>{{joven.genero}}</td>
                            <td>{{joven.get_ingresos_grupo_familiar_display}}</td>
                            <td>{% if joven.vive_con_familia %}Sí, {{ joven.personas_en_hogar }}{% else %}NO{% endif %}</td>
                            <td>{{joven.get_forma_vivir_display}}</td>
                            <td>{{joven.get_estado_salud_display}}</td>
                            <td>{% if joven.hijos %}SI{% else %}NO{% endif %}</td>
                            <td>{{joven.factores_sensacion_bienestar|join:', '|default:'Ninguno'}}</td>
                            <td>{{joven.get_formacion_academica_display}}</td>
                            <td>{{joven.ultimo_grado}}</td>
                            <td>{% if joven.capacitaciones %}SI{% else %}NO{% endif %}</td>
                            <td>{{joven.jornadas|join:', '|default:'Ninguno'}}</td>
                            <td>{{joven.get_actividad_que_ocupo_tiempo_display}}</td>
                        <td align="center">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <a title="Ver Perfiles Deseados" href="{% url 'perfiles_deseados:consultar_perfiles_deseados_jovenes' joven.pk %}"><i class="fas fa-eye"></i></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}
